@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

*{
	margin:0;
	padding:0;
	border:0;
}
ul{
	list-style: none;
}
a{
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
	text-decoration:none;
}
img{
	max-width:100%;
}
body{
	background:#000;
}
span, p{
	color:#fff;
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
}
.lp-container{
	min-width:320px;
	margin:0 auto;
	background:url(../../img/pubg_BG_2.png) no-repeat 50% 20%;
	background-size:100%;
}
.lp-header{
	margin-top:20px;
	text-align:center;
}
.lp-details{
	text-align:center;
}
.lp-details span, .lp-details p{
	font-size:1.1rem;
}
.details-top span{
	display:block;
}
.details-top span:first-child{
	color:#ffbc18;
	font-weight:700;
}
.details-middle, .details-bottom{
	margin-top:5px;
}
.details-middle .lp-btn{
	background:none;
	max-width:60%;
	cursor:pointer;
}
.details-bottom span{
	display:inline-block;
	padding-bottom:10px;
}
.details-bottom p span{
	font-size:3rem;
	font-weight:700;
	background: #ffbc18; 
	background: -moz-linear-gradient(top, #ffbc18 0%, #ffcd1c 40%, #c75800 70%); 
	background: -webkit-linear-gradient(top, #ffbc18 0%,#ffcd1c 40%,#c75800 70%); 
	background: linear-gradient(to bottom, #ffbc18 0%,#ffcd1c 40%,#c75800 70%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbc18', endColorstr='#c75800',GradientType=0 ); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	
}
.details-bottom p span:first-child{
	padding-right:10px;
	position:relative;
	animation: animTextYes 2s ease-in-out infinite;
	/*left:-200px;
	opacity:0;
	-webkit-animation:animLeft 1.3s cubic-bezier(0.16, 0.78, 0.35, 1.06) 0.6s forwards;
	-moz-animation:animLeft 1.3s cubic-bezier(0.16, 0.78, 0.35, 1.06) 0.6s forwards;*/
}
@keyframes animTextYes{
	0%{transform:scale(1, 1);}
	50%{transform:scale(1.2,1.2);}
	100%{transform:scale(1, 1);}
}
@keyframes animText1311{
	0%{transform:scale(1, 1);}
	50%{transform:scale(1.2,1.2);}
	100%{transform:scale(1, 1);}
}
/*@-webkit-keyframes animLeft{
	0%{left:-200px;
	   opacity:0;}
	60%{left:10px;
		opacity:1;}
	100%{left:0px;
		 opacity:1;}
}
@-moz-keyframes animLeft{
	0%{left:-200px;
	   opacity:0;}
	60%{left:10px;
		opacity:1;}
	100%{left:0px;
		 opacity:1;}
}*/
.details-bottom p span:last-child{
	padding-left:5px;
	position:relative;
	animation: animText1311 2s ease-in-out 1s infinite;
	/*right:-200px;
	opacity:0;
	-webkit-animation:animRight 1.3s cubic-bezier(0.16, 0.78, 0.35, 1.06) 1s forwards;
	-moz-animation:animRight 1.3s cubic-bezier(0.16, 0.78, 0.35, 1.06) 1s forwards;*/
}
@-webkit-keyframes animRight{
	0%{right:-200px;
	   opacity:0;}
	60%{right:10px;
	    opacity:1;}
	100%{right:0px;
		 opacity:1;}
}
@-moz-keyframes animRight{
	0%{right:-200px;
	   opacity:0;}
	60%{right:10px;
	    opacity:1;}
	100%{right:0px;
		 opacity:1;}
}
.lp-compatibility{
	margin-top:20px;
	text-align:center;
}
.lp-compatibility span{
	font-size:1rem;
}
.lp-compatibility ul{
	display:grid;
	grid-template-columns:repeat(5,1fr);
	grid-column-gap:10px;
	padding:15px 20px 0;
}
.lp-footer{
	margin-top:20px;
	padding:0 20px;
}
.lp-footer p{
	color:#a5a5a5;
	font-size:0.7rem;
	text-align:justify;
	line-height:1.4;
}
.lp-footer ul{
	text-align:center;
	margin-top:10px;
}
.lp-footer ul li{
	display:inline-block;
	padding:0 5px;
	border-right:1px solid #a5a5a5;
}
.lp-footer ul li:last-child{
	border-right:none;
}
.lp-footer ul li a{
	color:#a5a5a5;
	font-size:0.7rem;
}

@media screen and (min-width:480px){
	.lp-container{
		background:url(../../img/pubg_BG_2.png) no-repeat 50% 30%;
		background-size:100%;
	}
	.lp-details span, .lp-details p{
		font-size:1.2rem;
	}
	.details-middle .lp-btn{
		max-width:45%;
	}
	.details-bottom p span{
		font-size:3.8rem;
	}
	.lp-compatibility{
		max-width:400px;
		margin:20px auto 0;
	}
	.lp-compatibility span{
		font-size:1rem;
	}
}
@media screen and (min-width:550px){
	.details-middle .lp-btn{
		max-width:40%;
	}
}
@media screen and (min-width:669px){
	.details-middle .lp-btn{
		max-width:35%;
	}
	.details-bottom p span{
		font-size:3.8rem;
	}
	.lp-container{
		background:url(../../img/pubg_BG_2.png) no-repeat 50% 40%;
	}
	.lp-compatibility{
		margin:40px auto 0;
	}
}
@media screen and (min-width:800px){
	.details-middle .lp-btn{
		max-width:30%;
	}
}
@media screen and (min-width:900px){
	.details-middle .lp-btn{
		max-width:25%;
	}
	.lp-footer{
		max-width:900px;
		margin:40px auto 20px;
	}
}
@media screen and (min-width:1000px){
	.details-middle .lp-btn{
		max-width:20%;
	}
}