:root{
	--blue1:#507DBC;
	--blue2:#A1C6EA;
	--blue3:#BBD1EA;
	--gray:#7E8287;
	--white:#fff;
	--green1:rgb(20,214,77);
	--green2:#31E981;
}
*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}
img{
	max-width:100%;
}
body{
	margin:0 auto;
	position: relative;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
/* display none */
.main-category, .sub-category, .content-list{
	display:none;
}
.header{
	background:var(--gray);
	padding:10px;
}
.text-logo{
	color:var(--white);
	text-align:center;
}
main{
	margin-top:40px;
	position:relative;
	top:0px;
	left:0px;
}
.main-category, .sub-category, .content-list{
	position:absolute;
	width:100%;
	top:0px;
	left:0px;
	transition:left 500ms ease-in-out 0ms;
}
.main-category{
	z-index:3;
}
.sub-category{
	z-index:2;
}
.content-list{
	z-index:1;
}
.main-category li a, .sub-category li a, .content-list .item a{
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	align-items:center;
}
.main-category li a, .sub-category li a, .content-list .item a, .preview-head{
	background:linear-gradient(90deg, var(--blue2), var(--blue1));
	padding:20px 30px 20px 50px;
	margin-bottom:20px;
	width:80%;
	border-radius:0px 5px 40px 0px;
	color:var(--white);
	font-size:1.1rem;
	position:relative;
	top:0px;
	/* left:0px; */
	transition:left 500ms ease-in-out 0ms;
}
.main-category li a::last-child{
	margin-bottom:0px;
}
.main-category li a > span{
	font-weight:700;
}
.main-category li a > i{
	justify-self:end;
	font-size:2rem;
	color:var(--green2);
}
.back-btn{
	color:var(--blue1);
	display:inline-block;
	margin:0px 0px 20px 20px;
}
.main-category ul, .sub-category ul, .content-list .content-div{
	display:none;
}
.main-category li a, .sub-category li a, .content-list .item a{
	left:-999px;
}
.thumb-name{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items:center;
}
.thumb-name h1{
	font-size:1.1rem;
}
.preview-item{
	position: relative;
	transition:left 500ms ease-in-out 0ms;
}
.preview-head a{
	display:none;
	justify-self: end;
	align-self:end;
}
.thumb-name{
	justify-self: start;
	align-self:center;
}
.preview-body{
	position: relative;
	left:-999px;
	transition:left 500ms ease-in-out 0ms;
}
.preview-screenshot{
	overflow-x: scroll;
	white-space: nowrap;
}
.preview-screenshot img{
	display: inline-block;
}
.closeImg{
	cursor: pointer;
}
/* hide class */
.hdn-elem{display: none;}
/* ANIMATION */
.scaleIn{
	animation:scaleIn 400ms ease-in-out 0ms;
}
@keyframes scaleIn{
	50%{
		/*box-shadow:0px 0px 10px rgba(20,214,77,.5);*/
		transform:scale(1.1);
	}
}
/* grid class on preview */
.grid-preview{
	display: grid;
	grid-template-columns: .7fr .3fr;
	grid-gap:10px;
}
















