@charset "utf-8";

img{
	max-width:100%;
}
/*Keyword Styles*/
.keyword p{
	font-size:1.25rem;
}
.keyword p span{
	display:inline-block;
	font-size: 2.5rem;
	font-weight:700;
	color: #FFFF33;
}

html, body{
	height:100%
}

body {
	background-image: url(../assets/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	color: #000;
}

.button{
border:3px solid #FFFFFF; -webkit-border-radius: 50px; -moz-border-radius: 50px; font-weight: bold; font-size: 20px; border-radius: 50px;padding: 11px 11px 11px 11px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
}

#flt1, #flt2
{
	width: auto;
}
#flt2{
	float:left;
}

.tnc {
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding-top: 10px;
	font-size: 12px;
	text-align: justify;
	color: #000;
}

/*header modified previous flt1 span*/
.item h2
{
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 30px;
}
.wrap {
	width: 100%;
	max-width: 500px;
	margin: auto;
	list-style: none;
	margin: 0;
	padding: 0;
}
.item {
	padding: 5px;
	width: 100%;
	margin: 2px;
}
.flex {
	padding: 0;
	margin: auto;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
#tnc {
	padding: 5px;
	text-align: justify;
	color: #444444;
	font-size: 11px;
}
#btmnav {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 11px;
	color: #444444;
}
#btmnav a {
	text-decoration: underline;
	color: #444444;
}
#btmnav a:hover {
	text-decoration: none;
}
#btn {
	height: auto !important;
	max-width: 250px !important;
	width: 100% !important;
}
.srvcs {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #0055b2;
	font-size: 54px;
	font-weight: bolder;
	display: inline-block;
}
@keyframes pulse_animation {
0% {
transform: scale(1);
}
30% {
transform: scale(1);
}
40% {
transform: scale(1.08);
}
50% {
transform: scale(1);
}
60% {
transform: scale(1);
}
70% {
transform: scale(1.05);
}
80% {
transform: scale(1);
}
100% {
transform: scale(1);
}
}
.pulse {
	animation:pulse_animation 1000ms ease-out 0s infinite;
}

@media (min-width: 1281px) {
.space {
	display: block;
	margin-top: 130px;
	font-size: 11px;
}
btn {
	height: auto !important;
	max-width: 280px !important;
	width: 100% !important;
}
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
#scnd {
	margin-top: 30px;
	font-size: 15px;
}
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
.space {
	display: block;
	margin-top: 250px;
	font-size: 11px;
}
}
.iconLogo {
	height: auto !important;
	max-width: 550px !important;
	width: 100% !important;
}
#scnd {
	margin-top: 0px;
	font-size: 15px;
}
}

@media (min-width: 320px) and (max-width: 480px) {
#btn {
	height: auto !important;
	max-width: 200px !important;
	width: 100% !important;
}
.wrap {
	width: 100%;
	max-width: 300px;
	border: 4px solid #fff;
}
}
