
	.adCntnr .acco2 .expand, .adCntnr .acco2 .openAd {
	font-family:'Open Sans', sans-serif;
	/*background-color:#edb600;
	color:#FFFFFF;*/
	background-color:#000000;
	color:#edb600;
	padding:10px;
	/*padding:20px;*/
	font-size:14px;
	font-weight:700;
	}
	
	/*#box3{
		width:100%;
	}*/

#box3
{
	width:81%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

#box4
{
	width: 100%;
	background-color:#dcedf5;
	bottom:0;
	text-align:right;
	font-size:11px;
	color:#0094ca;
	margin-top:5px;
}
/*
#contentWrap
{	
	width:95%;
	margin:auto;
	margin-bottom:40px;
}
*/

#contentDiv
{	
	/*border:4px solid #edb600;*/
	background-color:#FFFFFF;
	/*background-color:#f2f2f2;*/
}

#text
{
	font-weight:bold;
	font-size:14px;
	color:#3498db;
	/*color:#FFFFFF;*/
	padding:10px;
}

.w3-content{max-width:100%;margin:auto}.w3-rest{overflow:hidden}
.mySlides img{text-align:center;!important;}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;}
.w3-black,.w3-hover-black:hover{color:#fff!important;}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.sidenav {
    height: 0%;
   width: 100%;
   position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e1e1e1;
    overflow-x: hidden;
    transition: 0.5s;
  
}



#menu_link a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	font-weight:bold;
    font-size: 20px;
    color: #324d5c;
    display: block;
    transition: 0.3s;
	border:1px solid #CCC;
	/*background-image:url("../img/menu_line.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font-weight:bold;*/
}

#menu_link a:hover {
    color: #edb600;
    padding: 8px 8px 8px 23px;
	background-color:#ecf0f1;
	border-left:10px solid #edb600;
}

/*.closebtn {
	float:right;
}*/

.sidenav .closebtn {
	 position: absolute;
    top: 12px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}




/* Style the search field */
form.example input[type=text] {
  padding: 11px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* ------------------------------ */
#catName
{
	background-image:url("../img/tbname.png");
	background-repeat:no-repeat;
	padding:5px 0px 5px 10px;
	font-weight:bold;
	color: white;
	font-size: 20px;
	width:80%;
}

#catX
{
	margin-top:3px;
	float:right;
}


@media screen and (max-width: 300px)
/*@media screen and (max-width:400px) */
{
#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

	#body
{
/*
	background-image: url(../img/plbgtop.jpg),url(../img/plbgbottom.jpg);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 250px,cover;
	background-attachment: fixed,fixed;
*/

	background-image: url(../img/bgtop.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: 100% 250px;
	background-attachment: fixed;

}

	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	height: 50px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	  top: 0;
	  left: 0;
}


#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/header.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
    float:right;
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:50px;
	}

#iconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:90px;
	/*style="padding-top:90px; width:80%; margin:auto; text-align:center;*/
}

#img-thumbnail{
    width: 200px;
    height: auto;
     margin-top: 5px;
   /* margin-left: 7px;
   margin-right: 7px;*/
}
#item {
  /*background: tomato;*/
  border:1px solid #CCC;
  /*padding: 7px;*/
  width: 100px;
  height: auto;
  /*margin: 5px;*/
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
}

}



@media screen and (min-width:301px) and (max-width: 400px)
/*@media screen and (max-width:400px) */
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

	#body
{
	background-image: url(../img/bgtop.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: 100% 260px;
	background-attachment: fixed;

}

	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	height: 50px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	  top: 0;
	  left: 0;
}


#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/header.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}


#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
   float:right;

}


#iconimg {
	width:70%;
	margin:auto;
	text-align:center;
	padding-top:100px;
	/*style="padding-top:90px; width:80%; margin:auto; text-align:center;*/
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:60px;
	}

#img-thumbnail{
    width: 100%;
    height: auto;
     margin-top: 6px;
    /*margin-left: 10px;
   margin-right: 10px;*/
}
#item {
  /*background: tomato;*/
  border:1px solid #CCC;
  /*padding: 7px;*/
  width: 100px;
  height: auto;
  margin: 5px;
  font-size: 7px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
}
#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:30px;
	/*style="padding-op:90px; width:80%; margin:auto; text-align:center;"*/
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:60px;
		margin-top:auto;
	}

}


@media screen and (min-width:401px) and (max-width: 500px)
{  /*Mobile Phone */

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}


#body
{
	background-image: url(../img/bgtop.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: 100% 300px;
	background-attachment: fixed;

}

	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	height: 50px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	  top: 0;
	  left: 0;
}


#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/header.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
    float:right;
}

#iconimg {
	width:60%;
	margin:auto;
	text-align:center;
	padding-top:120px;
	/*style="padding-top:90px; width:80%; margin:auto; text-align:center;*/
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:70px;
	}

#img-thumbnail{
    width: 80%;
    height: auto;
     margin-top: 10px;
    margin-left: 10px;
   margin-right: 10px;
}

#item {
  /*background: tomato;*/
  border:1px solid #CCC;
  /*padding: 9px;*/
  width: 120px;
  height: auto;
  /*height: 150px;*/
  margin: 5px;
   font-size: 7px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
}

#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:50px;
	/*style="padding-op:90px; width:80%; margin:auto; text-align:center;"*/
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:60px;
		margin-top:auto;
	}

}



/*@media all and (min-width:576px)*/
@media screen and (min-width:501px) and (max-width: 600px)
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}


#body
{
	background-image: url(../img/bgtop.png);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: 100% 390px;
	background-attachment: fixed;
}



#header
{
	height: 50px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	  top: 0;
	  left: 0;
}


#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/header.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 250px;
    height: auto;
	padding:15px;
}

#img{
    width: 30px;
    height: auto;
    float:right;
}

#mySidenav
	{
		top:0px;
		position:fixed;
	}


#iconimg {
	width:75%;
	margin:auto;
	text-align:center;
	padding-top:120px;
	/*style="padding-top:90px; width:80%; margin:auto; text-align:center;*/
}

#contentWrap {	
		/*width:80%;*/
		margin:auto;
		padding-top:130px;
	}


#img-thumbnail{
    width: 60%;
    height: auto;
     margin-top: 10px;
    margin-left: 10px;
   margin-right: 10px;
}

#item {
  /*background: tomato;*/
  border:1px solid #CCC;
 padding: 10px;
  width: 120px;
  height: auto;
  /*height: 150px;*/
  margin: 20px;
  font-size:7px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
}

#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:60px;
	/*style="padding-op:90px; width:80%; margin:auto; text-align:center;"*/
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:110px;
		margin-top:auto;
	}


}



@media screen and (min-width: 601px)
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#body
{
	background-image: url(../img/bgtop.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: 100% 550px;
	background-attachment: fixed;
	background-color: #000000;
 
}


	#mySidenav
	{
		top:0px;
		position:fixed;
	}
	


#iconimg {
	width:80%;
	/*margin:auto;*/
	margin-left: 300px;
	text-align:center;
	padding-top:300px;
}

#contentWrap {
		/*background-image: url(../img/subcat.png);	
		width:80%;*/
		margin:auto;
		margin-top:auto;
		padding-top:50px;
	}

#header
{
	height: 50px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	  top: 0;
	  left: 0;
}


#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/header.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}


#ptslogo{
	width: 250px;
    height: auto;
	padding:15px;
}

#img{
    width: 35px;
    height:auto;
     float:right;
}


#img-thumbnail{
    width: 80%;
    height: auto;
    /* margin-top: 10px;*/
    margin-left: 15px;
   margin-right: 15px;
   border:1px solid #000;
   border-radius:20px;
}

#item {
  /*background: tomato;*/
  border:1px solid #000;
  padding: 10px;
  width: 350px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
  font-size:14px;
 font-weight:300;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  border-radius:10px;
  text-align: center;
}


#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:60px;
	/*style="padding-op:90px; width:80%; margin:auto; text-align:center;"*/
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:110px;
		margin-top:auto;
	}


}
