@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

*{
	margin:0;
	padding:0;
	border:0;
}
ul{
	list-style: none;
}
h4{
	line-height: 1.6;
	font-size:1rem;
	font-family: 'Roboto', sans-serif;
	font-weight:700;
}
p, span{
	font-size:.85rem;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	line-height: 1.6;
}
img{
	max-width: 100%;
}
body{
	position:relative;
}

/* LP Background style */
.lp-bg{
	background: url('../../img/body-bg.png'), #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:400px;
	width:100%;
	position:absolute;
	top:0;
	z-index: -1;
}

/* wrapper style */
.content-wrapper{
	padding:40px 20px 0;
	max-width: 320px;
	margin:0 auto;
}

/* heading style */
.image-heading{
	text-align:center;
}
.image-heading img{
	margin-bottom:25px;
}

/* game icon styles */
.game-icons{
	margin-bottom: 30px;
}
.game-icons p{
	font-weight:500;
	text-align:center;
	margin-bottom:15px;
}
.game-icons ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

/* final step styles */
.final-step{
	margin-bottom:30px;
}
.step-heading{
	text-align: center;
	margin-bottom:20px;
}
.step-heading span{
	font-weight: 500;
}
.keyword{
	display: grid;
	grid-template-columns: .45fr .20fr .35fr;
}
.step-button, .step-divider{
	align-self: center;
	justify-self:center;
}
.step-keynum{
	align-self: center;
	justify-self:left;
}
.step-button button{
	font-size:1.6rem;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight:900;
	letter-spacing: 1px;
	padding:10px 5px;
	border-radius:5px;
	cursor: pointer;
	
	background: #ff0600; /* Old browsers */
	background: -moz-linear-gradient(top, #ff7200 0%, #ff0000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ff7200 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top, #ff7200 0%,#ff0000 100%); /* Opera */
	background: linear-gradient(to bottom, #ff7200 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7200', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-0-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.step-button button:hover{
	background: #ff0600;  
}
.step-divider span{
	font-weight:900;
}
.step-keynum{
	text-align: center;
}
.step-keynum span{
	font-weight:500;
}
.step-keynum h4{
	font-size:1.4rem;
	font-weight:900;
	color:#ff0600;
}

/* tnc, help styles */
.tnc, .help, .support, .contact{
	display: none;
	margin-bottom:30px;
}
.tnc h4, .help h4, .support h4, .contact h4{
	text-align: center;
	margin-bottom:20px;
}
.support p, .contact p{
	text-align: center;
}
.tnc p, .help p{
	text-align: justify;
}
.help .p2{
	text-align: center;
}
.p1{
	font-weight:700;
	font-size: .95rem;
}

/* compatibility styles */
.compatibility{
	margin-bottom:30px;
}
.compatibility p{
	font-weight:500;
	text-align:center;
	margin-bottom:15px;
}
.compatibility ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

/* words styles */
.words{
	margin-bottom:20px;
}
.words p{
	text-align:justify;
	font-size:.8rem;
}

/* footer styles */
.footer{
	margin-bottom:20px;
}
.footer ul{
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding:0 10px;
	border-right:1px solid #000;
	margin-bottom:10px;
}
.footer ul li:last-child{
	border:none;
}
.footer ul li a{
	text-decoration: none;
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 0.85rem;
}
.footer ul li a:hover{
	color:#ff0600;
}

/*media queries*/
@media only screen and (min-width: 480px){
	h4{
		font-size:1.3rem;
	}
	p, span{
		font-size:1.1rem;
	}
	/* content wrapper style */
	.content-wrapper{
		max-width: 480px;
	}
	/* game icon styles */
	.game-icons ul{
		grid-row-gap: 15px;
		grid-column-gap: 15px;
	}
	/* final step styles */
	.step-button button{
		font-size:2.3rem;
	}
	.step-keynum h4{
		font-size:1.8rem;
	}
	/* compatibility styles */
	.compatibility ul{
		grid-row-gap: 15px;
		grid-column-gap: 15px;
	}

}

@media only screen and (min-width: 900px){
	/* wrapper style */
	.content-wrapper{
		max-width: 900px;
	}
	/* grid container style */
	.grid-container{
		display: grid;
		grid-template-areas: "heading steps"
							 "icons steps";
		grid-column-gap:80px;
	}
	/* heading style */
	.image-heading{
		grid-area: heading;
	} 
	/* game icon styles */
	.game-icons{
		grid-area: icons;
	}
	/* final step styles */
	.final-step{
		grid-area: steps;
		padding-top:80px;
	}
	.step-button, .step-divider, .step-keynum{
		align-self: center;
		justify-self:center;
	}
	.step-button button{
		padding:10px 10px;
	}
	.step-keynum h4{
		font-size:2rem;
	}
	/* compatibility styles */
	.compatibility{
		padding-left:30%;
		padding-right:30%;
	}
}