@media all and (min-width: 600px){
    .header{
        padding:15px 0px;
    }

    main{
        width: 600px;
        margin:0 auto;
    }

    .main-category{
        ul{
            li a{
                @include gridLinkStyle(span, i, 1.4rem, 2.4rem, auto);
                @include linkStyle(25px 5px 25px 5px, 60%);
            }
        }
    }

    .sub-category{
        .back-btn{@include backBtnmixin(1.2rem);}

        ul{
            li a{
                @include gridLinkStyle(span, i, 1.3rem, 2.3rem, auto);
                @include linkStyle(25px 5px 25px 5px, 60%);
            }
        }
    }

    .content-list{
        .back-btn{@include backBtnmixin(1.2rem);}

        .content-div{
            .item a{
                @include gridLinkStyle(span, img, 1.2rem, 2.3rem, 100px);
                @include linkStyle(25px 5px 25px 5px, 70%);
            }
        }
    }
}