@media all and (min-width: 480px) and (max-width: 599px){
    main{
        width: 460px;
        margin:0 auto;
    }

    .main-category{
        ul{
            li a{
                @include gridLinkStyle(span, i, 1.3rem, 2.3rem, auto);
                @include linkStyle(25px 5px 25px 5px, 80%);
            }
        }
    }

    .sub-category{
        .back-btn{@include backBtnmixin(1.1rem);}

        ul{
            li a{
                @include gridLinkStyle(span, i, 1.3rem, 2.3rem, auto);
                @include linkStyle(25px 5px 25px 5px, 80%);
            }
        }
    }

    .content-list{
        .back-btn{@include backBtnmixin(1.1rem);}

        .content-div{
            .item a{
                @include gridLinkStyle(span, img, 1.1rem, 2.3rem, 90px);
                @include linkStyle(25px 5px 25px 5px, 80%);
            }
        }
    }
    
    .preview-section{
        .back-btn{@include backBtnmixin(1.1rem);}

        .preview-head{
            padding:0px 30px;

            .thumb-name {
                grid-gap:20px;
            
                .thumb-cat-name{
                    h1{
                        font-size:1.2rem;
                    }

                    span{
                        font-size:1rem;
                    }

                    a{
                        font-size:1rem;
                        border-radius:5px;
                        padding:10px 17px;
                    }
                }
            }
        }

        .preview-body{
            padding:40px 30px 0px;

            h4{
                font-size:1.2rem;
                padding-bottom:15px;
            }

            .preview-info{
                padding-bottom: 40px;

                p{
                    font-size: .9rem;
                    line-height:1.6;
                }
            }

            .preview-screenshot{
                padding:0px 30px;
            }
        }
    }

    .selected-img{
        padding:40px 20px;

        span{
            font-size:1.5rem;
        }
    }
}