*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../assets/bg.jpg) no-repeat top center fixed;
    background-size: cover;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.weight600{
    font-weight: 600;
}
.modalMain{
    text-align: center;
    display:block;
    background:#fff;
    width:100%;
    height:100%;
    position:fixed;
    z-index:1;
    top:0;
    left:0;
}
.modalContain{
    width:320px;
    padding:60px 10px 20px;
    margin:0 auto;
}
.container{
    padding:0 10px;
    position: relative;
}
/* index styles */
.abbrechen{
    position:fixed;
    top:5px;
    right:0px;
    background:#000;
    padding:5px;
    border-radius:20px 0 0 20px;
    display: grid;
    grid-template-columns: .1fr .9fr;
    grid-gap: 7px;
    cursor: pointer;
}
.xicon{
    width:26px;
    height:26px;
    background:#fff;
    border-radius: 50%;
    position: relative;
}
.xicon span{
    width:4px;
    height:20px;
    background:#000;
    display: block;
    position: absolute;
}
.xicon span:first-child{
    transform: rotate(135deg);
    right:11px;
    top:2px;
}
.xicon span:last-child{
    transform: rotate(45deg);
    left:11px;
    top:2px;
    margin-right:1px;
}
.canceltext span{
    color:#fff;
    font-size:1rem;
    font-weight:600;
    text-transform: uppercase;
    line-height: 25px;
}
.main{
    padding:60px 0 20px;
    text-align: center;
}
.logo{
    padding-bottom:10px;
}
.paragh1, .paragh2, .button{
    padding-bottom:10px;
}
.paragh1 p, .paragh2 p{
    font-size:.9rem;
    line-height: 1.4;
}
.button a{
    display: inline-block;
    font-size:1.2rem;
    color:#fff;
    font-weight:600;
    padding:10px 60px;
    background:#C20606;
    border:2px solid #000;
    border-radius:50px;
}
.footer p{
    font-size:.8rem;
    line-height: 1.4;
    text-align: justify;
    padding-bottom:10px;
}
.footer ul{
    list-style: none;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin-right:10px;
    margin-bottom:3px;
}
.footer ul li:last-child{
    margin-right:0px;
}
.footer ul li a{
    font-size:.8rem;
    color:#C20606;
    font-weight:600;
}

@media only screen and (min-width:400px){
    .main{
        width:400px;
        margin:0 auto;
    }
}

@media only screen and (min-width:800px){
    .container{
        width:800px;
        margin:0 auto;
    }
    .abbrechen{
        position: absolute;
        top:10px;
        right:0px;
    }
    .paragh1 p, .paragh2 p{
        font-size:1rem;
    }
    .button a{
        font-size:1.5rem;
        padding:10px 0px;
        width:100%;
    }
    .footer p{
        font-size:.9rem;
    }
    .footer ul li a{
        font-size:.9rem;
    }
}
/* end index styles */

/* altersverification and abbrechen styles */
.caution, .ximage, .heading{
    padding-bottom:10px;
}
/* end altersverification and abbrechen styles */




/* TNC */

.tnc_section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, .7);
}
address{
    margin: 1rem 0 0 1rem;
}
.tnc_section h2{
    margin: 0 0 1rem 0;
}
.tnc_section h3{
    margin: 2rem 0 1rem 0;
    text-transform: capitalize;
}
.tnc_section h4{
    margin: 0 0 2rem 0;
}
.tnc_section p{
    margin-left: 1rem;
    margin-bottom: .8em;
}
p span, i{
    background-color: yellow;
}