* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background: url("./assets/background.jpg") no-repeat top center;
  background-size: cover;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 30px auto;
  text-align: center;
  padding: 0 20px;
}

.top {
  margin-bottom: 40px;
}

.top img {
  width: 40%;
}

.middle {
  margin-bottom: 60px;
}

.middle p {
  font-size: 1rem;
  color: #000;
  margin-bottom: 20px;
}

.btn {
  padding: 20px 60px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 15px;
  background: linear-gradient(90deg, #4e9e00, #79d109);
  border-radius: 10px;
}

.btn:hover {
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}

.big {
  display: inline-block;
  font-size: 2.8rem;
  color: #4e9e00;
  font-weight: 800;
  text-shadow: 2px 2px 0 #364fb4;
}

.big:first-child {
  padding-right: 10px;
}

.big:last-child {
  padding-left: 10px;
}

.compatibility {
  margin-bottom: 30px;
}

.compatibility p {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.compatibility div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.bottom > p {
  line-height: 1.8;
  font-size: 0.8rem;
  text-align: justify;
  margin-bottom: 30px;
}

.tnc p {
  color: #000;
  font-size: 0.8rem;
}

.tnc a {
  font-weight: 600;
  color: #364fb4;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
