*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background-color:#000;
}
.lp-container{
	padding:20px 10px;
	margin:0 auto;
	text-align:center;
	background:url('../img/background.png') bottom left no-repeat;
}
.title h4{
	font-size:1.2rem;
}
.details{
	margin:20px 0px 40px;
}
.details input, .details p{
	margin-bottom:10px;
}
.details input{
	padding:10px;
	border-radius:5px;
	text-align:center;
	font-size:1.2rem;
	font-weight:700;
	color:#ff14ec;
	border:1px solid #15ecff;
}
.details p{
	font-size:.9rem;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#ff14ec;
}
.details button{
	margin-top:10px;
	padding:10px 60px;
	border-radius:10px;
	font-weight:700;
	font-size:1.3rem;
	background:linear-gradient(90deg,#ff14ec,#15ecff);
	border:1px solid #fff;
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#15ecff;
	font-weight:700;
}
@media only screen and (min-width:400px){
	.lp-container{
		width:400px;
	}
}
