@import url("https://fonts.googleapis.com/css?family=Muli:400,700&display=swap");
@-webkit-keyframes scaleIn {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@keyframes scaleIn {
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.scaleIn {
  -webkit-animation: scaleIn 400ms ease-in-out;
          animation: scaleIn 400ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0 auto;
  background-color: #f6f6f6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: #2c3330;
  text-align: center;
  padding: 8px 0;
}

main {
  top: 40px;
  position: relative;
}

.main-category {
  display: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}

.main-category ul {
  display: none;
}

.main-category ul li a {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
  background: linear-gradient(90deg, #4b6684, #39a0ed);
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0px 5px 25px 0px;
  position: relative;
  top: 0px;
  left: -999px;
  -webkit-transition: left 500ms ease-in-out 0ms;
  transition: left 500ms ease-in-out 0ms;
}

.main-category ul li a span {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.main-category ul li a i {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #36f1cd;
  font-size: 2rem;
}

.sub-category {
  display: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}

.sub-category .back-btn {
  color: #2c3330;
  display: inline-block;
  margin: 0px 0px 20px 20px;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.sub-category .back-btn i {
  margin-right: 5px;
}

.sub-category ul {
  display: none;
}

.sub-category ul li a {
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
  background: linear-gradient(90deg, #4b6684, #39a0ed);
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0px 5px 25px 0px;
  position: relative;
  top: 0px;
  left: -999px;
  -webkit-transition: left 500ms ease-in-out 0ms;
  transition: left 500ms ease-in-out 0ms;
}

.sub-category ul li a span {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
}

.sub-category ul li a i {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #36f1cd;
  font-size: 2rem;
}

.content-list {
  display: none;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}

.content-list .back-btn {
  color: #2c3330;
  display: inline-block;
  margin: 0px 0px 20px 20px;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.content-list .back-btn i {
  margin-right: 5px;
}

.content-list .content-div {
  display: none;
}

.content-list .content-div .item a {
  -ms-grid-columns: 1fr 60px;
      grid-template-columns: 1fr 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
  background: linear-gradient(90deg, #4b6684, #39a0ed);
  padding: 15px 20px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 0px 5px 25px 0px;
  position: relative;
  top: 0px;
  left: -999px;
  -webkit-transition: left 500ms ease-in-out 0ms;
  transition: left 500ms ease-in-out 0ms;
}

.content-list .content-div .item a span {
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Muli", sans-serif;
  color: #fff;
  font-size: 0.9rem;
  text-align: right;
  font-weight: 400;
}

.content-list .content-div .item a img {
  -ms-grid-column-align: start;
      justify-self: start;
  color: #36f1cd;
  font-size: 2rem;
}

.content-list .content-div .item a .hdn-elem {
  display: none;
}

.preview-section .back-btn {
  color: #2c3330;
  display: inline-block;
  margin: 0px 0px 20px 20px;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.preview-section .back-btn i {
  margin-right: 5px;
}

.preview-section .preview-item {
  position: relative;
  left: -9999px;
  -webkit-transition: left 500ms ease-in-out;
  transition: left 500ms ease-in-out;
}

.preview-section .preview-head {
  text-align: center;
  padding: 0px 10px;
  -webkit-transition: top 500ms ease-in-out;
  transition: top 500ms ease-in-out;
}

.preview-section .preview-head img {
  max-width: 70%;
}

.preview-section .preview-head .thumb-name {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 10px;
  color: #2c3330;
}

.preview-section .preview-head .thumb-name .thumb-cat-name {
  -ms-grid-column-align: start;
      justify-self: start;
  text-align: left;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}

.preview-section .preview-head .thumb-name .thumb-cat-name h1 {
  font-size: 1rem;
}

.preview-section .preview-head .thumb-name .thumb-cat-name span {
  color: #13c4a3;
  font-size: .8rem;
}

.preview-section .preview-head .thumb-name a {
  background: -webkit-gradient(linear, left top, right top, from(#13c4a3), to(#36f1cd));
  background: linear-gradient(90deg, #13c4a3, #36f1cd);
  display: inline-block;
  font-size: .9rem;
  color: #2c3330;
  font-family: "Muli", sans-serif;
  font-weight: 700;
  border-radius: 3px;
  padding: 8px 15px;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.preview-section .preview-body {
  padding: 30px 10px 0px;
  font-family: "Muli", sans-serif;
  color: #2c3330;
}

.preview-section .preview-body h4 {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 5px;
}

.preview-section .preview-body .preview-info {
  padding-bottom: 30px;
}

.preview-section .preview-body .preview-info p {
  font-size: .8rem;
  line-height: 1.4;
  text-align: justify;
}

.preview-section .preview-body .preview-screenshot {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #36f1cd #eaeaea;
}

.preview-section .preview-body .preview-screenshot::-webkit-scrollbar {
  border-radius: 50px;
  height: 8px;
}

.preview-section .preview-body .preview-screenshot::-webkit-scrollbar-track {
  background-color: #EAEAEA;
}

.preview-section .preview-body .preview-screenshot::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, from(#13c4a3), to(#36f1cd));
  background: linear-gradient(90deg, #13c4a3, #36f1cd);
  border-radius: 50px;
}

.preview-section .preview-body .preview-screenshot img {
  margin-right: 10px;
}

.preview-section .preview-body .preview-screenshot img:last-child {
  margin-right: 0px;
}

.preview-section .preview-body .preview-screenshot .closeImg {
  cursor: pointer;
}

.selected-img {
  padding: 30px 10px;
}

.selected-img span {
  color: #36f1cd;
  font-size: 1.3rem;
  display: block;
  float: right;
  margin-bottom: 10px;
}

@media all and (min-width: 480px) and (max-width: 599px) {
  main {
    width: 460px;
    margin: 0 auto;
  }
  .main-category ul li a {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .main-category ul li a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .main-category ul li a i {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.3rem;
  }
  .sub-category .back-btn {
    color: #2c3330;
    display: inline-block;
    margin: 0px 0px 20px 20px;
    font-size: 1.1rem;
    font-family: "Muli", sans-serif;
    font-weight: 700;
  }
  .sub-category .back-btn i {
    margin-right: 5px;
  }
  .sub-category ul li a {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .sub-category ul li a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .sub-category ul li a i {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.3rem;
  }
  .content-list .back-btn {
    color: #2c3330;
    display: inline-block;
    margin: 0px 0px 20px 20px;
    font-size: 1.1rem;
    font-family: "Muli", sans-serif;
    font-weight: 700;
  }
  .content-list .back-btn i {
    margin-right: 5px;
  }
  .content-list .content-div .item a {
    -ms-grid-columns: 1fr 90px;
        grid-template-columns: 1fr 90px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 80%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .content-list .content-div .item a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.1rem;
    text-align: right;
    font-weight: 400;
  }
  .content-list .content-div .item a img {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.3rem;
  }
  .preview-section .back-btn {
    color: #2c3330;
    display: inline-block;
    margin: 0px 0px 20px 20px;
    font-size: 1.1rem;
    font-family: "Muli", sans-serif;
    font-weight: 700;
  }
  .preview-section .back-btn i {
    margin-right: 5px;
  }
  .preview-section .preview-head {
    padding: 0px 30px;
  }
  .preview-section .preview-head .thumb-name {
    grid-gap: 20px;
  }
  .preview-section .preview-head .thumb-name .thumb-cat-name h1 {
    font-size: 1.2rem;
  }
  .preview-section .preview-head .thumb-name .thumb-cat-name span {
    font-size: 1rem;
  }
  .preview-section .preview-head .thumb-name .thumb-cat-name a {
    font-size: 1rem;
    border-radius: 5px;
    padding: 10px 17px;
  }
  .preview-section .preview-body {
    padding: 40px 30px 0px;
  }
  .preview-section .preview-body h4 {
    font-size: 1.2rem;
    padding-bottom: 15px;
  }
  .preview-section .preview-body .preview-info {
    padding-bottom: 40px;
  }
  .preview-section .preview-body .preview-info p {
    font-size: .9rem;
    line-height: 1.6;
  }
  .preview-section .preview-body .preview-screenshot {
    padding: 0px 30px;
  }
  .selected-img {
    padding: 40px 20px;
  }
  .selected-img span {
    font-size: 1.5rem;
  }
}

@media all and (min-width: 600px) {
  .header {
    padding: 15px 0px;
  }
  main {
    width: 600px;
    margin: 0 auto;
  }
  .main-category ul li a {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 60%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .main-category ul li a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
  }
  .main-category ul li a i {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.4rem;
  }
  .sub-category .back-btn {
    color: #2c3330;
    display: inline-block;
    margin: 0px 0px 20px 20px;
    font-size: 1.2rem;
    font-family: "Muli", sans-serif;
    font-weight: 700;
  }
  .sub-category .back-btn i {
    margin-right: 5px;
  }
  .sub-category ul li a {
    -ms-grid-columns: 1fr auto;
        grid-template-columns: 1fr auto;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 60%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .sub-category ul li a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
  }
  .sub-category ul li a i {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.3rem;
  }
  .content-list .back-btn {
    color: #2c3330;
    display: inline-block;
    margin: 0px 0px 20px 20px;
    font-size: 1.2rem;
    font-family: "Muli", sans-serif;
    font-weight: 700;
  }
  .content-list .back-btn i {
    margin-right: 5px;
  }
  .content-list .content-div .item a {
    -ms-grid-columns: 1fr 100px;
        grid-template-columns: 1fr 100px;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-gap: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#4b6684), to(#39a0ed));
    background: linear-gradient(90deg, #4b6684, #39a0ed);
    padding: 15px 20px;
    margin-bottom: 20px;
    width: 70%;
    border-radius: 25px 5px 25px 5px;
    position: relative;
    top: 0px;
    left: -999px;
    -webkit-transition: left 500ms ease-in-out 0ms;
    transition: left 500ms ease-in-out 0ms;
  }
  .content-list .content-div .item a span {
    -ms-grid-column-align: end;
        justify-self: end;
    font-family: "Muli", sans-serif;
    color: #fff;
    font-size: 1.2rem;
    text-align: right;
    font-weight: 400;
  }
  .content-list .content-div .item a img {
    -ms-grid-column-align: start;
        justify-self: start;
    color: #36f1cd;
    font-size: 2.3rem;
  }
}
/*# sourceMappingURL=main.css.map */