@import url('https://fonts.googleapis.com/css?family=Muli:400,700&display=swap');

$muli: 'Muli', sans-serif;

$brilliantAzure: rgba(57, 160, 237, 1);
$payneGrey: rgba(75, 102, 132, 1);
$gunmetal: rgba(44, 51, 48, 1);
$amazonite: rgba(19, 196, 163, 1);
$turquoise: rgba(54, 241, 205, 1);

@keyframes scaleIn{
    50%{
        transform: scale(1.1);
    }
}

.scaleIn{animation:scaleIn 400ms ease-in-out;}

@mixin gridLinkStyle($elem1, $elem2, $fontSizeSpan, $fontSizeI, $gridColumn){

    @if $elem2 == img {
        grid-template-columns:1fr $gridColumn;
    } @else {
        grid-template-columns:1fr $gridColumn;
    }
    
    display:grid;
    align-items:center;
    grid-gap:10px;

    #{$elem1}{
        justify-self: end;
        font-family: $muli;
        color:#fff;

        @if $elem2 == img {
            font-size:$fontSizeSpan;
            text-align:right;
            font-weight: 400;
        } @else {
            font-size: $fontSizeSpan;
            font-weight: 700;
        }
    }

    #{$elem2}{
        justify-self: start;
        color:$turquoise;
        font-size:$fontSizeI;
    }
}

@mixin backBtnmixin($fontSize){
    color:$gunmetal;
    display: inline-block;
    margin:0px 0px 20px 20px;
    font-size:$fontSize;
    font-family: $muli;
    font-weight:700;

    i{margin-right:5px;}
}

@mixin linkStyle($borderRadius, $width){
    background:linear-gradient(90deg, $payneGrey, $brilliantAzure);
    padding:15px 20px; 
    margin-bottom:20px;
	width:$width;
	border-radius:$borderRadius;
	position:relative;
    top:0px;
    left:-999px;
    transition:left 500ms ease-in-out 0ms;
}

@mixin categoryMixin($indexVal){
    display: none;
    position:absolute;
    width:100%;
    top:0px;
    left:0px;
    z-index: $indexVal;
    transition: left 500ms ease-in-out;
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

img{max-width: 100%;}
body{
    margin:0 auto;
    background-color:#f6f6f6;
}
ul{list-style: none;}
a{text-decoration: none;}

.header{
    background-color:$gunmetal;
    text-align:center;
    padding:8px 0;
}

main{
    top:40px;
    position:relative;
}

.main-category{
    @include categoryMixin(3);

    ul{
        display: none;

        li a{
            @include gridLinkStyle(span, i, 1.1rem, 2rem, auto);
            @include linkStyle(0px 5px 25px 0px, 80%);
        }
    }
}

.sub-category{
    @include categoryMixin(2);

    .back-btn{@include backBtnmixin(1rem);}

    ul{
        display: none;

        li a{
            @include gridLinkStyle(span, i, 1.1rem, 2rem, auto);
            @include linkStyle(0px 5px 25px 0px, 80%);
        }
    }
}

.content-list{
    @include categoryMixin(1);

    .back-btn{@include backBtnmixin(1rem);}

    .content-div{
        display: none;

        .item a{
            @include gridLinkStyle(span, img, .9rem, 2rem, 60px);
            @include linkStyle(0px 5px 25px 0px, 80%);

            //hides description, download link and screenshots
            .hdn-elem{display: none;}
        }

    }
}

.preview-section{
    .back-btn{@include backBtnmixin(1rem);}

    .preview-item{
        position: relative;
        left:-9999px;
        transition: left 500ms ease-in-out;
    }

    .preview-head{
        text-align:center;
        padding:0px 10px;
        transition: top 500ms ease-in-out;

        img{
            max-width:70%;
        }

        .thumb-name{
            margin-top:20px;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-gap:10px;
            color:$gunmetal;

            .thumb-cat-name{
                justify-self: start;
                text-align:left;
                font-family: $muli;
                font-weight:700;

                h1{
                    font-size:1rem;
                }

                span{
                    color:$amazonite;
                    font-size:.8rem;
                }

            }

            a{
                background:linear-gradient(90deg, $amazonite, $turquoise);
                display:inline-block;
                font-size: .9rem;
                color:$gunmetal;
                font-family: $muli;
                font-weight:700;
                border-radius: 3px;
                padding:8px 15px;
                justify-self: end;
                align-self: center;
            }

        }
    }

    .preview-body{
        padding:30px 10px 0px;
        font-family:$muli;
        color:$gunmetal;

        h4{
            font-size:1rem;
            font-weight:700;
            padding-bottom:5px;
        }

        .preview-info{
            padding-bottom:30px;

            p{
                font-size:.8rem;
                line-height: 1.4;
                text-align: justify;
            }
        }

        .preview-screenshot{
            overflow-x: scroll;
            white-space: nowrap;
            scrollbar-width: thin;
            scrollbar-color: $turquoise #eaeaea;

            &::-webkit-scrollbar{
                border-radius:50px;
                height:8px;
            }

            &::-webkit-scrollbar-track{
                background-color: #EAEAEA;
            }

            &::-webkit-scrollbar-thumb{
                background:linear-gradient(90deg, $amazonite, $turquoise);
                border-radius:50px;
            }

            img{
                margin-right:10px;

                &:last-child{
                    margin-right: 0px;
                }
            }

            .closeImg{
                cursor: pointer;
            }
        }
    }
}

.selected-img{
    padding:30px 10px;

    span{
        color:$turquoise;
        font-size:1.3rem;
        display: block;
        float: right;
        margin-bottom:10px;
    }    
}

@import "media/media480x599";
@import "media/media600";
