@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');

$blue: #003F88;
$darkBlue: #00244F;
$dlColor: #09B93A;
$catHeadingBg: #004EA8;

$w400: 400;
$w700: 700;
$w800: 800;

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

ul{list-style: none;}

a{text-decoration: none;}

img{max-width:100%;}

body{
    background-color:$blue;
    overflow-x: hidden;
    position: relative;
}

.bgWrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
    z-index: -2;
    white-space: nowrap;

    .bg{
        width: 100%;
        height: 100%;
        display: inline-block;
        margin-left:-4px;

        &:first-child{
            margin-left:0;
        }
    }
}

.headerWrap{
    background-color:#fff;
    padding:15px;
    margin-bottom:20px;

    h1{
        text-align:center;
        color:$blue;
        font-weight: $w700;
        transition: color 200ms ease-in-out;
    }
}

.indicatorWrap{
    max-width:980px;
    margin:0 auto;
    padding:0 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap:20px;

    .catHeaderWrap{
        position:relative;

        h3{
            color:#fff;
            text-transform: uppercase;
            font-size:1.7rem;
            font-weight:$w700;
        }

        .h3Bg{
            position:absolute;
            top:-15px;
            left:-10px;
            font-weight:$w800;
            color:$catHeadingBg;
            font-size:4.5rem;
            z-index: -1;
            white-space: nowrap;
            transition: color 200ms ease-in-out;
        }
    }

    .catIconsWrap{
        ul{
            li{
                display:inline-block;
                margin-right:3px;

                &:last-child{
                    margin-right:0;
                }

                i{
                    font-size:1.4rem;
                    color:$darkBlue;
                    transform-origin: center;
                    transform: scale(.8);
                    transition: transform 500ms ease-in-out, color 200ms ease-in-out;

                    &.activeIcon{
                        color:#fff;
                        transform: scale(1);
                    }
                }
            }
        }
    }
}

.mainWrap{
    max-width:1100px;
    // max-height:calc(100vh - 110px);
    margin:0 auto;
    padding:10px 0;

    .subCatWrap{
        max-width:1100px;
        white-space: nowrap;
        overflow-x:hidden;
    }

    .subCatNav{
        // position:relative;
        height: 100%;
        padding:0 10px 40px;

        .subCatLink{
            color:#fff;
            font-size:.85rem;
            margin-right:10px;
            display: inline-block;
            font-weight:$w700;
            cursor:pointer;

            &:last-child{
                margin-right:0;
            }
        }

        .subCatIndi{
            position: relative;
            width:100%;
            margin-top:5px;

            .subCatCircle{
                display:block;
                width:8px;
                height:8px;
                background-color:#fff;
                border-radius:5px;
                position: absolute;
                top:0;
                left:0;
            }

            .subCatLine{
                width:0;
                height:2px;
                display:block;
                background-color:#fff;
                position: relative;
                top:3px;
                left:0;
            }
        }
    }

    .contentWrap{

        .contentList{
            overflow: hidden;
            max-height:calc(100vh - 196px);
        }

        .contentDivider{
            display:grid;
            grid-template-columns: repeat(7, minmax(140px, 1fr));
            grid-gap:15px;
            padding:0 10px 10px;
            margin-bottom:90px;
            overflow-x:hidden;
            overflow-y:scroll;
            height:calc(100vh - 196px);
            -ms-overflow-style: none;
            scrollbar-width: none; 

            &::-webkit-scrollbar{
                display:none;
            }

            h3{
                grid-column:1 / 8;
                color:#fff;
                font-weight:$w800;
                font-size:2rem;
            }
            
            .content{
                background:$darkBlue;
                border-radius:10px;
                padding:10px;
                text-align:center;
                transition:background 200ms ease-in-out;

                img{
                    width:60px;
                    height:60px;
                    margin-bottom:10px;
                    border-radius:100%;
                }

                p{
                    font-size:.7rem;
                    color:#fff;
                    margin-bottom:7px;
                }

                .ctaBtns{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    
                    span{
                        font-weight:$w700;
                        font-size:.7rem;
                        color:#fff;
                        display: inline;
                        border-right:1px solid #fff;
                        padding-right:2px;
                        cursor: pointer;
                    }

                    a{
                        font-weight:$w700;
                        font-size:.7rem;
                        color:$dlColor;
                        display: inline;
                        padding-left: 3px;
                        cursor: pointer;
                    }
                }
            }

            .previewCont{
                transform-origin: center;

                .closeBtnCont{
                    .closeBtn{
                        float:right;
                        border-radius:5px;
                        padding:5px 10px;
                        font-size:.7rem;
                        font-weight:$w700;
                        color:#fff;
                        display: block;
                        cursor: pointer;
                    }
                }

                .upperDetailsCont{
                    clear: right;
                    display:grid;
                    grid-template-columns:auto 1fr;
                    grid-gap:15px;
                    align-items: end;
                    margin-bottom:15px;

                    .thumbPreviewCont{
                        position:relative;

                        img{
                            width:100px;
                            height:100px;
                            border-radius:100%;
                        }

                        .h4bg{
                            position:absolute;
                            top:10px;
                            left:40px;
                            font-weight:$w800;
                            color:$catHeadingBg;
                            font-size:3.5rem;
                            white-space: nowrap;
                            transition: color 200ms ease-in-out;
                            z-index: -1;
                        }
                    }

                    .nameCtaPreviewCont{
                        p{
                            font-size:.75rem;
                            color:#fff;
                            font-weight:$w400;
                            margin-bottom:8px;
                        }

                        .ctaPreviewDownload{
                            padding:10px 20px;
                            font-size:.8rem;
                            color:$dlColor;
                            border-radius:5px;
                            display: inline-block;
                            font-weight: $w800;
                            cursor: pointer;
                        }
                    }
                }

                .lowerDetailsCont{
                    p{
                        font-size: .75rem;
                        color:#fff;
                        text-align: justify;
                        line-height: 1.7;
                    }

                    .screenshotsPreviewCont{
                        margin-top:15px;
                        overflow-x: hidden;
                        white-space: nowrap;

                        img{
                            display: inline-block;
                            width:70%;
                            height:70%;
                            margin-right:10px;
                            cursor: grab;

                            &:last-child{
                                margin-right:0;
                            }

                            @media all and (min-width:650px){
                                width:30%;
                                height:30%;
                            }
                        }
                    }
                }
            }
        }
    }
}