//Font
$arial:Arial, Helvetica,  sans-serif;

//Colors
$keyshort:#97E600;


//Animation Keyframes
@keyframes shadow{
    0%{text-shadow: 0px 0px 0px #CBFF68}
    25%{text-shadow: 0px 0px 5px #CBFF68}
    50%{text-shadow: 0px 0px 20px #CBFF68}
    75%{text-shadow: 0px 0px 5px #CBFF68}
    100%{text-shadow: 0px 0px 0px #CBFF68}
}

//Media Queries
@mixin width900{
    @media screen and (min-width:900px){
        @content
    }
}

@mixin width500{
    @media screen and (min-width:500px){
        @content
    }    
}

@mixin width600 {
    @media screen and (min-width:600px){
        @content
    }
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family: $arial;
}
a{
    text-decoration:none;
}
span, p, a{
    color:#fff;
    font-size: .9rem;
}
img{
    max-width: 100%;
}
ul{
    list-style:none;
}
body{
    background:url('../img/bg_top.png') no-repeat center top, url('../img/bg_bottom.png') no-repeat center bottom, #000;
}

.content-wrapper{
    padding-top:120px;
    min-width: 320px;
    margin:0 auto;

    @include width900{
        max-width: 900px;
        margin:0 auto;
    }
   
    @include width500{
        max-width: 500px;
        margin:0 auto;
    }

    @include width600{
        max-width: 600px;
        margin:0 auto;
    }
}

.grid-container{
    padding-bottom:20px;
    
    .final-step{ 
        padding-left:10px;
        padding-right:10px;
        text-align: center;

        @include width600{
            max-width:500px;
            margin:0 auto;
        }

        .final-grid{

            .step-heading{
                padding-bottom:10px;

                span{
                    display:block;
                }

            }

            .step-button{
                padding-bottom:10px;

                a{
                    font-weight:900;
                    font-size:1.5rem;
                    background: rgb(171,255,0); /* Old browsers */
                    background: -moz-linear-gradient(top, rgba(171,255,0,1) 0%, rgba(68,128,0,1) 100%); 
                    background: -webkit-linear-gradient(top, rgba(171,255,0,1) 0%,rgba(68,128,0,1) 100%); 
                    background: linear-gradient(to bottom, rgba(171,255,0,1) 0%,rgba(68,128,0,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff00', endColorstr='#448000',GradientType=0 );
                    padding:10px 20px;
                    display:inline-block;
                    border-radius: 2px;
                    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
                   

                    @include width500{
                        font-size:2rem;
                        padding:10px 20px; 
                    }
                }

            }

        }

        .step-keynum{
            padding-bottom:10px;

            span{
                padding-bottom:10px;
            }

            p span{
                color:$keyshort;
                font-size: 2.5rem;
                font-weight:900;
                animation: shadow 2s infinite 0s ease-in-out;

                &:first-child{
                    padding-right:5px;
                }

                &:last-child{
                    padding-left:5px;
                }
            }
        }

    }

}

.lp-gamesicon{
    text-align:center;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }
   
    span{
        padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.lp-compatibility{
    text-align:center;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }

    span{
         padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.foot{
    margin-bottom:30px;
    padding-left:10px;
    padding-right:10px;

    p{
        font-size:.8rem;
        padding-bottom:10px;
        line-height:1.4;
    }

    ul{
        text-align:center;
    }

    ul li{
        display:inline-block;
        padding:0 5px;
        border-right:1px solid #fff;
        margin-bottom:5px;

        &:last-child{
            border:none;
        }

        a{
            font-size:.8rem;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}