*{
	margin:0;
	padding:0;
	border:0;
	font-family: 'Arial', sans-serif;
}
ul{
	list-style: none;
}
h4{
	line-height: 1.6;
	font-size:1rem;
	color:#fff;
}
p, span{
	font-size:.9rem;
	font-weight:400;
	line-height: 1.6;
	color:#fff;
}
img{
	max-width: 100%;
}
body{
	background: url('../../img/apex-bg.jpg'), #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* wrapper style */
.content-wrapper{
	padding:10px 10px 0;
	max-width: 320px;
	margin:0 auto;
}

/* heading style */
.image-heading{
	text-align:center;
}
.image-heading img{
	margin-bottom:10px;
}

/* final step style */
.final-step{
	padding:10px 10px;
	text-align:center;
	background:rgba(0, 0, 0, .38);
}
.step-heading span{
	font-size:1rem;
}
.step-button{
	padding:10px 0;
}
.step-keynum p span{
	color:#00DCFF;
	font-weight: 900;
	font-size:2.5rem;
	display:inline-block;
}
/*animation*/
@keyframes animTextOn{
	0%{transform:scale(1, 1);}
	50%{transform:scale(1.2,1.2);}
	100%{transform:scale(1, 1);}
}
@keyframes animText5060{
	0%{transform:scale(1, 1);}
	50%{transform:scale(1.2,1.2);}
	100%{transform:scale(1, 1);}
}
.step-keynum p span:first-child{
	padding-right: 5px;
	animation: animTextOn 2s ease-in-out infinite;
}

.step-keynum p span:last-child{
	padding-right: 0;
	padding-left: 5px;
	animation: animText5060 2s ease-in-out 1s infinite;
}

/* tnc, help styles */
.tnc, .help, .support, .contact{
	display: none;
	margin:20px 10px 30px;
	padding:15px;
	background:rgba(255,255,255,.8);
}
.tnc p, .tnc span, .help p, .help span, .support p, .support span, .contact p, .contact span{
	color:#000;
}
.tnc h4, .help h4, .support h4, .contact h4{
	text-align: center;
	margin-bottom:20px;
	color:#000;
}
.support p, .contact p{
	text-align: center;
}
.tnc p, .help p{
	text-align: justify;
}
.help .p2{
	text-align: center;
}
.p1{
	font-weight:700;
	font-size: .95rem;
}


/* compatibility styles */
.compatibility, .otherGames{
	padding:10px;
}
.compatibility p, .otherGames p{
	font-weight:500;
	text-align:center;
	margin-bottom:15px;
}
.compatibility ul, .otherGames ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

/* words styles */
.words{
	margin-bottom:20px;
	padding:0 10px;
}
.words p{
	text-align:justify;
	font-size:.8rem;
}
#footer a{
	text-decoration: none;
    color: #fff;
    font-size: .8rem;
}
#footer{
	text-align: left;
    margin-top: 10px;
}
/* footer styles */
.footer{
	margin-top:20px;
	margin-bottom:20px;
}
.footer ul{
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding:0 10px;
	border-right:1px solid #fff;
	margin-bottom:10px;
}
.footer ul li:last-child{
	border:none;
}
.footer ul li a{
	text-decoration: none;
	color:#fff;
	font-weight:500;
	font-size: 0.85rem;
}
.footer ul li a:hover{
	color:#000;
}

/*media queries*/
@media only screen and (min-width: 480px){
	/* content wrapper style */
	.content-wrapper{
		max-width: 480px;
	}
	/* compatibility styles */

	.words,.compatibility,.otherGames{
		max-width: 480px;
		margin: 0 auto;
	}

}

@media only screen and (min-width: 700px){
	/* wrapper style */
	.content-wrapper{
		max-width: 600px;
	}
	.final-step{
		max-width: 400px;
		margin: 0 auto;
	}
	.step-keynum p>span{
		font-size:3rem;
	}
	/* compatibility styles */
	.compatibility,.otherGames{
		max-width: 500px;
		margin: 0 auto;
	}
	.words{
		max-width: 600px;
		margin: 0 auto;
	}
}