*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background:url('image/bg.jpg') no-repeat top left;
    background-size: cover;
}
.lp-container{
	padding:0px 10px 20px;
	margin:0 auto;
	text-align:center;
}
.details{
	margin:20px 0px 40px;
	text-align: center;
}
.details h3{
	font-size:1.2rem;
    font-weight:600;
}

.details a{
    display: inline-block;
    padding:15px 50px;
    background:#66a000;
    font-size:1.2rem;
    font-weight:700;
    text-decoration: none;
    margin:10px 0;
    position: relative;
}
.details a::before{
    content:"🤜";
    display: inline-block;
    position:absolute;
    top:8px;
    left:5px;
    font-size:1.5rem;
    animation: punchLeft 1000ms ease-in-out infinite;
}

.details a::after{
    content:"🤛";
    display: inline-block;
    position:absolute;
    top:8px;
    right:5px;
    font-size:1.5rem;
    animation: punchRight 1000ms ease-in-out infinite;
}

.details p{
    font-size:.8rem;
}

.details2 h4{
    margin-top:20px;
    font-size:.9rem;
    font-weight:500;
}

.details2 img{
    width:90%;
}

@keyframes punchLeft{
    0%{
        left:5px;
    }
    50%{
        left:15px;
    }
    100%{
        left:5px;
    }
}

@keyframes punchRight{
    0%{
        right:5px;
    }
    50%{
        right:15px;
    }
    100%{
        right:5px;
    }
}

@media only screen and (min-width:400px){
	.lp-container{
		width:500px;
	}

	.details input{
		width:60%;
	}

	.details button{
		width:60%;
	}
}
