<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Naughtybabe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../style/style.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Naughtybabe">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <main class="container tnc_section">
    <div class="abbrechenContain">
      <div class="abbrechen" onclick="location.replace('../abbrechen.php');">
        <div class="canceltext">
          <span>abbrechen</span>
        </div>
      </div>
    </div>

    <div class="logo">
      <img src="../assets/logo.png" alt="Naughtybabe">
    </div>

    <h1>NUTZUNGSBEDINGUNGEN</h1>
    <span><i>gültig ab: 01.07.2014</i></span>
    <span><i>gemäß § 7 Abs 3 FAGG</i></span>


    <h3>ALLGEMEINE INFORMATIONEN ÜBER DEN DIENST</h3>
    <p>
      Diese Nutzungsbedingungen legen die Bedingungen fest unter welcher der Dienst
      <span>http://premium.applicateka.com/de/?geo=at </span>benützt werden kann. Die vom Dienstanbieter angebotenen
      Dienste richten
      sich ausschließlich an natürliche Personen bzw. Verbraucher (i.S.d. § 1 des österreichischen
      Konsumentenschutzgesetz - KSchG), die diesen Dienst nutzen wollen. Dienste auf
      <span>http://premium.applicateka.com/de?geo=at </span>bieten Content für Mobile und PCs. Die Nutzung
      des
      <span> http://premium.applicateka.com/de/terms </span>Dienstes unterliegt diesen Nutzungsbedingungen.
    </p>

    <h3>DIENSTANBIETER:</h3>
    <address style="margin-top: 0;">
      Company name: Mobitech Solution Company <br>
      Address: Unit No.6, 2nd Floor, Block B, Spg82, Pg Haji Tajuddin Complex, Kg Delima Satu Serusop, Jalan Muara <br>
      Zip code: BB4713<br>
      Country: Brunei <br>
      E-Mail: <i>Input(s) here </i> <br>
      Telefonnummer: <i>Input(s) here </i><br>
      Webseite: <i>Input(s) here </i><br>
    </address>


    <h3>DIENSTBESCHREIBUNG</h3>
    <p>Der Dienst <span> http://premium.applicateka.com/de/?geo=at </span>ist ein Dienst der Content für Mobile und PCs
    </p>
    <p>
      Der Dienst ist ausgerichtet auf die Nutzung von mobilen Endgeräten, die eine gültige SIM-Karte und/oder PCs/Macs
      mit Internetzugang haben. <span> http://premium.applicateka.com/de?geo=at</span> ist kompatibel für Android 2.1,
      Iphone 3GS und
      Windows Phones (bei mobilen Endgräten) und auf allen PCs/Macs.
    </p>
    <p>
      Der Nutzer landet auf der Startseite, und wählt der gewünschte Inhalt aus. Damit wird der Nutzer auf die
      Bezahlseite weitergeleitet. Auf der Bezahlseite bestätigt der Nutzer den Kauf und danach wird der Nutzer zum
      Produkten weitergeleitet. Damit kriegt der Nutzer den Zugang zu seinem gewählten Produkt.
    </p>
    <p>
      Der Nutzer landet auf der Startseite und wählt den gewünschten Inhalt aus. <span>Der Nutzer meldet sich für den
        Dienst
        an, indem er eine SMS mit dem Kennwort an die Kurznummer versendet. Nachdem der Nutzer die Opt-In Anfrage
        bestätigt, bekommt</span>
    </p>
    <p>
      er eine Willkommens-und Info SMS, dann ist er für den Dienst abonniert. Damit kriegt der Nutzer den Zugang zum
      Inhalt des Dienstes. Der User kann Abonnement wählen. Wenn der User Abonnements wählt, wählt er auch eine
      Zahlungsmetode.
    </p>
    <p>
      Der Nutzer kann diese Abonnemente wählen: <br> <span> input(s) here [ 1xWoche, 9,00 EUR ]</span>
    </p>
    <p>
      Alle Preise sind in Euro aufgeführt und beinhalten die jeweils gültigen gesetzlichen Umsatzsteuer. Die Preise
      gelten für den jeweiligen Zeitraum, bezogen auf die Einräumung der Nutzungsmöglichkeit der Dienstleistungen.
      <br>Die Gebühr beinhaltet nicht die Nutzung des mobilen Internets, welche vom Mobilfunkanbieter berechnet werden
      können.
    </p>
    <p>
      Der Vertrag wird auf die angegebene Dauer abgeschlossen und verlängert sich automatisch bis eine ordnungsgemäße
      Kündigung vorliegt. Um eine Kündigung durchzuführen, muss der Nutzer das, vom Dienstanbieter, angegebene
      Abmeldeverfahren durchlaufen <br> Für die Nutzung der Leistung, wird das Entgeld sofort mit Abschluss des
      Vertrages fällig. Dieses wird mit der monatlichen Mobilfunkrechnung berechnet.
    </p>
    <p>
      Der Nutzer kann das Abonnement auch gerne unter der folgenden Hotline mündlich kündigen: <span> input(s) here [
        0800100299, ] </span> <br>
      oder per E-mail: <br>
      <span> input(s) here [ info@nrs-group.com ] </span><br>
      Oder auf der ensprechenden Webseite: <br>
      <span> input(s) here [ http://premium.applicateka.com/de/unsubscribe ]</span><br>
    </p>



    <h3>GEWÄHRLEISTUNG</h3>
    <p>
      Der Dienstanbieter ist dazu verpflichtet, <span> input(s) here [ 99,5% im Jahr, ] </span> die Erreichbarkeit der
      zur Verfügung gestellten Dienste
      zu gewährleisten. Sollte dies nicht gewährleistet sein, kann der Nutzer gegenüber dem Dienstanbieter ein
      Minderungsrecht beantragen. Der Betrag setzt sich während des Zeitraums, in dem die zur Verfügung gestellten
      Dienste nicht erreichbar waren, zusammen. Der Dienstanbieter bietet die Leistungen unter gesetzlichen und
      technischen Vorschriften an. Hierdurch wird sicher gestellt, dass der Nutzer die Leistungen nutzen kann.
    </p>
    <p>
      Der Dienstanbieter kann leider nicht garantieren, dass die Leistungen für alle Endgeräte, welche auf dem Markt
      vorhanden sind, nutzbar sind. Der Dienstanbieter ist auf die Leistungen Dritter (Mobilfunkanbieter), beim
      Versenden der Leistungen, angewiesen. Daher kann der Dienstanbieter nicht gewährleisten, dass die Inhalte ohne
      Verzögerung zur Verfügung gestellt werden.
    </p>



    <h3>RÜCKTRITTSRECHT</h3>
    <p>
      Gemäß § 11 <span> input(s) here [ Fern- und Auswärtsgeschäftegesetzes (FAGG) ] </span> der Nutzer das Recht, den
      aktivierten Dienst
      <span> input(s) here [ http://premium.applicateka.com/de?geo=at innerhalb von vierzehn (14) Tagen, ] </span>
      Angabe von Gründen, zu
      widerrufen. Um den Vertrag zu widerrufen, muss der Nutzer einen eindeutigen Widerruf uns zukommen lassen, z.B. per
      Brief oder E-Mail. Hierzu sollte der Nutzer am Besten das beigefügte Widerrufsformular verwenden, welches Sie
      unter dem folgenden Link finden:
    </p>



    <h3>AUSNAHMEN VOM RÜCKTRITTSRECHT</h3>
    <p><span> input(s) here [ Gemäß § 18 Abs. 1 Z 11 FAGG ] </span> verlieren jedoch Ihr Rücktrittsrecht wenn:</p>
    <p>
      a) der mit uns abgeschlossene Vertrag die Lieferung von nicht auf einem körperlichen Datenträger gespeicherten
      digitalen Inhalten betrifft;
    </p>
    <p>
      b) wir Ihnen innerhalb einer angemessenen Frist nach dem Vertragsabschluss eine Bestätigung des Vertrages
      übermitteln (z.B. SMS oder E-Mail), und
    </p>
    <p>
      c) Sie ausdrücklich zugestimmt haben, dass wir mit der Ausführung des Vertrags noch vor Ablauf der sonst
      <span> input(s) here [ bestehenden 14-tägigen Rücktrittsfrist beginnen ] </span>, und zur Kenntnis nehmen,
      dass Sie mit dieser Zustimmung Ihr
      Rücktrittsrecht verlieren;
    </p>



    <h3>DATENSCHUTZ</h3>
    <p>Mit der Aktivierung und Nutzung unseres <span> input(s) here [ Dienstes http://premium.applicateka.com/de?geo=at
        ]</span>gibt der Nutzer sein
      Einverständnis dafür, dass personenbezogene Daten, die an uns übermittelt werden, verarbeitet und genutzt werden
      dürfen:</p>
    <p>Mobilfunknummer</p>
    <p>IP Adresse</p>
    <p>Endgeräte Typ</p>
    <p>Die Daten werden zum Zweck der Erbringung der Leistung verarbeitet und an den zuständigen Mobilfunkanbieter zur
      Abrechnung übermittelt. Die abgegebene Zustimmung kann jederzeit schriftlich widerrufen werden.</p>

    <h3>ANFRAGEN</h3>
    <p>Falls noch offene Fragen bestehen sollten, können Sie sich gerne an die folgenden Kontaktdaten wenden:</p>
    <p>Tel.: (kostenlose Hotline) <i>Input(s) here </i></p>
    <p>E-Mail: <i>Input(s) here </i></p>
    <p>
      Falls Fragen zu einem aktivierten Dienst bestehen sollten, halten Sie bitte Ihre Mobilfunknummer bereit. Ohne
      diese,
      kann leider keine Auskunft gegeben werden.
    </p>
  </main>
</body>

</html>