*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

.lp-container{
	max-width:600px;
	margin:0 auto;
	background: url('assets/bg.png') no-repeat top center;
}
.container{
	margin:3rem 2rem;
}

.lp-header{
	text-align: center;
	padding: 20px 0 40px;
}

.lp-details{
	text-align: center;
	padding-bottom:40px;
}

.lp-details > span{
	display: block;
	font-size:1.5rem;
	padding-bottom:15px;
	font-weight: 700;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:linear-gradient(90deg, #F85A1A, #FDD24C);
	border-radius:5px;
	border:2px solid #6E1221;
	font-size:1.5rem;
	font-weight: 700;
	color:#6E1221;
}

.lp-details p{
	font-size:.9rem;
}

.lp-details p > span{
	font-size:2.4rem;
	font-weight: 700;
	color:#6E1221;
}

.lp-details p > span:first-child{
	margin-right: 10px;
}
.lp-details p > span:nth-child(2){
	margin-left: 10px;
}

.lp-gamesicon, .lp-compatibility{
	text-align: center;
	padding: 0 10px 20px;
}

.lp-gamesicon p, .lp-compatibility p{
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-gamesicon ul li, .lp-compatibility ul li{
	display: inline-block;
	margin-right:5px;
}

.lp-gamesicon ul li:last-child, .lp-compatibility ul li:last-child{
	margin-right: 0;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
}
.lp-footer{
	padding: 0 10px 20px;
}

.subs{
	display: flex;
    justify-content: center;
    align-items: center;
}
ul{
	display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 15px;
}
li a {
	font-size: .8rem;
    text-align: center;
	line-height: 1.6;
	text-decoration: none;
}
ul li a:first-child{
	padding-right: 5px;
}
ul li a:last-child{
	padding-left: 5px;
}
hr { 
    display: block;
    border: 1px inset;
	overflow: hidden;
	margin: 5px auto;
}

.supphones{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 510px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition-duration: 3s;
}
.popupcontent{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 415px;
}
.popupcontent p{
	color: #000;
	text-align: left;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }