body {
	font-family: 'Montserrat', sans-serif;
}

.midheader{
	background-image: url("../img/midback.JFIF");
    height: 150px;
}

.uk-link-reset{
	font-size: 1rem !important;
}
.uk-accordion-title{
	font-size: 1rem !important;
}

.navtitle{
	font-size:1.5rem !important;
}

.uk-card-title{
	font-size: 2rem !important;
	margin-top: 20px !important;

}

/*CSS for Game Frames  */

div iframe {
	width:100%;
	height: 599px;
}


