*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
body{
    margin:0 auto;
    background:url('../img/background.png') no-repeat top right fixed;
    background-size: cover;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    margin-bottom:30px;
}
.header-desktop-wrapper{
    background-color:#000000;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items:center;
    height:60px;
}
.logo{
    justify-self: start;
    margin-left:10px;
}
.menu-wrapper{
    justify-self: end;
}
.desktop-menu, .header-mobile-wrapper{
    display: none;
}
.desktop-menu ul li{
    display: inline-block;
    padding:0px 20px;
    height:60px;
}
.desktop-menu ul li a, .mobile-menu ul li a{
    color:#fff;
    margin-top:30px;
    font-weight:700;
    font-size:.9rem;
}
.desktop-menu ul li a{
    display: inline-block;
}
.mobile-menu-burger{
    margin-right:10px;
}
.mobile-menu-burger span{
    display: block;
    background:#BF0D00;
    border-radius:1px;
    width:38px;
    height:6px;
    position:relative;
    right:0;
    top:0;
    margin-bottom:5px;
}
.header-mobile-wrapper{
    position: absolute;
    width:200px;
    height:100%;
    top:60px;
    right:0px;
    background:#000;
    z-index: 1;
    padding-top:10px;
}
.mobile-menu ul li{
    padding:10px 0 10px 15px;
}


/* main body */
.main-container{
	position:relative;
	right:0px;
	transition-property:right;
	transition-duration:600ms;
	transition-timing-function:cubic-bezier(0.88, -0.05, 0.04, 0.41);
}
.sect-tag{
    margin:10px;
    border-bottom:2px solid #B7B6B6;
    border-radius:2px;
}
.sub-category{
    padding:0px 10px;
}
.sub-category li{
    display: inline-block;
    margin-right: 10px;
    margin-bottom:10px;
}
.sub-category li input{
    display: inline-block;
    margin-right:2px;
    width:18px;
    height:18px;
    vertical-align: bottom;
}
.sub-category li label{
    font-size:.9rem;
    font-weight:700;
    color:#FFDD00;
}
.sect-content{
    padding:10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:10px;
}
.sect-content .item{
    background:#EFEFEF;
    border-radius:2px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.2);
    padding:10px 5px;
    transition-property:opacity, margin-top;
	transition-duration:500ms;
	transition-timing-function:ease-out;
}
.sect-content .item a{
    font-size:.8rem;
    color:#000;
    margin-top:10px;
}
.sect-content .item p{
    font-size: .8rem;
    color:#BF0D00;
    margin-top:10px;
}
.sect-preview{
    padding:10px 20px;
    margin-bottom:30px;
    text-align: center;
    transform:scale(0);
    transition:transform 200ms ease-in;
}
.preview-details h3, .preview-details a.dl-btn, .preview-details p{
    margin-top:20px;
}
.preview-details h3{
    font-size:1rem;
    color:#FFDD00;
}
.preview-details a.dl-btn{
    display: inline-block;
    padding:10px 20px;
    border-radius:3px;
    color:#fff;
    font-size:.95rem;
    font-weight:700;
    background-color:#BF0D00;
}
.preview-details p{
    text-align:justify;
    font-size:.85rem;
    line-height: 1.4;
    color:#fff;
}

/* tips stles */
.tip-discrip{
    display:none;
}

/* javascript classes */
.sect-preview.scale-class{
    transform:scale(1);
}
.active-list ul li.active{
	background-color:#BF0D00;
}
.active-list ul li.active a{
    color:#FFDD00;
}
.mobile-menu-burger span{
    transition: width 300ms ease-in, right 300ms ease-in;
    
}
.mobile-menu-burger.toggle-burger span:nth-child(1){
    width:28px;
    right:-10px;
}
.mobile-menu-burger.toggle-burger span:nth-child(2){
    width:36px;
    right:-2px;
}
.mobile-menu-burger.toggle-burger span:nth-child(3){
    width:20px;
    right:-18px;
}
.sub-category li.check-box.none{
	display:none;
}
.fade-out{
	opacity:0;
	margin-top:-10px;
}
.fade-in{
	opacity:1;
	margin-top:0;
}
.slide-left{
	animation:Slideleft 600ms cubic-bezier(0.88, -0.05, 0.04, 0.41) 0s;
}
.slide-right{
	animation:Slideright 800ms cubic-bezier(0.30, -0.05, 0.04, 0.41) 0s forwards;
}
.opacity1{
	animation:opac .9s cubic-bezier(0.30, -0.05, 0.04, 0.41) 0s;
}
.opac2{
	opacity:1;
	transition-property:opacity;
	transition-duration:.9s;
}
@keyframes Slideright{
	0%{right:0px;}
	100%{right:-500px;}
}
@keyframes Slideleft{
	0%{right:-500px;}
	100%{right:0px;}
}
@keyframes opac{
	0%{opacity:0;}
	100%{opacity:1;}
}

/* media queries */
@media screen and (min-width:500px){
    .sect-content{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width:720px){
    .sect-content{
        grid-template-columns: repeat(5, 1fr);
    }
    .desktop-menu{display: block;}
    .mobile-menu-burger{display: none;}
}

@media screen and (min-width:880px){
    .sect-preview{
        width:880px;
        margin:0 auto 30px;
        display: grid;
        grid-template-columns: .4fr .6fr;
        grid-gap:15px;
    }
    .preview-image{
        align-self: center;
    }
    .preview-details{
        text-align:left;
    }
}

@media screen and (min-width:1160px){
    .header-desktop-wrapper{
       padding:0 30px;
    }
    .main-container{
        width:1160px;
        margin:0 auto;
    }
    .sect-content{
        grid-template-columns: repeat(6, 1fr);
    }
}