*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url('../assets/background.png') no-repeat fixed;
}
img{
    max-width: 100%;
}
span{
    display: block;
    font-size: 1rem;
    padding-top:10px;
    color:#fff;
}
a{
    display: inline-block;
    background:linear-gradient(to top, #06BA00, #B4FF00);
    padding:15px 40px;
    margin-top:10px;
    text-decoration: none;
    font-size:1.3rem;
    font-weight:700;
    color:#fff;
    border-radius:5px;
    border:2px solid #60FF11;
}
h2{
    color:#B4FF00;
    font-size:2rem;
    font-weight:800;
    position:relative;
	top:0;
    animation:anim 2s ease-in-out infinite;
}
@keyframes anim{
	0%{transform:scale(.8, .8);}
	50%{transform:scale(1,1);}
	100%{transform:scale(.8, .8);}
}
p{
    font-size:.9rem;
    line-height: 1.3;
    text-align: justify;
    color:#fff;
}
.lp-wrapper{
    background: url('../assets/top bg.png') no-repeat top center, url('../assets/bottom bg.png') no-repeat bottom center;
}
.lp-logo{
    padding-top:20px;
    text-align:center;
}
.lp-details{
    text-align:center;
}
.lp-footer{
    margin-top:30px;
    padding:10px 10px 20px;
}

@media only screen and (min-width:400px){
    span{
        font-size: 1.1rem;
    }
    a{
        padding:15px 50px;
        font-size:1.5rem;
    }
    h2{
        font-size:2.5rem;
    }
}

@media only screen and (min-width:600px){
    .lp-wrapper{
        max-width: 600px;
        margin:0 auto;
        background: url('../assets/top bg.png') no-repeat top center, url('../assets/bottom bg.png') no-repeat bottom center;
    }
}