*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#1D3B71;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}
.lp-container{
    max-width: 500px;
    margin:0 auto;
    padding-bottom: 20px;
}
.lp-img-container{
    position: relative;
    height: 400px;
}

.lp-img-container img{
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}

.lp-details{
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 2;
    padding:20px;
    text-align: center;
    background-color: rgba(0,0,0);
}

.lp-details p{
    font-size:1rem;
    margin-bottom: 10px;
}

.lp-details input{
    padding:10px 20px;
    border-radius: 5px;
    width:90%;
    text-align: center;
    font-size:1.1rem;
    font-weight: 700;
}

.button{
    margin-top:20px;
    text-align: center;
}

.button a{
    display: inline-block;
    background-color:#FF3D00;
    padding:10px 40px;
    font-size:1.2rem;
    color:#fff;
    font-weight: 700;
    border-radius:5px;
}
.lp-tnc{
    padding:0 10px;
}

.tnc{
    margin-top: 30px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-bottom:10px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#fff;
}