*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	position: relative;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
.lp-top{
	background:#f5f5f5;
}
.lp-body{
	padding-top:10px;
	background:#36c37f;
}
.lp-details span{
	display:block;
	font-size:.8rem;
	margin-bottom:10px;
}
.lp-details .btn{
	padding:15px 30px;
	background:linear-gradient(0deg, #339aff, #054e95);
	border:1px solid #339aff;
	font-size:1.2rem;
	border-radius:3px;
	margin-bottom:10px;
	font-weight:700;
	color:#fff;
}
.lp-details p{
	font-size:.8rem;
}
.lp-details p span{
	display: inline-block;
	font-size:2.2rem;
	font-weight:700;
	color:#fe3702;
}
.lp-gamesicon{
	padding:20px 5px;
}
.lp-gamesicon span{
	font-size:.8rem;
}
.lp-gamesicon ul{
	padding-top:10px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap:5px;
}
.lp-footer{
	padding:0px 5px 20px;
}
.lp-footer p{
	font-size:.7rem;
	line-height: 1.6;
	text-align: justify;
}

.lp-footer ul{
	margin-top:20px;
}

.lp-footer ul li{
	display: inline-block;
	font-size:.8rem;
}

.lp-footer ul li a{
	color:#fff;
}
@media only screen and (min-width:500px){
	.lp-gamesicon, .lp-footer{
		width:500px;
		margin:0 auto;
	}
}
.class-anim{
	animation:anim 1s ease-in-out 0s forwards;
}
@keyframes anim{
	0%{top:100px; opacity:0;}
	100%{top:0px; opacity:1;}
}