*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-align:center;
	position: relative;
	background:linear-gradient(270deg, #F48C06 0%, #FFC700 100%);;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	color: #000;
}
img{
	max-width:100%;
}
.headertop{
	height: 45px;
	/* background: #352101; */
	background:linear-gradient(to left, #F48C06, #352101, #FFC700);;
}
.lp-container{
	padding:1em;
}
.lp-header > img{
	width:160px;
	height:160px;
	margin:10px 0;
	position: relative;
	bottom:-10px;
	transform: scale(.8);
}
.lp-body{
	padding-top:10px;
}
.lp-details span{
	display:block;
	font-size:.75rem;
	margin-bottom:10px;
}
.lp-details .btn{
	padding:15px 30px;
	background:linear-gradient(180deg, #4DCA00 0%, #B6D300 100%);
	border:2px solid #317D03;
	font-size:1.2rem;
	border-radius:3px;
	margin-bottom:10px;
	font-weight:700;
	color:#000;
}
.lp-details p{
	font-size:.9rem;
}
.lp-details p span{
	display: inline-block;
	font-size:2.5rem;
	font-weight:700;
	color:#317D03;
	margin:0 5px;
}
.lp-gamesicon{
	padding:20px 5px;
}
.lp-gamesicon span{
	font-size:.75rem;
}
.lp-gamesicon ul{
	padding-top:10px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap:5px;
}
.lp-footer{
	padding:0px 5px 20px;
}
.lp-footer p{
	font-size:.75rem;
	line-height: 1.6;
	text-align: justify;
}
#footer{
	font-size: .75rem;
    line-height: 1.6;
}
@media only screen and (min-width:500px){
	.lp-gamesicon, .lp-footer{
		width:500px;
		margin:0 auto;
	}
}
.class-anim{
	animation:anim 1s ease-in-out 0s infinite;
}
.class-anim2{
	animation:anim2 2000ms ease-in-out 0ms infinite;
}
@keyframes anim{
	0%{bottom:-10px; transform: scale(.9);}
	50%{bottom:0px; transform: scale(1);}
	100%{bottom:-10px; transform: scale(.9);}
}
@keyframes anim2{
	0%{transform: rotate(0deg);}
	5%{transform: rotate(10deg);}
	10%{transform: rotate(-10deg);}
	15%{transform: rotate(10deg);}
	20%{transform: rotate(0deg);}
	100%{transform: rotate(0deg);}
}