*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background:url('../img/bg.png') top right no-repeat fixed;
}
.lp-container{
	padding:20px 10px;
	text-align:center;
}
.title h4{
	font-size:1.2rem;
}
.details{
	margin:20px 0px 40px;
}
.details input, .details p{
	margin-bottom:10px;
}
.details input{
	padding:10px;
	border-radius:5px;
	font-size:1.2rem;
	font-weight:700;
	color:#000;
	border:1px solid #000;
}
.details p{
	font-size:.9rem;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#96ff00;
}
.details button{
	margin-top:10px;
	padding:10px 60px;
	border-radius:50px;
	font-weight:700;
	font-size:1.3rem;
	color:#000;
	background:linear-gradient(90deg,#7fff02,#c6ff00);
	border:1px solid #000;
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#96ff00;
	font-weight:700;
}
