//Font
$arial:Arial, Helvetica,  sans-serif;

//Colors
$keyshort:rgb(255, 247, 0);
$keyred:#FF0000;
$keygreen:#00FF2B;


//Animation Keyframes
@keyframes color{
    0%{color:$keyshort;}
    30%{color:$keyred;}
    60%{color:$keygreen;}
    100%{color:$keyshort;}
}

//Media Queries
@mixin width900{
    @media screen and (min-width:900px){
        @content
    }
}

@mixin width500{
    @media screen and (min-width:500px){
        @content
    }    
}

@mixin width600 {
    @media screen and (min-width:600px){
        @content
    }
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family: $arial;
}
a{
    text-decoration:none;
}
span, p, a{
    color:#fff;
    font-size: .9rem;
}
img{
    max-width: 100%;
}
ul{
    list-style:none;
}
body{
    background:url('../img/bg.jpg');
    background-size: cover;
}

.content-wrapper{
    min-width: 320px;
    margin:0 auto;
    padding:0 10px;

    @include width900{
        max-width: 900px;
        margin:0 auto;
    }
   
    @include width500{
        max-width: 500px;
        margin:0 auto;
    }

    @include width600{
        max-width: 600px;
        margin:0 auto;
    }
}

.grid-container{
    padding-bottom:20px;

    .image-heading{
        padding-bottom:10px;
        
        @include width600{
            max-width: 600px;
            margin:0 auto;
        }
    }

    .final-step{ 
        text-align: center;

        @include width500{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 8px;
            grid-column-gap: 8px;
        }

        @include width600{
            max-width:500px;
            margin:0 auto;
        }

        .final-grid{

            .step-heading{
                padding-bottom:10px;

                span{
                    display:block;
                }

            }

            .step-button{
                padding-bottom:10px;

                a{
                    font-weight:900;
                    font-size:1.5rem;
                    background: rgb(255,153,0);
                    background: -moz-linear-gradient(-45deg, rgba(255,153,0,1) 0%, rgba(241,104,0,1) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(-45deg, rgba(255,153,0,1) 0%,rgba(241,104,0,1) 100%);
                    background: linear-gradient(135deg, rgba(255,153,0,1) 0%,rgba(241,104,0,1) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f16800',GradientType=1 );
                    padding:10px 30px;
                    display:inline-block;
                    border-radius: 30px;
                    text-shadow: 1px 1px 2px rgba(0,0,0,.7);
                    -webkit-box-shadow: -2px 0px 0px 0px rgba(135,58,0,1), 2px 0px 0px 0px rgba(135,58,0,1), 0px -2px 0px 0px rgba(135,58,0,1), 0px 2px 0px 0px rgba(135,58,0,1);
                    -moz-box-shadow: -2px 0px 0px 0px rgba(135,58,0,1), 2px 0px 0px 0px rgba(135,58,0,1), 0px -2px 0px 0px rgba(135,58,0,1), 0px 2px 0px 0px rgba(135,58,0,1);
                    box-shadow: -2px 0px 0px 0px rgba(135,58,0,1), 2px 0px 0px 0px rgba(135,58,0,1), 0px -2px 0px 0px rgba(135,58,0,1), 0px 2px 0px 0px rgba(135,58,0,1);
                
                    @include width500{
                        font-size:2rem;
                        padding:0px 20px; 
                    }

                }

            }

        }

        .step-keynum{
            padding-bottom:10px;

            span{
                padding-bottom:10px;
            }

            p span{
                color:$keyshort;
                font-size: 2.5rem;
                font-weight:900;
                animation: color 2s infinite 0s ease-in-out;

                @include width600{
                    display:block;
                }

                &:first-child{
                    padding-right:5px;

                    @include width600{
                        padding-right:0;
                    }
                }

                &:last-child{
                    padding-left:5px;

                    @include width600{
                        padding-left:0;
                    }
                }
            }
        }

    }

}

.lp-gamesicon{
    text-align:center;
    padding-bottom:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }
   
    span{
        padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.lp-compatibility{
    text-align:center;
    padding-bottom:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }

    span{
         padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.foot{
    margin-bottom:30px;

    p{
        font-size:.8rem;
        padding-bottom:10px;
        line-height:1.4;
    }

    ul{
        text-align:center;
    }

    ul li{
        display:inline-block;
        padding:0 5px;
        border-right:1px solid #fff;
        margin-bottom:5px;

        &:last-child{
            border:none;
        }

        a{
            font-size:.8rem;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}