@-webkit-keyframes color {
  0% {
    color: #fff700;
  }
  30% {
    color: #FF0000;
  }
  60% {
    color: #00FF2B;
  }
  100% {
    color: #fff700;
  }
}

@keyframes color {
  0% {
    color: #fff700;
  }
  30% {
    color: #FF0000;
  }
  60% {
    color: #00FF2B;
  }
  100% {
    color: #fff700;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

span, p, a {
  color: #fff;
  font-size: .9rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: url("../img/bg.jpg");
  background-size: cover;
}

.content-wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

@media screen and (min-width: 900px) {
  .content-wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .content-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

.grid-container {
  padding-bottom: 20px;
}

.grid-container .image-heading {
  padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .grid-container .image-heading {
    max-width: 600px;
    margin: 0 auto;
  }
}

.grid-container .final-step {
  text-align: center;
}

@media screen and (min-width: 500px) {
  .grid-container .final-step {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
}

@media screen and (min-width: 600px) {
  .grid-container .final-step {
    max-width: 500px;
    margin: 0 auto;
  }
}

.grid-container .final-step .final-grid .step-heading {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-heading span {
  display: block;
}

.grid-container .final-step .final-grid .step-button {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-button a {
  font-weight: 900;
  font-size: 1.5rem;
  background: #ff9900;
  /* FF3.6-15 */
  background: linear-gradient(135deg, #ff9900 0%, #f16800 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#f16800',GradientType=1 );
  padding: 10px 30px;
  display: inline-block;
  border-radius: 30px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -2px 0px 0px 0px #873a00, 2px 0px 0px 0px #873a00, 0px -2px 0px 0px #873a00, 0px 2px 0px 0px #873a00;
  box-shadow: -2px 0px 0px 0px #873a00, 2px 0px 0px 0px #873a00, 0px -2px 0px 0px #873a00, 0px 2px 0px 0px #873a00;
}

@media screen and (min-width: 500px) {
  .grid-container .final-step .final-grid .step-button a {
    font-size: 2rem;
    padding: 0px 20px;
  }
}

.grid-container .final-step .step-keynum {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum span {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum p span {
  color: #fff700;
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-animation: color 2s infinite 0s ease-in-out;
          animation: color 2s infinite 0s ease-in-out;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span {
    display: block;
  }
}

.grid-container .final-step .step-keynum p span:first-child {
  padding-right: 5px;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span:first-child {
    padding-right: 0;
  }
}

.grid-container .final-step .step-keynum p span:last-child {
  padding-left: 5px;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span:last-child {
    padding-left: 0;
  }
}

.lp-gamesicon {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .lp-gamesicon {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-gamesicon span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-gamesicon ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.lp-compatibility {
  text-align: center;
  padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .lp-compatibility {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-compatibility span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-compatibility ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.foot {
  margin-bottom: 30px;
}

.foot p {
  font-size: .8rem;
  padding-bottom: 10px;
  line-height: 1.4;
}

.foot ul {
  text-align: center;
}

.foot ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #fff;
  margin-bottom: 5px;
}

.foot ul li:last-child {
  border: none;
}

.foot ul li a {
  font-size: .8rem;
}

.foot ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */