<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Naughtybabe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../style/style.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Naughtybabe">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <main class="container tnc_section">
    <div class="abbrechen" onclick="location.replace('../abbrechen.php');">
      <div class="xicon">
        <span></span>
        <span></span>
      </div>
      <div class="canceltext">
        <span>abbrechen</span>
      </div>
    </div>

    <section class="main">
      <div class="logo">
        <img src="../assets/logo.png" alt="Naughtybabe">
      </div>
    </section>

    <h2>DATENSCHUZ</h2>
    <h3>1. Einführung</h3>
    <p>
      1. Mobitech Solution Company geht verantwortungsbewusst mit den Angaben des Nutzers um. Mobitech Solution Company
      wird
      sorgfältig diese Angaben schützen und bearbeiten.
    </p>



    <h3>2. Persönliche Angaben</h3>
    <p>
      2.1. Mobitech Solution Company kommt in den Besitz Ihrer Telefonnummer, wenn Sie den Dienst nutzen. Ihre
      Telefonnummer wird in Bezug auf <span>administrative Abwicklung von Zahlungen </span>gespeichert werden.
    </p>
    <p>
      2.2. In erster Linie verwendet Mobitech Solution Company Ihre persönlichen Angaben, um den Service anbieten zu
      können. Darüber hinaus nutzt Mobitech Solution Company Ihre Telefonnummer, um Sie von eigenen Produkten, ähnlichen
      Produkten und / oder Dienstleistungen von Mobitech Solution Company und / oder Dritten, wenn Sie Mobitech Solution
      Company gewähren dies zu tun, zu informieren. Mobitech Solution Company wird versuchen Ihre Wünsche zu
      berücksichtigen.
    </p>
    <p>
      2.3. Der Nutzer erklärt sich damit einverstanden, dass sämtliche von ihm an Anbieter zur Verfügung gestellten
      Daten erhoben, gespeichert, weiterverarbeitet und genutzt werden, soweit dies für die Durchführung des
      Vertragsverhältnisses notwendig ist.
    </p>




    <h3>3. Weitergabe an Dritte</h3>
    <p>
      3.1. Mobitech Solution Company wird Ihre persönlichen Angaben an Dritte ohne Ihre Zustimmung nicht verkaufen oder
      vermieten.
    </p>
    <p>
      3.2. Mobitech Solution Company kann Ihre Daten an Dritte übertragen, sofern a) es notwendig ist Ihnen den Service
      zu
      liefern b) es gesetzlich verpflichtet ist so zu tun c) im Falle von Streitigkeiten und Rechtsstreitigkeiten d) es
      notwendig ist seine eigenen Rechte zu schützen.
    </p>
    <p>
      3.3. Der Nutzer erklärt sich mit der Übermittlung von Daten an verbundene Unternehmen der Anbieter einverstanden,
      soweit die Zweckbestimmung der Daten gewahrt bleibt.
    </p>



    <h3>4. Dauer</h3>
    <p>
      4.1. Mobitech Solution Company speichert Ihre persönlichen Daten nicht länger, als es für die Realisierung der
      Zwecke, für die sie gefasst wurden, erforderlich ist. Mobitech Solution Company wird die Daten bewahren, um
      nachweisen zu können, dass eine Aktivierung vorhanden war.
    </p>


    <h3>5. Ihre Rechte</h3>
    <p>
      5.1. Mobitech Solution Company weist klar darauf hin, wie die persönlichen Angaben des Nutzers verarbeitet werden.
      Diese Datenschutzerklärung leistet den Beitrag dazu. Jedoch, falls Sie irgendwelche Fragen haben, wie Mobitech
      Solution Company mit Ihren persönlichen Angaben umgeht, können Sie eine E-Mail an <span>Input(s) here
        [ info@nrs-group.com ] </span>senden.
    </p>
    <p>
      5.2. Ebenfalls können Sie an die oben erwähnte E-Mail-Adresse eine Anfrage senden, falls Sie möchten, dass Ihre
      Daten gelöscht werden.
    </p>


    <h3>6. Änderungen</h3>
    <p>6.1. Diese Datenschutzerklärung wird zum Schutz Ihrer persönlichen Daten von Zeit zu Zeit aktualisiert. Mobitech
      Solution Company behält sich das Recht vor Änderungen an dieser Datenschutzerklärung zu machen. Sie sollten sich
      diese Datenschutzerklärung gelegentlich ansehen, um auf dem Laufenden darüber zu bleiben.
    </p>
    <p>
      6.3. Mit der Nutzung der Webseite und der Dienste erklären Sie sich mit den Bedingungen dieser
      Datenschutzerklärung zum Schutz persönlicher Daten einverstanden.
    </p>
    <br>
    <h4>Hinweis: Die Datenschutzerklärung erscheint ergänzend zu den Allgemeinen Geschäftsbedingungen.</h4>


  </main>
</body>

</html>