<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Naughtybabe</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../style/style.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Naughtybabe">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <main class="container tnc_section">
    <div class="abbrechen" onclick="location.replace('../abbrechen.php');">
      <div class="xicon">
        <span></span>
        <span></span>
      </div>
      <div class="canceltext">
        <span>abbrechen</span>
      </div>
    </div>

    <section class="main">
      <div class="logo">
        <img src="../assets/logo.png" alt="Naughtybabe">
      </div>
    </section>

    <h2>MOBITECH SOLUTION COMPANY</h2>
    <address>
      Unit No.6, 2nd Floor,<br>
      Block B, Spg82, Pg Haji Tajuddin Complex, Kg Delima Satu Serusop, <br>
      Jalan Muara<br>
      BB4713<br>
      Brunei Darussalam<br>
      Kontakt <i>Input(s) here </i><br>
      E-Mail: <i>Input(s) here </i><br>
      Telefon: <i>Input(s) here </i><br>
    </address>

  </main>
</body>

</html>