*{
    padding:0;
    border:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
img{
    max-width:100%;
}
ul{
    list-style: none;
}
body{
    background: #fff;
}
.lp-container{
    text-align: center;
}
.header-image{
    animation: slide 1.5s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.heading-text, .cta, .legal-lines, .check-box, .links{
    padding:10px 10px 10px;
    background: #fff;
}
.heading-text p{
    font-weight:600;
    font-size: .9rem;
}
.cta-btn{
    display: inline-block;
    color:#fff;
    background:linear-gradient(0deg, rgb(0, 18, 95), rgb(2, 69, 168));
    padding:15px 20px;
    border-radius:3px;
    font-size:1.1rem;
    box-shadow: 0px 0px 4px rgba(2, 69, 168, 0.3);
}
#checkBox{
    float:left;
    margin-right:5px;
    width:15px;
    height:15px;
}
.check-box-text{
    font-size:.8rem;
    text-align:justify;
}
.links li{
    display: inline-block;
    padding-right:5px;
    border-right: 2px solid #000;
}
.links li:last-child{
    border-right: none;
    padding-right:0px;
}
.links li a{
    display: block;
    font-size:.8rem;
    text-decoration: none;
    color:rgb(0, 18, 95);
    font-weight: 600;
}
.legal-lines p{
    font-size: .8rem;
    text-align: justify;
    line-height: 1.4;
}
@media only screen and (min-width:400px){
    .lp-container{
        width:400px;
        margin:0 auto;
    }
}
@keyframes slide{
    0%{transform: translateY(-180px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}

/* LINKS STYLEs */
.warunki, .informacje, .oswiadczenie{
    padding:10px;
}
.warunki h4, .informacje h4, .oswiadczenie h4{
    padding-bottom:10px;
    font-size: .9rem;
}
.warunki p, .warunki ul li, .informacje li, .oswiadczenie p{
    text-align: left;
    font-size:.8rem;
    line-height: 1.4;
}
.warunki p, .oswiadczenie p{
    padding-bottom:20px;
}
.warunki ul li, .informacje ul li, table{
    padding-bottom:10px;
}
.warunki ul{
    padding-left:20px;
}
.letters{
    padding-left:10px;
}
.informacje ul li a{
    font-size:.9rem;
    text-decoration: underline;
    color:rgb(0, 18, 95);
    font-weight: 700;
}
td{
    background: rgb(241, 241, 241);
    padding:10px;
    font-size:.8rem;
}
th{
    background:rgb(207, 207, 207);
    padding:10px;
    font-size:.8rem;
}
span{
    display: inline-block;
}