*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:#eee;
    /*background-size: cover;*/
}
img{
    max-width: 300px;
}
a{
    text-decoration: none;
}
/* index styles */
.container{
    min-width:320px;
    margin:0 auto;
}
.hd-img{
    text-align:center;
    padding:10px 10px 20px;
}
.hd-img h3{
    color:#EE3B86;
    font-weight:800;
}
.details{text-align:center;}
.details p{
    color:#000;
    font-size:.8rem;
}
.details p:first-child{
    margin-bottom:20px;
}
.details input{
    width:250px;
    height:30px;
    padding:5px;
    border-radius:5px;
    display:block;
    margin:0 auto;
    border:1px solid #EE3B86;
    font-size:1.3rem;
    font-weight: 600;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    color:#EE3B86;
    background:#F8F8F8;
}
.details a.btn{
    display:block;
    background:#12BABB;
    width:250px;
    padding:10px 5px;
    font-size:1.5rem;
    font-weight: 600;
    color:#eee;
    border-radius:3px;
    margin:10px auto 5px;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
.footer{
    margin-top:60px;
    padding:0px 10px;
}
.footer p{
    font-size:.8rem;
    color:#000;
    line-height:1.6;
}
@media only screen and (min-width:600px){
    .details p:first-child{
        font-size:.9rem;
    }
    .footer{
        max-width:600px;
        margin:60px auto 0;
    }
}
/* end index styles */

/* animation */
@keyframes scaleAnim{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}