*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-image: url(../assets/seamless\ pattern.png);
    background-position: center;
    background-repeat:repeat-x repeat-y;
    background-attachment: fixed;
}
img{
    max-width: 100%;
}
.lp-container{

}
.section{
    width:90%;
    margin:0 auto;
    text-align: center;
}
.lp-main{
    margin:0 auto;
    text-align: center;
}
.lp-main-content{
    background-color: #fff;
    width:49%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.517);
    transition: 0.3s;
    border-radius:4px;
    margin-bottom: 1rem;
    padding:0.9rem;
    height: 100%;
}
.lp-text{
    overflow: hidden;
    margin: 0.1rem 0rem 0.5rem 0rem;
}
.text-two{
    margin-top:1rem;
}
.button img{
    max-width: 100%;
}
.animated span{
    text-transform:uppercase;
    color: #D81E19;
    font-size: calc(54px + 1vw);
    font-weight: 900;
}
.animated {
	animation: animated 2s infinite;
	-webkit-animation: animated 2s infinite;
	-moz-animation: animated 2s infinite;
    -o-animation: animated 2s infinite;
    margin-top: 0vh;
}
@-webkit-keyframes animated {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes animated {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes animated {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes animated {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.icons img{
    width: 15%;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.lp-footer{
    width: 49%;
    font-size: 11px;
    margin:0 auto;
    text-align: center;
    color: rgb(78, 72, 72);
    margin-bottom: 1rem;
}
.lp-footer p{
    margin-bottom: 1rem;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(78, 72, 72);
    font-size: 11px;
}

@media only screen and (min-width:601px) and (max-width:920px) {
    .lp-main-content{
        width:80%;
    }
    .lp-footer{
        width:80%;
    }
}

@media only screen and (max-width:600px){
    .lp-main-content{
        width:100%;
    }
    .lp-footer{
        width:100%;
    }
}
@media only screen and (max-width:480px){
    .animated span{
        font-size: calc(37px + 1vw);
    }
}
@media only screen and (min-width:1600px){
    img{
        width: 50%;
    }
}