*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background:url('image/bg.jpg') no-repeat top center, #fff;
}
.lp-container{
	padding:20px 10px 20px;
	margin:30px auto 0; 
	text-align:center;
}

.title span{
    display: inline-block;
    position: relative;
    top:6px;
    font-size:3rem;
    transform-origin: center;
    transform: rotate(20deg) scale(.1);
    animation: scale 2s linear infinite;
}

@keyframes scale{
    0%{transform: rotate(20deg) scale(.5);}
    50%{transform: rotate(20deg) scale(1);}
    100%{transform: rotate(20deg) scale(.5);}
}

.title h3{
    font-size:2rem;
    display: inline;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.details{
	margin:80px 0px 40px;
    padding:30px;
	text-align: center;
    background:rgba(218, 14, 248, .3);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.details a{
    display: inline-block;
    padding:20px 80px;
    background:#6000ff;
    font-size:1.2rem;
    font-weight:700;
    text-decoration: none;
    position: relative;
    margin:15px 0;
    border-radius: 5px;
}

.details p{
    font-size:.95rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.7);
}

.details2{
    position: absolute;
    bottom:0;
    left:0;
    background:rgba(218, 14, 248, .3);
    backdrop-filter: blur(10px);
    width:100%;
    padding:10px 0;
    text-align:center;
}

.details2 img{
    width:30%;
}

@media only screen and (min-width:500px){
	.lp-container{
		width:500px;
	}

	.details input{
		width:60%;
	}

	.details button{
		width:60%;
	}

    .details2 img{
        width:15%;
    }
}
