*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#2DA4D8;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%; display: flex;margin: 0 auto;}
.lp-header{
    padding:10px 0;
    background-color:#BDFC9E;
    text-align: center;
}
.lp-header p{
    color:#000;
    font-size:.9rem;
}
.lp-container{
    max-width: 900px;
    margin:0 auto;
    padding-bottom: 20px;
}
.lp-img-container{
    position: relative;
}
.lp-details{
    padding:20px 10px;
    text-align: center;
}

.lp-details p{
    font-size:.9rem;
}

.lp-details p:nth-child(1){
    margin-bottom:15px;
}

.lp-details p:nth-child(3){
    margin-bottom:25px;
}

.lp-details a{
    display: inline-block;
    background-color:#FFE600;
    padding:10px 40px;
    font-size:1.5rem;
    color:#000;
    font-weight: 700;
    border-radius:50px;
    box-shadow:0px 4px 0px #0A93BE;
}

.lp-details a:hover{
    transform: rotate(0deg);
}

.lp-details p:nth-child(3){
    margin-top:25px;
    margin-bottom: 25px;
}

.lp-details p:nth-child(4) span{
    color:#FFE600;
    font-weight: 700;
    font-size:2.5rem;
    margin:0 10px;
}

.lp-tnc{
    margin:100px auto 0;
    padding:0 10px;
}

.tnc{
    margin-top: 30px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-top:20px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#fff;
}

.tnc ul li a:hover{
    color:#000;
}

.sms{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen  and (max-width: 600px){
    .lp-tnc{
        margin:0;
    }
}