*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width:100%;
}
body{
	background: url('../img/bodyfit_background.png') no-repeat top left fixed;
	background-size: cover;
}

header{
	background:#fff;
	border-bottom:solid 2px #FF7133;
	margin-bottom:30px;
	text-align: center;
}

/****************  Container  ****************/
.divContainer{
	display: grid;
	grid-template-columns: 1fr 60px;
	margin:0 10px 50px;
	grid-template-areas: "main nav";
}

.navContainer{
	grid-area: nav;
}

.mainContent{
	grid-area: main;
	background:#40F2FF;
}

/****************  End Container  ****************/

/****************  Navigation Container  ****************/

ul.links{
	background:rgba(255,255,255,.9);
	height:100%;
}

ul.links li{
	margin-bottom:10px;
}
/****************  End Navigation Container  ****************/

/****************  Tab Links  ****************/
.tabLinks{
	padding:10px 0px 20px 20px;
}
.tabNav{
	width:100%;
}
.tabNav li{
	float:left;
}
.tabNav a{
	display: block;
	padding:5px;
	border:1px solid #000;
	color:#000;
	font-size:.75rem;
	transition:background 1.5s cubic-bezier(0, 0, 0, 1.08) .1s;
}
ul#tabs li a.selected{
	color:#fff;
	background:#000;
}
/****************  End Tab Links  ****************/

/****************  Tab Content  ****************/
.tabcontentContainer{
	clear:both;
	height:100vh;
	overflow: scroll;
	padding:10px 10px;
} 
.tabContent article, .article{
	display: grid;
	grid-template-columns: .4fr .6fr;
	grid-template-areas: "thumbimage thumbname"
						"thumbimage thumbdl ";
	margin-bottom:10px;
	grid-gap:2px 10px;
	padding:5px;
}
.tabContent article:last-child{
	margin-bottom: 0;
}
.tabContent.hide{
	display:none;
}
.thumbImage{
	grid-area: thumbimage;
	/* border:1px solid #FF7133; 
	border-radius:3px; */
	align-self:center;
}
.thumbName{
	padding-top:5px;
	grid-area: thumbname;
}
.thumbName .title{
	font-size:.7rem;
	display: block;
	padding-bottom:5px;
	color:#000;
}
.thumbDL{
	grid-area: thumbdl;
	height:25px;
}
.thumbDL .btn{
	color:#FF7133;
	display: inline-block;
	vertical-align: middle;
	padding-left:2px;
	font-size:.8rem;
	font-weight:600;
}
.thumbDL img{
	width:25px;
	height:25px;
	vertical-align: middle;
}

/****************  End Tab Content  ****************/

/****************  Preview  ****************/
.prevContainer{
	background:#40F2FF;
	padding:10px;
	margin:0 10px 50px;
}
.prevClose a{
	float:right;
	background:#000;
	padding:5px;
	color: #fff;
	font-size:.8rem;
	margin-bottom:10px;
}
.dlSection{
	padding:10px;
	clear:right;
}
.dlImage{
	text-align:center;
}

.dlImage, .dlName, .dlDescrip, .dlWrapper{
	padding-bottom:10px;
}
.dlName p{
	color:#000;
	font-size:.9rem;
	text-align: center;
}
.dlDescrip p{
	font-size: .8rem;
	text-align: justify;
}
.dlWrapper{
	text-align: center;
}
.dlDownload{
	display: inline-block;
	padding:10px 20px;
	background:#FF7133;
}
.dlDownload a, .dlDownload img{
	vertical-align: middle;
}
.dlDownload a{
	color:#fff;
	padding-left:10px;
	font-size:1rem;
	font-weight:600;
	border-radius:5px;
}
.apkContainer{
	display:grid;
	grid-template-columns: .4fr .6fr;
	grid-gap:5px;
	padding-bottom:20px;
}
.apkContainer .apkName .dlName p{
	text-align:left;
}
.apkContainer .apkName .dlDownload{
	padding:10px 10px;
}
/****************  End Preview  ****************/

/****************  Modal Styles  ****************/

.tipsCnt{
	background:rgba(0,0,0,.7);
	width:100%;
	height:100%;
	display: none;
	position:fixed;
	z-index: 1;
	left:0;
	top:0;
}
.modalContent{
	background:#40F2FF;
	padding:10px;
	margin: 20px;
	height:100vh;
	overflow: scroll;
}
.tipHeader{
	padding:10px;
}
.modalClose span{
	 float:right;
	 background:#000;
	 padding:5px;
	 color: #fff;
	 font-size:.8rem;
	 margin-bottom:10px;
}
.popImage{
	text-align: center;
}
.popName{
	padding:10px 0;
}
.popName p{
	font-size: .9rem;
}
.popContent p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
}

/****************  End Modal Styles  ****************/

/****************  Media Queries  ****************/

@media screen and (min-width:440px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
	.tabLinks{
		padding:10px 20px 20px 0px;
		float: right;
	}
}

@media screen and (min-width:780px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.prevTitle, .dlSection, .modalContent, .prevClose, .prevContainer{
		max-width: 500px;
		margin:0 auto;
	}
	.thumbName{
		padding-top:20px;
	}
}
@media screen and (min-width:1200px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
	}
	.mainContainer{
		max-width: 1200px;
		margin:0 auto;
	}
	ul.links{
		height:100%;
	}
	
	.tabcontentContainer{
		height:auto;
		overflow: initial;
	} 
	.modalContent{
		height:auto;
		overflow: initial;
	}
}

/****************  End Media Queries  ****************/