@charset "utf-8";
/* CSS Document */

*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{max-width:100%;}
body{
    background: url('../img/background.png') center right no-repeat,#E6F2F2;
    background-size: cover;
    text-align:center;
}
.mainContainer{
    padding:20px 10px 0px;
}
.title, .image, .button{padding-bottom:20px;}
h4{
    color:#000;
    font-size: 1.2rem;
}
.btn{
    border-radius:10px;
    display:inline-block;
    position: relative;
    top:0px;
    padding:15px 40px;
    font-size: 1.3rem;
    font-weight:600;
    animation: dropdown .8s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.disabled{
    background:linear-gradient(20deg, rgba(40,242,249,.5), rgba(9,115,255,.5));
    color: rgba(255, 255, 255, 0.49);
}
.enabled{
    text-shadow:1px 1px 3px rgba(0,0,0,0.4);
    background:linear-gradient(110deg, rgba(40,242,249,1), rgba(9,115,255,1));
    box-shadow: 2px 2px 6px rgba(40,242,249,.38);
    color:#fff;
    transition:all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
p{
    font-size:1rem;
    line-height:1.6;
    padding-bottom:15px;
}
span{
    font-weight:600;
    color:#4E02D1;
}
.checkBOX input{
    /* float:left; */
    display: inline;
    opacity: 0;
}
.checkBOX label{
    padding-left:7px;
    color:#000;
    font-size:1rem;
    line-height:1.4;
    position: relative;
}
.checkBOX label::before,.checkBOX label::after{
    position:absolute;
}
.checkBOX label::before{
    top:-1px;
    left:-14px;
}
.checkBOX label::after {
    left:-11px;
    top: 2px;
}
.checkBOX label::before{
    content: "";
    display: inline-block;
    border:1px solid #4E02D1;
    height:15px;
    width:15px;
    border-radius:2px;
    background:#fff;
}
.checkBOX label::after{
    content:"";
    display: inline-block;
    height:5px;
    width:8px;
    border-left:3px solid #4E02D1;
    border-bottom:3px solid #4E02D1;
    transform: rotate(-45deg);
}
.checkBOX input[type="checkbox"] + label::after{
    content:none;
}
.checkBOX input[type="checkbox"]:checked + label::after{
    content:"";
}                       
.checkBOX input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
#TNC{
    font-size:1rem;
    line-height:1.4;
    cursor: pointer;
}
.wrapper{
    text-align:center;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
    display:none;
}
.termsContainer{
    background:#fff;
    position:relative;
    padding:10px 20px 30px;
    top:0px;
    left:0px;
    margin:15% 10%;
    border-radius:10px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.close{
    font-size:2rem;
    font-weight:600;
    text-decoration:none;
    border-radius:50px;
    position:absolute;
    padding:3px 12px;
    color:#fff;
    border:5px solid #fff;
    background:#2E3190;
    top:-18px;
    right:-18px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.terms{
    margin-top:20px;
}
.terms h4{
    margin-bottom:10px;
}
.terms p{
    font-size:.8rem;
    text-align:justify;
    line-height:1.6;
}
.terms span{
    color:#2E3190;
}
/* Animations */
.animateZomein{
    animation: zomeIN .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.animateZomeout{
    animation: zomeOUT .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
@keyframes zomeIN{
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
} 
@keyframes zomeOUT{
    0%{transform: scale(1,1);}
    100%{transform: scale(0,0);}
}
@keyframes heightExpand{
    0%{height:0%;}
    100%{height:100%;}
}
@keyframes dropdown{
    0%{top:-999px}
    100%{top:0px;}
}

@media only screen and (min-width:500px){
    .mainContainer{
        margin:0 auto;
        max-width: 500px;
    }
}
 