@-webkit-keyframes trans {
  0% {
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
  50% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
  100% {
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
}

@keyframes trans {
  0% {
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
  50% {
    -webkit-transform: rotate(365deg);
            transform: rotate(365deg);
  }
  100% {
    -webkit-transform: rotate(357deg);
            transform: rotate(357deg);
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, span, a, li {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  width: 100%;
  background: #510671;
}

.lp-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 800px) {
  .lp-container {
    max-width: 800px;
  }
}

.header-wrapper {
  background: #510671;
}

.header-wrapper .header-container {
  padding-left: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-column-gap: 20px;
}

.header-wrapper span {
  font-size: 1.1rem;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-wrapper ul {
  text-align: center;
  border: 1px solid white;
}

.header-wrapper ul li {
  color: white;
  padding: 5px;
  font-size: .9rem;
}

.header-wrapper ul li:nth-child(2) {
  color: black;
  background: white;
}

.slider-overlay-left {
  background: -webkit-gradient(linear, left top, right top, from(#510671), to(rgba(81, 6, 113, 0)));
  background: linear-gradient(to right, #510671 0%, rgba(81, 6, 113, 0) 100%);
  position: absolute;
  top: 79px;
  left: 0;
  height: 100%;
  width: 50px;
  z-index: -1;
}

.slider-overlay-right {
  background: -webkit-gradient(linear, right top, left top, from(#510671), to(rgba(81, 6, 113, 0)));
  background: linear-gradient(to left, #510671 0%, rgba(81, 6, 113, 0) 100%);
  position: absolute;
  top: 79px;
  right: 0;
  height: 100%;
  width: 50px;
  z-index: -1;
}

.swiper-container {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 79px;
}

.image1 {
  background: url(../img/image-1.jpg) no-repeat top;
}

.image2 {
  background: url(../img/image-2.jpg) no-repeat top;
}

.image3 {
  background: url(../img/image-3.jpg) no-repeat top;
}

.details-wrapper {
  padding: 20px 10px 0px;
  width: 100%;
  margin: 0 auto;
}

.details-wrapper .details-container {
  background: linear-gradient(45deg, rgba(11, 4, 196, 0.8) 0%, rgba(191, 0, 197, 0.8) 100%);
  padding: 10px 10px 20px;
  border-radius: 5px;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .details-wrapper .details-container {
    max-width: 430px;
    margin: 0 auto;
  }
}

.details-wrapper .btn {
  background: none;
  cursor: pointer;
  -webkit-transform: rotate(357deg);
          transform: rotate(357deg);
}

.details-wrapper .btn img {
  -webkit-animation: trans 2s ease-in-out 0s infinite;
          animation: trans 2s ease-in-out 0s infinite;
}

.details-wrapper span {
  color: white;
  font-size: 1rem;
  padding-top: 5px;
}

.details-wrapper .footer {
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  text-align: center;
}

.details-wrapper .footer p {
  text-align: justify;
  line-height: 1.3;
}

.details-wrapper .footer p, .details-wrapper .footer a {
  color: white;
  font-size: .9rem;
}

.details-wrapper .footer ul {
  padding-top: 10px;
}

.details-wrapper .footer li {
  padding: 2px 5px;
  display: inline-block;
  border-right: 1px solid white;
  margin-bottom: 5px;
}

.details-wrapper .footer li:last-child {
  border-right: none;
}

.details-wrapper .footer a {
  text-decoration: none;
}

.details-wrapper .footer a:hover {
  color: #dc0000;
}
/*# sourceMappingURL=style.css.map */