//Colors
$purple:rgb(81,6,113);
$gradient:linear-gradient(45deg, rgba(11,4,196,0.8) 0%,rgba(191,0,197,0.8) 100%);
$gradientBorderleft:linear-gradient(to right, rgba(81,6,113,1) 0%,rgba(81,6,113,0) 100%);
$gradientBorderright:linear-gradient(to left, rgba(81,6,113,1) 0%,rgba(81,6,113,0) 100%);

//Font
$arial:Arial, Helvetica, sans-serif;

//Media Queries
@mixin width450{
    @media screen and (min-width:450px){
        @content;
    }
}

@mixin width800{
    @media screen and (min-width:800px){
        @content;
    }
}

//Animation
@keyframes trans{
    0%{transform:rotate(357deg);}
    50%{transform:rotate(365deg);}
    100%{transform:rotate(357deg);}
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

p,span,a,li{
    font-family:$arial;
}

img{
    max-width: 100%;
}

ul{
    list-style: none;
}

body{
    width:100%;
    background:$purple;
}

.lp-container{
    width: 100%;
    margin: 0 auto;
    position: relative;

    @include width800{
        max-width:800px;
    }
}

.header-wrapper{
    background:$purple;

    .header-container{
        padding-left:10px;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-column-gap: 20px;
    }

    span{
        font-size:1.1rem;
        color:rgb(255,255,255);
        align-self: center;
    }
    
    ul{
        text-align:center;
        border:1px solid rgb(255,255,255);

        li{
            color:rgb(255,255,255);
            padding:5px;
            font-size:.9rem;

            &:nth-child(2){
                color:rgb(0,0,0);
                background: rgb(255,255,255);
            }
        }
    }
}

    
.slider-overlay-left{
    background: $gradientBorderleft;
    position: absolute;
    top:79px; left:0;
    height:100%;
    width: 50px;
    z-index:-1;
}

.slider-overlay-right{
    background: $gradientBorderright;
    position: absolute;
    top:79px; right:0;
    height:100%;
    width: 50px;
    z-index:-1;
}
.swiper-container{
    width:100%;
    height:100%;
    z-index:-2;
    position: absolute;
    top:79px;
}
.image1{
    background:url(../img/image-1.jpg) no-repeat top;
}
.image2{
    background:url(../img/image-2.jpg) no-repeat top;
}
.image3{
    background:url(../img/image-3.jpg) no-repeat top;
}

.details-wrapper{
    padding:20px 10px 0px;
    width:100%;
    margin:0 auto;

    .details-container{
        background:$gradient;
        padding:10px 10px 20px;
        border-radius:5px;
        text-align: center;

        @include width450{
            max-width:430px;
            margin: 0 auto;
        }
    }

    .btn{
        background: none;
        cursor: pointer;
        transform:rotate(357deg);
        
        img{
            animation: trans 2s ease-in-out 0s infinite;
        }
    }

    span{
        color:rgb(255,255,255);
        font-size:1rem;
        padding-top:5px;
    }

    .footer{
        background:rgba(0,0,0,.6);
        padding:10px;
        margin-top:20px;
        border-radius:5px;
        text-align: center;

        p{
            text-align: justify;
            line-height: 1.3;
        }

        p,a{
            color:rgb(255,255,255);
            font-size:.9rem;
        }

        ul{
            padding-top:10px;
        }

        li{
            padding:2px 5px;
            display: inline-block;
            border-right:1px solid rgb(255,255,255);
            margin-bottom:5px;

            &:last-child{
                border-right:none;
            }
        }
        
        a{
            text-decoration:none;

            &:hover{
                color:rgb(220,0,0);
            }
        }
    }

}