*{
    padding: 0;
    margin: 0;
}
*::before,*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}
body{
    background:linear-gradient(to bottom, rgba(22, 10, 57, 0.6), rgb(22, 10, 57)),url(./assets/background.jpg);
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: repeat;
    background-attachment: fixed;   
    background-position: center center;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
h1,h2,h3{
    font-weight: 600;
}
span{
    vertical-align: middle;
    font-size: 5rem;
    color: #EA00FF;
    font-weight: 800;
    text-transform: uppercase;
}
small{
    margin:0rem 2rem;
    font-size: 2rem;
    vertical-align: middle;
}
p{
    line-height: 1.6;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
.container{
    margin: 0rem 1rem;
}
.main{
    max-width: 60rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.bottom{
    background:linear-gradient(to bottom, rgba(22, 10, 57, 0.8), rgb(22, 10, 57));
    padding:2rem;
}
.bottom-main_item{
    margin-top: .8rem;
    margin-bottom: .8rem;
}
.bottom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: -1.5rem auto 1rem auto;
}
@media screen and (max-width:350px){
    span{
        font-size: 4rem;
    }
}