@charset "utf-8";
/* CSS Document */

html{
	background-color: #000;
	z-index: -1;
	height: 100%;

}
body
{
min-height: 100%;

	z-index: 100;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:center;
	/*background-color: rgba(0,0,0,0.1);*/
	/*background-color: black;*/
/*	background-color: transparent;*/
	background: url("../../img/1.gif") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	/*background-color: #000;*/
	/*background-repeat: no-repeat;*/

	/*background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/

}/*' maroon !important;' #611BBD,  black*/

a{
	position: unset;
	z-index:99;
}


.container1 {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 80vw;
	margin: 0 auto;
	min-height: 100vh;
  }

  .btn2 {
  	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	flex-wrap: wrap;
	width: 50vw;
	min-height: 5vh;
	margin: auto;
	padding: 8px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
   /*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	box-shadow: 0 0 20px #eee;
	border-radius: 40px;
	font-size: 20px;
	font-weight: bolder;
  		text-decoration: none!important;
	color:white!important;
   }
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  /*.btn:hover {
	background-position: right center; 
  }*/

   .btn3 {
	background-position: right center; 
  }


  .btn-1 {
	background-image: linear-gradient(to right, #e93099 0%, #e590a0 51%, #e93099 100%);
/*F37189*/
  }

img#xbutton{
	height:46px;
	width: 46px;
	border-radius: 25px;

}

#lp5img1
{
	/*background-image:url(../../img/girl.png);
	background-repeat:no-repeat;
	width:320px;
	height:273px;
	margin:auto;
	margin-top: 15px;
	text-align:right;*/

		background-position-y:10px; 
	background-repeat:no-repeat;
	/*width:320px;
	height:273px;
	margin:auto;*/

	text-align:center;
	color: white;

	padding-top: 10px;

	font-size: 14px;
}

#topnav
{
	background-color:#000;
	/*background-color:rgb(220,20,60);*/
}
#topnav-in{
	background-image:url(../img/lips.png);
	height: 10px;
}

#text1
{
	padding:5px;
	color:#F00;
	font-weight:bold;
}

#code{
	margin-top: 60px;
}

#text2
{
	padding:3px;
	color: white;
	font-size:18px;
}

#form
{
	width:300px;
	margin:auto;
}

#form form
{
	padding:0px;
	margin:0px;
}

#select select
{
	width:200px;
	height:30px;
	padding:4px;
	border:1px solid #DD6F00;
	font-size: 12px;
	line-height: 1;
	border-radius: 1;
}

#select
{
	width:200px;
	margin-left:50px;
}

#arrow
{
	width:40px;
	float:left;
}

#submitBtn
{
	background-image:url(../img/btnsub.jpg);
	width:200px;
	height:40px;
	border:0px;
	cursor:pointer;
	margin-top:5px;
}
#form-control input-lg
{
	float:left;
}

.container{
	padding-right: 0;
	padding-left: 0;
}
.round{
	border-radius: 24px;
}

#wrap{
	/*background-image: url(../img/bg2.jpg);*/
	
	background-attachment: fixed;

}
#wrapper{
	overflow: auto;
	margin-top:220px;
	padding-top: 15px;
}

.row{
	margin: 0;
}

#desc{

	text-align:center;
	margin-top:10px;
	color:black;
}

#textdesc{
	/*background-color: rgba(220,20,60);*/
	color:black;
	margin-top: 15px;
}

#footer a{
	position:unset;
	color: white!important;
}

#footer{
	margin-top: 150px!important;
}


#tnc{
	background-color: white;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

.p1{
	font-weight: bold;
}

.p2{
	text-align: justify;
}

p span 
{
	display: block;
	font-size: 14px;
}

p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

#textP{
	/*color: #FF1177!important;*/
	color: #e93099!important;
	font-size: 5em;
	/*font-weight: 800;*/
	font-weight: bold;
	/*text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	/*box-shadow: 0 0 20px #eee;*/
  }

.glow {
        -webkit-animation-duration: 0.4s;
        -webkit-animation-name: glow;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 0.4s;
        animation-name: glow;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    
    }

     @-webkit-keyframes glow {
        from { text-shadow: 0 0 0 black, 0 0 5px white, 0 0 0 white; }
        to { text-shadow: 0 0 0 black, 0 0 25px white, 0 0 0 white; }
    }

  .confirm_selection {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.confirm_selection:hover,
.confirm_selection.glow {
    text-shadow: 0 0 10px red;
}

@media only screen and (min-width:500px){
	body{
		background: url("../../img/1.gif") no-repeat center top fixed;
	}
} 

@media only screen and (min-width:701px){

	.btn2 {
		
		font-size: 30px;
		width: 300px;
		font-weight: bold;
		border-radius: 25px;
		padding: 20px;
	 }
	 #textP{
	 	font-size:60px;
	 }
	 .glow, div:nth-child(3) {
	 	display:inline-block;
	 }
	 #code{
		margin-top: 90px;
	}
} 

@media only screen and (min-width:992px){
	.glow, div:nth-child(3) {
	 	display:block;
	 }
	.row{
		/*float: left;*/
		margin-top: -10px;
			}
	.btn2 {
		
		font-size: 40px;
		width: 250px;
		font-weight: bolder;
		border-radius: 40px;
	 }
	 #code{
	 	margin-top: 10px;
	 }
	 #textP{
	 	font-size:80px;
	 }
	 #text2{
	 	font-size:25px;
	 }
	 #klikni{
	 	margin-top: 130px;
	 }
	 #footer{
	margin-top: 50px!important;
	}
	#lp5img1{
		padding-top: 40px;
	}

} 