.adCntnr .acco2 .expand, .adCntnr .acco2 .openAd {
	font-family:'Open Sans', sans-serif;
	/*background-color:#edb600;
	color:#FFFFFF;
	*/
	background-color:#000000;
	color:#edb600;
	padding:10px;
	font-size:18px;
	}
.adCntnr .acco2 .expand a{
	background:url(icon/plus.png) no-repeat 0 4px;
	background-position:right;
	padding-right:25px;
	text-decoration:none;
	}
.adCntnr .acco2 .openAd a{
	background:url(icon/minus.png) no-repeat 0 4px ;
	background-position:right;
	padding-right::25px;
	/*color:#333 !important;*/
	color:#edb600 !important;
	text-decoration:none;
	}
 .adCntnr .acco2 .expand a{
	/*color:#FFF;*/
	color:#edb600;
	}
	
.adCntnr  .accCntnt {	
	padding:10px;
	background:#FFFFFF;
	/*background:#000000;*/
	font-weight:normal;	
	}

.cssmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: bold;
  background: #353535;
 /* font-family: Arial, Helvetica, sans-serif;*/
 font-family:'Open Sans', sans-serif;
  border-bottom: 1px solid #353535;
  zoom: 1;
}
.cssmenu ul:before {
  content: '';
  display: block;
}
.cssmenu ul:after {
  content: '';
  display: table;
  clear: both;

}
.cssmenu li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 4px;
}
.cssmenu li a {
  display: block;
  float: left;
 /*color: #999999;*/
 color: #FFFFFF;
  text-decoration: none;
  font-weight: bold;
  /*padding: 10px 20px 7px 20px;*/
  border-bottom: 3px solid transparent;
}
.cssmenu li a:hover {
  color: #ff0000;
  background-color:#000000;
  /*border-bottom: 3px solid #00b8fd;*/
}
.cssmenu li.active a {
  display: inline;
  color: #ff0000;
 /* border-bottom: 3px solid #00b8fd;*/
  float: left;
  margin: 0;
}
