*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
#message{
	color: #000;
}
img{
    max-width:100%;
}
body{
	height: 100%;
	background-color: #2d2d2d;
}
.lp-container{
	margin:0 auto;
	text-align:center;
}
.details{
	color: #fff;
	padding:15px 10px;
	margin:-5px 0px 40px;
}
.details h4{
	font-size:1.1rem;
	padding-bottom: 10px;
	color: #ff0867;
}

.details input, .details p{
	margin-bottom:10px;
	color:#000;
}
.details input{
	padding:7px 20px;
	border-radius:5px;
	text-align:center;
	font-size:1rem;
	font-weight:700;
	width: 350px;
	padding: 15px;
	color:#ff0867;
}
.details p{
	font-size:.9rem;
	color: #fff;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#ff0867;
}
.details button{
	padding:10px 55px;
	border-radius:10px;
	font-weight:700;
	font-size:1.3rem;
	background:#ff2e00;
	color:#fff;
	cursor:pointer;
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#fff;
	font-weight:700;
}
@media only screen and (min-width:400px){
	.lp-container{
		width:400px;
	}
}
