*{
    padding: 0;
    margin: 0;
}
*::before,*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}
body{
    background:url(./assets/bg.png);
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center center;
    background-size: 100% 100%;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
span{
    vertical-align: middle;
    font-size: 5rem;
    color: #f4b400;
    font-weight: 800;
    text-transform: uppercase;
}
small{
    margin:0rem 2rem;
    font-size: 2rem;
    vertical-align: middle;
}
p{
    line-height: 1.6;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
}
img{
    width:67rem;
    height: auto;
}
@media only screen and (max-width:720px){
    img{
        max-width: 100% !important;
    }
}

.container{
    margin: 0rem 1rem;
}
.main{
    max-width: 69rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.top{
    margin:2rem 2rem 1rem 2rem;
}
.bottom{
    background: url(./assets/pattern.jpg) repeat; 
    background-position: center center;
    margin: 1rem 2rem 2rem 2rem;
    padding:0 5rem;


}
.bottom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem auto;
}
.bottom-main_item{
    margin-top: .8rem;
    margin-bottom: .8rem;
}   
.bottom-main_item .btn{
    width: 27rem !important;
}   
.bottom-main_item img{
    width: 8rem !important;
}
@media only screen and (max-width:590px){
    .bottom-main_item img{
        width: 7rem !important;
    }
}
@media only screen and (max-width:523px){
    .bottom-main_item img{
        width: 6rem !important;
    }
}
@media only screen and (max-width:350px){
    .bottom-main_item img{
        width: 5rem !important;
    }
}
@media screen and (max-width:350px){
    span{
        font-size: 4rem;
    }
}