@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Mitr:300,500,700');


*{
	margin:0;
	padding:0;
	border:0;
}
ul{
    list-style: none;
    text-align: center;
}
img{
    max-width:100%;
}
body{
	background: #003c58; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #003c58 0%, #011722 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #003c58 0%,#011722 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #003c58 0%,#011722 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003c58', endColorstr='#011722',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.upper-wrapper{
    min-width: 320px;
    margin:0 auto;
    border:1px solid transparent;
}
.image-container{
    position:relative;
}
.image-wrapper img{
    position: absolute;
    top: -20px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: -1000;
}
.keyword-container{
    text-align: center;
    margin-top:60%;
}
.keyword-container h3{
    font-family: 'Mitr', sans-serif;
    letter-spacing: 1px;
    color:#8bf273;
    font-weight: 700;
    font-size:2rem;
    text-shadow:
   -2px -2px 0 #011722,  
    2px -2px 0 #011722,
    -2px 2px 0 #011722,
     2px 2px 0 #011722;
}
.keyword-container h4{
    font-family: 'Mitr', sans-serif;
     letter-spacing: 1px;
    font-weight: 500;
    color:#fff;
    font-size:1.20rem;
    padding-bottom:20px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.keyword-container p{
   font-family: 'Mitr', sans-serif;
    font-weight: 300;
    color:#fff;
    font-size:1.1rem;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.keyword-container p > span{
    font-family: 'Mitr', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
    color:#8bf273;
    font-size:2.5rem;
    text-shadow:
   -2px -2px 0 #011722,  
    2px -2px 0 #011722,
    -2px 2px 0 #011722,
     2px 2px 0 #011722;
}
.keyword-container button{
    background: none;
    margin-top:20px;
    margin-bottom:5px;
    cursor: pointer;
    margin-bottom: 20px;
}
.lower-wrapper{
    min-width:320px;
    padding:20px 10px;
}
.lower-wrapper p{
   font-family: 'Mitr', sans-serif;
    font-weight: 300;
    color:#fff;
    font-size:.9rem;
    text-align: justify;
}
.footer{
    min-width:320px;
    padding:10px 20px;
}
.footer ul li{
    display:inline-block;
    padding:0 5px;
}
.footer ul li a{
    text-decoration: none;
    font-family: 'Mitr', sans-serif;
    font-weight: 300;
    font-size:.9rem;
    color:#fff;
}
.footer ul li a:hover{
    color:#8bf273;
}
@media screen and (min-width:500px){
   .keyword-container{
        margin-top:45%;
    } 
}
@media screen and (min-width:600px){
   .keyword-container{
        margin-top:45%;
    } 
}
@media screen and (min-width: 800px){
    .upper-wrapper{
        min-width: 600px;
        display: grid;
        grid-template-areas:"key image"; 
    }
    .image-container{
        grid-area: image;
    }
    .image-wrapper img{
        position: relative;
        top: 0; 
        left: -20px;
        transform: translateX(0%);
        z-index:0;
    }
    .keyword-container{
        grid-area:key;
        margin-top:0;
        justify-self:end;
    }
    .lower-wrapper{
        min-width:600px;
        margin:0 auto;
        padding:20px 30px;
    }
}

.spinner{
    width: 80px;
    height: 80px;
    
    border: 4px solid #003c58;
    border-top:5px solid #8bf273;
    border-radius: 100%;
    
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 2s infinite linear;
}
.lightning{
    width: 70px;
    height: 70px;
    background:url('../../img/lighning.png') no-repeat;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

.hideD{
    display:none;
}

#overlay{
      height:100%;
      width:100%;
      background:#011722;
      position:fixed;
      left:0;
      top:0;
      z-index: 1000;
 }

 #overlay h3{
    color:#8bf273;
    font-family: 'Mitr', sans-serif;
    font-size:1rem;
    letter-spacing:1px; 
    font-weight: 500;
    position: absolute;
    text-align: center;
    top:25%;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
 }