@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:900|Ubuntu:400,700');

*{
	margin:0;
	padding:0;
	border:0;
}
ul{
	list-style: none;
}
a{
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
	text-decoration:none;
}
img{
	max-width:100%;
}
body{
	background:url(../../img/fortnite-header.png) center top no-repeat, #fff;
}
span, p{
	color:#000;
	font-family:'Ubuntu', sans-serif;
	font-weight:400;
}
.lp-container{
	min-width:320px;
	padding:0 10px;
	margin:0 auto;
	text-align:center;
}
.lp-header{
	margin-top:10px;
	padding:0 20px;
}
.lp-details{
	background:rgba(255,255,255,.56);
	-webkit-box-shadow: 0px -9px 15px -3px rgba(0,0,0,0.32);
	-moz-box-shadow: 0px -9px 15px -3px rgba(0,0,0,0.32);
	box-shadow: 0px -9px 15px -3px rgba(0,0,0,0.32);
	padding:15px 10px 0;
	border-radius:5px;
}
.lp-details span, .lp-details p{
	font-size:1.1rem;
}
.details-top span{
	display:block;
}
.details-middle, .details-bottom{
	margin-top:10px;
}
.details-middle .lp-btn{
	background:none;
	width:85%;
	cursor:pointer;
}
.details-bottom span{
	display:inline-block;
	padding-bottom:5px;
}
.details-bottom p span{
	font-size:3rem;
	font-family: 'Roboto', sans-serif;
	position:relative;
	top:0;
	transform:rotate(0deg);
	font-weight:900;
	letter-spacing:2px;
	color:#FBFE67;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
	 animation:anim 1s ease-in-out infinite;
}
@keyframes anim{
	0%{top:0;transform:rotate(0deg);}
	50%{top:20px;transform:rotate(3deg);}
	100%{top:0;transform:rotate(0deg);}
}
.details-bottom p span:first-child{
	padding-right:10px;
}
.details-bottom p span:last-child{
	padding-left:10px;
}
.lp-gamesicon{
	margin-top:25px;
}
.lp-compatibility{
	margin-top:25px;
}
.lp-compatibility span, .lp-gamesicon span{
	font-size:1em;
}
.lp-compatibility ul, .lp-gamesicon ul{
	display:grid;
	grid-template-columns:repeat(5,1fr);
	grid-column-gap:10px;
	padding:15px 20px 0;
}
.lp-footer{
	margin-top:20px;
	padding:0 20px 20px;
}
.lp-footer p{
	color:#a5a5a5;
	font-size:0.8rem;
	text-align:justify;
	line-height:1.4;
}
.lp-footer ul{
	text-align:center;
	margin-top:10px;
}
.lp-footer ul li{
	display:inline-block;
	padding:0 5px;
	border-right:1px solid #a5a5a5;
}
.lp-footer ul li:last-child{
	border-right:none;
}
.lp-footer ul li a{
	color:#a5a5a5;
	font-size:0.8rem;
}
@media screen and (min-width:470px){
	.details-middle .lp-btn{
		width:100%;
	}
	.details-bottom p span{
		font-size:3.5rem;
	}
}
@media screen and (min-width:500px){
	.lp-header{
		padding:0 120px;
	}
	.lp-details,.lp-gamesicon, .lp-compatibility, .lp-footer{
		max-width:400px;
		margin:0 auto;
	}
	.lp-gamesicon{
		margin-top:30px;
	}
	.lp-compatibility{
		margin-top:10px;
	}
	.lp-footer{
		margin-top:30px;
		padding:0 20px 20px;
	}
}
@media screen and (min-width:700px){
	.two-column-wrapper{
		display:grid;
		grid-template-areas:"details logo";
	}
	.lp-header{
		grid-area:logo;
		margin-top:100px;
		padding:0;
	}
	.lp-details{
		grid-area:details;
		margin-top:30px;
		padding:15px 20px 30px;
	}
	.details-middle .lp-btn{
		width:90%;
	}
	.details-bottom p span{
		display:block;
		padding-bottom:15px;
	}
	.details-bottom p span:first-child{
		padding-right:0px;
	}
	.details-bottom p span:last-child{
		padding-left:0px;
	}
	.lp-footer{
		max-width:600px;
	}
}
@media screen and (min-width:950px){
	.two-column-wrapper{
		max-width:800px;
		margin:0 auto;
	}	
	.lp-footer{
		max-width:800px;
	}
}