*{
	padding:0;
	margin:0;
	border:0;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}
img{
	max-width:100%;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.header-desktop-border{
	background:linear-gradient(to right, #00FF2B, #00EEFF);
	padding-bottom:5px;
	position:relative;
	z-index:3;
}
.header-desktop-wrapper{
	width:100%;
	height:85px;
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	padding:0px 10px;
	background:url('../img/menu_bg.jpg') no-repeat top left;
	background-size:cover;
	align-items:center;
}
.gamezone-logo{
	justify-self:start;
}
.menu-wrapper{
	justify-self:end;
}
.desktop-menu, .header-mobile-wrapper{
	display:none;
}
/* testing only */
.desktop-menu a{
	color:#fff;
}
.mobile-menu-burger{
	width:48px;
	height:40px;
	border:2px solid #fff;
	border-radius:5px;
}
.mobile-menu-burger span{
	display:block;
	background:#fff;
	position:relative;
	border-radius:1px;
	width:36px;
	height:5px;
	left:4px;
	top:5px;
	margin-bottom:5px;
	transition: .4s cubic-bezier(0.10, -0.05, 0.04, 0.41);
}
.mobile-menu-burger.toggle-burger span:nth-child(1){
	transform:rotate(45deg);
	top:15px;
	left:7px;
	width:30px;
}
.mobile-menu-burger.toggle-burger span:nth-child(2){
	opacity:0;
}
.mobile-menu-burger.toggle-burger span:nth-child(3){
	transform:rotate(-45deg);
	top:-5px;
	width:30px;
	left:7px;
}
.header-mobile-wrapper{
	position:absolute;
	width:100%;
	top:85px;
	left:0px;
	background:#292727;
	z-index:2;
}
.mobile-menu ul li{
	padding:20px 10px;
}
.mobile-menu ul li:last-child{
	padding-top:0px;
}
.mobile-menu ul li a{
	color:#fff;
	display:inline-block;
}
.contentWrap{
	padding:50px 10px;
}
.tab-title{
	margin-top:10px;
	padding:5px 2px;
	border-bottom:2px solid #000;
	align-content:center;;
}
.tab-title a span.bg-block{
	width:8px;
	display:inline-block;
	height:.9rem;
	background-color:#0080FF;
}
.tab-title a span.tab-name{
	font-size:.9rem;
	text-transform:uppercase;
	font-weight:700;
	padding-left:2px;
	color:#000;
}
.tab-title a img{
	float:right;
}
.tab-title.openAd a span.bg-block{
	background-color:#00FF2B;
}
.container.flex{
	padding-top:20px;
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-gap:10px;
}
.item{
	padding:15px 5px;
	border-radius:5px;
	background:linear-gradient(180deg, rgb(0, 128, 255), rgba(0,128,255,0));
}
.item img{
	margin-bottom:10px;
}
#title{
	text-align:center;
}
#title a{
	font-size:.8rem;
	text-decoration:none;
	color:#000;
	line-height:1.4;
}
.btn{
	margin-top:10px;
	display:block;
	background:#FE3D00;
	border-radius:5px;
	text-align:center;
	padding:5px 0;
	font-weight:700;
	font-size:.9rem;
	color:#fff;
}
/****** PREVIEW STYLES ******/
.close-btn{
	float:right;
	margin-bottom:10px;
}
.thumb-dl-section{
	clear:right;
}
.thumb-dl-container{
	display:grid;
	grid-template-columns:40% auto;
}
.thumb-dl-container, .description{
	padding-bottom:20px;
}
.thumb, .name-dl{
	justify-self:start;
	align-self:end;
}
.name-dl h4{
	font-size:.9rem;
	padding-bottom:10px;
}
.name-dl a.dl-btn{
	display:inline-block;
	background:linear-gradient(90deg,#00FF2B,#00EEFF);
	padding:7px 15px;
	border-radius:3px;
	border:1px solid #000;
	font-size:.9rem;
	color:#000;
	font-weight:700;
}
.name-dl a.dl-btn img{
	margin-right:5px;
	vertical-align:middle;
}
.description h5{
	font-size:.8rem;
	padding-bottom:5px;
}
.description p{
	font-size:.8rem;
	line-height:1.4;
}
.screenshot{
	display:grid;
	grid-gap:10px;
	grid-template-columns:.2fr .8fr .2fr;
	grid-template-areas:"prev images next";
	justify-items:center;
	align-items:center;
}
.img-container{
	grid-area:images;
}
.next{
	grid-area:next;
	justify-self:start;
}
.prev{
	grid-area:prev;
	justify-self:end;
}
/* active class */
.active-list ul li a.active span{
	color:#00EEFF;
	font-weight:700;
}

@media only screen and (min-width:470px){
	.screenshot{
		max-width:450px;
		margin:0 auto;
	}
}
@media only screen and (min-width:580px){
	.container.flex{
		grid-template-columns:repeat(4, 1fr);
	}
}
@media only screen and (min-width:758px){
	.accordion_container{
		max-width:758px;
		margin:0 auto;
	}
	.thumb-dl-container{
		grid-template-columns:35% auto;
	}
	.header-desktop-wrapper{
		padding:0px 30px;
	}
	.desktop-menu{
		display:block;
	}
	.desktop-menu ul li{
		display:inline-block;
		padding-left:20px;
	}
	.desktop-menu ul li a{
		font-size:.9rem;
	}
	.mobile-menu-burger{
		display:none;
	}
}
@media only screen and (min-width:800px){
	.container.flex{
		grid-template-columns:repeat(6, 1fr);
	}
	.adCntnr{
		margin:0 auto;
		max-width:800px;
	}
}


/****** ANIMATIONS ******/
.slide-down{
	animation:SlideDown .4s cubic-bezier(0.88, -0.05, 0.04, 0.41) 0s;
}
.slide-up{
	animation:SlideUp .9s cubic-bezier(0.30, -0.05, 0.04, 0.41) 0s forwards;
}
@keyframes SlideUp{
	0%{top:85px;}
	100%{top:-150px;};
}
@keyframes SlideDown{
	0%{top:-150px;}
	100%{top:85px;};
}