*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width:100%;
}
body{
    background:linear-gradient(180deg, rgb(177, 230, 255), rgb(254, 255, 255));
    height:100%;
}
.lp-container{
    text-align: center;
    position: relative;
    width:320px;
    margin:0 auto;
}
.timer{
    background:rgba(255,255,255,.9);
	position:absolute;
	top:29.5%;
	left:50%;
	transform: translateX(-50%);
	padding:5px;
	border-radius:2px 2px 0px 0px;
}
.timer p span{
	font-size:.7rem;
}
.timer .timer-number{
	font-size:1.2rem;
	color:rgb(2, 135, 175);
	font-weight:700;
}
.details{
    background:#fff;
    border-radius:5px;
    box-shadow:0px 0px 6px rgba(0,0,0,.1);
    padding:20px 10px;
    margin: 0px 10px;
	margin-top:-4px;
}
.details p{
    font-size:1.1rem;
    font-weight:700;
}
.details input{
    display: block;
    text-align: center;
    width:60%;
    font-size:1.1rem;
    font-weight:700;
    padding:5px 10px;
    border-radius: 5px;
    margin: 0 auto;
    border:1px solid #000;
    box-shadow:0px 0px 6px rgba(0,0,0,.1);
}
.details button{
    display: inline-block;
    padding:10px 60px;
    font-size:1.1rem;
    font-weight:600;
    border-radius: 10px;
    background:rgb(2, 196, 255);
    box-shadow:0px 0px 6px rgba(0,0,0,.1);
}
.details span{
    display: block;
    text-align: center;
    font-size:.8rem;
}
.details p, .details input, .details button{
    margin-bottom:20px;
}
.details2{
    padding:20px 10px;
}
.details2 span{
    display: block;
    text-align: center;
    font-size:.8rem;
    padding-bottom:20px;
}
.details2 p{
    font-size:.8rem;
    line-height: 1.6;
    text-align: justify;
    padding-bottom:10px;
}
.details2 a{
    font-size:.9rem;
    text-decoration: underline;
    font-weight: 600;
    color:rgb(2, 135, 175);
}
@media only screen and (min-width:500px){
	.lp-container{
		width:500px;
	}
	.timer{
		top:39%;
	}
}
