*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background:#0b090a;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}

.header{
    background: linear-gradient(#ba181b, #b7094c);
    padding:15px;
}

.headerWrap{
    max-width:375px;
    margin:0 auto;
    position:relative;
}

.headerWrap h1{
    text-align:center;
    color:#fff;
}

.headerWrap a{
    position:absolute;
    top:8px;
    right:0;
}

.headerWrap a::after{
    content:"";
    display: block;
    width:35px;
    height:3px;
    background:#fff;
    transform-origin: center;
    transform: rotate(45deg);
}

.headerWrap a::before{
    content:"";
    display: block;
    width:35px;
    height:3px;
    background:#fff;
    transform-origin: center;
    transform: rotate(-45deg);
    position: relative;
    top:3px;
}

.lp-img-container{
    padding:10px 0 0;
    max-width:375px;
    margin:0 auto;
    text-align: center;
}

.lp-details{
    max-width:375px;
    margin:0 auto;
    text-align: center;
}

.mainBtn{
    background:linear-gradient(#ba181b, #b7094c);
    /* border-radius:5px; */
    padding:15px 50px;
    display: inline-block;
    margin:0 auto 10px;
    font-size:1.3rem;
    color:#fff;
    font-weight:500;
    position: relative;
    max-width: 320px;
    display: block;
}

/* .mainBtn::before{
    content:"👐";
    position:absolute;
    top:0px;
    left:10px;
    animation: wave1 1300ms ease-in-out infinite;
}

.mainBtn::after{
    content:"👐";
    position:absolute;
    top:0px;
    right:10px;
    animation: wave1 1500ms ease-in-out infinite;
} */

.lp-details p{
    font-size:.8rem;
    line-height: 1.6;
}

.secondBtn{
    font-size:.95rem;
    display: inline-block;
    padding:5px 50px;
    border:2px solid #fff;
    border-radius:5px;
    margin:10px 0;
    color:#fff;
}

.secondBtnNxt1{
    font-size:.95rem;
    display: inline-block;
    padding:5px;
    width: 40%;
    border:2px solid #fff;
    border-radius:5px;
    margin:10px 5px 10px 0;
    color:#fff;
}

.secondBtnNxt2{
    font-size:.95rem;
    display: inline-block;
    padding:5px;
    width: 40%;
    background:#f2cc8f;
    border-radius:5px;
    margin:10px 5px 10px 0;
    color:#3d405b;
}

.link{
    display: inline-block;
    font-size: .8rem;
    color:#fff;
    margin-top:20px;
}

.hiddenP{
    margin-top:5px;
    font-size:.8rem;
    text-align: center;
    line-height: 1;
    transition: opacity 500ms ease-in-out;
    display: none;
}

.Ppedro{
    margin-top:20px;
}

.loaderCont{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,.6);
}

.panelCont{
    background:#fff;
    border-radius:5px;
    width:30%;
    margin:0 auto;
    padding:20px;
    text-align:center;
    box-shadow:rgba(0,0,0,.5) 0px 0px 10px;
    transform:scale(0);
    transform-origin: center;
    transition: transform 200ms ease-in-out;
}

.loading{
   font-size: 2rem;
   transform-origin: 50% 50%;
   transform: scale(0);
   animation: wave1 1000ms linear infinite;
   display: block;
   margin-bottom:10px;
}

.loadingText{
    font-size: 1.2rem;
    font-weight:600;
    color:#000;
}

@keyframes wave1{
    0%{transform:scale(0)}
    50%{transform:scale(1.4)}
    100%{transform:scale(0)}
}

@keyframes rotation{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}