@charset "utf-8";
/* CSS Document */

*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
body{
    background: linear-gradient(230deg, #D7FFCB, #DEFFAC);
    height:100vh;
}
.container{
	width:320px;
	margin:0 auto;
}
.header{
    padding:20px 10px;
	text-align:center;
}
.details-wrapper{
    padding:20px 0px;
	background:linear-gradient(-180deg, #FC7D0D, #FB5555);
	clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.details-container{
    text-align: center;
}
h3{
    text-align:center;
    color:#00F6FF;
    font-weight:900;
    margin-bottom:10px;
}
.details-container a{
    display:inline-block;
    padding:10px 30px;
    text-decoration:none;
    border-radius:10px;
    font-weight:700;
    font-size:1.1rem;
    margin-bottom:30px;
    color:#000;
	border:1px solid #000;
    background: linear-gradient(180deg, #2AF792, #8EFFC7);
    opacity:.5;
}
.details-container p{
    color:#fff;
    font-size:.75rem;
    line-height:1.6;
    text-align:justify;
    margin-bottom:20px;
	padding:0 50px;
}
span{
    color:#2AF792;
    font-weight:700;
}
.checkBOX{padding:0 20px;}
.checkBOX input{
    /* float:left; */
    display: inline;
    opacity: 0;
}
.checkBOX label{
    padding-left:7px;
    color:#fff;
    font-size:.8rem;
    line-height:1.4;
    position: relative;
}
.checkBOX label::before,.checkBOX label::after{
    position:absolute;
}
.checkBOX label::before{
    top:-1px;
    left:-14px;
}
.checkBOX label::after {
    left:-11px;
    top: 2px;
}
.checkBOX label::before{
    content: "";
    display: inline-block;
    border:1px solid #2E3190;
    height:15px;
    width:15px;
    border-radius:5px;
    background:#fff;
}
.checkBOX label::after{
    content:"";
    display: inline-block;
    height:5px;
    width:8px;
    border-left:3px solid #2E3190;
    border-bottom:3px solid #2E3190;
    transform: rotate(-45deg);
}
.checkBOX input[type="checkbox"] + label::after{
    content:none;
}
.checkBOX input[type="checkbox"]:checked + label::after{
    content:"";
}                       
.checkBOX input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
#TNC{
    font-size:.8rem;
    line-height:1.4;
    cursor: pointer;
}
.wrapper{
    text-align:center;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
    display:none;
}
.termsContainer{
    background:#fff;
    position:relative;
    padding:10px 20px 30px;
    top:0px;
    left:0px;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:15%;
    margin-top:15%;
    border-radius:10px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.close{
    font-size:2rem;
    font-weight:600;
    text-decoration:none;
    border-radius:50px;
    position:absolute;
    padding:3px 12px;
    color:#fff;
    border:5px solid #fff;
    background:#FB5555;
    top:-18px;
    right:-18px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.terms{
    margin-top:20px;
}
.terms h4{
    margin-bottom:10px;
}
.terms p{
    font-size:.8rem;
    text-align:justify;
    line-height:1.6;
}
.terms span{
    color:#FB5555;
}


.animateslideDown{
    animation: slideDown .7s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.animateslideUp{
    animation: slideUp .7s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.opacity{
    animation: opac 1s ease-in 0s;
}
@keyframes slideDown{
    0%{margin-top:-999px;transform: scale(0,0);}
    100%{margin-top:15%;transform: scale(1,1);}
} 
@keyframes slideUp{
    0%{margin-top:15%;transform: scale(1,1);}
    100%{margin-top:-999px;transform: scale(0,0);}
}
@keyframes heightExpand{
    0%{height:0%;}
    100%{height:100%;}
}
@keyframes opac{
    0%{opacity:0;}
    100%{opacity:1;}
}

@media only screen and (min-width:500px){
    .container{
        margin:0 auto;
        width:500px;
    }
	.details-container p{
		padding:0 100px;
	}
}