*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background:url(img/background.png) no-repeat center top;
    background-size: cover;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}
.lp-container{
    max-width: 500px;
    margin:0 auto;
    padding-bottom: 20px;
}
.lp-img-container{
    position: relative;
    background-color:#2A3B4D;
    min-height:20vh;
    overflow-y: hidden;
}
.lp-img-container > img{
    position: absolute;
}
.lp-img-container > img:nth-child(1){
    top:500px;
    left:0;
    width:50%;
    animation: slideUp 600ms ease-in-out forwards;
}
.lp-img-container > img:nth-child(2){
    top:-500px;
    right:0;
    width:50%;
    animation: slideDown 600ms ease-in-out forwards;
}
.lp-img-container > img:nth-child(3){
    opacity:0;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    width:10%;
    animation: vsAnim 600ms ease-in-out forwards;
}
.lp-details{
    padding:20px 10px;
    text-align: center;
}

.lp-details p{
    font-size:.9rem;
}

.lp-details p:nth-child(1){
    margin-bottom:15px;
}

.lp-details p:nth-child(2){
    margin-bottom:25px;
}

.lp-details a{
    display: inline-block;
    background-color:#E32A1F;
    transform: rotate(-5deg);
    padding:10px 30px;
    font-size:1.5rem;
    color:#fff;
    font-weight: 700;
    transition: transform 300ms ease-in-out;
}

.lp-details a:hover{
    transform: rotate(0deg);
}

.lp-details p:nth-child(4){
    margin-top:25px;
    margin-bottom: 25px;
}

.lp-details p:nth-child(5) span{
    color:#E32A1F;
    font-weight: 700;
    font-size:2.5rem;
    margin:0 10px;
    text-shadow: 
        2px 0px 0px #fff, 
        -2px 0px 0px #fff, 
        0px 2px 0px#fff,
        2px 2px 0px #fff,
        -2px 2px 0px #fff,
        2px -2px 0px #fff,
        -2px -2px 0px #fff;
}

.lp-tnc{
    margin:100px auto 0;
    padding:0 10px;
}
.kompatibility{
    margin-bottom:20px;
}
.kompatibility p{
    text-align: center;
    font-size:.9rem;
    margin-bottom: 20px;
}
.icon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:10px;
    padding:0 30px;
}

.tnc{
    margin-top: 30px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-top:20px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#fff;
}

@keyframes slideUp{
    0%{top:500px;}
    100%{top:0;}
}

@keyframes slideDown{
    0%{top:-500px;}
    100%{top:0;}
}

@keyframes vsAnim{
    0%{opacity:0}
    100%{opacity:1;}
}