*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#000;
}
img{
    max-width:100%;
}
body{
	background:linear-gradient(180deg, #FB5CA8 0%, #FFBEDD 100%);
}
.lp-container{
	padding:20px 10px;
	margin:0 auto;
	text-align:center;
}
.details{
	margin:20px 0px 40px;
	text-align: center;
}
.details h3{
	font-size:1.2rem;
	color:#00FFF0;
}
.details input, .details p, .details h3{
	margin-bottom:10px;
}

.details p{
	font-size:.9rem;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#00FFF0;
}

.details input{
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-weight:700;
	color:#FF003D;
	display:block;
	width:100%;
	margin:0 auto;
}
.details button{
	margin-top:10px;
	padding:10px 60px;
	font-weight:700;
	font-size:1.3rem;
	background:#00FFFF;
	width:100%;
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#15ecff;
	font-weight:700;
}
@media only screen and (min-width:400px){
	.lp-container{
		width:600px;
	}

	.details input{
		width:60%;
	}

	.details button{
		width:60%;
	}
}
