@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:0;
	box-sizing: border-box;
}
p,li,a{
	font-family: Arial, Helvetica, sans-serif;
}
body{
	background:url('../../img/bg.jpg') top center no-repeat;
}
ul{
	list-style:none;
}
img{
	max-width:100%;
}
.header{
	background:#ae0715;
	margin-bottom:20px;
}
.head{
	width: 100%;
  	display: table;
}
.head::after{
	clear: right;
	content: "";
	display: block;
}
.head-left{
	padding-left:10px;
	width:70%;
	display: table-cell;
	vertical-align: middle;
}
.head-left p{
	font-size: 1rem;
	font-weight: 700;
	margin-right:10px;
	color:#fff;
}
.head-right{
	float:right;
	width: auto;
}
.head-right ul li{
	background:#000;
	font-size: .8rem;
	padding:5px;
	border:1px solid #000;
	text-align: center;
	color:#fff;
}
.head-right ul li:nth-child(2), .head-right ul li:nth-child(3){
	border-top:none;
	background:#ccc;
	color:#000;
}
.lp-image{
	text-align:center;
}
.button{
	text-align: center;
	margin-top:-170px;
	margin-bottom:20px;
}
.button button{
	background: none;
	cursor: pointer;
}
.lp-footer{
	padding:0 10px;
}
.lp-footer p{
	text-align: justify;
	font-size:0.75rem;
	margin-bottom:10px;
}
.lp-footer p:first-child{
	text-align: center;
	line-height: 1.6;
}
.lp-footer p a{
	color:#000;
	text-decoration:none;
}
.lp-footer p a:hover{
	color:#ae0715;
}
.lp-footer ul{
	text-align: center;
	display: grid;
	display: -ms-grid;
	-ms-grid-template-columns:repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
}
.lp-footer ul li{
	padding-left:10px;
}
.lp-footer ul li:first-child{
	padding-left:0;
}

@media screen and (min-width:650px){
	.wrapper{
		max-width: 650px;
		margin:0 auto;
	}
	.lp-image{
		float:left;
	}
	.button{
		float:right;
		margin-top:50px;
		margin-right:50px;
	}
	.lp-footer::before{
		content: "";
		clear: both;
		display: block;
	}
	.lp-footer ul {
		max-width: 600px;
		margin:0 auto;
	}
}

@media screen and (min-width:750px){
	.head{
		max-width:750px;
		margin:0 auto;
	}
	.lp-footer p{
		max-width: 750px;
		margin:0 auto 10px;
	}
}