*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	position: relative;
	background:#d15c1c;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
.lp-container{
	max-width: 600px;
	margin:0 auto;
}
.lp-header{
	margin-top:20px;
}
.lp-details{
	margin-top:10px;
	text-align: center;
}
.lp-details p{
	font-size:1rem;
	margin-bottom:20px
}
.lp-details h2{
	font-size:2rem;
	margin-bottom:20px
}
.inputNum{
	display: block;
	width: 260px;
	height:40px;
	margin: 0 auto 20px;
	padding:0 20px;
	border-radius:5px;
	text-align: center;
	font-weight:700;
	font-size:1.2rem;
	color:#004eff;
}

.inputNum::placeholder{
	font-weight:400;
	font-size:.9rem;
	color:#000;
}

.continueBtn{
	display: inline-block;
	width: 260px;
	height:40px;
	padding:0 20px;
	margin: 0 auto 20px;
	font-size:1.2rem;
	font-weight:700;
	background: linear-gradient(to top, #d8d8d8, rgb(241, 241, 241));
	border-radius:5px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.3);
}

.lp-footer{
	margin-top:40px;
}

.lp-footer p{
	font-size:.8rem;
	margin-bottom:10px;
}

.tncBtn{
	color:#004eff;
	font-weight: 700;
	text-decoration: underline;
	cursor: pointer;
}

.tncCont{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	background: rgba(0,0,0,.5);
	display:none;
}

.tncWrap{
	background:linear-gradient(to top, #d8d8d8, rgb(241, 241, 241));
	padding:20px;
	position: relative;
	width:50%;
	border-radius:10px;
	top:50%;
	transform: translateZ(-50%);
	margin:0 auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

.closebtn{
	position: absolute;
	top:20px;
	right:20px;
	cursor: pointer;
}

.tncWrap h4{
	color:#000;
	font-size:1rem;
	margin-top:30px;
	margin-bottom:10px;
}

.tncWrap p{
	color:#000;
	font-size:.8rem;
	text-align: justify;
	line-height: 1.6;
}