@charset "utf-8";
/* CSS Document */

html{
	height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	
	background:#19207f; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #19207f 1%, #207cca 66%, #207cca 66%, #207cca 76%, #2989d8 79%, #207cca 89%, #7db9e8 100%, #207cca 100%) fixed; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #19207f 1%,#207cca 66%,#207cca 66%,#207cca 76%,#2989d8 79%,#207cca 89%,#7db9e8 100%,#207cca 100%) fixed; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #19207f 1%,#207cca 66%,#207cca 66%,#207cca 76%,#2989d8 79%,#207cca 89%,#7db9e8 100%,#207cca 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19207f', endColorstr='#207cca',GradientType=1 );

	background-repeat: no-repeat;

}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:center;
}

a{
	position:absolute; 
	z-index:99;
}

#text1
{
	padding:5px;
	color:#F00;
	font-weight:bold;
}

.row{
	margin-left: 0!important;
}

#text2
{
	padding:3px;
	font-size: 25px;
}

#select select
{
	width:200px;
	height:30px;
	padding:4px;
	border:1px solid #DD6F00;
	font-size: 12pt;
	line-height: 1;
	border-radius: 1;
}

#select
{
	width:200px;
	margin-left:50px;
}

#form-control input-lg
{
	float:left;
}

.round{
	border-radius: 24px;
}

.container{
	padding-left: 0;
	/*padding-right: auto;*/
}

div.card {
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
  }

  #antiv{ 
	height: auto;
	width: 100%;

	max-width: 597px;
	max-height: 375px;
  }

  #btn-continue{
	background: #61c419; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #61c419 9%, #b4e391 83%, #a3e273 89%, #b4e391 93%, #b4e391 97%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #61c419 9%,#b4e391 83%,#a3e273 89%,#b4e391 93%,#b4e391 97%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #61c419 9%,#b4e391 83%,#a3e273 89%,#b4e391 93%,#b4e391 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c419',  */
	font-size: 25px;
	font-weight: bold;
  }

  #textP{
	color: #d6b008!important;
	font-size: 3em;
	font-weight: 800;
	
  }
	
  .img-footer{
	height: 45px;
	width: auto;
	display: inline-block;
	padding: 10px 10px 50px 10px;

	background-repeat: no-repeat;
	background-position-x: 8px;

	text-align:left;
	color: white;
	font-weight: bold;
	font-size: 15px;
	text-indent: 50px;
	overflow-wrap: break-word;
  }

  #protect{
	background-image: url("../../img/lock.png");
  }

  #boost{
	background-image: url("../../img/android.png");
  }

  #download{
	background-image: url("../../img/performance.png");
  }


  /**** Animation ****/
  h1.ml8 {
	font-weight: 900;
	font-size: 4.5em;
	color: #fff;
	width: 3em;
   /* height: 3em;*/
   margin-top: -20px;
  }
  
  .ml8 .letters-container {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	margin-top: 90px;
	/*bottom: 0;*/
	height: 1em;
  }
  
  .ml8 .letters {
	position: relative;
	z-index: 2;
	display: inline-block;
	line-height: 0.7em;
	right: -0.12em;
	top: -0.2em;
	color: #d6b008;
	font-size: 40px;
  }
  
  .ml8 .bang {
	font-size: 1.4em;
	top: auto;
	left: -0.06em;
  }
  
  .ml8 .circle {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	/*margin-right: 90px;*/
	top: 0;
	/*bottom: 0;*/
  }
  
  .ml8 .circle-white {
	width: 1em;
	height: 1em;

	border: 10px dashed #d6b008;
	border-radius: 2em;
	margin: auto;
  }
  
  .ml8 .circle-dark-dashed {
	border-radius: 2.4em;
	background-color: transparent;
	border: 10px dashed #d6b008;
	width: 2.3em;
	height: 2.3em;
	top:90px;
  }