*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #000;
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(192, 253, 249));
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}
.section{
    width:72%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.header{
    top: 0;
    left: 0;
    width:100%;
    height: 22vw;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}

.main{
    margin-top: -30px;
}
.primary-header{
    padding-bottom: 10px;
}
.primary-header span{
    font-size: calc(8px + 1vw);
}
.button a img{
    outline: none;
    max-width: 40%;
}
.bounce{
    margin-bottom: 1px;
    font-family: 'Baloo Paaji', cursive;
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
.bounce span{
    font-weight: 900;
    color: #811E00;
    font-size: calc(26px + 5vw);
    -webkit-text-stroke: 0.2vh #ff9e81;
    stroke: 2vh #ffffff;
    paint-order: stroke fill;
}
.bounce small{
    font-family: 'Open Sans', sans-serif;
    font-size: calc(8px + 1vw);
    margin-left: 1vw;
    margin-right: 1vh;
}
@-webkit-keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.horizontal{
    padding-bottom: 10px;
}
hr{ 
    margin:0 auto;
    text-align: center;
    width: 90%;
    background-color: #811E00;
    height: 0.8vh;
}
.subheader{
    padding-top:5px;
    padding-bottom: 17px;
    font-size: calc(12px + 0.7vw);
}
.icons img{
    max-width:12%;
}
.pre-footer{
    width: 92%;
    margin: 0 auto;
    padding-top:17px;
    padding-bottom: 15px;
}
.pre-footer p{
    font-size: calc(2.5px + 1vw);
    color: rgb(46, 44, 44);
}
.footer{
    padding-bottom: 15px;
}
.footer ul{
    list-style: none;
}
.footer ul li {
    display: inline-block;
    
}
.footer ul li a {
    color: #000;
    text-decoration: none;
    font-size: calc(2.5px + 1vw);
}


/* Mobile Devices */
@media screen and (max-width: 480px) {
    .container{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 100%;
    }
    .section{
        width:95%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .header{
        height: 28vw;
    }
    .main{
        margin-top:-10px;
    }
    .button a img{
        max-width:70%;
    }
    .primary-header span{
        font-size: calc(13px + 1vw);
    }
    .bounce{
        margin-top: -1.9vh;
        margin-bottom: 0vh;
    }
    .bounce small{
        font-size: calc(13px + 1vw)
    }
    .icons img{
        max-width: 15%;
    }
    .subheader{
        font-size: calc(10px + 1vw);
    }
    .pre-footer{
        margin-bottom: -4%;
    }
    .pre-footer p{
        font-size: calc(7.5px + 1vw);
    }
    .footer ul li a {
        font-size: calc(7.5px + 1vw);
    }
}

@media screen and (min-width:481px) and (max-width:992px){
    .header{
        height: 28vw;
    }
    .section{
        width:90%;
    }
    .icons img{
        max-width:15%; 
    }
    .button a img{
        max-width:32%;
    }
    .primary-header span{
        font-size: calc(12px + 1vw);
    }
    .subheader{
        font-size: calc(8   px + 1vw);
    }
    .pre-footer p{
        font-size: calc(6px + 1vw);
        color: rgb(46, 44, 44);
    }
    .footer ul li a {
        color: #000;
        text-decoration: none;
        font-size: calc(8px + 1vw);
    }
}