html {
    height: 100%;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(192, 253, 249));
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
}

.container {
    margin-top: 10vh;
    width: 100%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    font-size: 14px !important;
    text-align: left;
}

.main {
    width: 80%;
    margin: 0 auto;
}

hr {
    margin: 0;
    text-align: left !important;
    width: 100%;
    background-color: #811E00;
    height: 0.3vh;
}