body
{
	/*background-color: #000;
	background-image: url(../img/bgtop.png),url(../img/bgbtm.png);	
	background-position: top,bottom;*/
	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-repeat:no-repeat; 
	background-size: contain;
	background-attachment: fixed;
}
	.adCntnr .acco2 .expand, .adCntnr .acco2 .openAd {
	font-family:'Open Sans', sans-serif;
	color:#000;
	padding:10px;
	font-size:14px;
	font-weight:700;
		border-bottom: 2px solid #D0CBCB;
	}

#box3
{
	width:81%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

#box4
{
	width: 100%;
	/*background-color:#dcedf5;*/
	bottom:0;
	text-align:right;
	font-size:11px;
	color:#0094ca;
	margin-top:5px;
}

#contentDiv
{	
	/*background-color:#FFFFFF;*/
}

#text
{
	font-weight:bold;
	font-size:14px;
	color:#3498db;
	padding:10px;
}

.w3-content{max-width:100%;margin:auto}.w3-rest{overflow:hidden}
.mySlides img{text-align:center;!important;}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;}
.w3-black,.w3-hover-black:hover{color:#fff!important;}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.sidenav {
    height: 0%;
   width: 100%;
   position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    /*background-color: #e1e1e1;*/
    overflow-x: hidden;
    transition: 0.5s;
  
}



#menu_link a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	font-weight:bold;
    font-size: 20px;
    color: #324d5c;
    display: block;
    transition: 0.3s;
	border-top:1px solid #CCC;
}

#menu_link a:hover {
    color: #edb600;
    padding: 8px 8px 8px 23px;
	/*background-color:#ecf0f1;*/
	border-left:10px solid #edb600;
}

.sidenav .closebtn {
	 position: absolute;
    top: 12px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}
form.example input[type=text] {
  padding: 11px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

#catName
{
	background-image:url("../img/tbname.png");
	background-repeat:no-repeat;
	padding:5px 0px 5px 10px;
	font-weight:bold;
	color: white;
	font-size: 20px;
	width:80%;
}

#catX
{
	margin-top:3px;
	float:right;
}

@media screen and (max-width: 300px)
/*@media screen and (max-width:400px) */
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#btn{
	width:80%;
	text-align:center;
border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:7px; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#b95e0f), to(#b95e0f));
 background-image: -webkit-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -moz-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -ms-linear-gradient(top, #b95e0f#940705, #b95e0f);
 background-image: -o-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: linear-gradient(to bottom, #b95e0f, #b95e0f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b95e0f, endColorstr=#b95e0f);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #940705; background-image: -webkit-gradient(linear, left top, left bottom, from(#940705), to(#940705));
 background-image: -webkit-linear-gradient(top, #940705, #940705);
 background-image: -moz-linear-gradient(top, #940705, #940705);
 background-image: -ms-linear-gradient(top, #940705, #940705);
 background-image: -o-linear-gradient(top, #940705, #940705);
 background-image: linear-gradient(to bottom, #940705, #940705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#940705, endColorstr=#940705);
}

#body
{

	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: cover;
	background-attachment: fixed;

}



	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	height: 20px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: linear-gradient(#fbfbfb, #737373);
	  top: 0;
	  left: 0;
}


#box1
{
	height: 60px;
	width:100%;
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
    float:right;
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:50px;
	}

#iconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:90px;
}

#img-thumbnail{
    width: 200px;
    height: auto;
     margin-top: 5px;
}
#item {
  width: 100px;
  height: auto;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border-radius:10px;
  text-align: center;
}

}



@media screen and (min-width:301px) and (max-width: 400px)
/*@media screen and (max-width:400px) */
{



#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#btn{
	width:80%;
	text-align:center;
border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:7px; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#b95e0f), to(#b95e0f));
 background-image: -webkit-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -moz-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -ms-linear-gradient(top, #b95e0f#940705, #b95e0f);
 background-image: -o-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: linear-gradient(to bottom, #b95e0f, #b95e0f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b95e0f, endColorstr=#b95e0f);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #940705; background-image: -webkit-gradient(linear, left top, left bottom, from(#940705), to(#940705));
 background-image: -webkit-linear-gradient(top, #940705, #940705);
 background-image: -moz-linear-gradient(top, #940705, #940705);
 background-image: -ms-linear-gradient(top, #940705, #940705);
 background-image: -o-linear-gradient(top, #940705, #940705);
 background-image: linear-gradient(to bottom, #940705, #940705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#940705, endColorstr=#940705);
}


	#body
{

	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: cover;
	background-attachment: fixed;

}



	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: linear-gradient(#fbfbfb, #737373);
	  top: 0;
	  left: 0;
}


#box1
{
	height: 60px;
	width:100%;
	margin:0;
	margin-left: 0;
}


#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
   float:right;

}


#iconimg {
	width:70%;
	margin:auto;
	text-align:center;
	padding-top:75px;
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:8px;
	}

#img-thumbnail{
    width: 100%;
    height: auto;
     margin-top: 6px;
}
#item {
  width: 100px;
  height: auto;
  margin: 5px;
  font-size: 7px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
}
#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:15px;
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:5px;
	}

}


@media screen and (min-width:401px) and (max-width: 500px)
{  

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#btn{
	width:80%;
	text-align:center;
border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:7px; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#b95e0f), to(#b95e0f));
 background-image: -webkit-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -moz-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -ms-linear-gradient(top, #b95e0f#940705, #b95e0f);
 background-image: -o-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: linear-gradient(to bottom, #b95e0f, #b95e0f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b95e0f, endColorstr=#b95e0f);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #940705; background-image: -webkit-gradient(linear, left top, left bottom, from(#940705), to(#940705));
 background-image: -webkit-linear-gradient(top, #940705, #940705);
 background-image: -moz-linear-gradient(top, #940705, #940705);
 background-image: -ms-linear-gradient(top, #940705, #940705);
 background-image: -o-linear-gradient(top, #940705, #940705);
 background-image: linear-gradient(to bottom, #940705, #940705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#940705, endColorstr=#940705);
}


#body
{

	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: cover;
	background-attachment: fixed;

}



	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: linear-gradient(#fbfbfb, #737373);
	  top: 0;
	  left: 0;
}


#box1
{
	height: 80px;
	width:100%;
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 200px;
    height: auto;
	padding:20px;
}

#img{
    width: 20px;
    height: auto;
    float:right;
}

#iconimg {
	width:60%;
	margin:auto;
	text-align:center;
	padding-top:75px;
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:5px;
	}

#img-thumbnail{
    width: 80%;
    height: auto;
     margin-top: 10px;
    margin-left: 10px;
   margin-right: 10px;
}

#item {
  width: 120px;
  height: auto;
  margin: 5px;
   font-size: 7px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border-radius:10px;
  text-align: center;
}

#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:50px;
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:60px;
		margin-top:auto;
	}

}



@media screen and (min-width:501px) and (max-width: 600px)
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#btn{
	width:80%;
	text-align:center;
	background position:bottom;
border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:7px; padding: 7px 7px 7px 7px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#b95e0f), to(#b95e0f));
 background-image: -webkit-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -moz-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -ms-linear-gradient(top, #b95e0f#940705, #b95e0f);
 background-image: -o-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: linear-gradient(to bottom, #b95e0f, #b95e0f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b95e0f, endColorstr=#b95e0f);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #940705; background-image: -webkit-gradient(linear, left top, left bottom, from(#940705), to(#940705));
 background-image: -webkit-linear-gradient(top, #940705, #940705);
 background-image: -moz-linear-gradient(top, #940705, #940705);
 background-image: -ms-linear-gradient(top, #940705, #940705);
 background-image: -o-linear-gradient(top, #940705, #940705);
 background-image: linear-gradient(to bottom, #940705, #940705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#940705, endColorstr=#940705);
}



#body
{

	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: cover;
	background-attachment: fixed;

}



#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: linear-gradient(#fbfbfb, #737373);
	  top: 0;
	  left: 0;
}


#box1
{
	height: 80px;
	width:100%;
	margin:0;
	margin-left: 0;
}

#ptslogo{
	width: 250px;
    height: auto;
	padding:20px;
}

#img{
    width: 30px;
    height: auto;
    float:right;
}

#mySidenav
	{
		top:0px;
		position:fixed;
	}


#iconimg {
	width:50%;
	margin:auto;
	text-align:center;
	padding-top:90px;
}

#contentWrap {	
		width:80%;
		margin:auto;
		padding-top:5px;
	}


#img-thumbnail{
    width: 60%;
    height: auto;
     margin-top: 10px;
    margin-left: 10px;
   margin-right: 10px;
}

#item {
  width: 120px;
  height: auto;
  margin: 7px;
  font-size:7px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border-radius:10px;
  text-align: center;
}

#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:60px;
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:110px;
		margin-top:auto;
	}


}



@media screen and (min-width: 601px)
{

#btnalign{
	vertical-align: center;
	text-align:bottom-center;
}

#btn{
	width: 80%;
	text-align:center;
	border:1px solid #FFFFFF; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#0094CA), to(#0094CA));
 background-image: -webkit-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -moz-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -ms-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: -o-linear-gradient(top, #b95e0f, #b95e0f);
 background-image: linear-gradient(to bottom, #b95e0f, #b95e0f);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#b95e0f, endColorstr=#b95e0f);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #940705; background-image: -webkit-gradient(linear, left top, left bottom, from(#006f97), to(#006f97));
 background-image: -webkit-linear-gradient(top, #940705, #940705);
 background-image: -moz-linear-gradient(top, #940705, #940705);
 background-image: -ms-linear-gradient(top, #940705, #940705);
 background-image: -o-linear-gradient(top, #940705, #940705);
 background-image: linear-gradient(to bottom, #940705, #940705);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#940705, endColorstr=#940705);
}

#body
{
	background-image: url(../assets/eroticlounge_bg.jpg);	
	background-position: top;
	background-repeat:no-repeat; 
	background-size: cover;
	background-attachment: fixed;
 
}


	#mySidenav
	{
		top:0px;
		position:fixed;
	}
	


#iconimg {
	width:25%;
	margin:auto;
	text-align:center;
	padding-top:90px;
}

#contentWrap {	
		width:80%;
		margin:auto;
		margin-top:auto;
		padding-top:5px; 
	}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: linear-gradient(#fbfbfb, #737373);
	  top: 0;
	  left: 0;
}


#box1
{
	height: 90px;
	width:100%;
	margin:0;
	margin-left: 0;
}


#ptslogo{
	width: 300px;
    height: auto;
	padding:20px;
}

#img{
    width: 35px;
    height:auto;
     float:right;
}


#img-thumbnail{
    width: 80%;
    height: auto;
     margin-top: 10px;
    margin-left: 15px;
   margin-right: 15px;
}

#item {
  width: 200px;
  height: auto;
  margin-top: 20px;
  font-size:10px;
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  border-radius:10px;
  text-align: center;
}


#previconimg {
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:60px;
}

#prevcontentWrap {	
		width:80%;
		margin:auto;
		padding-top:110px;
		margin-top:auto;
	}


}
