*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

body{
	background:url('assets/bg.png') no-repeat top left, #000000;
	background-size:auto;
}

.lp-container{
	max-width:600px;
	padding:0px 10px;
	margin:0 auto;
}
.container{
	margin:3rem 2rem;
	color: #fff;
}
.lp-header{
	text-align: center;
	padding: 20px 0 15px;
}

.lp-details{
	text-align: center;
	padding-bottom:20px;
}

.lp-details > span{
	display: block;
	font-size:1.5rem;
	padding-bottom:15px;
	font-weight: 700;
	color: #fff;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:linear-gradient(90deg, #ABFF00, #88C41E);
	border-radius:5px;
	font-size:1.5rem;
	font-weight: 700;
	color:#000;
}

.lp-details p{
	font-size:1rem;
	color:#fff;
}

.lp-details p > span{
	font-size:2.5rem;
	font-weight: 700;
	color:#BCFF00;
}

/* .lp-details p > span:first-child{
	margin-right: 10px;
} */
.lp-details p > span:nth-child(2){
	margin: 5px;
	font-size: inherit;
}

.lp-gamesicon{
	text-align: center;
	padding-bottom: 40px;
}
  
.lp-gamesicon p{
	font-size:.9rem;
	padding-bottom:10px;
	color:#fff;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
	color:#fff;
}

@media all and (max-width:500px){
	body{
		background: url('assets/bg.png') no-repeat 100% top, #000000;
	}
}

.subs{
	display: flex;
    justify-content: center;
    align-items: center;
	flex-direction: column;
}
ul{
	display: flex;
    list-style: none;
    justify-content: center;
	margin-top: 15px;
	color:#fff ;
}
li a {
	font-size: .8rem;
    text-align: center;
	line-height: 1.6;
	text-decoration: none;
	color:#fff ;
}
ul li a:first-child{
	padding-right: 5px;
}
ul li a:last-child{
	padding-left: 5px;
}
hr { 
    display: block;
    border: 1px inset;
	overflow: hidden;
	margin: 20px auto;
}
.supphones{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 510px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.popupcontent{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 415px;
}
.popupcontent p{
	color: #000;
	text-align: left;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }