@charset "utf-8";

*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	list-style:none;
	text-align: center;
	padding:20px 0 0;
}
ul li{
	display:inline-block;
	border-left:1px solid #DED9D9;
	padding:0 10px;
	margin-bottom:2px;
}
ul li:last-child{
	padding-right:0;
}
ul li:first-child{
	padding-left:0;
	border-left:none;
}
a{
	text-decoration: none;
	color:#fff;
	font-size:.8rem;
}
span {
	font-weight:400;
	font-size:.85rem;
	color:#fff;
}
p{
	font-weight:400;
	font-size:.85rem;
	color:#fff;
}
img{
	max-width: 100%;
}
body{
    background:url("../../img/background.jpg") no-repeat top center fixed;
    background-size: cover;
}

.border{
	width:100%;
	height:90px;
	bottom:-9px;
}
.lp-container{
	min-width:320px;
	margin:0 auto;
	text-align:center;
}
.details-top{
	margin:10px 0 5px;
}
.details-top span{
	display: block;
	padding-bottom:5px;
}
.details-mid{
	margin:10px 0;
}

.details-mid button{
	color:#fff;
	background-color: Transparent;
    background-repeat:no-repeat;
}


.subscribe-btn{
	border-top:10px solid #FF003D;
	border-radius: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#btn-continue2{
	border-bottom:10px solid #FF003D;
	border-radius: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.details-mid button  h2{
	font-weight:900;
	font-size:1.5rem;
	text-shadow: 0px 0px 5px rgba(0,0,0, .6);
}
.details-bot{
	padding:10px 0 20px;
}
.details-bot p span{
	font-size:2.5rem;
	color:#ff003d;
	font-weight: 900;
	animation:anim 1s ease-in-out infinite;
	display: inline-block;
}
@keyframes anim{
	0%{top:0;transform:rotate(0deg);}
	50%{top:40px;transform:rotate(9deg);}
	100%{top:0;transform:rotate(0deg);}
}
.details-bot p span:first-child{
	padding-right:8px;
}
.details-bot p span:last-child{
	padding-right:0px;
	padding-left:8px;
}
.lp-footer{
	padding:0 10px 10px;
}
.lp-footer p{
	line-height:1.4;
	font-size:.8rem;
	text-align: justify;
}
#footer{
	text-align: center;
    margin-left: 8px;
}

#footer a{
	color: #ff003d;
}

#footer a:hover{
	color: #140838;
}
@media screen and (min-width:600px){
	.lp-container{
		max-width: 600px;
		margin:0 auto;
	}
	.lp-details{
		padding-top:10px;
		display:grid;
		grid-template-columns:repeat(2,1fr);
		grid-column-gap:10px;
	}
	.details-bot p span{
		display: block;
	}
	.details-bot p span:first-child{
		padding-right:0px;
	}
	.details-bot p span:last-child{
		padding-right:0px;
		padding-left:0px;
	}
}