/*
#body
{

	background-image: url(../img/bgtop.png),url(../img/plbgbottom.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 500px,cover;
	background-attachment: fixed,fixed;
	
}
*/



#footer
{
	z-index:1;
	width:100%;
	position: fixed;
	text-align:right;
	/*background-color:#dcedf5;*/
	background-color:#f2f2f2;
	bottom: 0;
	color:#0094ca;
}



#box1
{
	/*background:#FFFFFF;*/	
	background-image: url(../img/header.png);
		margin:auto;
	margin-left: 0;
}

#box3
{
	width:81%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

#box4
{
	width: 100%;
	background-color:#dcedf5;
	bottom:0;
	text-align:right;
	font-size:11px;
	color:#0094ca;
	margin-top:5px;
}
/*
#contentWrap
{	
	width:80%;
	margin:auto;
	margin-bottom:30px;
	padding-top:160px;
}
*/
#contentDiv
{	
	/*border:4px solid #edb600;*/
	background-color:#FFFFFF;
	/*background-color:#f2f2f2;*/
}

#text
{
	font-weight:bold;
	font-size:14px;
	color:#3498db;
	padding:10px;
}

.w3-content{max-width:100%;margin:auto}.w3-rest{overflow:hidden}
.mySlides img{text-align:center;!important;}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;}
.w3-black,.w3-hover-black:hover{color:#fff!important;}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e1e1e1;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
}

#menu_link a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	font-weight:bold;
    font-size: 20px;
    color: #324d5c;
    display: block;
    transition: 0.3s;
	border:1px solid #CCC;
	/*background-image:url("../img/menu_line.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font-weight:bold;*/
}

#menu_link a:hover {
    color: #edb600;
    padding: 8px 8px 8px 23px;
	background-color:#ecf0f1;
	border-left:10px solid #edb600;
}

/*.closebtn {
	float:right;
}*/

.sidenav .closebtn {
	 position: absolute;
    top: 12px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 11px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats 
form.example::after {
  content: "";
  clear: both;
  display: table;
}
*/

/* ------------------------------ */
#catName
{
	background-image:url("../img/tbname.png");
	background-repeat:no-repeat;
	padding:5px 0px 5px 10px;
	font-weight:bold;
	color: white;
	font-size: 20px;
	width:80%;
}

#catX
{
	margin-top:3px;
	float:right;
}




@media screen and (max-width:400px) 
{
#body
{

	background-image: url(../img/bgtop.png),url(../img/plbgbottom.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 250px,cover;
	background-attachment: fixed,fixed;
	
}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-color: #FFF;*/
	background-size: auto;
	  top: 0;
	  left: 0;
}

#contentWrap
{	
	width:80%;
	margin:auto;
	margin-bottom:30px;
	padding-top:20px;
}

#nvmg
{
	/* margin: 0 auto;*/
     width: auto; 
     padding-top:100px;
     margin-left: 70px;
	text-align:center;
}

#gzlogo{
	width: 70%;
    height: 50%;
    padding:15px;
}

#mnuimg{
    width: 50%;
    height: 50%;
   /* padding:10px;*/
}


}


/*@media screen and (min-width: 401px)*/
@media screen and (min-width:401px) and (max-width: 501px)
{  /*Mobile Phone */

#body
{

	background-image: url(../img/bgtop.png),url(../img/plbgbottom.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 300px,cover;
	background-attachment: fixed,fixed;
	
}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-color: #FFF;*/
	background-size: auto;
	  top: 0;
	  left: 0;
}

#nvmg
{
	/* margin: 0 auto;*/
     width: auto; 
     padding-top:150px;
     margin-left: 70px;
	text-align:center;
}

#contentWrap
{	
	width:80%;
	margin:auto;
	margin-bottom:30px;
	padding-top:10px;
}

#gzlogo{
	width: 60%;
    height: 40%;
    padding:15px;
}

#mnuimg{
    width: 60%;
    height: 60%;
   /* padding:15px;*/
}

}


/*@media screen and (max-width: 600px)*/
@media screen and (min-width:501px) and (max-width: 600px)
{ /* below 600 px*/

#body
{

	background-image: url(../img/bgtop.png),url(../img/plbgbottom.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 450px,cover;
	background-attachment: fixed,fixed;
	
}

#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-color: #FFF;*/
	background-size:auto;
	  top: 0;
	  left: 0;
}

#nvmg
{
	/* margin: 0 auto;*/
     width: auto; 
     padding-top:150px;
     margin-left: 70px;
	text-align:center;
}

#contentWrap
{	
	width:80%;
	margin:auto;
	margin-bottom:30px;
	padding-top:180px;
}

#gzlogo{
  width: 50%;
    height: 50%;
    padding:15px;
}

#mnuimg{
    width: 60%;
    height: 60%;
}

}


@media screen and (min-width: 601px)
/*@media all and (max-width: 1024px)*/
{

#body
{

	background-image: url(../img/bgtop.png),url(../img/plbgbottom.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 600px,cover;
	background-attachment: fixed,fixed;
	
}


#header
{
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/header.png);
	/*background-color: #FFF;*/
	background-size: 100% 100%;
	  top: 0;
	  left: 0;
}

#nvmg
{
	/* margin: 0 auto;*/
     width: auto; 
     padding-top:200px;
     margin-left: 200px;
	text-align:center;
}

#contentWrap
{	
	width:80%;
	margin:auto;
	margin-bottom:30px;
	padding-top:160px;
}

#gzlogo{
	/*background-image:url(../img/gzlogo.png);
	background-position:left; 
    background-repeat:no-repeat;
*/   	
	width: 350px;
    height: 70px;    
    padding: 15px
}

#mnuimg{
    width: 80%;
    height: 80%;
}

}
/* -------------------------------------------------------------- */
/*.adCntnr .acco2 .expand, .adCntnr .acco2 .openAd {
	font-family:'Open Sans', sans-serif;
	background-color:#edb600;
	color:#FFFFFF;
	padding:10px;
	font-size:14px;
	font-weight:bold;
	}
.adCntnr .acco2 .expand a{
	background:url(../icon/plus.png) no-repeat 0 4px;
	background-position:right;
	padding-right:25px;
	text-decoration:none;
	}
.adCntnr .acco2 .openAd a{
	background:url(../icon/minus.png) no-repeat 0 4px ;
	background-position:right;
	padding-right::25px;
	color:#333 !important;
	text-decoration:none;
	}
 .adCntnr .acco2 .expand a{
	color:#FFF;
	}
	
.adCntnr  .accCntnt {	
	padding:10px;
	background:#FFFFFF;
	font-weight:normal;	
	}*/