.accordion_container {
    width: 100%; /* 500px */
}

.accordion_head {
    background-color: #000000;
     /* background-color: #f2f2f2;*/
    color: #edb600;
    cursor: pointer;
    font-size: 18px;
    padding: 7px 11px;
    font-weight: bold;
}

.accordion_body {
	/*background-color:#FFFFFF;*/
    background-color:#f2f2f2;
	margin-bottom:5px;
}

.accordion_body p {
    padding: 0px;
    margin: 0px;
}

.plusminus {
    float: right;
}

.plusminus img {
    width: 15px;
    vertical-align: middle;
}

.hide {
    display: none;
}