*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}
img{
    max-width: 100%;
}
body{
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
}
.container{
    border:1px solid #ccc;
}
.logo-country{
    background:#ebeff2;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    padding:10px;
    display: grid;
    grid-template-columns: .8fr .2fr;
    margin-bottom:15px;
}
.logo{
    justify-self: center;
    margin-left:20%;
}
.numbers ul{
    text-align: center;
    list-style: none;
    margin-bottom:30px;
    background: rgb(190,232,5); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(190,232,5,1) 0%, rgba(119,171,8,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(190,232,5,1) 0%,rgba(119,171,8,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(190,232,5,1) 0%,rgba(119,171,8,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.numbers ul li{
    display: inline-block;
    padding:5px 10px;
    font-size:1.1rem;
    font-weight: 700;
    color:#fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.wordings{
    text-align:center;
    padding:0 10px;
}
.wordings h3{
    color:#027d19;
    font-size:1.6rem;
    padding-bottom:20px;
}
.wordings p{
    line-height:1.4;
    font-weight:700;
    padding-bottom:20px;
}
.wordings input{
    padding:10px;
    border:1px solid #000;
    border-radius:3px;
    width:100%;
    font-size:1.3rem;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
    margin-bottom:10px;
}
.wordings button{
    background: #006db2;
    color:#fff;
    font-size:1.6rem;
    padding:20px;
    border-radius:3px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.2);
    font-weight:700;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    margin-bottom:30px;
    border:2px solid #124d77;
}

@media screen and (min-width:500px){
    .container{
        max-width: 500px;
        margin: 20px auto 0;
        box-shadow: 1px 1px 5px rgba(0,0,0,.2);
    }
    .numbers ul li{
        font-size:1.4rem;
    }
    .wordings h3{
        font-size:1.8rem;
        padding-bottom:30px;
    }
    .wordings p{
        font-size: 1.2rem;
        padding-bottom:30px;
    }
    .wordings input{
        padding:15px;
        width:80%;
        font-size:1.5rem;
        margin-bottom:15px;
    }
    .wordings button{
        font-size:1.7rem;
        padding:20px 30px;
        margin-bottom:40px;
    }
}

