@import url('https://fonts.googleapis.com/css2?family=Khula:wght@400;600;700&display=swap');

:root{
	/*font*/
	--khula: 'Khula', sans-serif;
	--khula400:400;
	--khula600:600;
	--khula700:700;

	/*colors*/
	--intRed: #BF0603;
	--independece: #33415C;
	--blackCoral: #5C677D;
	
	--dlColor: #02C39A;
	--infoColor: #FC5E05;
	--buttonBg: #E6E9EF;
	--globalBg: #E9EDF0;
	--closeBg: #D84727;

	/*neumorph shadows*/
	--outsideShadow: -2px -2px 8px #FFFFFF, 2px 2px 8px #A9B5C7, -1px -1px 1px rgba(255, 255, 255, 0.6);
	--insideShadow: inset -1px -1px 2px #FFFFFF, inset 1px 1px 2px #A9B5C7, inset -1px -1px 1px rgba(255, 255, 255, 0.6);

	/*radius*/
	--radius5: 5px;
	--radius25: 25px;
	--radius2: 2px;
}

*{
	padding:0;
	margin:0;
	border:0;
	box-sizing: border-box;
}
body{
	background-color:var(--globalBg);
	position:relative;
}
img, video{
	max-width: 100%;
	max-height: 100%;
}
a{
	text-decoration: none;
}
.mainContainer{
	min-width: 400px;
	max-width: 700px;
	margin:0 auto;
}
.mainHeader{
	padding:20px 0;
}
.logoContainer h1{
	color:var(--intRed);
	text-align: center;
	font-family:var(--khula);
	font-size:2rem;
}
.searchNavContainer{
	padding:20px 20px 0;
	height:70px;
	/*display:grid;
	grid-template-columns: 1fr auto;
	grid-gap:10px;*/
}
.searchContainer{
	width:100%;
	position: relative;
}
.searchField{
	/*width:calc(100% - 60px);*/
	height:50px;
	position: absolute;
	padding:0 20px;
	top:0;
	left:0;
	z-index: 1;
	background-color:var(--buttonBg);
	border-radius:var(--radius25);
	box-shadow: var(--insideShadow);
	font-family: var(--khula);
	font-weight: var(--khula600);
	color:var(--blackCoral);
	font-size:.8rem;
}
.searchBtn{
	border-radius:var(--radius25);
	background-color:var(--buttonBg);
	width:40px;
	height:40px;
	position: absolute;
	top:5px;
	right:65px;
	z-index: 2;
	box-shadow: var(--outsideShadow);
	cursor: pointer;
}
.searchBtn i{
	color:var(--intRed);
	font-size:1.3rem; 
}
.menuContainer{
	position: relative;
}
.menuBtnContainer{
	position: relative;
}
.menuBtn{
	width:50px;
	height:50px;
	background-color:var(--buttonBg);
	border-radius: var(--radius25);
	box-shadow: var(--outsideShadow);
	cursor:pointer;
	position:absolute;
	top:0;
	right:0;
	z-index:1;
}
.menuBtn span{
	width:50%;
	height:4px;
	display: inline-block;
	background-color: var(--intRed);
	position: absolute;
	left: 25%;
	right: 25%;
	border-radius:var(--radius2);
}
.menuBtn span:nth-child(1){
	top:14px;
}
.menuBtn span:nth-child(2){
	top:24px;
}
.menuBtn span:nth-child(3){
	top:34px;
}
.categoryContainer{
	position: absolute;
	top:0;
	right:0;
}
.catBtn{
	display:none;
	position: absolute;
	top:0;
	right:0;
	width:50px;
	height:50px;
	z-index: 0;
	border-radius: var(--radius25);
	background-color:var(--buttonBg);
	box-shadow: var(--outsideShadow);
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}
.catBtn i{
	color:var(--intRed);
	font-size:1.3rem;
	margin-top:7px;
}
.catBtn span{
	color:var(--intRed);
	display: block;
	font-size:.65rem;
	font-family: var(--khula);
	font-weight:var(--khula600);
	margin-top:-3px;
}
.catActive{
	box-shadow: var(--insideShadow);
}
.catActive i, .catActive span{
	color:var(--blackCoral);
}
.subcategoryContainer{
	/*margin-top:7px;
	height:70px;*/
	padding:20px 20px;
	overflow-x: hidden;
	white-space: nowrap;
	position: relative;
}
.subCategory{
	display:inline-block;
	padding:10px 20px;
	background-color:var(--buttonBg);
	margin-right:15px;
	margin-left:30px;
	border-radius:var(--radius25);
	box-shadow: var(--outsideShadow);
	cursor: pointer;
	opacity:0;
	/*position:absolute;
	top:13px;
	left:20px;*/
}
.subCategory:last-child{
	margin-right:0;
}
.subCategory span{
	font-family: var(--khula);
	font-weight:var(--khula600);
	font-size:.9rem;
	color:var(--intRed);
}
.subCatActive{
	box-shadow: var(--insideShadow);
}
.subCatActive span{
	color:var(--blackCoral);
}
.contentContainer{
	padding:0 20px 20px;
}
.contentHeader, .searchHeader{
	text-align:center;
	padding-bottom:20px;
}
.contentHeader span, .searchHeader span{
	color:var(--blackCoral);
	font-family: var(--khula);
	font-weight:var(--khula700);
	font-size:.9rem;
}
.searchResult h1{
	font-family: var(--khula);
	font-weight: var(--khula700);
	text-align: center;
	color:var(--independece);
	font-size:1rem;
}
.contentBlock{
	margin-bottom:20px;
	display: none;
	width:100%;
}
.content{
	background-color:var(--buttonBg);
	box-shadow: var(--outsideShadow);
	border-radius:var(--radius5);
	display: grid;
	grid-template-columns: .15fr 1fr .5fr;
	grid-gap:10px;
	padding:20px;
}
.contentThumb{
	width:70px;
	height:70px;
	align-self: center;
	justify-self:center;
}
.contentThumb img, .contentThumb video{
	width:70px;
	height:70px;
	object-fit: cover;
	border-radius:var(--radius5);
}
.contentName{
	justify-self:start;
	align-self: center;
}
.contentName p{
	font-family: var(--khula);
	font-weight: var(--khula600);
	font-size: .9rem;
	color:var(--blackCoral);
}
.contentCta{
	justify-self:end;
	align-self:center;
}
.ctaBtn{
	border-radius: var(--radius5);
	background-color:var(--buttonBg);
	box-shadow: var(--outsideShadow);
	margin-right: 10px;
	padding:5px;
	display: inline-block;
}
.ctaBtn:last-child{
	margin-right:0;
}
.ctaBtn i{
	font-size:2.4rem;
}
.ctaInfo i{
	color:var(--infoColor);
}
.ctaDownload i{
	color:var(--dlColor);
}
.contentPage{
	display: none;
}
/*.contentWrapper{
	overflow-x: hidden;
	white-space: nowrap;
}
.contentPage{
	display:inline-block;
	width: 100%;
	padding:0 10px;
	position: relative;
	top:0;
	left:0;
}*/
.contentPagination{
	padding-top:20px;
	text-align:center;
}
.pageBullet{
	width:25px;
	height:10px;
	border-radius: var(--radius2);
	background-color:var(--buttonBg);
	box-shadow:var(--outsideShadow);
	display: inline-block;
	margin-right: 10px;
	cursor:pointer;
}
.pageBullet:last-child{
	margin-right:0;
}
.pageBullet span{
	display: block;
	width:10px;
	height:4px;
	margin:3px auto;
	background-color:var(--intRed);
	border-radius: var(--radius2);
}
.bulletActive{
	box-shadow: var(--insideShadow);
}
.pageBullet.bulletActive span{
	background-color:var(--buttonBg);
}
.previewContainer{
	padding:30px 20px;
	opacity:0;
}
.closeBtn{
	background-color:var(--buttonBg);
	border-radius:var(--radius25);
	padding:5px;
	box-shadow: var(--outsideShadow);
	float:right;
	cursor:pointer;
}
.closeBtn i{
	color:var(--closeBg);
	font-size:2rem;
}
.previewThumbImage{
	clear:right;
	padding:20px 0;
	display:grid;
	grid-template-columns: auto 1fr;
	grid-gap:10px;
}
.previewImage{
	width:120px;
	height:120px;
}
.thumbVideo{
	width:120px;
	height:120px;
	object-fit: cover;
	border-radius:var(--radius5);
}
.previewImage img{
	width:120px;
	height:120px;
	object-fit: cover;
	border-radius:var(--radius5);
}
.previewNameCta{
	align-self: end;
}
.previewNameCta p{
	font-family: var(--khula);
	font-weight: var(--khula700);
	font-size:1rem;
	color:var(--independece);
	line-height: .9;
}
.previewNameCta > span{
	display: block;
	font-family: var(--khula);
	font-weight: var(--khula400);
	color:var(--blackCoral);
	font-size:.8rem;
	margin-bottom:10px;
}
.previewNameCta .previewDownload{
	display: inline-block;
	padding:5px 10px;
}
.previewNameCta .previewDownload i{
	color:var(--dlColor);
	font-size:1.4rem;
	vertical-align: middle;
}
.previewNameCta .previewDownload span{
	color:var(--dlColor);
	font-size:1rem;
	font-weight:var(--khula700);
	font-family:var(--khula);
	vertical-align: middle;
	display: inline-block;
	margin-bottom:-5px;
}
.previewDescription{
	padding-bottom:20px;
}
.previewDescription p{
	font-family:var(--khula);
	font-size:.9rem;
	color:var(--blackCoral);
}
.previewDescription p:nth-child(1){
	font-weight: var(--khula600);
}
.previewDescription p:nth-child(2){
	font-weight: var(--khula400);
	line-height: 1.2;
}
.previewScreenshots p{
	font-family:var(--khula);
	font-size:.9rem;
	color:var(--blackCoral);
	font-weight: var(--khula600);
	padding-bottom:10px;
}
.sliderContainer{
	padding:10px;
	border-radius: var(--radius5);
	background-color:var(--buttonBg);
	box-shadow:var(--insideShadow);
	text-align: center;
}
.sliderBtn{
	box-shadow: var(--outsideShadow);
	padding:3px 5px;
	border-radius: var(--radius5);
	display: inline-block;
	margin-top: 10px; 
}
.sliderBtn:nth-child(2){
	margin-right:5px;
}
.sliderBtn i{
	color:var(--intRed);
	font-size:2rem;
}
/* media controls */
.audioFileContainer{
	display:none;
}
.mediaDurationRange{
	margin-bottom:10px;
}
.mediaRange{
	-webkit-appearance:none;
	appearance:none;
	width:100%;
	background:linear-gradient(to right, #5C677D 0%, #E9EDF0 0%);
	border-radius:2px;
	height:10px;
}
.mediaRange::-webkit-slider-thumb{
	opacity:0;
}
.mediaRange::-webkit-slider-runnable-track{
	/*background-color:var(--globalBg);*/
	box-shadow: var(--insideShadow);
	height:10px;
	border-radius:2px;
}
.mediaRange::-moz-range-track{
	box-shadow:var(--insideShadow);
	height:10px;
	border-radius:2px;
}
.mediaRange::-moz-range-thumb{
	opacity:0;
}
.mediaRange::-ms-track{
	box-shadow:var(--insideShadow);
	height:10px;
	border-radius:2px;
}
.mediaRange::-ms-thumb{
	opacity:0;
}
.mediaControl{
	padding-bottom:20px;
}
.playBtn, .volumeBtn{
	border-radius:var(--radius5);
	padding:6px;
	background-color:var(--buttonBg);
	box-shadow:var(--outsideShadow);
	margin-right:7px;
}
.volumeBtn i, .playBtn i{
	font-size:1.6rem;
	color:var(--intRed);
}
.volumeRange{
	-webkit-appearance:none;
	appearance:none;
	width:20%;
	background:linear-gradient(to right, #0466C8 0%, #E9EDF0 0%);
	border-radius:5px;
	height:16px;
}
.volumeRange::-webkit-slider-runnable-track{
	box-shadow: var(--insideShadow);
	border-radius:5px;
	height:16px;	
}
.volumeRange::-webkit-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	width:22px;
	height:22px;
	margin-top:-3px;
	box-shadow:var(--outsideShadow);
	background-color:var(--buttonBg);
	border-radius:50px;
	cursor:pointer;
}
.volumeRange::-moz-range-track{
	box-shadow: var(--insideShadow);
	border-radius:5px;
	height:16px;	
}
.volumeRange::-moz-range-thumb{
	width:22px;
	height:22px;
	margin-top:-3px;
	box-shadow:-1px -1px 2px rgba(255, 255, 255, 0.5), 1px 1px 2px #C2CDDC;;
	background-color:var(--buttonBg);
	border-radius:50px;
	cursor:pointer;
	border:none;
}
.durationIndicator{
	float:right;
	font-family:var(--khula);
	font-weight:var(--khula600);
	font-size:.9rem;
	color:var(--blackCoral);
}

.loader{
	position:relative;
	top:30px;
	left:50%;
	transform: translateX(-50%);
	width:120px;
	height:120px;
	overflow:hidden;
	border-radius:50%;
	box-shadow:var(--insideShadow);
}
.loader:before{
	content:"";
	position:absolute;
	top:20px;
	left:20px;
	right:20px;
	bottom:20px;
	background:var(--globalBg);
	border-radius:50%;
	box-shadow: var(--outsideShadow);
	z-index: 2;
}
.loader span{
	position:absolute;
	width:100%;
	height:100%;
	border-radius:50%;
	background:linear-gradient(to bottom, #E9EDF0 50%, #0466C8 50%);
	animation: spin 700ms linear infinite;
}
@keyframes spin {
	0%{transform: rotate(0deg)}
	100%{transform: rotate(360deg)}
}

@media only screen and (max-width:500px){
	.ctaBtn{
		margin-right:5px;
	}
}

@media only screen and (max-width: 495px){
	.content{
		grid-gap:10px;
		padding:10px;
	}
	.contentThumb{
		width:40px;
		height:40px;
	}
	.contentThumb img{
		width:40px;
		height:40px;
	}
	.ctaBtn{
		margin-right: 5px;
	}
	.ctaBtn i{
		font-size:1.4rem;
	}
	.previewImage{
		width:90px;
		height:90px;
	}
	.previewImage img{
		width:90px;
		height:90px;
	}
}