* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 700;
  font-size: .95rem;
  color: #fff;
  display: block;
  padding: 5px 0;
  background: #3275E8;
  border: 1px solid #0A3C91;
  border-radius: 5px;
}

@media screen and (min-width: 600px) {
  a {
    font-size: 1.1rem;
  }
}

p {
  font-weight: 400;
  font-size: .85rem;
  line-height: 2.3;
}

@media screen and (min-width: 600px) {
  p {
    font-size: .9rem;
  }
}

img {
  max-width: 100%;
}

body {
  background: url("../assets/Mask Group 37.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
}

body .color-overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(top, black 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 50vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  padding-top: 0px;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
  }
}

.content {
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media screen and (min-width: 600px) {
  .content {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.content-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.content-container .content-thumb {
  position: relative;
}

.content-container .content-thumb .play-icon {
  position: absolute;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.content-container .content-thumb i {
  color: #fff;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2.1rem;
}

@media screen and (min-width: 600px) {
  .content-container .content-thumb i {
    font-size: 3.5rem;
  }
}
/*# sourceMappingURL=style.css.map */