@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
body {
    font-family: Arial;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #bfefdd;
    color: #473b0a;
}

.header {
    background-color: #61a000;
    color: #473b0a;
}

.header-div {
    min-width: 278px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Col-Left,
.Col-right {
    align-self: center;
}

.Col-Left p {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    text-transform:capitalize;
}

.Col-right span {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.Col-right span:nth-child(1),
span:nth-child(2),
span:nth-child(3) {
    padding: 5px 5px;
}

.Col-right span:nth-child(1) {
    background: #000;
}

.Col-right span:nth-child(2) {
    background: #fff;
    color: #3D3D3D;
    border:1px solid #000;
}

.Col-right span:nth-child(3) {
    color: #fff;
}

#tnc,
#btmnav {
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
}

.content-main {
    min-width: 278px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    overflow: hidden;
}

.content-left,
.content-right {
    align-self: center;
    text-align: center
}

.content-right img {
    width: 100%;
}
.content-left .btn img{
    max-width: 100%;
    cursor: pointer;
}
.content-left .btn:hover{
    animation: none;
}
.btn span{
    text-shadow: 5px 10px 18px #888888;
}
.clear {
    clear: both;
}

#content {
    width: 100%;
    margin: auto;
}

#tnc {
    padding: 5px;
    color: #61a000;
}
#tnc p{
    line-height: 1.4;
    text-align: justify;
    font-size: 0.7rem;
}
#btmnav {
    text-align: center;
    margin-top: 10px;
    font-size: 11px;
    color: #61a000;
    padding: 5px 0px 5px 0px;
}

#btmnav a {
    text-decoration: none;
    color: #61a000;
    font-size: 0.7rem;
}

#btmnav a:hover {
    text-decoration: none;
}
@media (max-width:600px){
    .Col-Left p {
        font-size: .9rem;
    }
    .content-main{
        flex-direction: column;
    }
    .content-left{
        margin-top:2vh;
        order: 1;
    }
    .content-left .btn img {
        margin:-1.5rem auto 1.5rem auto;
        max-width:80%;
    }
}
@media (min-width: 278px) and (max-width: 950px) {
    .Col-Left {
        margin: 0 1rem 0 1rem;
    }
    #tnc,
    #btmnav,
    .content-main {
        margin: 0 1rem 0 1rem;
    }
    .content-right img, .content-right img {
        width: 60%;
        margin:0 auto;
    }
}
@media (max-width:320px){
    #content{
        margin-left:-3%;
        margin-right:-3%;
        overflow: hidden;
    }
}
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}