*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    min-height:100%;
  }
  body { 
    margin: 0 auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background: rgb(64,166,255); /* Old browsers */
    background-image: -moz-linear-gradient(top, rgba(64,166,255,1) 0%, rgba(0,115,217,1) 100%); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(top, rgba(64,166,255,1) 0%,rgba(0,115,217,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(to bottom, rgba(64,166,255,1) 0%,rgb(0, 115, 217) 100%); /* W3C, IE10+, FF16+,*/
    background-repeat: no-repeat;
  }
.lp-container{
    margin:0 auto;
    text-align: center;
    height:auto;
    width:80%;
    position:relative;
}
.section::after, .section::before {
    height:100vh;
    content:' ';
    position: absolute;
    width: 20%;
    top: 0;
}
.section::after {
    right: -1px;
    background-image: url(../assets/Group\ 4.png);
    background-repeat: no-repeat;
    background-position: right center;
    min-height:100%;
    background-size: contain;
    background-blend-mode: darken;
}
.section::before {
    left: 0;
    background-image: url(../assets/Group\ 3.png);
    background-repeat: no-repeat;
    background-position:left center;
    min-height:100%;
    background-size: contain;
}
.main{
    background: url(../assets/bg.png) no-repeat top center;
}
.section{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgb(255, 255, 255), #ffffff);
    background-repeat: no-repeat;
    background-position: top center;
    padding: 2rem;
    width: 90%;
    margin:0 auto;
    text-align: center;
    position: relative;
}
.content, .footer {
    width:90%;
    margin:0 auto;
    text-align: center;
}
.header img{
    max-width: 100%;
}
.primary{
    margin:.7rem 0rem .7rem 0rem;
    color: #2A2A2A;
    font-size: 1.3rem;
}
.button a img{
    min-width:15%;
}
.animated span{
    font-size: 3rem;
    color:#E44D26;
    animation: animated 1s ease-in-out;
    font-weight: 700;
}
.animated {
	animation: animated 2s infinite;
	-webkit-animation: animated 2s infinite;
	-moz-animation: animated 2s infinite;
    -o-animation: animated 2s infinite;
}
/*
@-webkit-keyframes animated {0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}40% {-webkit-transform: translateY(-30px);}60% {-webkit-transform: translateY(-15px);}}
@-moz-keyframes animated {0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}40% {-moz-transform: translateY(-30px);}60% {-moz-transform: translateY(-15px);}}
@-o-keyframes animated {0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}40% {-o-transform: translateY(-30px);}60% {-o-transform: translateY(-15px);}}
@keyframes animated {0%, 20%, 50%, 80%, 100% {transform: translateY(0);}40% {transform: translateY(-30px);}60% {transform: translateY(-15px);}}
*/
@-webkit-keyframes animated{0% {transform: scale(1);}50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-moz-keyframes animated {0% {transform: scale(1);}50% {transform: scale(1.1);}100% {transform: scale(1);}}
@-o-keyframes animated{0% {transform: scale(1);}50% {transform: scale(1.1);}100% {transform: scale(1);}}
@keyframes animated {0% {transform: scale(1);}50% {transform: scale(1.1);}100% {transform: scale(1);}}

.tertiary{
    margin-top:.7rem;
    color: #000000;
}
.icons{
    margin-top:.7rem;
    margin-bottom: .7rem;
}
.icons img{
    width: 12%;
}
.footer p{
    color: #B4B4B4;
    font-size: 0.6875rem;
    margin-bottom: .7rem;
}
ul{
    list-style: none;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration: none;
    color:#B4B4B4; 
    font-size: 0.6875rem;
}

@media only screen and (min-width:1367px){
    .lp-container{
        margin:0 auto;
        text-align: center;
        height:auto;
        width:100%;
        position:relative;
    }
    .section::after, .section::before {
        height:100vh;
        content:' ';
        position: absolute;
        width: 20%;
        top: 0;
    }
    .section{
        width: 80%;
    }
    .content, .footer {
        width:80%;
        margin:0 auto;
        text-align: center;
    }
    .icons img{
        width:14%;
    }
    .primary{
        font-size:2.5rem;
    }
    .button a img{
        width:60%;
    }
    .animated span{
        font-size: 5rem;
    }
    .secondary, .tertiary{
        font-size: 2.5rem;
    }
    .footer p, ul li a{
        font-size: 1.5rem;
    }
}