/* Mobile Queries */
    .lp-container{
        margin:0 auto;
        text-align: center;
        height:auto;
        width:100%;
        position:relative;
    }
    .section::after, .section::before {
        height:100vh;
        content:' ';
        position: absolute;
        width: 23%;
        top: 0;
    }
    .section{
        width: 100%;
    }
    .content, .footer {
        width:80%;
        margin:0 auto;
        text-align: center;
    }
    .icons img{
        width:14%;
    }
    .primary{
        font-size:1.1rem;
    }
    .button a img{
        width:80%;
    }
    .animated span, small{
        display: block;
        margin:-0.5rem;
    }
    .animated span{
        font-size: 2.2rem;
    }
@media only screen  and (max-width:420px){
    .footer{
        width:67%;
    }
    .primary, .secondary, .tertiary{
        font-size:.7rem;
    }
    .secondary, .tertiary{
        margin:.1rem;
    }
}
@media only screen  and (max-width:354px){
    .primary, .secondary, .tertiary{
        font-size:.6rem;
    }
    .animated span{
        font-size: 1.8rem;
    }
    .secondary, .tertiary{
        margin:.1rem;
    }
    .footer p, ul li a{
        font-size: .6rem;
    }
}