/* Tablet Queries */
.lp-container{
    margin:0 auto;
    text-align: center;
    height:65rem;
    width:100%;
    position:relative;
}
.section::after, .section::before {
    height:100vh;
    content:' ';
    position: absolute;
    width: 18%;
    top: 0;
}
.section{
    width: 90%;
}
.content, .footer {
    width:80%;
    margin:0 auto;
    text-align: center;
}
.icons img{
    width:14%;
}
.primary{
    font-size:1.1rem;
}
.button a img{
    width:60%;
}
.animated span, small{
    display: block;
    margin:-0.5rem;
}
.animated span{
    font-size: 2.6rem;
}