:root{
	--rubik:'Rubik', sans-serif;
	--rubik400:400;
	--rubik500:500;
	--rubik600:600;

	--headerGradient:linear-gradient(269.99deg, rgba(10, 7, 123, 0.9) 0.01%, rgba(198, 50, 3, 0.9) 99.99%);
	--downloadGradient:linear-gradient(270deg, #F48C06 0%, #FFC700 100%);

	--lightRed:#DC2F02;
	--black:#283618;
	--gray1:#D4CECE;
	--gray2:#878787;

	--droppyNav:0px 0px 20px rgba(0, 0, 0, 0.35);
	--droppyContent:0px 0px 10px rgba(0, 0, 0, 0.2);
}

*{
	padding:0;
	margin:0;
	border:0;
	box-sizing: border-box;
	font-family: var(--rubik);
}

img, video{
	max-width: 100%;
}

a{
	text-decoration: none;
}

body{
	background:url('../images/bodyBg.jpg') no-repeat top left;
	background-size: cover;
	min-height:100vh;
	position:relative;
}

.bgOpacity{
	background:rgba(0, 0, 0, .62);
	width:100%;
	height:100vh;
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
}

.headerContainer{
	background:var(--headerGradient);
	padding:30px 20px 50px;
}

.headerContainer h1{
	font-size:2.3rem;
	font-weight:var(--rubik500);
	color:#fff;
	padding-bottom:20px;
	text-align: center;
}

.searchContainer{
	max-width: 490px;
	margin:0 auto;
	display:grid;
	grid-template-columns: 1fr auto;
}

.searchContainer input{
	border-radius:10px 0 0 10px;
	padding:10px 20px;
	font-size: .8rem;
	color:var(--black);
	font-weight: var(--rubik500);
}

.searchContainer input::placeholder{
	color:var(--gray2);
	font-weight: var(--rubik400);
}

.searchContainer button{
	border-radius: 0px 10px 10px 0;
	padding:10px 15px;
	background:var(--gray1);
	font-size: .8rem;
	color:var(--black);
	font-weight:var(--rubik500);
	cursor:pointer;
}

.navContainer{
	position:absolute;
	top:0;
	left:20px;
	right:20px;
	z-index: 2;
}

.navBurgWrapper{
	width:56px;
	height:54px;
	background:#fff;
	border-radius: 10px;
	display: inline-block;
	box-shadow: var(--droppyNav);
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	z-index:2;
}

.navBurgWrapper span:not(.closeBtn){
	width:40px;
	height:6px;
	background:var(--lightRed);
	display: block;
	position:absolute; 
	left:8px;
	top:12px;
	border-radius:2px;
	transform-origin: center;
}

.navBurgWrapper span:nth-child(2){
	width:30px;
	top:24px;
	left:13px;	
}

.navBurgWrapper span:nth-child(3){
	top:36px;
}

.navBurgWrapper .closeBtn{
	color:var(--lightRed);
	font-size:.9rem;
	font-weight:var(--rubik600);
	display:inline-block;
	padding:10px 10px 10px 5px;
	transform-origin: center;
}

.navWrapper{
	display:none;
	background-color:#fff;
	border-radius:10px;
	padding:40px 10px;
	box-shadow: var(--droppyNav);
	text-align: center;
	margin:0 auto;
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	transform: scale(0);
	transform-origin:95% top;
	/*max-width:600px;*/
}

.catBtnContainer{
	display: block;
	padding:10px 20px;
	position: relative;
	top:0;
	left:0;
	z-index:2;
	/*border-right:2px solid var(--gray1);*/
}

/*.catBtnContainer:last-child{
	border-right:none;
}*/

.catBtn{
	font-size:1.3rem;
	font-weight:var(--rubik600);
	color:var(--black);
	background:none;
	cursor:pointer;
	/*transition: color 300ms ease-in-out;*/
}

.subCatContainer{
	/*display: none;*/
	opacity:0;
	position:relative;
	top:-25px;
}

.subCatBtnContainer{
	display: inline-block;
	padding:15px 10px;
}

/*.subCatBtnContainer:last-child{
	border-right:none;
}*/

.subCatBtn{
	font-size:.9rem;
	font-weight:var(--rubik600);
	color:var(--black);
	background:none;
	cursor:pointer;
	/*transition: color 300ms ease-in-out;*/
}

.active{
	color:var(--gray2);
}

.contentsContainer{
	background:rgba(255, 255, 255,.9);
	min-height: calc(100vh - 178px);
	padding-top:60px;
}

.contentsWrapper{
	max-width:900px;
	margin:0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 20px;
	grid-column-gap: 10px;
	padding:0 20px 30px;
	position: relative;
}

.contentsWrapper h1{
	text-align: center;
	color:var(--black);
	display: inline;
	grid-column:span 3;
	font-size:1.3rem;
}

.contentWrapper{
	position:relative;
	padding-top:20px;
}

.contentThumb{
	position: absolute;
	top:0;
	left:50%;
	transform: translateX(-50%);
	width:70px;
	height:70px;
	box-shadow: var(--droppyContent);
	border-radius:10px;
	background:#FDFDFD;
	cursor:pointer;
}


.contentThumb img, .contentThumb video{
	object-fit: cover;
	width:70px;
	height:70px;
	border-radius:10px;
}

.contentDetails{
	padding:10px;
	height:100%;
	background:#fff;
	border-radius:10px;
	box-shadow: var(--droppyContent);
}

.dlLink{
	background:var(--lightRed);
	padding:5px 10px;
	border-radius:5px;
	display: block;
	font-size:.95rem;
	font-weight:var(--rubik400);
	color:#fff;
	margin-bottom:10px;
	text-align: center;
}

.contentName{
	font-weight:var(--rubik500);
	text-align: center;
	font-size: .85rem;
	line-height: 1.3;
}

.previewWrapper{
	background:#fff;
	border-radius:10px;
	box-shadow:var(--droppyNav);
	margin:0 20px;
	padding:20px 0;
	position: relative;
	left:-40px;
	opacity: 0;
	overflow: hidden;
	display: none;
}

.previewWrapper::after{
	content: "";
	width:70%;
	height:100%;
	display: block;
	background:linear-gradient(to top, rgba(10, 7, 123, 0.7), rgba(10, 7, 123, 0.7)), var(--catBG);
	background-position:0 0, top center;
	background-size: cover;
	position:absolute;
	top:0;
	left:0;
	z-index:0;
}

.previewWrapper .closeBtn{
	color:var(--lightRed);
	font-size:.9rem;
	font-weight:var(--rubik600);
	display:inline-block;
	padding: 0 20px 30px 0;
	float:right;
	cursor:pointer;
}

.previewDetails{
	clear: right;
	position: relative;
	z-index: 1;
	min-height:144px;
}

.previewThumb{
	width:90px;
	height:90px;
	position: absolute;
	bottom:54px;
	left:calc(70% - 45px);
	border-radius:10px;
	box-shadow:var(--droppyContent);
	overflow: hidden;
	background: #fff;
}

.previewThumb img, .previewThumb video{
	width:inherit;
	height:inherit;
	object-fit: cover;
}

.previewDetails p{
	color:#fff;
	font-size:1rem;
	font-weight:var(--rubik500);
	text-align: right;
	position: absolute;
	bottom: 54px;
	right:calc(30% + 60px);
	left:20px;
}

.previewDlLink{
	display: inline-block;
	background:var(--downloadGradient);
	border-radius: 5px;
	padding:10px 25px;
	color:#fff;
	font-size:1rem;
	font-weight:var(--rubik500);
	position: absolute;
	bottom:0px;
	right:calc(30% + 15px);
}

.previewScreenshots, .previewMedia{
	position: relative;
	z-index:1;
	padding:30px 20px 0;
}

.previewScreenshots span, .previewMedia span{
	float: right;
	color:#fff;
	font-size:.9rem;
	margin-right:calc(30% + 15px);
}

.previewScreenshots span::after, .previewMedia span::after{
	content: "";
	width:100%;
	display: block;
	height:2px;
	background:#fff;
	margin-top:5px;
}

.screenshotsContainer{
	clear: right;
	padding-top: 20px;
	overflow-x: hidden;
	white-space: nowrap;
	cursor: grab;
}

.mediaContainer{
	clear: right;
	padding-top: 20px;
}

.mediaContainer video{
	border-radius: 5px;
	box-shadow:var(--droppyContent);
}

.audioContainer{
	background:#f2f2f2;
	border-radius: 5px;
	box-shadow:var(--droppyContent);
}

.audioContainer audio{
	width: 100%;
}

.screenshotsContainer img{
	width:90%;
	display: inline-block;
	margin-right:15px;
}

.screenshotsContainer img:last-child{
	margin-right:0px;
}

.screenCustomScrollbar{
	width:calc(70% - 10px);
}

.customScrollbar{
	width:100%;
	-webkit-appearance:none;
	appearance:none;
	background:transparent;
}

.customScrollbar:focus{
	outline:none;
}

.customScrollbar::-webkit-slider-runnable-track{
	border-radius: 3px;
	width:100%;
	height:10px;
	background:#fff;
}

.customScrollbar::-webkit-slider-thumb{
	-webkit-appearance:none;
	appearance:none;
	width:20%;
	height:10px;
	background:var(--downloadGradient);
	border-radius: 3px;
}

.customScrollbar::-ms-track{
	border-radius: 3px;
	width:100%;
	height:10px;
	background:#fff;
}

.customScrollbar::-ms-thumb{
	-webkit-appearance:none;
	appearance:none;
	width:20%;
	height:10px;
	background:var(--downloadGradient);
	border-radius: 3px;
	border:none;
}

.customScrollbar::-moz-range-track{
	border-radius: 3px;
	width:100%;
	height:10px;
	background:#fff;
}

.customScrollbar::-moz-range-thumb{
	-webkit-appearance:none;
	appearance:none;
	width:20%;
	height:10px;
	background:var(--downloadGradient);
	border-radius: 3px;
	border:none;
}

@media all and (min-width:570px){
	.headerContainer{
		padding:30px 20px 70px;
	}
	.navContainer{
		position:absolute;
		top:0;
		left:0;
		right:0;
		z-index: 2;
		text-align: center;
		padding:0 20px;
	}
	.navBurgWrapper{
		display: none;
	}

	.navWrapper{
		display:block;
		transform: scale(1);
		max-width:600px;
		margin:0 auto;
		padding:15px 10px;
		position:relative;
		left:0;
		top:0;
	}

	.catBtnContainer{
		display: inline-block;
		padding:5px 15px;
		position: relative;
		top:0;
		left:0;
		border-right:2px solid var(--gray1);
	}

	.catBtnContainer:last-child{
		border-right:none;
	}

	.subCatContainer{
		display: none;
		opacity:0;
		top:-25px;
		left:0;
		z-index:1;
	}

	.subCatBtnContainer{
		display: inline-block;
		padding:3px 10px;
		border-right:2px solid var(--gray1);
	}

	.subCatBtnContainer:last-child{
		border-right:none;
	}

	.contentsWrapper{
		grid-template-columns: repeat(4, 1fr);
	}

	.contentsWrapper h1{
		grid-column: span 5;
	}

}

@media all and (min-width:750px){
	.previewWrapper{
		max-width:750px;
		margin:0 auto;
	}
}

@media all and (min-width:720px){
	.contentsWrapper{
		grid-template-columns: repeat(5, 1fr);
	}
}

@media all and (min-width:900px){
	.contentsWrapper{
		grid-template-columns: repeat(6, 1fr);
	}

	.contentsWrapper h1{
		grid-column: span 6;
	}
}