*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

body{
	background: url('assets/background.jpg');
	animation: animateBG 15s linear infinite;
}

@keyframes animateBG{
	from{background-position: 0 0}
	to{background-position: 0 500px}
}

.lp-container{
	max-width:472px;
	padding:0px 10px;
	margin:0 auto;
}

.lp-header{
	text-align: center;
	padding: 20px 0 40px;
}

.details-container{
	padding-bottom:40px;
	text-align: center;
}

.details-header{
	background:#FFFFFF;
	border-radius: 10px 10px 0 0;
	padding:20px;
}

.details-header p{margin-bottom:7px;}

.details-header p, .details-header span{
	font-weight: 700;
	font-size:.9rem;
}

.lp-details{
	background:rgba(255, 255, 255, .8);
	border-radius: 0 0 10px 10px;
	padding:20px;
}

.lp-details > span{
	display: block;
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:#FF0000;
	border-radius:5px;
	font-size:1.5rem;
	font-weight: 700;
	color:#fff;
}

.lp-details p{
	font-size:.9rem;
}

.lp-details p > span{
	font-size:2.4rem;
	font-weight: 700;
	color:#FF0000;
}

.lp-details p > span:first-child{
	margin-right: 5px;
}

.lp-gamesicon, .lp-compatibility{
	text-align: center;
	padding-bottom: 20px;
}

.lp-gamesicon p, .lp-compatibility p{
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-gamesicon ul li, .lp-compatibility ul li{
	display: inline-block;
	margin-right:5px;
}

.lp-gamesicon ul li:last-child, .lp-compatibility ul li:last-child{
	margin-right: 0;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
	color:#fff;
}