*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../assets/bg2.jpg) no-repeat top center fixed;
    background-size: cover;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.weight600{
    font-weight: 600;
}
.container{
    padding:0;
    position: relative;
}
/* index styles */
.abbrechen{
    position:fixed;
    top:0px;
    right:0px;
    background:#000;
    padding:5px 5px 5px 15px;
    cursor: pointer;
}

.canceltext span{
    color:#fff;
    font-size:1rem;
    font-weight:600;
    text-transform: uppercase;
    line-height: 25px;
}
.main{
    padding:20px;
    text-align: center;
    background:#FFD813;
}
.logo{
    padding:60px 10px 10px;
    text-align: center;
}
.ximage{
    text-align: center;
    margin-top:20px;
}
.paragh1, .paragh2, .button{
    padding-bottom:10px;
}
.paragh1 p, .paragh2 p{
    font-size:.9rem;
    line-height: 1.4;
}
.button a{
    display: inline-block;
    font-size:1.2rem;
    color:#000;
    font-weight:600;
    padding:10px 60px;
    background:#FFD813;
    border:3px solid #000;
    border-radius:5px;
}
.footer{
    background:rgba(255, 255, 255, .7);
    padding:10px 20px;
    margin-top:20px;
    height:100vh;
}
.footer p{
    font-size:.8rem;
    line-height: 1.4;
    text-align: justify;
    padding-bottom:10px;
}
.footer ul{
    list-style: none;
    text-align: center;
}
.footer ul li{
    display: inline-block;
    margin-right:10px;
    margin-bottom:3px;
}
.footer ul li:last-child{
    margin-right:0px;
}
.footer ul li a{
    font-size:.8rem;
    color:#003E8F;
    font-weight:600;
}

@media only screen and (min-width:400px){
    .main{
        width:400px;
        margin:0 auto;
    }
}

@media only screen and (min-width:800px){
    .container{
        width:100%;
        margin:0 auto;
    }
    .abbrechenContain{
        width:800px;
        margin:0 auto;
        position:relative;
    }
    .abbrechen{
        position: absolute;
        top:0px;
        right:0px;
    }
    .paragh1 p, .paragh2 p{
        font-size:1rem;
    }
    .button a{
        font-size:1.5rem;
    }
    .footerContain{
        width:800px;
        margin:0 auto;
    }
    .footer p{
        font-size:.9rem;
    }
    .footer ul li a{
        font-size:.9rem;
    }
}
/* end index styles */

/* altersverification and abbrechen styles */
.caution, .ximage, .heading{
    padding-bottom:10px;
}
/* end altersverification and abbrechen styles */




/* TNC */

.tnc_section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(255, 255, 255, .7);
}
address{
    margin: 1rem 0 0 1rem;
}
.tnc_section h1{
    margin: 0 0 1rem 0;
}
.tnc_section h3{
    margin: 2rem 0 1rem 0;
    text-transform: capitalize;
}
.tnc_section h4{
    margin: 0 0 2rem 0;
}
.tnc_section p{
    margin-left: 1rem;
    margin-bottom: .8em;
}
p span, i{
    background-color: yellow;
}