//Font
$arial:Arial, Helvetica,  sans-serif;

//Colors
$keyshort:#00C8FC;


//Animation Keyframes
@keyframes opac{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

//Media Queries
@mixin width900{
    @media screen and (min-width:900px){
        @content
    }
}

@mixin width500{
    @media screen and (min-width:500px){
        @content
    }    
}

@mixin width600 {
    @media screen and (min-width:600px){
        @content
    }
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family: $arial;
}
a{
    text-decoration:none;
}
span, p, a{
    color:#fff;
    font-size: .9rem;
}
img{
    max-width: 100%;
}
ul{
    list-style:none;
}
body{
    background:url('../img/bg.png');
    background-size: cover;
}

.content-wrapper{
    min-width: 320px;
    margin:0 auto;

    @include width900{
        max-width: 900px;
        margin:0 auto;
    }
   
    @include width500{
        max-width: 500px;
        margin:0 auto;
    }

    @include width600{
        max-width: 600px;
        margin:0 auto;
    }
}

.grid-container{
    padding-bottom:20px;

    .image-heading{
        padding-bottom:10px;
        
        @include width600{
            max-width: 600px;
            margin:0 auto;
        }
    }

    .final-step{ 
        padding-left:10px;
        padding-right:10px;
        text-align: center;

        @include width500{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-row-gap: 8px;
            grid-column-gap: 8px;
        }

        @include width600{
            max-width:500px;
            margin:0 auto;
        }

        .final-grid{

            .step-heading{
                padding-bottom:10px;

                span{
                    display:block;
                }

            }

            .step-button{
                padding-bottom:10px;

                button{
                    background-color:transparent;
                    outline: none;

                }

            }

        }

        .step-keynum{
            padding-bottom:10px;

            span{
                padding-bottom:10px;
            }

            p span{
                color:$keyshort;
                font-size: 2.5rem;
                font-weight:900;
                animation: opac 2s infinite 0s ease-in-out;

                @include width600{
                    display:block;
                }

                &:first-child{
                    padding-right:5px;

                    @include width600{
                        padding-right:0;
                    }
                }

                &:last-child{
                    padding-left:5px;

                    @include width600{
                        padding-left:0;
                    }
                }
            }
        }

    }

}

.lp-gamesicon{
    text-align:center;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }
   
    span{
        padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.lp-compatibility{
    text-align:center;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;

    @include width600{
        max-width:500px;
        margin:0 auto;
    }

    span{
         padding-bottom:5px;
        display: inline-block;
    }

    ul{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
	    grid-row-gap: 8px;
	    grid-column-gap: 8px;
    }
}

.foot{
    margin-bottom:30px;
    padding-left:10px;
    padding-right:10px;

    p{
        font-size:.8rem;
        padding-bottom:10px;
        line-height:1.4;
    }

    ul{
        text-align:center;
    }

    ul li{
        display:inline-block;
        padding:0 5px;
        border-right:1px solid #fff;
        margin-bottom:5px;

        &:last-child{
            border:none;
        }

        a{
            font-size:.8rem;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}