@-webkit-keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opac {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

span, p, a {
  color: #fff;
  font-size: .9rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: url("../img/bg.png");
  background-size: cover;
}

.content-wrapper {
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .content-wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .content-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

.grid-container {
  padding-bottom: 20px;
}

.grid-container .image-heading {
  padding-bottom: 10px;
}

@media screen and (min-width: 600px) {
  .grid-container .image-heading {
    max-width: 600px;
    margin: 0 auto;
  }
}

.grid-container .final-step {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .grid-container .final-step {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 8px;
    grid-column-gap: 8px;
  }
}

@media screen and (min-width: 600px) {
  .grid-container .final-step {
    max-width: 500px;
    margin: 0 auto;
  }
}

.grid-container .final-step .final-grid .step-heading {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-heading span {
  display: block;
}

.grid-container .final-step .final-grid .step-button {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-button button {
  background-color: transparent;
  outline: none;
}

.grid-container .final-step .step-keynum {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum span {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum p span {
  color: #00C8FC;
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-animation: opac 2s infinite 0s ease-in-out;
          animation: opac 2s infinite 0s ease-in-out;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span {
    display: block;
  }
}

.grid-container .final-step .step-keynum p span:first-child {
  padding-right: 5px;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span:first-child {
    padding-right: 0;
  }
}

.grid-container .final-step .step-keynum p span:last-child {
  padding-left: 5px;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step .step-keynum p span:last-child {
    padding-left: 0;
  }
}

.lp-gamesicon {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 600px) {
  .lp-gamesicon {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-gamesicon span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-gamesicon ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.lp-compatibility {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 600px) {
  .lp-compatibility {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-compatibility span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-compatibility ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.foot {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.foot p {
  font-size: .8rem;
  padding-bottom: 10px;
  line-height: 1.4;
}

.foot ul {
  text-align: center;
}

.foot ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #fff;
  margin-bottom: 5px;
}

.foot ul li:last-child {
  border: none;
}

.foot ul li a {
  font-size: .8rem;
}

.foot ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */