*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	max-width:100%;
}
body{
	background:url(../img/BG.jpg) no-repeat center right fixed;
	background-size: cover;
}

header.logoMenu{
	padding:10px 10px 20px;
	margin-bottom:30px;
	position: relative;
}

/****************  Logo  ****************/


/****************  Navigation Menu  ****************/
.menuNav{
	position: fixed;
	height:0px;
	top:10px;
	right:10px;
	z-index: 1;
}
.navBurger{
	width:34px;
	height:34px;
	padding:10px;
	background:#FF00A1;
	position: absolute;
	right:0px;
	top:0px;
	z-index: 3;
	border-radius:50px;
	transition:all .5s cubic-bezier(0, 0, 0, 1.08) .2s;
}
.navBurger span{
	display: block;
	width:34px;
	height:6px;
	margin-bottom:5px;
	background:#fff;
	border-radius: 5px;
	position: relative;
	-webkit-transition: .3s ease-in-out;
  	transition: .3s ease-in-out;
}
.navBurger span:first-child{
	margin-top:2px;
}
.navBurger span:last-child{
	margin-bottom:0;
}
.navBurger.togBurger span:nth-child(1){
	transform:rotate(135deg);
	top:10px;
}
.navBurger.togBurger span:nth-child(2){
  	opacity:0;
}
.navBurger.togBurger span:nth-child(3){
	transform:rotate(-135deg);
	bottom:12px;
}
.navList{
	opacity: 0;
	height:0px;
	transition:all .5s cubic-bezier(0, 0, 0, 1.08) .2s;
}
.links{
	height:0px;
}
.navList li{
	transition:transform .5s cubic-bezier(0, 0, 0, 1.08) .2s;
}
.navList li:nth-child(1){
	transform:translate(0px,-10px);
	background:#FF00A1;
	padding:5px 0px;
}
.navList li:nth-child(2){
	transform:translate(0px,-74px);
	background:#FF00A1;
	border-radius: 0 0 50px 50px;
}

/****************  End Navigation Menu  ****************/

/****************  Container  ****************/

.divContainer{
	margin:0 10px 50px;
}

/****************  End Container  ****************/

/****************  Tab Links  ****************/
.tabLinks{
	height:40px;
}
.tabNav{
	width:100%;
	height:40px;
	background:#B1B1B1;
}
.tabNav li{
	float:left;
	height:40px;
}
.tabNav a{
	display: block;
	line-height: 40px;
	padding:0px 10px;
	color:#000;
	font-size:.9rem;
	transition:background 1.5s cubic-bezier(0, 0, 0, 1.08) .1s;
}
ul#tabs li a.selected{
	background:#E310FB;
	padding-bottom:3px;
	padding-top:3px;
	font-size:.9rem;
	color:#fff;
	font-weight: 600;
	position: relative;
	border-radius:4px 4px 0 0; 
	top:-6px;
}
.tabContent{
	clear:left;
}
/****************  End Tab Links  ****************/

/****************  Tab Content  ****************/

.tabContent{
	background:#fff;
	padding:10px;
}
.tabContent article{
	display: grid;
	grid-template-columns: .4fr .6fr;
	margin-bottom:10px;
	grid-gap: 20px;
	padding:5px;
}
.tabContent article:nth-child(odd){
	background:#ccc;
}
.tabContent article:last-child{
	margin-bottom: 0;
}
.tabContent.hide{
	display:none;
}
.thumbName{
	padding-top:20px;
}
.thumbName .title{
	font-size:1rem;
	display: block;
	padding-bottom:10px;
	color:#000;
}

.thumbName .btn{
	display: inline-block;
	background:#E310FB;
	padding:8px 15px;
	color:#fff;
	font-size:.9rem;
	font-weight:600;
	border-radius:5px;
}

/****************  End Tab Content  ****************/

/****************  Preview  ****************/

.prevTitle{
	padding:10px;
	background:#B1B1B1;
	display: grid;
	grid-template-columns: .8fr .2fr;
}
.prevTitle a{
	justify-self: end;
}
.preview-close span {
  height: 5px;
  background: #000;
  display: block;
  position: relative;
  right: 0;
  margin-bottom: 1px;
}

.preview-close span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 5px;
  width: 30px;
}
.preview-close span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: 1px;
  width: 30px;
}
.dlSection{
	background:#fff;
	padding:10px;
}
.dlImage{
	text-align:center;
}

.dlImage, .dlName, .dlDescrip, .dlDownload{
	padding-bottom:10px;
}
.dlName p{
	color:#FF00A1;
	font-size:1rem;
	font-weight:600;
}
.dlDescrip p{
	font-size: .8rem;
	text-align: justify;
}
.dlDownload{
	text-align: center;
}
.dlDownload a{
	display: inline-block;
	background:#E310FB;
	padding:10px 20px;
	color:#fff;
	font-size:1rem;
	font-weight:600;
	border-radius:5px;
}

/****************  End Preview  ****************/

/****************  Media Queries  ****************/

@media screen and (min-width:440px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 10px;
	}
}

@media screen and (min-width:780px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 10px;
	}
	.prevTitle, .dlSection{
		max-width: 500px;
		margin:0 auto;
	}
}
@media screen and (min-width:1200px){
	.tabContent{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
	}
	body{
		max-width: 1200px;
		margin:0 auto;
	}
	.menuNav{
		position: absolute;
	}
}

/****************  End Media Queries  ****************/