*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background:url(../assets/sexy_bg.png) no-repeat left bottom, rgb(166,12,254); /* Old browsers */
    background:url(../assets/sexy_bg.png) no-repeat left bottom, -moz-linear-gradient(top, rgba(166,12,254,1) 1%, rgba(255,0,187,1) 100%); /* FF3.6-15 */
    background:url(../assets/sexy_bg.png) no-repeat left bottom, -webkit-linear-gradient(top, rgba(166,12,254,1) 1%,rgba(255,0,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background:url(../assets/sexy_bg.png) no-repeat left bottom, linear-gradient(to bottom, rgba(166,12,254,1) 1%,rgba(255,0,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.logo{
    padding:0 10px 10px;
    margin: 0 auto;
    width: 100%;
}
.content{
    padding:0 10px 80px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;            
}
article{
    border:2px solid #fff;
    background:rgb(139, 139, 139);
    display: inline-block;
    position: relative;
}
.thumb-name{
    position: absolute;
    left:0px;
    top:0px;
    padding:2px 20px 2px 10px;
    background:#fff;
    border-radius: 0px 0px 50px 0px;
}
.thumb-name a{
    color:#000;
    font-size:.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-weight:700;
}

/*PREVIEW STYLES*/
.dl-container{
    padding:0 10px;
}
section{
    position: relative;
    padding-bottom:150px;
}
.dl-name{
    position: absolute;
    left:0px;
    top:0px;
    padding:5px 20px 5px 10px;
    background:#fff;
    border-radius: 0px 0px 50px 0px;
}
.dl-name h5{
    font-size:1rem;   
    font-family: Arial, Helvetica, sans-serif;
    color:#000F4D;

}
.dl-image{
    border:2px solid #fff;
    background:rgb(139, 139, 139);
}
.dl-download a{
    background: #00DB3E;
    display: inline-block;
    width:100%;
    text-align:center;
    padding:10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    text-decoration: none;
    color:#000F4D;
    font-size:1.4rem;
    border-radius:0 0 20px 20px;
}
.dl-download a:hover{
    color:#fff;
}
/*browser width 400px*/
@media screen and (min-width:400px){
    section{
        max-width:400px;
        margin:0 auto;
     }
}
/*browser width 450px*/
@media screen and (min-width:450px){
    .thumb-name a{
        font-size:.9rem;
    }
    .dl-name{
        padding:10px 30px 10px 15px;
    }
    .dl-name h5{
        font-size:1.2rem;
    }
    .dl-download a{
        padding:15px 0;
        font-size:1.6rem;
    }
}

/*browser width 580px*/
@media screen and (min-width:580px){
    .content{
        grid-template-columns: repeat(3, 1fr);
        grid-gap:15px;            
    }
}

/*browser width 870px*/
@media screen and (min-width:870px){
    .content{
        grid-template-columns: repeat(4, 1fr);
        grid-gap:15px;            
    }
}

/*browser width 1000px*/
@media screen and (min-width:1000px){
    .content{
        grid-template-columns: repeat(5, 1fr);
        grid-gap:20px;            
    }
    .logo{
        margin: 0 auto;
        max-width: 1000px;
    }
    .thumb-name a{
        font-size:.9rem;
    }
}

/*browser width 1250px*/
@media screen and (min-width:1250px){
    .content{
        max-width:1250px;   
        margin: 0 auto;         
    }
}