*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	position: relative;
	background:rgb(1, 27, 44);
	background-size: cover;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	background:linear-gradient(90deg, rgb(0, 211, 105), rgb(166, 255, 0));
	font-size:1.3rem;
	color:rgb(0, 0, 0);
	font-weight:700;
	display: inline-block;
	width:160px;
	padding:10px 40px;
	border-radius:2px;
	border-bottom:3px solid rgb(0, 211, 105);
	border-right:2px solid rgb(0, 211, 105);
	box-shadow: 0px 0px 10px rgba(166,255,0,.5);
	margin-bottom:10px;
}
input[type=text]{
	font-size:1.3rem;
	text-align: center;
	display: inline-block;
	padding:10px 40px;
	width:160px;
	border-radius:2px;
	color:rgb(0, 211, 105);
	border:1px solid rgb(0, 211, 105);
	font-weight:700;
	margin-bottom:10px;
}
input[type=text]::placeholder{
	color:rgb(0, 211, 105);
}
img{
	max-width:100%;
}
p{
	font-size:.8rem;
}
span{
	font-size:.9rem;
	display: block;
	font-weight:600;
	padding:10px 10px;
}
h4{
	font-size:1rem;
	padding-bottom:10px;
	color:rgb(166, 255, 0);
}
h3{
	font-size:1.6rem;
	font-weight:900;
	color:rgb(166, 255, 0);
}
.upper-sect{
	text-align: center;
	margin:0 10px;
	padding-bottom:10px;
	position: relative;
	top:-999px;
	left:0px;
	transition: top 1s ease-in 0s;
}
.detail-1, .detail-2{
	position: relative;
	opacity: 1;
	left:0px;
	top:0px;
	transition: left 500ms ease-in 0s, opacity 500ms ease-in 0s;
}
.detail-2{
	left:999px;
	top:0px;
	opacity: 1;
	transition: left 500ms ease-in 0s, opacity 500ms ease-in 0s;
}
.lower-sect{
	margin:10px 10px 0px;
	padding-top:10px;
	position: relative;
	bottom:-999px;
	left:0px;
	transition: bottom 1s ease-in 0s;
	padding:10px 10px;
}
.lp-compatibilty, .lp-gamesicon{
	padding-bottom:10px;
}
.lp-gamesicon ul, .lp-compatibilty ul{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap:10px;
}
.lower-sect p{
	line-height: 1.6;
	text-align: justify;
	font-size:.75rem;
}
.lp-gamesicon p, .lp-compatibilty p{
	text-align:center;
	padding-bottom:10px;
}
/*hidden elements*/
.upper-sect-2, .detail-2{
	display: none;
}
@media only screen and (min-width: 500px){
	.lp-container{
		max-width:500px;
		margin:0 auto;
	}
}