*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
    color:#4d4d4d;
}
//Media Queries
@mixin width400{
    @media screen and (min-width:400px){
        @content
    }
}
@mixin width560{
    @media screen and (min-width:560px){
        @content
    }
}
@mixin width1070{
    @media screen and (min-width:1070px){
        @content
    }
}
ul{
    list-style: none;
}
img{
    max-width:100%;
}
body{
    background: url(../../img/backdrop.jpg) no-repeat center;
    background-size: cover;
}
header{
    text-align: center;
    padding:10px 10px 0;
}
.sect1{
    text-align:center;
    padding:20px 10px 0;

    p{
       font-size: 1rem;
       font-weight: 700;

       @include width560{
            font-size: 1.4rem;
       }

       span{
           display:block;
           color: #FF0000;
       }
    }
}
.sect3{
    padding:0 10px;
    background:#14D4BF;
    text-align: center;

    .art1{
        padding-top:15px;

        @include width560{
            padding-top:20px;
        }

        p{
            @include width560{
                font-size:1.4rem;
            }
        }
        span{
            font-size:.9rem;
            display: inline-block;
            padding-top:5px;

            @include width560{
                font-size:1rem;
            }
        }
    }

    .art2{
        padding-top:15px;

        button{
            width: 100%;
            border-radius:3px;
            padding:10px 0;
            font-weight:700;
            border:none;
            background:#AE0707;
            color:#fff;

            @include width560{
                width:560px;
                padding:15px 0;
                border-radius:5px;
                font-size:1.4rem;
            }
        }
    }

    @keyframes blicker{
        0%{text-shadow:-1px -1px 2px rgb(255, 102, 0,), 
                        1px -1px 2px rgb(255, 102, 0), 
                       -1px 1px 2px rgb(255, 102, 0,),
                        1px 1px 2px rgb(255, 102, 0,);
            color:rgb(255, 102, 0,)}
        50%{text-shadow: none;color:#AE0707;}
        100%{text-shadow:-1px -1px 2px rgb(255, 102, 0,), 
            1px -1px 2px rgb(255, 102, 0,), 
           -1px 1px 2px rgb(255, 102, 0,),
            1px 1px 2px rgb(255, 102, 0,);
            color:rgb(255, 102, 0,)}
    }

    .art3{
        padding-top:10px;
        text-align: center;

        span{
            font-size:1rem;

            @include width560{
                font-size:1.2rem;
            }   
        }
        p{
            font-size:1rem;

            @include width560{
                font-size:1.2rem;
            }            

            span{
                font-size:2.5rem;
                font-weight: 900;
                display:block;
                color:#AE0707;
                animation: blicker 3s ease 0s infinite;

                @include width400{
                    display:inline;
                    font-size:3rem;
                }
            }
        }
    }

    .art4{
        padding-top:20px;

        @include width560{
            padding-top:30px;
        }

        p{
            @include width560{
                font-size: 1.2rem;
            }
        }

        ul{
            display: grid;
            grid-template-columns: repeat(6,1fr);
            grid-gap: 5px;
            padding-top:10px;

            @include width560{
                max-width: 560px;
                margin:0 auto;
            }

            @include width1070{
                max-width: 1070px;
                grid-template-columns: repeat(12,1fr);
            }
        }
    }

}
footer{
    background:#14D4BF;
    padding:15px 10px 20px;
    font-size: .9rem;
    
    span{
        text-align: center;
        display: block;
        padding-bottom:5px;
        cursor: pointer;
    }
    #displayON{
        line-height: 1.3;
        display:none;

        @include width1070{
            max-width: 1070px;
            margin:0 auto;
        }
    }
}