* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background: url(../../img/backdrop.jpg) no-repeat center;
  background-size: cover;
}

header {
  text-align: center;
  padding: 10px 10px 0;
}

.sect1 {
  text-align: center;
  padding: 20px 10px 0;
}

.sect1 p {
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 560px) {
  .sect1 p {
    font-size: 1.4rem;
  }
}

.sect1 p span {
  display: block;
  color: #FF0000;
}

.sect3 {
  padding: 0 10px;
  background: #14D4BF;
  text-align: center;
}

.sect3 .art1 {
  padding-top: 15px;
}

@media screen and (min-width: 560px) {
  .sect3 .art1 {
    padding-top: 20px;
  }
}

@media screen and (min-width: 560px) {
  .sect3 .art1 p {
    font-size: 1.4rem;
  }
}

.sect3 .art1 span {
  font-size: .9rem;
  display: inline-block;
  padding-top: 5px;
}

@media screen and (min-width: 560px) {
  .sect3 .art1 span {
    font-size: 1rem;
  }
}

.sect3 .art2 {
  padding-top: 15px;
}

.sect3 .art2 button {
  width: 100%;
  border-radius: 3px;
  padding: 10px 0;
  font-weight: 700;
  border: none;
  background: #AE0707;
  color: #fff;
}

@media screen and (min-width: 560px) {
  .sect3 .art2 button {
    width: 560px;
    padding: 15px 0;
    border-radius: 5px;
    font-size: 1.4rem;
  }
}

@-webkit-keyframes blicker {
  0% {
    text-shadow: -1px -1px 2px #ff6600, 1px -1px 2px #ff6600, -1px 1px 2px #ff6600, 1px 1px 2px #ff6600;
    color: #ff6600;
  }
  50% {
    text-shadow: none;
    color: #AE0707;
  }
  100% {
    text-shadow: -1px -1px 2px #ff6600, 1px -1px 2px #ff6600, -1px 1px 2px #ff6600, 1px 1px 2px #ff6600;
    color: #ff6600;
  }
}

@keyframes blicker {
  0% {
    text-shadow: -1px -1px 2px #ff6600, 1px -1px 2px #ff6600, -1px 1px 2px #ff6600, 1px 1px 2px #ff6600;
    color: #ff6600;
  }
  50% {
    text-shadow: none;
    color: #AE0707;
  }
  100% {
    text-shadow: -1px -1px 2px #ff6600, 1px -1px 2px #ff6600, -1px 1px 2px #ff6600, 1px 1px 2px #ff6600;
    color: #ff6600;
  }
}

.sect3 .art3 {
  padding-top: 10px;
  text-align: center;
}

.sect3 .art3 span {
  font-size: 1rem;
}

@media screen and (min-width: 560px) {
  .sect3 .art3 span {
    font-size: 1.2rem;
  }
}

.sect3 .art3 p {
  font-size: 1rem;
}

@media screen and (min-width: 560px) {
  .sect3 .art3 p {
    font-size: 1.2rem;
  }
}

.sect3 .art3 p span {
  font-size: 2.5rem;
  font-weight: 900;
  display: block;
  color: #AE0707;
  -webkit-animation: blicker 3s ease 0s infinite;
          animation: blicker 3s ease 0s infinite;
}

@media screen and (min-width: 400px) {
  .sect3 .art3 p span {
    display: inline;
    font-size: 3rem;
  }
}

.sect3 .art4 {
  padding-top: 20px;
}

@media screen and (min-width: 560px) {
  .sect3 .art4 {
    padding-top: 30px;
  }
}

@media screen and (min-width: 560px) {
  .sect3 .art4 p {
    font-size: 1.2rem;
  }
}

.sect3 .art4 ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  padding-top: 10px;
}

@media screen and (min-width: 560px) {
  .sect3 .art4 ul {
    max-width: 560px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1070px) {
  .sect3 .art4 ul {
    max-width: 1070px;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

footer {
  background: #14D4BF;
  padding: 15px 10px 20px;
  font-size: .9rem;
}

footer span {
  text-align: center;
  display: block;
  padding-bottom: 5px;
  cursor: pointer;
}

footer #displayON {
  line-height: 1.3;
  display: none;
}

@media screen and (min-width: 1070px) {
  footer #displayON {
    max-width: 1070px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=styles.css.map */