*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#000;
}
img{
    max-width:100%;
}
a{text-decoration:none;}
body{
	background:url('../img/background.jpg') no-repeat center fixed;
	background-size:cover;
}
.lp-container{
	margin:0 auto;
}
.image-container{
	width:auto;
	height:auto;
	position:relative;
	top:0;
	left:0;
	overflow-y: hidden;
}
.image-container .logo{
	position:absolute;
	padding:0px 20px;
	top:500px;
	left:50%;
	transform:translateX(-50%);
	z-index:3;
	animation: logoSlide 1s ease 0s forwards;
}
.overlay{
	position:relative;
	top:0;
	left:0;
	width:100%;
	opacity:0;
	background-color:rgba(0,0,0,.55);
	z-index:2;
	animation: opac 2s ease .5s forwards;
}
.image-container .bg-img{
	position:absolute;
	top:0;
	left:0;
}
.details{
	text-align: center;
	padding:20px 0 40px;
}
.details h3, .details input, .details p{margin-bottom:20px;}
.details input{
	padding:10px 0px;
	border:1px solid #000;
	border-radius:3px;
	text-align:center;
	font-size:1.2rem;
	font-weight:700;
}
.details p{font-size:.9rem;}
.details p span{
	font-size:1.2rem;
	font-weight:700;
	color:#04BEE0;
}
.details a{
	font-weight:700;
	font-size:1.2rem;
	display:inline-block;
	padding:10px 40px;
	border-radius:50px;
	border:1px solid #000;
	background:linear-gradient(90deg, #9DDE13, #04BEE0);
}
.tnc-container{padding:0px 10px;}
.tnc-container p{
	font-size:.8rem;
	line-height:1.4;
}
.tnc-container > p, .tnc-container a.faq, .android-only{padding-bottom: 20px;}
.tnc-container > p{
	color:#fff;
	text-align:justify;
}
.android-only{
	text-align: center;
}
.tnc-container a.faq{
	text-align: center;
	display: block;
	font-weight:700;
	color:#ADFF00;
}

/* Animations */
@keyframes opac{
	0%{opacity:0;}
	100%{opacity:1;}
}

@keyframes logoSlide{
	0%{
		top:500px;
		filter:blur(1px);
	}
	100%{
		top:80px;
		filter:blur(0px);
	}
}

@media only screen and (min-width:400px){
	.lp-container{
		max-width:400px;
	}
}