* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: url(../assets/qc_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 15px;
  font-family: Verdana, sans-serif !important;
  line-height: 1.5;
  margin:0 auto;
}

a {
  color: #000 !important;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}
#img-thumbnail {
  width: 100%;
}
.logo{
  display: flex;
    display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
  align-self: center;
}
.logo img{
  width: 40em;
  height: auto;
}

.content{
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
main {
  margin: 2.5rem 1.5rem;
  max-width: 1280px;
  background: #fff;
  position: relative;
  display: flex !important;
  justify-content: center;
  flex-direction: row;
  -webkit-box-shadow: -2px -1px 8px 2px rgba(0,0,0,0.12);
  -moz-box-shadow: -2px -1px 8px 2px rgba(0,0,0,0.12);
  box-shadow: -2px -1px 8px 2px rgba(0,0,0,0.12);
}
.menu{
  order: 1;
  background-color: #dddada;
}
.menu_hen{
  list-style: none;
  padding: 0;
}
.menu_chicks{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
.link_active{
  background:#fff;
}

.menu{
  width: 10rem;
}
.menu_chicks a img{
  padding: 2rem;
}

.main-content {
  background-color: #fff;
  position: relative;
}

.content-container {
  display: grid !important;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto  !important;
  padding: 5px;
  position: relative;
}

.content-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eee;
  padding: 15px;
  font-size: 30px;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: left;
  justify-items: left;
  grid-gap: 5px;
}

.item-holder {
  display: flex;
    display: -webkit-flex; /* Safari */
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  align-self: stretch;
  padding: 0.5em;
}
a.title{
  padding-bottom: .5rem;
}
#btnalign{
  padding-top: .5rem;
}
.title {
  font-size: 15.5px;
  text-decoration: none;
  line-height: 17px;
  text-align: left;
  font-weight: 500;
}
.item_preview{
  display: flex;
    justify-content: center;
    align-items: center;
}
.btn_custom {
  color: #fff !important;
  font-size: 17px !important;
  text-decoration: none;
  text-align: left;
  font-weight: 600 !important;
  background-color: #59059C;
  padding: 10px 15px;
}
.btn_btn {
  color: #59059C !important;
  font-size: 17px !important;
  text-decoration: none;
  text-align: left;
  font-weight: 600 !important;
}
.btn_btn img {
  padding-right: .5rem;
  width: 9em;
}




/* Preview content css */
.main-content-preview {
  background-color: #fff;
  position: relative;
  margin-bottom: 1rem;
  max-width: 680px;
}

.content-header {
  top: 0;
  left: 0;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.header_text {
  margin-left: 10px;
}

.close {
  float: right;
  margin-right: 10px;
  background-color: #59059C;
  color: #fff;
  padding: .2rem .5rem;
  font-weight: 400;
}

.content-item-preview {
  padding: .5rem;
}

.content-item-child {
  padding: 1rem;
}

.section-title {
  display: grid;
  grid-gap: 5px;
  grid-template-rows:auto;
}

.__item-preview {
  border: 1px solid #eee;
  padding: 1rem;
  display: flex;
    display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
}
.__item-preview_xapx {
  border: 1px solid #eee;
  padding: 1rem;
  display: flex;
    display: -webkit-flex; /* Safari */
  justify-content: center;
  align-items: center;
  order: 2;
}
.btn-holder, .btn-holder_1{
  padding: 1em 0;
}
.__item {
  border: 1px solid #eee;
  display: flex;
    display: -webkit-flex; /* Safari */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.__item_1 {
  border: 1px solid #eee;
  display: flex;
    display: -webkit-flex; /* Safari */
  flex-direction: column;
  justify-content: flex-start;
  align-items: inherit;
  padding: 1em;
  height: fit-content;
}
.__item_holder{
  display: flex;
    display: -webkit-flex; /* Safari */
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0;
}

.__item_holder_child_1 div>img{
  width: 230px;
  border-radius: 4px;
}
.__item_holder_child_2{
  display: flex;
    display: -webkit-flex; /* Safari */
  flex-direction: column;
  justify-content: center;
  height: 149px;
  overflow: hidden;
  width: 100%;
}
.__item_title {
  font-size: 14px;
  font-weight: 600;
  color: #000; 
  padding: .5em 0;
}
.__item_title_1 {
  font-size: 14px;
  font-weight: 600;
  color: #000; 
  padding: .5em 0;
  text-align: center;
}

.__item img {
  padding: 10px 0;
}

.__item_description_holder {
  padding: 0 1em;
}

.__item-description {
  margin: 1rem 1.6em;
}

.__item_screenshots {
    display: flex;
      display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.screenshots{
  -webkit-order: 2;
  order: 2;
  padding: 0 .5em;
}
.btn_back{
  -webkit-order: 1;
  order: 1;
  padding: 0 .5em;
}
.btn_next{
  -webkit-order: 3;
  order: 3;
  padding: 0 .5em;
}
.back_next_holder {
  padding: 7px 0;
  text-align: center;
}

.back_button,
.next_button {
  background: #59059C;
  border: none;
  outline: none;
  padding: 8px 9px;
  cursor: pointer;
  border-radius: 30px;
}
button img{
  width: 100%;
  height: auto;
}

/* Media Screen for mobile and Ipad device  */
@media only screen and (max-width:419px){
  .logo img{
    width: 100%;
    height: auto;
  }
  main {
    margin: 2.5rem 1.5rem;
}
.tab-content>.active{
    grid-template-columns: auto  !important;
}
.content-items {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.item_preview{
  padding: .5em;
}
#img-thumbnail{
  width: 130px;
}
.item-holder>a{
  text-align: center;
}
.__item_holder_child_1{
  width: 140px;
}
}

@media only screen and (min-width:420px) and (max-width:480px) {
  main {
      margin: 2.5rem 1.5rem;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: auto 153px  !important;
      width: 280px;
  }
  .item-holder>a{
    white-space: nowrap; 
    width: 145px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
  }
}


@media only screen and (max-width:690px){
  .mySlides, .logo img {
    width: 100%;
    height: auto;
  }
  .content-item-child{
    padding: 1rem .5rem;
  }
  .__item_holder_child_1 div>img{
    width: 150px;
  }
  .__item_holder_child_2{
    height: auto;
  }
  .__item-description{
    margin: 0;
  }
  .__item_description_holder{
    padding: 0;
  }
  .__item_1{
    margin-top: 1rem;
  }
  button img{
    width: 15px;
  }
  .btn_back, .btn_next{
    padding: 0;
  }
}
@media only screen and (max-width:820px){
  .nav-tabs{
    justify-content: flex-start !important;
}
}
@media only screen and (min-width:481px) and (max-width: 600px) {
  main {
    margin: 2.5rem 1.5rem;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:601px) and (max-width: 690px) {
  main {
      margin: 2.5rem 1.5rem;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  .item-holder {
      justify-content: space-evenly;
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:691px) and (max-width: 845px) {
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
  button img{
    width: 20px;
  }
}

@media only screen and (min-width:691px) and (max-width: 990px) {
  main {
    margin: 2.5rem 1.5rem;
  }
  .tab-content>.active{
      grid-template-columns: auto auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: auto 153px  !important;
      width: 280px;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
  .item-holder>a{
    white-space: nowrap; 
    width: 145px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
}

@media only screen and (min-width:991px) and (max-width: 1279px) {
  main {
    margin: 2.5rem 1.5rem;
  }
  .tab-content>.active{
      grid-template-columns: auto auto   !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
}

@media only screen and (min-width:1280px) {
  .tab-content>.active{
      grid-template-columns: auto auto auto   !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  
}
@media only screen and (max-width:768px){
  .main-content{
    width: auto;
  }
  .menu{
    width: 8rem;
  }
  .menu_chicks a img{
    padding: 1rem;
  }
}





/* Trial and error Tabs */
.tab-content {
  padding: 1em;
  margin-bottom: 3rem;
}
.tab-content>.active{
  display: grid !important;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  position: relative;
}
.nav-tabs{
  background-color: #fff;
  padding-bottom: 1px;
  height: auto;
  border: none !important
}
.nav-tabs{
    display: flex;
      display: -webkit-flex; /* Safari */
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1.5em 1.5em;
    margin: 0 0 0 1.8rem;
}
.nav-tabs>li>a{
  border:  1px solid #59059C  !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff !important;
  background-color: #59059C !important;
}
.nav-tabs>li>a {
  margin-right: 0 !important;
  border-radius: 0 0 0 0 !important;
  font-weight: 600;
  letter-spacing: 1px;
  color: #59059C !important; 
}
.nav-tabs>li>a:hover {
  background-color: #59059C !important;
  border:  1px solid #59059C  !important;
  color: #fff !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover::after {
  content: "";
  background-color: #59059C !important;
}
.nav-tabs>li.active>a span {
  position: inherit;
}
.nav-tabs>li>a span {
  position: inherit;

}
.nav>li>a{
  padding: 5px 12px !important;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 24px;
  right: 33px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #59059C;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
}
