*, *:before, *:after {
-moz-box-sizing: border-box; 
-webkit-box-sizing: border-box; 
box-sizing: border-box;
}
body { 
    margin: 0 auto;
    text-align: center;
    font-family:'Roboto Slab', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:rgb(98, 98, 98);
    }

.main-container{
    max-width: 100%;
    height: 100%;
}
.header img{
    width:90%;
    position: relative;
    max-height: 100%;
    left:0;
    bottom: 0;
    object-fit: fill;
}
.section{
    width:80%;
    margin:0 auto;
    text-align: center;
    padding: 2rem 0rem 2rem 0rem;
    clear: both;
}
.site-container{ 
    position: relative; 
}

.left-column{
    border: 0.3rem solid #000; 
    padding: 1.25em; 
    max-width: 44%;
    margin-bottom: .5em; 
    background-color:#fff;
}
.primary-text{
    font-size: calc(.6rem + 1vw);
}
.banner img{
    max-width:100%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.bounce span{
    font-size:calc(18px + 3vw);
    color:#02377D;
    font-family: 'Raleway', sans-serif;
    margin-top:-3vh;
    font-weight: 900;
    animation: bounce 1s ease-in-out;
}
.bounce small{
    font-size: calc(12px + 1vw);
}
.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    margin-top: 0vh;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.right-column{
    overflow: hidden;
}
.secondary{
    font-size: calc(0.37rem + 1vw);
}
.images{
    float: left;
    width:20%;
    padding:0.1rem;
}
.images img{
    width: 87%;
}
.pre-footer{
    clear: both;
    width:80%;
    margin:0 auto;
    padding-top:1rem;
}
.pre-footer::after{
    clear: both;
}
.pre-footer p{
    font-size: calc(5px + 1vw);
}
.footer{
    width: 80%;
    margin:0 auto;
    text-align: center;
    padding-bottom:2rem;
    position: relative;
}
.footer ul{
    list-style-type: none;
}
.footer ul li{
    display:inline-block;
}
.footer ul li a{
    text-decoration: none;
    color:rgb(37, 37, 37) !important;
    font-size: calc(5px + 1vw);
}



/* MEDIA QUERIES */
@media screen and (min-width: 601px ) {
.right-column { position: absolute; top: 0; right: 0; width: 50.5%; }
}
@media screen and (min-width:911px) and (max-width:1320px){
    .second{
        margin-top:0rem;
    }
    .bounce {
        margin-bottom: -1.5rem;
    }
}
@media screen and (min-width:601px) and (max-width:910px){
    .bounce span{
        font-size:1.9rem;
    }
    .left-column{
        padding-top:0.6rem;
        padding-bottom:1.5rem;
    }
    .primary-text{
        font-size:1.2rem;
    }
    .secondary{
        font-size: .8rem;
    }
    .banner img{
        width:100%;
        margin-bottom: .5rem;
        margin-top: .5rem;
    }

    .bounce {
        margin-bottom: -1rem;
    }
    .images img{
        width:103%;
    }
    .pre-footer > p {
        font-size: calc(7px + 1vw);
        text-align: justify;
    }
    .footer ul{
        margin-left: -2.8rem;
    }
    .footer ul li a{
        font-size: calc(7px + 1vw);
    }
}


@media screen and (max-width:600px){

    .left-column{
        max-width: 100%;
    }
    .bounce span{
        font-size: calc(30px + 4vw);
    }
    .primary-text{
        font-size: calc(12px + 1vw); 
    }
    .second{
        margin-top:0rem;
    }
    .bounce {
        margin-bottom: -1.5rem;
    }
    .secondary{
        font-size: calc(10px + 1vw);
    }
    .pre-footer > p {
        font-size: calc(10px + 1vw);
        text-align: justify;
        margin-top: -1rem;
    }
    .footer ul{
        margin-left: -2.8rem;
    }
    .footer ul li a{
        font-size: calc(9px + 1vw);
    }
}


@media screen and (max-width:388px){
    .bounce span{
        font-size: 2.5rem;
    }
}


@media screen and (min-width:1600px){
    .primary-text{
        font-size:2rem;
    }
    .banner img{
        width:75%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .secondary{
        font-size: 1.8rem;
    }
    .bounce span{
        font-size:calc(30px + 3vw);
    }
}