*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

body{
	background:url('assets/bg.png') no-repeat top left, #000000;
	background-size:auto;
}

.lp-container{
	max-width:600px;
	padding:0px 10px;
	margin:0 auto;
}

.lp-header{
	text-align: center;
	padding: 20px 0 15px;
}

.lp-details{
	text-align: center;
	padding-bottom:40px;
}

.lp-details > span{
	display: block;
	font-size:.9rem;
	padding-bottom:15px;
	color: #fff;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:linear-gradient(90deg, #ABFF00, #88C41E);
	border-radius:5px;
	font-size:1.5rem;
	font-weight: 700;
	color:#000;
}

.lp-details p{
	font-size:.9rem;
	color:#fff;
}

.lp-details p > span{
	font-size:2.4rem;
	font-weight: 700;
	color:#BCFF00;
}

.lp-details p > span:first-child{
	margin-right: 5px;
}

.lp-gamesicon{
	text-align: center;
	padding-bottom: 40px;
}

.lp-gamesicon p{
	font-size:.9rem;
	padding-bottom:15px;
	color:#fff;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
	color:#fff;
}

@media all and (max-width:500px){
	body{
		background: url('assets/bg.png') no-repeat 100% top, #000000;
	}
}