*{
    padding: 0;
    margin: 0;
}
*::before,*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}
body{
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(img/bg.png);
    min-height:auto;
    /*line-height: 1.6;*/
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center center;
    background-size: cover;
}
.main{
    max-width: 60rem;
    margin: 1rem auto;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.header{
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.section,.footer{
    margin-bottom: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    overflow: auto;
}

.images{
    margin: auto;
}
.button{
    cursor: pointer;
}
.paragraph{
    text-align: justify;
    font-size: 12px;
    color: #000;
    /*line-height: 1.5;*/
    /*font-weight: 550;*/
}

.subscription{
    color: #020201;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.normal-1,.normal-2,.normal-3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.subs__text{
    font-size: 5rem;
    color: #020201;
    text-transform: uppercase;
    font-weight: 800;
    margin-left: .8rem;
    margin-right: .8rem;
}
.subscription_bounce-1,.subscription_bounce-2 {
	-webkit-animation: pulse2 1s linear infinite;
	-moz-animation: pulse2 1s linear infinite;
	-ms-animation: pulse2 1s linear infinite;
	animation: pulse2 1s linear infinite;
}



@media only screen and (max-width:620px){
    .main{
        width: 100%;
    }
    .normal-1,.normal-2,.normal-3,.subscription_bounce-1,.subscription_bounce-2{
        height: 6rem;
        align-items: center;
        display: flex;
    }
    .normal-1,.normal-2,.normal-3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .subs__text{
        font-size: 4.5rem !important;
    }
    .subscription{
        flex-wrap: wrap;
    }
    .normal-1{
        align-self: auto;
    }
    .normal-2{
        align-self: center;
    }
    .subscription_bounce-1{
        align-self: flex-start;
    }
    .subscription_bounce-2{
        align-self: center;
    }
}
@media only screen and (max-width:320px){
    .normal-1{
        height: 3rem;;
    }
}
@keyframes pulse2{0%{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(.8);-moz-transform:scale(.8);-o-transform:scale(.8);-ms-transform:scale(.8);transform:scale(.8)}100%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}}@-moz-keyframes pulse2{0%{-moz-transform:scale(1.1);transform:scale(1.1)}50%{-moz-transform:scale(.8);transform:scale(.8)}100%{-moz-transform:scale(1);transform:scale(1)}}@-webkit-keyframes pulse2{0%{-webkit-transform:scale(1.1);transform:scale(1.1)}50%{-webkit-transform:scale(.8);transform:scale(.8)}100%{-webkit-transform:scale(1);transform:scale(1)}}@-ms-keyframes "pulse2"{0%{-ms-transform:scale(1.1);transform:scale(1.1)}50%{-ms-transform:scale(.8);transform:scale(.8)}100%{-ms-transform:scale(1);transform:scale(1)}}