*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#000;
}
img{
    max-width:100%;
}
body{
	background:#c0fbff;
}
.lp-container{
	padding:20px 10px;
	text-align:center;
	margin:0 auto;
}
.title h4{
	font-size:1.2rem;
}
.details{
	margin:20px 0px;
}
.details input, .details p{
	margin-bottom:10px;
}
.details input{
	padding:10px;
	border-radius:5px;
	font-size:1.2rem;
	font-weight:700;
	color:#000;
	border:1px solid #000;
}
.details p{
	font-size:.9rem;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#e10000;
}
.details button{
	margin-top:10px;
	padding:10px 60px;
	border-radius:5px;
	font-weight:700;
	font-size:1.3rem;
	color:#fff;
	background:linear-gradient(120deg,#c11700,#ff0303);
	box-shadow:0px 0px 3px rgba(0,0,0,.3);
}
.footer{
	margin-bottom:40px;
}
.footer h4{
	margin-bottom:10px;
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#c11700;
	font-weight:700;
}
@media only screen and (min-width:400px){
	.lp-container{
		width:400px;
	}
}
