@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:#fff;
    background-image: url(../assets/background.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    font-size: 16px;
    font-weight: 500;
}
.header{
    background: transparent;
    color: #091E75;
}
.header-div{
    min-width: 278px;
    max-width: 900px;
    padding: 0;
    margin: 14px auto -42px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left, .header-right{
    align-self: center;
}
.header-right img{
    width: 53px;
    border-radius: 4px;
}
.header-Left p{
    font-size: 1rem;
    font-weight: 600;
}
.section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section-left, .section-right{
    align-self:center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.section-left img{
    width:237px;
    border-radius: 5px;
}
.section-right .btn{
    margin:0 auto;
    max-width: 100%;
    background-color: #FEF500;
    padding: 10px 75px;
    border-radius: 5px;
    text-align: center;
    color:#FB0C02;
    font-weight: 600;
    text-transform: uppercase;
    font-size:23px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.section-right .btn:hover{
    animation: none;
}
.btn span{
    text-shadow: 5px 10px 18px #888888;
}
.section p:nth-child(1){
    max-width:  510px !important;
}
.section p{
    max-width: 615px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 23px;
    font-size: 16px;
    font-weight: 500;
}


/* This is default settings for each divisions */
.footer{
    min-width: 278px;
    max-width: 900px;
    margin:0 auto;
}
.footer > div:nth-child(1){
    margin: 3% auto;
    text-align: center;
    text-align: left;
    max-width: 732px;
    font-size: 15px;
    margin-bottom: 2rem;
}
.footer > div:nth-child(2){
    margin:3% auto;
    line-height: 1.4;
    font-size: .9rem;
    text-align: center;
    max-width: 752px;
}
.footer > div:nth-child(2) a{
    font-size: 16px;
    text-decoration: none;
    color: #FEF500;
    text-align: center;
    margin-right: 5px;
    font-weight: 600;
}
.footer > div:nth-child(3){
    margin: 3% auto;
    text-align:center;
}
.footer > div:nth-child(3) img{
    max-width:100%;
}



@media screen and (max-width:920px){
    .header-Left, .section, .footer{
        margin:0 5%;
    }
}
@media screen and (max-width:600px){
    .section > div:nth-child(2)
    {
        margin:0 auto;
        text-align: center;
    }    
    .section > div:nth-child(2) img{
        width:80%;
    }

    .footer > div:nth-child(3) img{
        width:15%;
    }
}


/* This is for Button animation */
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}


/* TNC */

.tnc_section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
address{
    margin: 1rem 0 0 1rem;
}
.tnc_section h1{
    margin: 0 0 1rem 0;
}
.tnc_section h3{
    margin: 2rem 0 1rem 0;
    text-transform: capitalize;
}
.tnc_section h4{
    margin: 0 0 2rem 0;
}
.tnc_section p{
    margin-left: 1rem;
    margin-bottom: .8em;
}
p span, i{
    background-color: yellow;
    color: red;
}
