@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');

*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
}
img{
	max-width:100%;
}
a{
	text-decoration:none;
}
body{
	min-width:375px;
	background:#F6F6F6;
}
p, span, h5, a{
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
}
ul{
	list-style:none;
	display:grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 6px;
	padding-top:10px;
}
.header{
	background:#3D3D3D;
}
.header-container{
	min-width:375px;
	padding:0 0 5px 20px;
	margin:0 auto;
	display:grid;
	grid-template-columns:1fr auto;
	grid-column-gap:20px;
}
.header-left{
	align-self:center;
	justify-self:start;
}
.header-right{
	align-self:center;
	justify-self:end;
}
.header-left{
	padding-top:5px;
}
.header-left p{
	font-size:0.9rem;
	font-weight:400;
	color:#fff;
}
.header-right span{
	display:block;
	color:#fff;
	font-size:0.7rem;
	font-weight:400;
	text-align:center;
}
.header-right span:nth-child(1){
	background:#000;
	padding:5px 5px;
}
.header-right span:nth-child(2){
	background:#fff;
	padding:5px 5px;
	color:#3D3D3D;
}
.header-right span:nth-child(3){
	padding:5px 5px;
	color:#fff;
	font-size:0.8rem;
}
.content{
	background:url(../../img/bg.png) top center no-repeat, #F1D04F;
}
.content-container{
	min-width:375px;
	padding:20px 20px;
	margin:0 auto 20px;;
}
.content-left{
	text-align:center;
	padding-bottom:20px;
}
.content-left .main-btn{
	font-family:'Rubik', sans-serif;
	font-weight:700;
	font-size:1.7rem;
	padding:15px 25px;
	display:inline-block;
	color:#fff;
	border:1px solid #707070;
	border-radius:5px;
	text-shadow:0 3px 6px rgba(0,0,0,.52);
	background: rgb(153,242,76); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(153,242,76,1) 0%, rgba(91,145,9,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(153,242,76,1) 0%,rgba(91,145,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(153,242,76,1) 0%,rgba(91,145,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99f24c', endColorstr='#5b9109',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	animation: glow 2s ease-in-out 0s infinite;
}
@keyframes glow{
	0%{box-shadow:none;}
	10%{box-shadow:0 0 20px rgba(153,242,76,1);}
	30%{box-shadow:0 0 40px rgba(153,242,76,1);}
	50%{box-shadow:none;}
	60%{box-shadow:0 0 20px rgba(91,145,9,1);}
	80%{box-shadow:0 0 40px rgba(91,145,9,1);}
	100%{box-shadow:none;}
}
.content-left .main-btn:hover{
	text-shadow:none;
	-webkit-text-shadow:none;
	-moz-text-shadow:none;
}
.content-right h5{
	text-align:center;
	font-weight:700;
	font-size:1rem;
}
.content-right-panel{
	padding:10px 0px 0;
}
.panel{
	display:grid;
	grid-template-columns:auto 1fr;
	grid-column-gap:10px;
	margin-bottom:10px;
	background:rgba(255,255,255,.61);
	border-radius:5px;
	padding:10px;
}
.panel-descript{
	position:relative;
}
.panel-descript h5{
	text-align:left;
	font-size:.9rem;
	padding-bottom:5px;
}
.panel-descript p{
	font-size:.8rem;
	padding-bottom:5px;
}
.panel-descript .sub-button{
	color:#000;
	font-weight:700;
	font-size:1rem;
	background:#82DBE9;
	border-radius:2px;
	display:inline-block;
	padding:5px 25px;
	border-radius:2px;
	position:absolute;
	bottom:0;
	left:0;
}
.footer{
	min-width:375px;
	padding:0 20px 20px;;
}
.footer p{
	text-align:justify;
	font-size:.7rem;
	margin-bottom:10px;
	line-height:1.4;
	color:#828282;
}
.footer p:nth-child(2){
	margin-bottom:0;
	text-align:center;
}
.footer p a{
	color:#828282;
}
.footer p a:hover{
	color:#000;
}
@media screen and (min-width:450px){
	.panel{
		max-width:90%;
		margin:0 auto 10px;
	}
}
@media screen and (min-width:650px){
	.header-container{
		max-width:660px;
	}
	.content-container{
		max-width:500px;
	}
	.content-right-panel{
		padding:10px 0 0;
	}
	.panel{
		max-width:100%;
	}
	.footer{
		max-width:660px;
		margin:0 auto;
	}
	.foot-icons{
		max-width:550px;
		margin:0 auto;
	}
}
@media screen and (min-width:900px){
	.header-container{
		max-width:900px;
	}
	.header-left p{
		font-size:1rem;
	}
	.content-container{
		max-width:900px;
		display:block;
	}
	.content-left span, .content-left p{
		font-size:1.1rem;
	}
	.content-left span{
		padding-top:15px;
	}
	.content-left p{
		line-height:1;
	}
	.content-left p span{
		display:inline-block;
		padding-right:10px;
	}
	.content-left p span:last-child{
		padding-right:0;
		padding-left:10px;
	}
	.panel{
		max-width:55%;
		margin-bottom:0;
	}
	.footer{
		max-width:900px;
	}
}











