@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
*{
	box-sizing: border-box;
}
body {
    background-image: url(../assets/bg.jpg);
    background-repeat:no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}
img{
    cursor: pointer;
}
p{
    font-size: 16px;
    font-weight: 500;
}
/* This is for header section */

.x-button{
    position: absolute;
    top: -48px;
    right: 0;
}
.x-button img{
    width: 53px;
}
.header {
    background-color:#dacfcf0a;
    margin-top: 2rem;
}
.header-div {
    min-width: 300px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    margin-top: 4rem;
    position: relative;
}

.logo{
    margin:  0 auto;
    text-align: center;
}

/* This is for content css */
#content {
    width: 100%;
    margin: auto;
}
.content-main {
    min-width: 300px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.content-top,
.content-below {
    align-self: center;
    align-items: center;
    text-align: center;
    min-width: 300px;
    max-width: 400px;
    margin: 0 auto;
}

.content-top p:nth-child(2){
    line-height: 22px;
    margin-top: -15px;
}
.content-below .btn {
    margin:0 auto;
    max-width: 70%;
    background: #FF8903;
    padding: 12px 8px;
    border-radius: 100px;
    text-align: center;
    color:#000;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 23px;
    -moz-box-shadow:5px 10px 18px #888888;
    -o-box-shadow:5px 10px 18px #888888;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
    border: 3px solid #CD4D07;
}
.btn span{
    text-shadow: 5px 10px 18px #888888;
}
.pre-paragraph{
    text-align: center;
    min-width: 300px;
    max-width: 620px;
    margin: 0 auto;
    line-height: 19px;
    padding-bottom: 1rem;
}



/* This is for footer css */

#tnc,
#btmnav {
    min-width: 300px;
    max-width: 650px;
    margin: 0 2% 0 2%;
}
#tnc {
    padding: 5px;
    color: #000;
    margin: 0 auto;
}
#tnc p{
    line-height: 1.4;   
    text-align: left;
}
#btmnav {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 25px 0px;
    margin: 0 auto;
}

#btmnav a {
    text-decoration: none;
    color: #D14F07;
    font-size: 15px;
    font-weight: 700;
    margin-right: 9px;
}

#btmnav a:hover {
    text-decoration: none;
}



/* Media queries for Mobile devices */
@media only screen and (max-width:690px) {

    .footer {
        border-top: 7px solid #FF8903;
        background: #fff;
        min-width: 300px;
        max-width: 100%;
        margin: 0 auto;
        bottom: 0;
        text-align: center;
    }
    #btmnav{
        padding: 5px 0px 10em 0px;
    }
}
@media only screen and (min-width:691px) {

    .footer {
        border-top: 7px solid #FF8903;
        background: #fff;
        min-width: 300px;
        max-width: 100%;
        margin: 0 auto;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        text-align: center;
        top: 350px;
    }
}
@media (min-width: 240px) and (max-width: 690px) {

    #tnc,
    #btmnav,
    .content-main {
        margin: 0 1rem 0 1rem;
    }
}
@media (min-width: 691px) and (max-width: 950px) {

    #tnc,
    #btmnav,
    .content-main {
        margin: 0 auto;
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .content-main{
        flex-direction: column;
        text-align: center;
    }
    
}




/* This is for Button animation */
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
/* TNC */

.tnc_section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
address{
    margin: 1rem 0 0 1rem;
}
.tnc_section h1{
    margin: 0 0 1rem 0;
}
.tnc_section h3{
    margin: 1rem 0 1rem 0;
    text-transform: capitalize;
}
.tnc_section h4{
    margin: 0 0 2rem 0;
}
.tnc_section p{
    margin:0rem 0 1em 1em;
}
p span, i{
    background-color: yellow;
}