.adCntnr .acco2 .expand, .adCntnr .acco2 .openAd {
	font-family:'Open Sans', sans-serif;
	/*background-color:#edb600;
	color:#FFFFFF;
	*/
	/*background-color:#000000;*/
	/*color:#edb600;*/
	color:#FFFFFF;
	padding:10px;
	font-size:18px;
	font-weight: bold;
	}
.adCntnr .acco2 .expand a{
	background:url(icon/plus.png) no-repeat 0 4px;
	background-position:right;
	padding-right:25px;
	text-decoration:none;
	font-weight: bold;
	}
.adCntnr .acco2 .openAd a{
	background:url(icon/minus.png) no-repeat 0 4px ;
	background-position:right;
	padding-right::25px;
	/*color:#333 !important;*/
	color:#FFFFFF !important;
	text-decoration:none;
	font-weight: bold;
	}
 .adCntnr .acco2 .expand a{
	/*color:#FFF;*/
	color:#FFFFFF;
	}
	
.adCntnr  .accCntnt {	
	padding:10px;
	/*background:#FFFFFF;*/
	/*background:#000000;*/
	font-weight:normal;	
	font-weight: bold;
	}