@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');
:root{
  --prusssian-blue: #12355B;
  --turquoise: #47FFBE;
  --white: #fff;
  --bleu-de-france: #3398DB;
}
*{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}
body{
  background-color: var(--prusssian-blue);
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
p{
  color:var(--white);
}
.lp-container{
  padding:30px 20px;
}
.download-image{
  text-align: center;
  padding-bottom:20px;
}
.download-image img{
  width:40%;
}
.download-image p{
  font-size:1.4rem;
  font-weight:700;
  margin-bottom:10px;
}
.dl-bar{
  width:100%;
  height:30px;
  border-radius:5px;
  position: relative;
  background-color: var(--prusssian-blue);
  overflow: hidden;
}
.progress-1{
  display: block;
  border-radius:5px;
  width: inherit;
  height: inherit;
  box-shadow:2px 2px 4px rgba(14, 37, 57, .5) inset,
            -2px -2px 4px rgba(210, 255, 255, .1) inset;
  position: absolute;
  top:0;
  left:0;
  z-index: 1;
}
.progress-2{
  display: block;
  border-radius:5px 0px 0px 5px;
  text-align: right;
  font-size: 1rem;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:0;
  width:0;
  color:var(--prusssian-blue);
  height: inherit;
  background-color: var(--turquoise);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: width 500ms ease-in-out, padding-right 300ms ease-in-out;
}
.details{
  padding:10px 0px 30px;
}
.details p{
  font-size:.9rem;
  font-weight: 400;
  padding-bottom:10px;
  text-align: center;
}
.details input[type="text"]{
  display: block;
  width:100%;
  border-radius: 5px;
  font-size:1rem;
  padding:15px 10px;
  background-color:var(--prusssian-blue);
  box-shadow:3px 3px 6px rgba(14, 37, 57, .5) inset,
            -3px -3px 6px rgba(210, 255, 255, .1) inset;
  text-align: center;
  font-size:1rem;
  font-weight: 700;
  color:var(--turquoise);
  margin-bottom:15px;
}
.details input[type="text"]::placeholder{
  font-size:1rem;
  font-weight: 700;
  text-transform: capitalize;
  color:var(--turquoise);
}
.details input[type="submit"]{
  display: block;
  width:100%;
  border-radius: 5px;
  font-size:1rem;
  padding:10px;
  background-color:var(--prusssian-bl);
  font-size:1.2rem;
  font-weight: 700;
  color:var(--turquoise);
  margin-bottom:15px;
  text-transform: uppercase;
  box-shadow:2px 2px 4px rgba(14, 37, 57, .5),
            -2px -2px 4px rgba(210, 255, 255, .1);
}
.android-only{
  text-align: center;
}
.android-only p{
  font-size:.8rem;
  font-weight: 400;
  line-height: 1.4;
}
.android-only p:last-child{
  padding-top:10px;
  text-align: justify;
}
