* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

body {
  background: url("./assets/bg.jpg") no-repeat top center;
  background-size: cover;
}

main {
  max-width: 800px;
  padding: 0 20px;
  margin: 20px auto;
  text-align: center;
}

main > img {
  margin-bottom: 20px;
  width: 150px;
}

.details {
  margin-bottom: 40px;
}

.details p {
  color: white;
  font-size: 15px;
  margin-bottom: 30px;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #e52d27 0%,
    #b31217 51%,
    #e52d27 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
  width: 250px;
  font-weight: 600;
  font-size: 20px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.details-2 img {
  margin-bottom: 20px;
}

.details-2 ul {
  list-style-position: inside;
  text-align: left;
  color: white;
  font-size: 15px;
}

      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
      }

      #loader {
        margin: auto;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% {
          -webkit-transform: rotate(0deg);
        }

        100% {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }