@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
:root{
    --color1:#412234;
    --color2:#783F61;
    --color3:#E5F1E5;
    --color4:#E09600;
    --color5:#1D2934;

    --fontFamily:'Lato', sans-serif;
    --fontWeight400:400;
    --fontWeight700:700;
    --fontWeight900:900;

    --boxShadow:0 0 10px rgba(0,0,0,.16);
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

ul{list-style: none;}

img{
    max-width:100%;
}

a{text-decoration: none;}

body{
    position: relative;
    overflow-x: hidden;
    top: 0 !important;
}

#svgBg{
    position: absolute;
    top:0;
    right:-80%;
    z-index: -1;
}

.siteContainer{
    padding:20px;
    margin: 0 auto;
    max-width: 900px;
}

.headerWrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    align-items: center;
}

.logoWrapper{
    justify-self: start;
}

.logoWrapper h2{
    color:#fff;
    font-family: var(--fontFamily);
    font-weight:var(--fontWeight700);
    font-size:1.6rem;
    position: relative;
    z-index: 5;
}

.navWrapper{
    justify-self: end;
}

.menuBurgWrapper{
    height:31px;
    width:45px;
    position: relative;
    cursor:pointer;
    z-index: 5;
}

.menuBurgWrapper span{
    position:absolute;
    border-radius: 50px;
    width:inherit;
    height:5px;
    background:#fff;
    transform-origin: center;
}

.menuBurgWrapper span:nth-child(1){
    top:0;
    right:0;
}

.menuBurgWrapper span:nth-child(2){
    top:12px;
    right:0;
}

.menuBurgWrapper span:nth-child(3){
    top:24px;
    right:0;
}

.menuBurgWrapper.openMenu span:nth-child(1){
    top:12px;
    transform: rotate(45deg);
}

.menuBurgWrapper.openMenu span:nth-child(2){
    opacity:0;
}

.menuBurgWrapper.openMenu span:nth-child(3){
    top:12px;
    transform: rotate(-45deg);
}

.navListWrapper{
    position: absolute;
    height: 100vh;
    top:0;
    right:0;
    left:0;
    bottom:0;
    background:linear-gradient(0deg, var(--color2), var(--color1));
    z-index: 4;
    display: none;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.mainCategory{margin-bottom:25px;}

.mainCategory:last-child{margin-bottom:0px;}

.mainCategory > span{
    font-size: 1.7rem;
    display: block;
    color:var(--color3);
    font-family: var(--fontFamily);
    font-weight:var(--fontWeight700);
    cursor: pointer;
    transition: color 300ms linear;
}

.mainCategory > span:hover{color:var(--color4);}

.mainCategory.activeMenu > span{
    margin-bottom:25px;
    color:var(--color4);
}

.dropNavList:not(.mainCategory.activeMenu > .dropNavList){
    display: none;
    height:0;
}

.mainCategory .subCategory{
    margin-bottom: 20px;
}

.subCategory > span{
    font-size: 1.1rem;
    display: block;
    color:#fff;
    font-family: var(--fontFamily);
    font-weight:var(--fontWeight700);
    cursor: pointer;
    transition: color 300ms linear;
}

.subCategory > span:hover{color:var(--color4);}

.subCategory.activeMenu > span{color:var(--color4);}

.contentListWrapper{
    margin-top:60px;
}

.contentWrapper{
    display: grid;
    grid-template-columns: 100px 1fr;
    gap:20px;
    background:var(--color3);
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
    box-shadow:var(--boxShadow);
}

.contentWrapper:last-child{
    margin-bottom:0;
}

.contentThumbWrapper{
    position: relative;
    width:100px;
    height:100px;
    cursor: pointer;
}

.contentThumbWrapper::after{
    content:"";
    width:90px;
    height:90px;
    background:var(--color4);
    border-radius: 30px 10px 30px 10px;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 1;
    transition: all 200ms linear;
}

.contentThumbWrapper img, .contentThumbWrapper video, .contentThumbWrapper .thumbNail{
    position: absolute;
    top:0;
    right:0;
    width:90px;
    height:90px;
    border-radius:10px;
    z-index: 2;
    transition: all 200ms linear;
}

.contentThumbWrapper:hover::after{
    left:5px;
    bottom:5px;
    border-radius: 50px;
}

.contentThumbWrapper:hover img, .contentThumbWrapper:hover video, .contentThumbWrapper:hover .thumbNail{
    top:5px;
    right:5px;
}

.contentThumbWrapper video{
    object-fit: cover;
}

.contentThumbWrapper .thumbNail{
    background:#fff;
}

.contentThumbWrapper .thumbNail span{
    font-size: 3.5rem;
    margin-left:6px;
}

.contentNameWrapper{
    align-self: end;
}

.contentNameWrapper p{
    font-size:.9rem;
    color:var(--color5);
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight900);
    margin-bottom:5px;
}

.contentNameWrapper span{
    display: block;
    font-size: .8rem;
    color:var(--color5);
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight400);
}

.contentNameWrapper a{
    margin-top:10px;
    display: inline-block;
    background:linear-gradient(90deg, var(--color2), var(--color1));
    padding:10px 20px;
    color:#fff;
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight700);
    font-size:.75rem;
    border-radius:20px 3px 20px 25px; 
    letter-spacing: 1px;
}

.contentPreview{
    margin-top:60px;
    background:var(--color3);
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
    box-shadow:var(--boxShadow);
}

.closePreviewBtn{
    height:30px;
    width:30px;
    position: relative;
    cursor:pointer;
    float: right;
}

.closePreviewBtn span{
    position:absolute;
    border-radius: 50px;
    width:inherit;
    height:5px;
    background:var(--color4);
    transform-origin: center;
}

.closePreviewBtn span:nth-child(1){
    top:10px;
    transform: rotate(45deg);
}

.closePreviewBtn span:nth-child(2){
    top:10px;
    transform: rotate(-45deg);
}

.contentThumbDetails{
    clear:right;
    display: grid;
    grid-template-columns: 100px 1fr;
    gap:20px;
    margin-bottom:30px;
}

.thumbWrap{
    position: relative;
    width:100px;
    height:100px;
    cursor: pointer;
}

.thumbWrap::after{
    content:"";
    width:90px;
    height:90px;
    background:var(--color4);
    border-radius: 30px 10px 30px 10px;
    position: absolute;
    bottom:0;
    left:0;
    z-index: 1;
}

.thumbWrap img, .thumbWrap video, .thumbWrap .thumbNail{
    position: absolute;
    top:0;
    right:0;
    width:90px;
    height:90px;
    border-radius:10px;
    z-index: 2;
}

.thumbWrap video{
    object-fit: cover;
}

.thumbWrap .thumbNail{
    background:#fff;
}

.contentThumbDetails .thumbWrap span{
    font-size: 3.5rem;
    margin-left:6px;
}

.detailsWrap{
    align-self: end;
}

.detailsWrap p{
    font-size:.9rem;
    color:var(--color5);
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight900);
    margin-bottom:5px;
}

.detailsWrap span{
    display: block;
    font-size: .8rem;
    color:var(--color5);
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight400);
}

.detailsWrap a{
    margin-top:10px;
    display: inline-block;
    background:linear-gradient(90deg, var(--color2), var(--color1));
    padding:10px 20px;
    color:#fff;
    font-family:var(--fontFamily);
    font-weight: var(--fontWeight700);
    font-size:.75rem;
    border-radius:20px 3px 20px 25px; 
    letter-spacing: 1px;
}

.description{
    margin-bottom:30px;
}

.description span, .screenshotsWrapper span, .tonePreview span, .videoPreview span{
    font-family: var(--fontFamily);
    font-size: .9rem;
    font-weight:var(--fontWeight700);
    margin-bottom:8px;
    display: block;
}

.description p{
    font-family: var(--fontFamily);
    font-size: .9rem;
    font-weight:var(--fontWeight400);
    line-height:1.6;
}

.screenshots{
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color:var(--color4) #fff;
}

.screenshots::-webkit-scrollbar{
    border-radius:4px;
    height:12px;
}

.screenshots::-webkit-scrollbar-track{
    background:#fff;
    border-radius:4px;
}

.screenshots::-webkit-scrollbar-thumb{
    background:var(--color4);
    border-radius:4px;
}

.screenshots img{
    display: inline-block;
    margin-right:20px;
    margin-bottom:5px;
}

.screenshots img:last-child{
    margin-right:0;
}

.tonePreview audio, .videoPreview video {
    width:100%;
}

/* start 500px media query */
@media all and (min-width: 500px){
    .contentListWrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:20px;
    }

    .contentWrapper{
        grid-template-columns: 1fr;
        gap:0px;
        justify-items: center;
    }

    .contentThumbWrapper{
        margin-bottom:20px;
    }

    .contentNameWrapper{
        align-self: start;
        text-align: center;
    }
}
/* end 500px media query */

/* start 620px media query */
@media all and (min-width:620px){
    #svgBg{
        position: absolute;
        top:0;
        right:-40%;
        z-index: -1;
    }
}
/* end 620px media query */

/* start 740px media query */
@media all and (min-width:740px){
    #svgBg{
        right:-20%;
    }

    .menuBurgWrapper{
        display:none;
    }

    .navListWrapper {
        position: relative;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background:none;
        z-index: 4;
        display: block;
        justify-content: end;
        align-items: center;
        text-align: center;
    }

    .mainCategory{
        margin-bottom: 0px;
        position:relative;
        display: inline-block;
        margin-right:30px;
    }

    .mainCategory:last-child{
        margin-right:0;
    }

    .mainCategory > span{
        font-size:1.2rem;
        padding:10px 0;
    }

    .mainCategory.activeMenu > span{
        margin-bottom:0;
    }

    /* .mainCategory:hover .dropNavList{
        display: block;
        height:auto;
        opacity:1;
    } */

    /* hide dropdown */
    .dropNavList{
        display: none;
        opacity: 0;
        height:0;
        background:#fff;
        padding:15px 40px;
        box-shadow: var(--boxShadow);
        position:absolute;
        top:43px;
        left:50%;
        transform:translateX(-50%);
        border-radius:5px;
        overflow-y: hidden;
    }

    .dropNavList:hover{
        height:auto;
        opacity:1;
    }

    .mainCategory .subCategory{
        margin-bottom:10px;
    }

    .mainCategory .subCategory:last-child{
        margin-bottom:0;
    }

    .subCategory > span{
        font-size:1rem;
        color:var(--color1);
    }

    .contentListWrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* end 740px media query */

/* start 890px media query */
@media all and (min-width:890px){
    #svgBg{
        right:-10%;
    }

    .contentListWrapper{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* end 890px media query */

/* start 1055px media query */
@media all and (min-width:1055px){
    #svgBg{
        right:0%;
    }
}
/* end 1055px media query */

/* start 1227px media query */
@media all and (min-width:1227px){
    #svgBg{
        right:0%;
        left:50%;
        transform:translateX(-50%);
    }
}
/* end 1227px media query */

/* start loader setup */
.loaderWrapper{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:linear-gradient(0deg, var(--color1), var(--color2));
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.loaderContainer{
    position:relative;
    width:160px;
}

.loaderContainer span{
    font-size:4rem;
    display: block;
    text-align: center;
    margin-top:30px;
    transform-origin: center;
}

.loaderContainer::after{
    position: absolute;
    top:0;
    left:0;
    content:"";
    width:150px;
    height:150px;
    border:5px solid #fff;
    border-top:6px solid var(--color4);
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin{
    from{transform:rotate(0deg)}
    to{transform: rotate(360deg);}
}
/* end loader setup */

/* Google Translate */
.skiptranslate {
    display: none !important;
}

.lang {
    vertical-align: middle;
}

.lang img {
    width: 30px;
    height: auto;
}