@import url('https://fonts.googleapis.com/css?family=Quantico:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto: 'Roboto', sans-serif;
$quantico: 'Quantico', sans-serif;

$darkPurple: rgba(46, 27, 59, 1);
$darkPurple2: rgba(48, 31, 101, 1);
$darkOrange: rgba(211, 69, 87, 1);
$lightOrange: rgba(255, 100, 100, 1);
$yellow: rgba(248, 245, 130, 1);
$white: #f6f6f6;

@keyframes scaleIn{
    50%{
        transform: scale(1.1);
    }
}

.scaleIn{animation:scaleIn 400ms ease-in-out;}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}

img, video{max-width: 100%;}
body{
    margin:0 auto;
    background-color:$white;
}
ul{list-style: none;}
a{text-decoration: none;}

.header{
    background-color:$darkPurple;
    text-align:center;
    padding:8px 0;
    position:relative;
    z-index: 1;
    
}
.mainCategory{
    background-color:$darkPurple;
    text-align: center;
    width:100%;
    overflow-y:hidden;
    position:relative;
    z-index: 1;

    ul{
        max-width:320px;
        margin:0 auto;
        position:relative;
        z-index: 1;
        
        .catActive{
            width:25%;
            height:33px;
            border-radius:5px 5px 0 0;
            background-color:$darkPurple2;
            margin-left:-3px;
            position: absolute;
            top:0;
            left:0;
            z-index:0;
        }
    }

    li{
        display: inline-block;
        width:calc(100% / 4);
        margin-left:-3px;
        position:relative;
        z-index: 1;

        a{
            color:$white;
            font-family: $quantico;
            font-size:1rem;
            display: block;
            padding:5px 0px;

            &:hover{
                color:$yellow;
                transition: color 500ms ease-in-out;
            }
        }
    }
}
.subCategory{
    background-color:$darkPurple2;
    text-align:center;
    padding:5px 0;
    position: relative;
    z-index: 0;

    li{
        display: inline-block;

        a{
            color:$white;
            font-family:$quantico;
            font-size:.9rem;
            padding:5px 10px;
            display: inline-block;
            cursor: pointer;

            &:hover{
                color:$yellow;
                transition: color 500ms ease-in-out;
            }
        }
    }
}

.mainContainer{
    max-width:600px;
    height:100%;
    margin:0 auto;
    

    .contentWrapper{
        column-count: 2;
        column-gap:10px;
        padding:20px;
    }

    .content{
        padding:10px;
        border-radius:5px;
        background:#fff;
        box-shadow:3px 3px 10px rgba(0,0,0,.12);
        margin-bottom: 10px;
        -webkit-column-break-inside: avoid;
        page-break-inside:avoid;
        break-inside:avoid;
        cursor: pointer;

        .contentThumb{
            margin-bottom:5px;
        }

        .contentName{ 
            margin-bottom:10px;

            p{
                text-align:center;
                font-family: $roboto;
                font-size:.8rem;
                color:$darkPurple;
            }
        }

        .contentCta a{
            display: block;
            text-align: center;
            font-family:$quantico;
            font-weight:700;
            padding:5px 0;
            width:100%;
            background-color:$darkOrange;
            border-radius:5px;
            color:$white;
            font-size:.75rem;

            &:hover{
                color:$yellow;
            }
        }

    }

    .previewWrapper{
        padding:20px;
    }

    .preview{
        .prevThumb{
            text-align:center;
            padding-bottom:20px;

            img, video{
                width:60%;
            }

            .controls{
                max-width:100%;
                display:flex;
                justify-content:center;
                align-items:center;

                audio{display:none;}

                .btn{
                    font-size:1.2rem;
                    border:0;
                    background:transparent;
                    cursor:pointer;
                    padding-right:5px;
                }

                .fa-play, .fa-pause{color:$darkPurple2}
                .fa-stop{color:$lightOrange}

                input[type='range']{
                    appearance:none;
                    width:100%;
                    background:transparent;
                    margin-right:5px;

                    &::-webkit-slider-thumb{
                        appearance:none;
                        border:1px solid #000;
                        height:16px;
                        width:8px;
                        border-radius:2px;
                        background: $darkPurple2;
                        cursor:pointer;
                        margin-top:-6px;
                    }

                    &::-moz-range-thumb{
                        border:1px solid #000;
                        height:16px;
                        width:8px;
                        border-radius:2px;
                        background:$darkPurple2;
                        cursor:pointer;
                        margin-top:-6px;
                    }

                    &::-ms-thumb{
                        border:1px solid #000;
                        height: 16px;
                        width:8px;
                        border-radius:2px;
                        background:$darkPurple2;
                        cursor:pointer;
                        margin-top:-6px;
                    }

                    &::-webkit-slider-runnable-track{
                        width:100%;
                        height:4px;
                        cursor:pointer;
                        background:#eaeaea;
                        margin-top:-2px;
                    }

                    &::-moz-range-track{
                        width:100%;
                        height:4px;
                        cursor:pointer;
                        background:#eaeaea;
                        margin-top:-2px;
                    }

                    &::-ms-track{
                        width:100%;
                        height:4px;
                        cursor:pointer;
                        background:#eaeaea;
                        margin-top:-2px;
                    }

                    &:focus{
                        outline: none;
                    }
                }

                .timestamp{
                    color:$darkPurple2;
                    font-size:.9rem;
                    font-family:$roboto;
                }
            }
        }

        .prevNameCta{
            padding-bottom:20px;

            .prevName{
                padding-bottom:10px;
                h3{
                    font-size:1rem;
                    text-align: center;
                    font-family:$quantico;
                    font-weight:700;
                    color:$darkPurple;
                }
            }

            .prevCta{
                text-align: center;

                a{
                    display: inline-block;
                    text-align: center;
                    font-family:$quantico;
                    font-weight:700;
                    padding:10px 30px;
                    background-color:$darkOrange;
                    border-radius:5px;
                    color:$white;
                    font-size:1rem;

                    &:hover{
                        color:$yellow;
                    }
                }
            }
        }

        .prevDesc{
            padding-bottom: 20px;

            p{
                color:$darkPurple;
                font-size:.8rem;
                line-height:1.6;
                text-align: center;
                font-family:$roboto;
            }
        }

        .prevScreenshots{
            overflow-x: scroll;
            white-space: nowrap;
            scrollbar-width: thin;
            scrollbar-color:$yellow #eaeaea;

            &::-webkit-scrollbar{
                border-radius:50px;
                height:8px;
            }

            &::-webkit-scrollbar-track{
                background-color:#eaeaea;
            }

            &::-webkit-scrollbar-thumb{
                background:$darkOrange;
                border-radius:50px;
            }

            img{
                margin-right:10px;

                &:last-child{margin-right:0;}
            }
        }

    }
}

@media all and (min-width:340px) and (max-width:499px){
    .mainContainer{
        .contentWrapper{
            column-count: 3;
        }
    }
}

@media all and (min-width:500px){
    .mainContainer{
        .contentWrapper{
            column-count: 4;
        }
    }
} 