@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Mitr:300,500,700');*/
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,500,700');*/


body
{
	line-height: normal;
	min-height: 100%;
	z-index: 100;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:center;
	background: url("../../img/1.png") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	overflow-x: hidden;
}


#bar{
		background-color: #5c46cd ;
		/*#5b46cd*/
		padding: 8px;
		margin: 1px;
		color: white;
	}
  

#code{
	margin-top: 60px;
	overflow: hidden;
}

#text2
{
	/*padding: 3px 3px 0 3px;*/
	color: black;
	font-size:18px;
}

#text2:nth-child(3){
		display: inline-block;
	}

.container{
	padding-right: 0;
	padding-left: 0;
}


.compatibility img{
	max-width: 100%;
	height: auto;
}
.compatibility p{
	font-weight: bold;
}

.compatibility{
	display: inline-block;
}

#wrapper{
	
	padding-top: 15px;
}

.row{
	margin: 0;
}

.row p{
	font-weight: bold;
}

#desc{

	text-align:center;
	margin-top:10px;
	color:black;
}

#footer a{
	position:unset;
	color: black!important;
}

p span 
{
	display: block;
	font-size: 14px;
}

p{
	font-size: 14px;
}

#textP{
	/*font-family: 'Mitr', sans-serif!important;*/
	font-family: 'Ubuntu', sans-serif;
   
	color: red;
	font-weight: 700;
	font-size: 5rem;
	display: inline-block;
	padding: 0 15px 0 15px;
    /*text-shadow:
   -2px -2px 0 #011722,  
    2px -2px 0 #011722,
    -2px 2px 0 #011722,
     2px 2px 0 #011722;*/

    /*-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2d0506;*/
	overflow: hidden;

  }

  .animated {
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
  }

  @keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
  .pulse {
	animation-name: pulse;
	animation-duration: 0.8s;
  }

#img-header{
	max-width: 375px;
	/*max-width: 518px;*/
	/*max-width: 240px;*/
	/*height: auto;*/
	padding: 0 20px 10px 20px;

}

#img-btn{
	max-width: 240px;
	height: auto;
	padding: 0 20px 10px 20px;
}


@media only screen and (min-width:500px){
	body{
		background: url("../../img/1.png") no-repeat center top fixed;
	}

} 

@media only screen and (max-width:500px){
	#img-header{
		max-width: 215px;
		height: auto;
	}

} 

@media only screen and (max-width:991px){
	#text2:nth-child(3){
		/*display: inline-block;*/

		position: absolute;
		margin-top: 28px!important;
	}

}

@media only screen and (min-width:992px){
	.row{
		margin-top: -300px;
		margin-left: 370px;
		text-align: center;
	}

	.col-md-6, .col-xs-12, .col-md-4{
		float: none!important;
		width: 100%;
	}
	/*.col-md-6{
		width: 100%;
	}*/
	.btn2 {
		
		font-size: 40px;
		width: 250px;
		font-weight: bolder;
		border-radius: 50px;
		margin-top: 20px!important;
		margin-left: -280px;
	
	 }
	 #code{
	 	margin-top: 10px;
	 	margin-left: 10px;
	 }
	 #textP{
	 	font-size:80px;
	 }
	 #text2{
	 	font-size:25px;
	 }
	 #klikni{
	 	margin-top: 10px;
	 	margin-left: 150px;
	 }
	#img-header{
		max-width: 375px;
		margin-left: -325px;
		margin-top: 10px;
}
	#img-btn{
	max-width: 335px;
	}
	#text2:nth-child(3){
		display: block;
	}

} 