* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: #f9f9f9;
  color: #000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body > img {
  position: fixed;
  bottom: -100px;
  right: -100px;
  z-index: 0;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.top {
  margin: 30px 0;
}

.middle {
  margin: 30px 0;
}

.middle p {
  font-size: 1rem;
  font-weight: 600;
}

.details {
  padding: 30px 0;
}

.details span {
  display: block;
  font-size: 1rem;
  padding: 25px 0 15px;
  font-weight: 600;
}

.details span.big {
  font-size: 40px;
  color: #000;
  font-weight: 800;
  line-height: 1;
  padding: 0;
  position: relative;
}

.details span.big::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #2ee5e5;
  border-radius: 10px;
  transform: translateX(-50%);
  opacity: 0;
  animation: opac 1000ms ease infinite;
}

@keyframes opac {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.btn {
  padding: 15px 60px;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 15px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 2px;
  box-shadow: 5px 5px 0 0 #000;
}

.btn:hover,
.btn:active {
  /* background: #2ee5e5; */
  box-shadow: 0px 0px 0 0 #000;
}

.small {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
}

.bottom {
  padding: 50px 0 20px;
}

.bottom p {
  text-align: justify;
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 20px;
}

.bottom a {
  display: inline-block;
  color: #000;
  font-size: 0.8rem;
  font-weight: 600;
}
