@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial;
    font-size: 14px;
    color: #000;
    background: #191F32;
}


/*This is for header section */
.header {
    background: #233046;
    color: #091E75;
    border-bottom: 4px solid #EE3634;
}
.header-div {
    min-width: 278px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left,
.header-right {
    align-self: center;
}
.header-Left p {
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.header-right span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.header-right span:nth-child(1),
span:nth-child(2),
span:nth-child(3) {
    padding: 5px 10px;
    font-size: .9rem;
}
.header-right span:nth-child(1) {
    background: #EE3634;
    color: #fff;
}
.header-right span:nth-child(2){
    border-bottom: 1px solid #000;
    background-color: #fff;
    color: #000;
}
.header-right span:nth-child(3) {
    background-color: #fff;
    color: #000;
}


/* this is for dashboard section css */
.section {
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section-left,
.section-right {
    align-self: center;
}
.section-left img {
    width: 50vw;
    height: auto;
}
.section-right .btn {
    margin: 0 auto;
    max-width: 100%;
    background: #EE3634;
    padding: 8px 45px;
    border-radius: 100px;
    border: 3px solid #ccc;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.8rem;
    cursor: pointer;
}
.section-right .btn:hover {
    animation: none;
}


/* This is default settings for footer */
.footer {
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    color: #fff;
    font-size: .7rem;
}
.footer > div:nth-child(1) {
    margin: 3% auto;
    text-align: center;
}
.footer > div:nth-child(1) a {
    text-align: justify;
    text-decoration: none;
    color: #fff;
}
.footer > div:nth-child(1) a:hover {
    color: #EE3634;
}
.footer > div:nth-child(2) {
    margin: 3% auto;
    line-height: 1.4;
    text-align: justify;
}
.footer > div:nth-child(3) {
    margin: 3% auto;
    text-align: center;
}
.footer > div:nth-child(3) img {
    max-width: 100%;
}
@media screen and (max-width:480px) {
    .header-right span:nth-child(1),
    span:nth-child(2),
    span:nth-child(3) {
        padding: 5px;
        font-size: .9rem;
    }
    .header-Left p {
        font-size: calc(8px + 1vw);
    }
    .section-right .btn {
        padding: 8px 45px;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:920px) {
    .header-Left,
    .footer {
        margin: 0 5%;
    }
}
@media screen and (max-width:600px) {
    .section-left{
        background: url(../assets/image.gif) no-repeat top center;
        background-size: cover;
        width: 100%;
        height: 40vh;
    }
    .section > div:nth-child(1) {
        margin: 0 auto;
        text-align: center;
    }
    .section > div:nth-child(1) img {
        display: none;
    }
    .footer > div:nth-child(1),
    div:nth-child(2) {
        font-size: .7rem;
    }
    .footer > div:nth-child(3) img {
        width: 15%;
    }
}
@media screen and (min-width:600px) and (max-width:768px) {
    .section > div:nth-child(1) img {
        width: 100vw;
        margin: 0 auto;
    }
}
@media screen and (min-width:768px)and (max-width:920px) {
    .section > div:nth-child(1) img {
        width: 80vw;
        margin: 0 auto;
    }
}


/* This is for Button animation */
@keyframes pulse_animation {
    0% {transform: scale(1);}
    30% {transform: scale(1);}
    40% {transform: scale(1.08);}
    50% {transform: scale(1);}
    60% {transform: scale(1);}
    70% {transform: scale(1.05);}
    80% {transform: scale(1);}
    100% {transform: scale(1);}
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}



