@-webkit-keyframes Slidein {
  0% {
    left: -260px;
  }
  100% {
    left: 0;
  }
}

@keyframes Slidein {
  0% {
    left: -260px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes Slideout {
  0% {
    left: 0;
  }
  100% {
    left: -260px;
  }
}

@keyframes Slideout {
  0% {
    left: 0;
  }
  100% {
    left: -260px;
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  font-weight: 400;
}

@media screen and (min-width: 630px) {
  h3 {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  h3 {
    font-size: 1rem;
  }
}

body {
  background: url(../img/background.png) no-repeat;
}

/*NAVIGATION*/
.header-nav {
  background: #629A1A;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .3fr .7fr;
      grid-template-columns: .3fr .7fr;
}

@media screen and (min-width: 900px) {
  .header-nav {
    display: none;
  }
}

.header-nav img {
  max-width: 138px;
  padding-left: 10%;
}

@media screen and (min-width: 630px) {
  .header-nav img {
    padding-left: 15%;
  }
}

.nav-burger {
  padding: 25px 20px 20px;
}

.nav-burger span {
  width: 50px;
  height: 7px;
  background: #fff;
  display: block;
  position: relative;
  left: 0;
  margin-bottom: 8px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.nav-burger.tog-burger span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 12px;
  width: 40px;
}

.nav-burger.tog-burger span:nth-child(2) {
  opacity: 0;
  width: 0;
  left: -30px;
}

.nav-burger.tog-burger span:nth-child(3) {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: 18px;
  width: 40px;
}

.side-nav {
  width: 240px;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: -260px;
  border-right: solid 20px #7BC043;
  background: url(../img/fitworld_nav_bg.png) bottom no-repeat, -webkit-gradient(linear, left top, left bottom, from(#b5ee43), to(#7bc043));
  background: url(../img/fitworld_nav_bg.png) bottom no-repeat, linear-gradient(top, #b5ee43 0%, #7bc043 100%);
}

@media screen and (min-width: 900px) {
  .side-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 1px;
    padding-top: 30px;
  }
}

.side-nav .logo {
  display: none;
}

@media screen and (min-width: 900px) {
  .side-nav .logo {
    display: block;
  }
}

.side-nav .nav-link {
  margin-top: 40px;
}

.side-nav .nav-link li {
  margin-bottom: 20px;
}

.slide-in {
  -webkit-animation: Slidein 0.3s linear 0s forwards;
  animation: Slidein 0.3s linear 0s forwards;
}

.slide-out {
  -webkit-animation: Slideout 0.3s linear 0s forwards;
  animation: Slideout 0.3s linear 0s forwards;
}

/*END NAVIGATION*/
/*CONTENT*/
#contentWrap {
  margin: 20px 10px;
}

@media screen and (min-width: 900px) {
  #contentWrap {
    margin-left: 280px;
  }
}

@media screen and (min-width: 1200px) {
  #contentWrap {
    margin-left: 350px;
  }
}

.expand {
  background: #F37736;
  padding: 10px 4px 10px 0px;
  border-bottom: solid 2px #629A1A;
}

@media screen and (min-width: 1900px) {
  .expand {
    max-width: 1500px;
  }
}

.expand a {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  padding: 10px;
}

@media screen and (min-width: 630px) {
  .expand a {
    font-size: 1.4rem;
  }
}

.openAd {
  background: #7BC043;
}

.openAd a {
  background: #0492CF;
}

.collapse {
  border-bottom: solid 2px #629A1A;
  border-left: solid 2px #629A1A;
  border-right: solid 2px #629A1A;
}

@media screen and (min-width: 1900px) {
  .collapse {
    max-width: 1500px;
  }
}

.accCntnt {
  padding: 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1900px) {
  .container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

#item {
  background: #fff;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1200px) {
  #item {
    margin-bottom: 0;
  }
}

.item-holder {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .4fr .6fr;
      grid-template-columns: .4fr .6fr;
  grid-gap: 10px;
  padding: 10px;
}

.item-holder #title {
  font-size: 1rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 630px) {
  .item-holder #title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .item-holder #title {
    font-size: 1rem;
  }
}

.item-holder #btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b2ff), to(#115598));
  background: linear-gradient(top, #00b2ff 1%, #115598 100%);
  border: solid 3px #7BC043;
  border-radius: 50px;
  color: #fff;
  font-size: .9rem;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
}

@media screen and (min-width: 630px) {
  .item-holder #btn {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item-holder #btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/*END CONTENT*/
/*TIPS CUSTOM STYLES*/
@media screen and (min-width: 1200px) {
  .xml-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media screen and (min-width: 1500px) {
  .xml-main {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1900px) {
  .xml-main {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.xml-container {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: .4fr .6fr;
      grid-template-columns: .4fr .6fr;
  grid-gap: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.tip-name a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b2ff), to(#115598));
  background: linear-gradient(top, #00b2ff 1%, #115598 100%);
  border: solid 3px #7BC043;
  border-radius: 50px;
  color: #fff;
  font-size: .9rem;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
}

@media screen and (min-width: 630px) {
  .tip-name a {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}

@media screen and (min-width: 1200px) {
  .tip-name a {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/*END TIPS CUSTOM STYLES*/
/*MODAL*/
.tips_cnt {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #629a1a;
  /* Fallback color */
  background-color: rgba(98, 154, 26, 0.45);
  /* Black w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 80%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.modal-close {
  float: right;
  padding-bottom: 10px;
}

.modal-close span {
  height: 5px;
  background: #629A1A;
  display: block;
  position: relative;
  right: 0;
  margin-bottom: 8px;
}

.modal-close span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 12px;
  width: 30px;
}

.modal-close span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: 1px;
  width: 30px;
}

.wrapper-pop {
  padding-bottom: 10px;
  text-align: center;
}

.pop-content .tile {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

.pop-content .description {
  text-align: justify;
  line-height: 1.6;
}

/*END MODAL*/
@media screen and (min-width: 900px) {
  .preview-wrapper {
    max-width: 700px;
  }
}

.preview-head {
  background: #7BC043;
}

.preview-head h4 {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 700;
  padding: 10px;
  display: inline-block;
  background: #0492CF;
}

.preview-head a {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
  display: block;
}

.preview-head .preview-close span {
  height: 5px;
  background: #fff;
  display: block;
  position: relative;
  right: 0;
  margin-bottom: 8px;
}

.preview-head .preview-close span:nth-child(1) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 12px;
  width: 30px;
}

.preview-head .preview-close span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  bottom: 1px;
  width: 30px;
}

.preview-holder {
  border: solid 2px #629A1A;
  padding: 10px;
}

.preview-container {
  background: #fff;
  padding: 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.preview-container .prev-image {
  text-align: center;
  margin-bottom: 10px;
}

.preview-container .prev-content {
  text-align: center;
}

.preview-container .prev-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.preview-container .prev-content a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #00b2ff), to(#115598));
  background: linear-gradient(top, #00b2ff 1%, #115598 100%);
  border: solid 3px #7BC043;
  border-radius: 50px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 20px;
  display: inline-block;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .preview-container .prev-content a {
    font-size: 1.2rem;
    padding: 15px 30px;
  }
}

.preview-container .prev-content p {
  text-align: justify;
  line-height: 1.6;
}
/*# sourceMappingURL=style.css.map */