@-webkit-keyframes shadow {
  0% {
    text-shadow: 0px 0px 0px #CBFF68;
  }
  25% {
    text-shadow: 0px 0px 5px #CBFF68;
  }
  50% {
    text-shadow: 0px 0px 20px #CBFF68;
  }
  75% {
    text-shadow: 0px 0px 5px #CBFF68;
  }
  100% {
    text-shadow: 0px 0px 0px #CBFF68;
  }
}

@keyframes shadow {
  0% {
    text-shadow: 0px 0px 0px #CBFF68;
  }
  25% {
    text-shadow: 0px 0px 5px #CBFF68;
  }
  50% {
    text-shadow: 0px 0px 20px #CBFF68;
  }
  75% {
    text-shadow: 0px 0px 5px #CBFF68;
  }
  100% {
    text-shadow: 0px 0px 0px #CBFF68;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

span, p, a {
  color: #fff;
  font-size: .9rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

body {
  background: url("../img/bg_top.png") no-repeat center top, url("../img/bg_bottom.png") no-repeat center bottom, #000;
}

.content-wrapper {
  padding-top: 120px;
  min-width: 320px;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .content-wrapper {
    max-width: 900px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 500px) {
  .content-wrapper {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .content-wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

.grid-container {
  padding-bottom: 20px;
}

.grid-container .final-step {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .grid-container .final-step {
    max-width: 500px;
    margin: 0 auto;
  }
}

.grid-container .final-step .final-grid .step-heading {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-heading span {
  display: block;
}

.grid-container .final-step .final-grid .step-button {
  padding-bottom: 10px;
}

.grid-container .final-step .final-grid .step-button a {
  font-weight: 900;
  font-size: 1.5rem;
  background: #abff00;
  /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#abff00), to(#448000));
  background: linear-gradient(to bottom, #abff00 0%, #448000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abff00', endColorstr='#448000',GradientType=0 );
  padding: 10px 20px;
  display: inline-block;
  border-radius: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 500px) {
  .grid-container .final-step .final-grid .step-button a {
    font-size: 2rem;
    padding: 10px 20px;
  }
}

.grid-container .final-step .step-keynum {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum span {
  padding-bottom: 10px;
}

.grid-container .final-step .step-keynum p span {
  color: #97E600;
  font-size: 2.5rem;
  font-weight: 900;
  -webkit-animation: shadow 2s infinite 0s ease-in-out;
          animation: shadow 2s infinite 0s ease-in-out;
}

.grid-container .final-step .step-keynum p span:first-child {
  padding-right: 5px;
}

.grid-container .final-step .step-keynum p span:last-child {
  padding-left: 5px;
}

.lp-gamesicon {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 600px) {
  .lp-gamesicon {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-gamesicon span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-gamesicon ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.lp-compatibility {
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 600px) {
  .lp-compatibility {
    max-width: 500px;
    margin: 0 auto;
  }
}

.lp-compatibility span {
  padding-bottom: 5px;
  display: inline-block;
}

.lp-compatibility ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 8px;
  grid-column-gap: 8px;
}

.foot {
  margin-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.foot p {
  font-size: .8rem;
  padding-bottom: 10px;
  line-height: 1.4;
}

.foot ul {
  text-align: center;
}

.foot ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #fff;
  margin-bottom: 5px;
}

.foot ul li:last-child {
  border: none;
}

.foot ul li a {
  font-size: .8rem;
}

.foot ul li a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */