@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
:root{
    /* solid colors */
    --oxfordBlue: #12233C;
    --prussianBlue: #213758;
    --vermillion: #D84727;
    --cultured: #F8F7F9;
    --maize: #F5CB5C;
    --caribbeanGreen: #06D6A0;

    /* gradient colors */
    --cardBg: linear-gradient(117.73deg, #213758 6.93%, #12233C 96.14%);
    --menuActiveBg: linear-gradient(180deg, #D84727 0%, #9C2A11 100%);
    --headerBg: linear-gradient(124.6deg, #F5CB5C -4.14%, #E99D44 91.4%);

    /* border radius */
    --menuBottomRadius: 25px 25px 0px 0px;
    --cardRadius: 10px;
    --headerBgRadius: 0px 0px 25px 25px;
    --ctaBorder: 50px;
    --menuTopRadius:5px;

    /* box shadow */
    --cardShadow: -5px -3px 5px rgba(0, 0, 0, 0.15);
    --menuBottomShadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

    /* font */
    --montserrat:'Montserrat', sans-serif;
    --mont300: 300;
    --mont400: 400;
    --mont700: 700;
}
*{
    margin:0;
    padding:0;
    border: 0;
    box-sizing: border-box;
}
.logo{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
a{text-decoration: none;}
body{
	top: 0 !important;
	overflow:hidden;
    background:var(--oxfordBlue);
    margin:0;
}

ul{list-style: none;}

img{max-width: 100%;}
video{
    width:100%;
    height:300px;
    margin-bottom:15px;
}
audio{
    width: 100%;
    background:#f2f2f2;
    border-radius: var(--menuTopRadius);
    margin-bottom:15px;
}
/* test loader */
.loader{
    border:2px solid var(--cultured);
    margin:200px auto 0;
    border-radius:50%;
    border-top:2px solid var(--maize);
    width:80px;
    height:80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    0%{transform:rotate(0deg);}
    100%{transform: rotate(360deg);}
}
/* end test loader */
.mainContainer{
    max-width:500px;
    min-width:320px;
    height:100vh;
    margin:0 auto;
    position:relative;
    top:0;
    left:0;
}
.headerBg{
    position: absolute;
    right:50%;
    top:0;
    transform: translateX(50%);
    background:var(--headerBg);
    border-radius:var(--headerBgRadius);
    padding:20px 30px 50px;
    width:100%;
    transition:height 200ms ease-in-out;
}
.scrollContainer{
    width: 100%;
    padding:0 20px;
    position: absolute;
    right:50%;
    top:0;
    height:100vh;
    transform: translateX(50%);
    overflow-y: scroll;
    /* height:calc(100vh - 30px); */
    -ms-overflow-style:none;
    scrollbar-width: none;
}
.scrollContainer::-webkit-scrollbar{
    display: none;
}
.headerContainer{
    padding:20px 30px;
}
.headerWrapper h1{
    text-align:center;
    font-family:var(--montserrat);
    font-size:1.5rem;
    font-weight:var(--mont700);
    color:var(--cultured);
}
.headerWrapper .subMenu{
    margin:20px 0 10px;
    padding:10px 20px;
    border:1px solid var(--oxfordBlue);
    border-radius:var(--menuTopRadius);
    cursor: pointer;
}
.subMenu span{
    font-family:var(--montserrat);
    font-size:.9rem;
    font-weight: var(--mont400);
    color:var(--oxfordBlue);
}
.subMenu i{
    font-size:1.1rem;
    color:var(--oxfordBlue);
    float: right;
    transition: transform 200ms ease-in-out;
}
.subMenusContainer{
    padding:10px 20px;
    border:1px solid var(--oxfordBlue);
    border-radius:var(--menuTopRadius);
    display:none;
}
.subMenuLinksContainer li{
    padding-bottom:15px;
    cursor: pointer;
}
.subMenuLinksContainer li:last-child{
    padding-bottom: 0px;
}
.subMenuLinksContainer li span{
    font-family:var(--montserrat);
    font-size:.9rem;
    font-weight: var(--mont400);
    color:var(--oxfordBlue);
}
.subMenuLinksContainer li.subActive span{
    color:var(--cultured);
}
.subMenuLinksContainer li.subActive i{
    color:var(--cultured);
    float:right;
    font-size:1.1rem;
}
.contentContainer{
    width: calc(100% - 40px);
    position: absolute;
    left:20px;
    transition: top 200ms ease-in-out;
}
.content{
    border-radius:var(--cardRadius);
    background:var(--cardBg);
    box-shadow: var( --cardShadow);
    margin-bottom:20px;
    padding:15px;
    transition: height 200ms ease-in-out;
    overflow-y: hidden;
}
.content:last-child{
    margin-bottom:100px;
}
.content .upperSection{
    display:grid;
    grid-template-columns: .15fr .85fr;
    grid-gap:15px;
    padding-bottom:15px;
}
.thumbContainer{
    width:60px;
    height: 60px;
    align-self: end;
}
.thumbContainer img, .thumbContainer video{
    object-fit: cover;
    width:60px;
    height:60px;
    border-radius:25px;
}
.nameContainer{
    align-self: end;
}
.nameContainer p{
    font-family:var(--montserrat);
    font-weight:var(--mont300);
    font-size:.8rem;
    color:var(--cultured);
    padding-bottom:8px;
}
.nameContainer .contentBtn{
    padding: 3px 10px;
    display: inline-block;
    border:1px solid var(--caribbeanGreen);
    border-radius: var(--ctaBorder);
    cursor: pointer;
}
.contentBtn i{
    font-size: .9rem;
    color:var(--caribbeanGreen);
}
.contentBtn a{
    font-size: .8rem; 
    font-family: var(--montserrat);
    font-weight: var(--mont400);
    color:var(--caribbeanGreen);
}
.lowerSection{
    display: flex;
    flex-direction: row-reverse;
}
.showBtn{
    display: inline-block;
    cursor: pointer;
    color:var(--maize);
}
.showBtn span{
    font-weight: var(--mont300);
    font-family: var(--montserrat);
    font-size:.7rem;
}
.showBtn i{
    font-size: .9rem;
    transition: transform 200ms ease-in-out;
}

.showDiv, .screenshots{
    padding-top:15px;
}
.showDiv p{
    color:var(--cultured);
    font-family: var(--montserrat);
    font-weight: var(--mont400);
    font-size:.75rem;
    line-height: 1.8;
}
.screenshots{
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color:var(--maize) var(--cultured);
    padding-bottom:10px;
}
.screenshots::-webkit-scrollbar{
    border-radius:50px;
    height:8px;
}
.screenshots::-webkit-scrollbar-track{
    background:none;
    border-radius:50px;
    border: 1px solid var(--maize);
}
.screenshots::-webkit-scrollbar-thumb{
    background-color:var(--maize);
    border-radius:50px;
}
.screenshots img{
    margin-right:10px;
}
.screenshots img:last-child{
    margin-right:0;
}
.footerContainer{
    position: absolute;
    right:50%;
    bottom:0;
    transform: translateX(50%);    
    width: 100%;
    padding-top:20px;
}
.navContainer{
    background:var(--prussianBlue);
    border-radius:var(--menuBottomRadius);
    width:100%;
    box-shadow: 0 -15px 20px rgba(18, 35, 60, 0.8);
    position: relative;
}
.menuButton{
    text-align: center;
    position: relative;
    display: inline-block;
    width:25%;
    padding:15px 0 25px;
    margin-left:-3px;
    cursor: pointer;
    z-index: 1;
}
.menuButton i{
    font-size:2.5rem;
    color: var(--cultured);
    transition: color 200ms ease-in-out;
}
.menuButton:hover i{
    color:var(--vermillion);
}
.menuButton:hover.menuButtonActive i{
    color:var(--cultured);
}

/*.menuButtonActive{
    background: var(--menuActiveBg);
    border-radius:var(--menuBottomRadius);
} */
.menuActive{
    display: block;
    width:25%;
    min-height:80px;
    background: var(--menuActiveBg);
    border-radius:var(--menuBottomRadius);
    position: absolute;
    top:0;
    left:0;
    z-index:0;
}

.lang{
	padding: 10px 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Google Translate */
.skiptranslate{
	display: none !important;
}
.langson{
	margin-right: 1em;
	color: var(--orangeCrayola);
    font-size: 1rem;
    font-weight: var(--cabin700);
    font-family: var(--montserrat);
}
.langson2{
	color: var(--blue);
	font-size: .9rem;
}