*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-color: #eeeeee;
}
.container {
    padding:6rem 6rem 2rem 6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px !important;
}