@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:500,700');

*{
	margin:0;
	padding:0;
	border:0;
}
ul{
	list-style: none;
}
h4{
	line-height: 1.6;
	font-size:1rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight:700;
}
p, span{
	font-size:.85rem;
	font-family: 'Ubuntu', sans-serif;
	font-weight:400;
	line-height: 1.6;
}
img{
	max-width: 100%;
}
body{
	position:relative;
}
/*upperwrap style */
.upper-wrap{
	max-width: 320px;
	padding-top:10px;
	margin:0 auto;
	position: relative;
	top: 0;
	z-index: 1000;
}
.viber-header{
	position: absolute;
	top: 0;
	z-index: 1000;
}
.mid-wrap{
	background: #7c519c; /* Old browsers */
	background: -moz-linear-gradient(left, #7c519c 0%, #4d1c72 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #7c519c 0%,#4d1c72 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(left, #7c519c 0%,#4d1c72 100%); /* Opera */
	background: linear-gradient(to right, #7c519c 0%,#4d1c72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c519c', endColorstr='#4d1c72',GradientType=0 ); /* IE6-9 */
	margin-top:130px;
	padding-bottom: 60px;
}
.mid-container{
	max-width: 320px;
	padding:60px 20px;
	margin:0 auto;
}
.viber-details{
	width: 100%;
}
.details{
	margin-bottom: 30px;
}
.pointer{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 15px solid #fff;
	border-bottom: 10px solid transparent;
	margin-right:-5px;
}
.pointer2{
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #abe0ff;
	border-bottom: 10px solid transparent;
	margin-left:-5px;
}
.details ul li{
	display:inline-block;
	vertical-align: middle;
	text-align: center;
}
.details ul li:first-child, .details ul li:last-child{
	text-align: center;
}
.details ul li img{
	max-width:70%;
}
.details.detail1 .detail-box{
	padding:6px 20px;
}
.details.detail2 .detail-box{
	padding:20px 6px;
}
.details.detail3 .detail-box{
	padding:6px 20px;
}
.details.detail3 .detail-box{
	background:#abe0ff;
}
.details .detail-box{
	background:#fff;
	border-radius:5px;
}
.details.detail3{
	float:right;
}
.details.detail2 ul li button{
	font-size:1.5rem;
	color:#000;
	font-family: 'Ubuntu', sans-serif;
	font-weight:700;
	padding:10px 20px;
	border-radius:50px;
	cursor: pointer;
	background: #98ca3c;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-0-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.details.detail2 ul li button:hover{
	color:#fff;
	background: #7c519c;
}
.details.detail3 ul li p, .details.detail1 ul li p, .details.detail1 ul li h4{
	text-align: left;
}
.details.detail3 ul li span{
	font-size:1.5rem;
	color:#000;
	font-family: 'Ubuntu', sans-serif;
	font-weight:700;
}
.bottom-wrap{
	max-width: 320px;
	padding:60px 20px 0;
	margin:0 auto;
}
.apps-icons{
	margin-bottom:30px;
}
.apps-icons p{
	font-weight:500;
	text-align:center;
	margin-bottom:15px;
}
.apps-icons ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

/* tnc, help styles */
.tnc, .help, .support, .contact{
	display: none;
	margin-bottom:30px;
	padding:0 20px;
}
.tnc h4, .help h4, .support h4, .contact h4{
	text-align: center;
	margin-bottom:20px;
}
.support p, .contact p{
	text-align: center;
}
.tnc p, .help p{
	text-align: justify;
}
.help .p2{
	text-align: center;
}
.p1{
	font-weight:700;
	font-size: .95rem;
}

/* compatibility styles */
.compatibility{
	margin-bottom:30px;
}
.compatibility p{
	font-weight:500;
	text-align:center;
	margin-bottom:15px;
}
.compatibility ul{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-row-gap: 8px;
	grid-column-gap: 8px;
}

/* words styles */
.words{
	margin-bottom:20px;
	padding:0 20px;
}
.words p{
	text-align:justify;
	font-size:.8rem;
}

/* footer styles */
.footer{
	margin-bottom:20px;
}
.footer ul{
	text-align: center;
}
.footer ul li{
	display: inline-block;
	padding:0 10px;
	border-right:1px solid #000;
	margin-bottom:10px;
}
.footer ul li:last-child{
	border:none;
}
.footer ul li a{
	text-decoration: none;
	color:#000;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	font-size: 0.85rem;
}
.footer ul li a:hover{
	color:#ff0600;
}

/*media queries*/
@media only screen and (min-width: 480px){
	h4{
		font-size:1.3rem;
	}
	p, span{
		font-size:1.1rem;
	}
	.mid-wrap{
		margin-top:180px;
	}
	.mid-container{
		max-width: 480px;
	}
	.details.detail2 .detail-box{
		padding:20px;
	}
	.upper-wrap{
		max-width: 480px;
	}
	.apps-icons ul{
		grid-row-gap: 15px;
		grid-column-gap: 15px;
	}
	/* compatibility styles */
	.compatibility ul{
		grid-row-gap: 15px;
		grid-column-gap: 15px;
	}
	.bottom-wrap{
		max-width: 480px;
	}
}

@media only screen and (min-width: 720px){
	.mid-wrap{
		margin-top:180px;
	}
	.details.detail2 .detail-box{
		padding:20px;
	}
	.bottom-wrap{
		max-width: 720px;
	}

}