@charset "utf-8";
/* CSS Document */

*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width:100%;
}
body{
    background:linear-gradient(180deg,#4D4BEA,#44F4FB);
    position: relative;
    height: 100vh;
}
.imgForest, .imgMountain{
    position: absolute;
    bottom:0px;
    left:0px;
}
.imgForest{
    z-index: 1;
}
.imgMountain{
    z-index:-1;
}
.containerImg{
    padding-left:40px;
    position: absolute;
    top:10px;
    right:0px;
    z-index: -1;
}
.containerImg img{
    width:100%;
}
.mainContainer{
    padding:100px 45px 0px 20px;
    height:100vh;
}
.detailsContainer{
    background-color:rgba(255,255,255,.77);
    border-radius:10px 10px 0 0;
    height:100%;
    box-shadow:0 0 6px rgba(0, 0, 0, 0.2);
    animation:heightExpand 1.5s cubic-bezier(0.42, 0.16, 0.04, 0.79) 0s;
}
.title{
    background:#4D4BEA;
    border-radius: 10px 10px 0 0;
    padding:5px 30px;
    border-bottom:3px solid #FE6C19;
}
.title h3{
    color:#fff;
    font-weight:600;
    font-size:1rem;
    text-align:center;
    line-height:1.4;
}
.subBtn{
    padding:15px 0px;
    text-align:center;
}
.btn{
    color:#fff;
    display:inline-block;
    padding:10px 30px;
    font-size: 1rem;
    font-weight:600;
}
.disabled{
    background: linear-gradient(60deg, rgba(254,216,25,0.3),rgba(255,86,22,.3));
    color: rgba(255, 255, 255, 0.49);
    border-radius:5px;
    transition:all .8s cubic-bezier(0.4, 0, 0.2, 1);
}
.enabled{
    background:linear-gradient(60deg,#FED819,#FF5616);
    color:#fff;
    text-shadow:1px 1px 2px rgba(0,0,0,.3);
    box-shadow: 1px 1px 4px rgba(255,86,22,.4);
    border-radius:50px;
    transition:all .8s cubic-bezier(0.4, 0, 0.2, 1);
}
.details{
    padding:0px 10px;
}
p{
    font-size:.8rem;
    line-height:1.6;
    padding-bottom:15px;
}
span{
    font-weight:600;
    color:#2E3190;
}
.checkBOX input{
    /* float:left; */
    display: inline;
    opacity: 0;
}
.checkBOX label{
    padding-left:7px;
    color:#000;
    font-size:.8rem;
    line-height:1.4;
    position: relative;
}
.checkBOX label::before,.checkBOX label::after{
    position:absolute;
}
.checkBOX label::before{
    top:-1px;
    left:-14px;
}
.checkBOX label::after {
    left:-11px;
    top: 2px;
}
.checkBOX label::before{
    content: "";
    display: inline-block;
    border:1px solid #2E3190;
    height:15px;
    width:15px;
    border-radius:2px;
    background:#fff;
}
.checkBOX label::after{
    content:"";
    display: inline-block;
    height:5px;
    width:8px;
    border-left:3px solid #2E3190;
    border-bottom:3px solid #2E3190;
    transform: rotate(-45deg);
}
.checkBOX input[type="checkbox"] + label::after{
    content:none;
}
.checkBOX input[type="checkbox"]:checked + label::after{
    content:"";
}                       
.checkBOX input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
#TNC{
    font-size:.8rem;
    line-height:1.4;
    cursor: pointer;
}
.wrapper{
    text-align:center;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
    display:none;
}
.termsContainer{
    background:#fff;
    position:relative;
    padding:10px 20px 30px;
    top:0px;
    left:0px;
    margin:15% 10%;
    border-radius:10px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.close{
    font-size:2rem;
    font-weight:600;
    text-decoration:none;
    border-radius:50px;
    position:absolute;
    padding:3px 12px;
    color:#fff;
    border:5px solid #fff;
    background:#2E3190;
    top:-18px;
    right:-18px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.terms{
    margin-top:20px;
}
.terms h4{
    margin-bottom:10px;
}
.terms p{
    font-size:.8rem;
    text-align:justify;
    line-height:1.6;
}
.terms span{
    color:#2E3190;
}

/* Animations */
.animateZomein{
    animation: zomeIN .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.animateZomeout{
    animation: zomeOUT .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.opacity{
    animation: opac 1s ease-in 0s;
}
@keyframes zomeIN{
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
} 
@keyframes zomeOUT{
    0%{transform: scale(1,1);}
    100%{transform: scale(0,0);}
}
@keyframes heightExpand{
    0%{height:0%;}
    100%{height:100%;}
}
@keyframes opac{
    0%{opacity:0;}
    100%{opacity:1;}
}

@media only screen and (min-width:500px){
    body{
        margin:0 auto;
        max-width: 500px;
    }
    .mainContainer{
        padding:140px 80px 0px 20px;
    }
    .title{
        padding:15px 30px;
    }
 
}