<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Gamezone_LP</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/main.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Gamezone_LP">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <header class="header">
    <div class="header-div">
      <div class="header-Left">
      </div>
      <div class="header-right">
        <a href="../exit.php"><img src="../assets/imgpsh_fullsize_anim.png" alt=""></a>
      </div>
    </div>
  </header>
  <section class="tnc_section">
    <div class="section-left">
      <img src="../assets/logo_lp.png" alt="dashboard-image">
    </div>



  </section>
</body>

</html>