@charset "utf-8";
/* CSS Document */

*{
    border:0;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width:100%;
}
body{
    background:#F9B09E;
}
.container{
    background:url('../img/BG.png') top right no-repeat;
    background-size:80%;
    padding:0px 10px 0px;
}
.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:20px 0px;
}
.title{
    padding-top:30px;
}
/* .image{
    animation: imageBounce 1s ease-in 0s infinite;
} */
h2{
    font-weight:800;
    text-shadow:2px 2px 4px rgba(255,255,255,.9);
    font-size:1.4rem;
}
.subBTN{
    padding-bottom:20px;
}
.btn{
    padding:15px 30px;
    margin-left:20px;
    color:#fff;
    font-weight:600;
    font-size:1.1rem;
    animation: btnslidefromleft 1.5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.disabled{
    background: rgba(213,40,34,.4);
    color: rgba(255, 255, 255, 0.49);
	border-radius:50px;
    transition:all 1s cubic-bezier(0.4, 0, 0.2, 1);
}
.enabled{
    background:#D52822;
    color:#fff;
    border-radius:50px;
    transition:all 1s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:0px 0px 10px rgba(255,86,80,.76);
}
.paragh p{
    text-align:justify;
    color:#000;
    font-size:.9rem;
    line-height:1.4;
    margin-bottom:25px; 
}
span{
    color:#543F75;
    font-weight:600;
}
.checkBOX input{
    /* float:left; */
    display: inline;
    opacity: 0;
}
.checkBOX label{
    padding-left:7px;
    color:#000;
    font-size:.8rem;
    line-height:1.4;
    position: relative;
}
.checkBOX label::before,.checkBOX label::after{
    position:absolute;
}
.checkBOX label::before{
    top:-1px;
    left:-14px;
}
.checkBOX label::after {
    left:-11px;
    top: 2px;
}
.checkBOX label::before{
    content: "";
    display: inline-block;
    border:1px solid #D52822;
    height:15px;
    width:15px;
    border-radius:2px;
    background:#fff;
}
.checkBOX label::after{
    content:"";
    display: inline-block;
    height:5px;
    width:8px;
    border-left:3px solid #D52822;
    border-bottom:3px solid #D52822;
    transform: rotate(-45deg);
}
.checkBOX input[type="checkbox"] + label::after{
    content:none;
}
.checkBOX input[type="checkbox"]:checked + label::after{
    content:"";
}                       
.checkBOX input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
#TNC{
    font-size:.8rem;
    line-height:1.4;
    cursor: pointer;
}
.wrapper{
    text-align:center;
    position:absolute;
    z-index:2;
    top:0px;
    left:0px;
    display:none;
}
.termsContainer{
    background:#fff;
    position:relative;
    padding:10px 20px 30px;
    top:0px;
    left:0px;
    margin:15% 10%;
    border-radius:10px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.close{
    font-size:2rem;
    font-weight:600;
    text-decoration:none;
    border-radius:50px;
    position:absolute;
    padding:3px 12px;
    color:#fff;
    border:5px solid #fff;
    background:#D52822;
    top:-18px;
    right:-18px;
    box-shadow:0px 0px 6px rgba(0,0,0,.36);
}
.terms{
    margin-top:20px;
}
.terms h4{
    margin-bottom:10px;
}
.terms p{
    font-size:.8rem;
    text-align:justify;
    line-height:1.6;
}
.terms span{
    color:#2E3190;
}
/* Animations */
.animateZomein{
    animation: zomeIN .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.animateZomeout{
    animation: zomeOUT .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
@keyframes zomeIN{
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
} 
@keyframes zomeOUT{
    0%{transform: scale(1,1);}
    100%{transform: scale(0,0);}
}
@keyframes heightExpand{
    0%{height:0%;}
    100%{height:100%;}
}
@keyframes btnslidefromleft{
    0%{margin-left:-999px;}
    70%{margin-left:50px;}
}
/* @keyframes imageBounce{
    0%{margin-top:20px}
    50%{margin-top:0px}
    100%{margin-top:-10px}
} */

@media only screen and (min-width:500px){
    .container{
        margin:0 auto;
        max-width:500px;
    }
    .header{
        padding:30px 0px 10px;
    }
    .title{
        padding-top:50px;
    }
    h2{
        font-weight:800;
        text-shadow:2px 2px 4px rgba(255,255,255,.9);
        font-size:1.7rem;
    }
}