*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
body{
    background:url('../assets/background.png') no-repeat;
    background-size: cover;
}
.logo{
    padding-bottom:20px;
    text-align: center;
}
.content{
    padding:0 10px 40px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:10px;            
}
article{
    border:3px solid #E50000;
    display: inline-block;
    position: relative;
    border-radius:5px 50px 5px 50px;
}
.thumb-name{
    position: absolute;
    left:0px;
    top:10px;
    padding:2px 10px 2px 10px;
    background:#E50000;
    border-radius: 0px 20px 20px 0px;
}
.thumb-name a{
    color:#fff;
    font-size:.8rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    font-weight:700;
}
.thumb-image img{
    border-radius:5px 50px 5px 50px;
}
footer{
    background:#0875C8;
    padding:20px 10px;
}
ul{
    list-style: none;
    text-align:center;
    padding-bottom:10px;
}
ul li{
    display: inline-block;
    border-left:2px solid #fff;
}
ul li:first-child{
    border-left:none;
}
ul li a{
    color:#fff;
    padding-left:5px;
    text-decoration:none;
    font-size:.9rem;
    font-family: Arial, Helvetica, sans-serif;
}
footer p{
    text-align: justify;
    font-size:.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
    line-height: 1.4;
}

/*PREVIEW STYLES*/
.dl-container{
    padding:0 10px;
}
section{
    position: relative;
    padding-bottom:40px;
}
.dl-name{
    position: absolute;
    left:0px;
    top:10px;
    padding:5px 20px 5px 10px;
    background:#E50000;
    border-radius: 0px 20px 20px 0px;
}
.dl-name h5{
    font-size:1rem;   
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;

}
.dl-image{
    border:3px solid #E50000;
    background:rgb(139, 139, 139);
    border-radius:5px 50px 5px 50px;
}
.dl-image img{
    border-radius:5px 50px 5px 50px;
}
.dl-download{
    padding-top:20px;
}
.dl-download a{
    background: #FFD711;
    display: inline-block;
    width:100%;
    text-align:center;
    padding:10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:900;
    text-decoration: none;
    color:#000;
    font-size:1.4rem;
    border-radius:5px 50px 5px 50px;
    border:3px solid #000;
}
.dl-download a:hover{
    color:rgb(0, 255, 34);
}
/*browser width 400px*/
@media screen and (min-width:400px){
    section{
        max-width:400px;
        margin:0 auto;
     }
}
/*browser width 450px*/
@media screen and (min-width:450px){
    .thumb-name a{
        font-size:.9rem;
    }
    .dl-name{
        padding:10px 30px 10px 15px;
    }
    .dl-name h5{
        font-size:1.2rem;
    }
    .dl-download a{
        padding:15px 0;
        font-size:1.6rem;
    }
}

/*browser width 600px*/
@media screen and (min-width:600px){
    .content{
        max-width: 600px;
        margin:0 auto;
        padding:0 20px 40px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:15px;            
    }
    .thumb-name a{
        font-size:1rem;
    }
}

/*browser width 1000px*/
@media screen and (min-width:1000px){
    .content{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:20px;            
    }
    footer p{
        max-width: 1000px;
        margin:0 auto;
    }
}