*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    }
body{
    font-family:'Roboto Slab', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color:rgb(98, 98, 98);
}

/*Akong gi dugang :D*/
.banner a{outline: none;}

/*@media screen and (max-width: 1680px) {*/
.container{
    height: 100vh;
    width: 100%;
}
.header{
    height: 53vh;
    width: 100%;
    background-image: url(../images/header.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}
.section{
    background-color:#EEE;
    width: 100%;
    margin-top:-40px;
}
.main{
    max-width: 80%;    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top:25px;
    padding-bottom: 20px;
}
.border{
    border: solid 4.5px #040404;
    margin: 0% 1% 1% 8%;
    background-color: #ffffff;
    text-align: center;
    min-width: 29vw;
    height: 100%;
}
.icon-text{
    margin-top:3.5vh;
    margin-bottom: 2vh;
    font-weight: 600;
}
.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    margin-top: -2vh;
}
.bounce span{
    font-size:calc(23px + 3vw);
    color:#02377D;
    font-family: 'Raleway', sans-serif;
    margin-top:-3vh;
    margin-left:0.5vw;
    margin-right:0.5vw;
}
.bounce small{
    font-size: calc(7px + 1vw)
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
.p-icons{
    padding-bottom:1.2vh;
}
.p-icons-2{
    padding-top:1.6vh;
}
.icons img{
    max-width: 12.5vh;
    margin-left: 1vh;
}
.footer{
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 4vh;
}
.paragraph{
    padding:0vh 5.4vw 2vh 5.4vw;
    text-align: justify;
}
.link ul{
    list-style-type: none;
}
.link ul li{
    display:inline-block;
}
.link ul li a{
    text-decoration: none;
    color:rgb(37, 37, 37) !important;
}
/*}*/
@media screen and (max-width: 1680px) {
    .vlg-6 {width: 50%; float: left; }
}
@media screen and (max-width: 1280px) {
    .lg-6 {width: 50%; float: left; }
}
@media screen and (max-width: 980px) {
    .lm-6 {width: 50%; float: left; }
}
@media screen and (max-width: 736px) {
    .md-6 {width: 50%; float: left; }
}
@media screen and (max-width: 480px) {
    .sm-12 {width: 100%; float: left; }
}

/*Large Screen*/
@media screen and (min-width: 993px) and (max-width:1280px) {
    .container{
        height: 100vh;
        width: 100%;
    }
    .header{
        height: 26vw;
        width: 100%;
        background-image: url(../images/header.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section{
        background-color:#EEE;
        width: 100%;
        margin-top:-22px;
    }
    .main{
        max-width: 80%;    
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top:25px;
        padding-bottom: 20px;
    }
    .border{
        border: solid 4.5px #040404;
        margin: 0% 2% 1% 5%;
        background-color: #ffffff;
        text-align: center;
        width: 32vw;
        height: auto;
    }
    .icon-text{
        margin-top:2vh;
        margin-bottom: 2vh;
    }
    .icon-text span{
        font-weight: 400;
        font-size: calc(5px + 1vw);
    }
    .banner img{
        width:55%;
        margin-bottom: 1vh;
    }
    .p-icons{
        padding-bottom:1.2vh;
    }
    .p-icons span{
        font-size: calc(4px + 1vw);
    }
    .p-icons-2{
        padding-top:.3vh;
    }
    .p-icons-2 span{
        font-size: calc(4px + 1vw);
    }
    .icons img{
        max-width: 15%;
        margin-left: 1vh;
    }
    .footer{
        max-width: 90%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;
        line-height: 18px;
    }
    .paragraph{
        padding:0vh 5.4vw 2vh 5.4vw;
    }
    .paragraph p{
        font-size: calc(3px + 1vw);
    }
    .link ul{
        list-style-type: none;
    }
    .link ul li{
        display:inline-block;
    }
    .link ul li a{
        color:rgb(37, 37, 37) !important;
        font-size: calc(3px + 1vw);
    }
}

/*medium screen */
@media screen and (min-width: 736px) and (max-width: 992px) {

    .container{
        height: 100vh;
        width: 100%;
    }
    .header{
        height: 33vw;
        width: 100%;
        background-image: url(../images/header.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section{
        background-color:#EEE;
        width: 100%;
        margin-top:-22px;
    }
    .main{
        max-width: 90%;    
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top:25px;
        padding-bottom: 20px;
    }
    .border{
        border: solid 4.5px #040404;
        margin: 0% 2% 1% 2%;
        background-color: #ffffff;
        text-align: center;
        width: 37vw;
        height: auto;
    }
    .icon-text{
        margin-top:0.5vh;
        margin-bottom: 2vh;
    }
    .icon-text span{
        font-weight: 400;
        font-size: calc(5px + 1vw);
    }
    .banner img{
        width:55%;
        margin-bottom: 1vh;
    }
    .p-icons{
        padding-bottom:1.2vh;
    }
    .p-icons span{
        font-size: calc(4px + 1vw);
    }
    .p-icons-2{
        padding-top:.3vh;
    }
    .p-icons-2 span{
        font-size: calc(4px + 1vw);
    }
    .icons img{
        max-width: 15%;
        margin-left: 1vh;
    }
    .footer{
        max-width: 90%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;
        line-height: 18px;
    }
    .paragraph{
        padding:0vh 1.4vw 2vh 1.4vw;
    }
    .paragraph p{
        font-size: calc(3px + 1vw);
    }
    .link ul{
        list-style-type: none;
    }
    .link ul li{
        display:inline-block;
    }
    .link ul li a{
        color:rgb(37, 37, 37) !important;
        font-size: calc(3px + 1vw);
    }
}

/*Large to medium screen*/
@media screen and (min-width: 481px) and (max-width: 735px) {

    .container{
        height: 100vh;
        width: 100%;
    }
    .header{
        height: 34vw;
        width: 100%;
        background-image: url(../images/header.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section{
        background-color:#EEE;
        width: 100%;
        margin-top:-22px;
    }
    .main{
        max-width: 90%;    
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top:25px;
        padding-bottom: 20px;
    }
   .left{
       width:39vw;
   }
   .right{
       width:40vw;
   }
    .border{
        border: solid 4.5px #040404;
        margin: 0% 4% 1% 1.5%;
        background-color: #ffffff;
        text-align: center;
        min-width: 29vw;
        height:auto;
    }
    .icon-text{
        margin-top:0.5vh;
        margin-bottom: 1.5vh;
    }
    .icon-text span{
        font-weight: 400;
        font-size: calc(9px + 1vw);
    }
    .banner img{
        width:70%;
        margin-bottom: -1vh;
    }
    .bounce{
        margin-top:-2vh;
    }
    .bounce span{
        font-size:calc(23px + 2vw);
    }
    .p-icons{
        margin-top:-6%;
        padding-bottom:1.2vh;
    }
    .p-icons span{
        font-size: calc(3px + 1vw);
        margin:0vw -3vw 0vw -3vw;
    }
    .p-icons-2{
        padding-top:.3vh;
    }
    .p-icons-2 span{
        font-size: calc(3px + 1vw);
    }
    .icons img{
        max-width: 18%;
        margin-left: 0.1vh;
    }
    .footer{
        max-width: 90%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;
        line-height: 18px;
    }
    .paragraph{
        padding:0vh 1.4vw 2vh 1.4vw;
    }
    .paragraph p{
        font-size: calc(8px + 1vw);
    }
    .link ul{
        list-style-type: none;
    }
    .link ul li{
        display:inline-block;
    }
    .link ul li a{
        color:rgb(37, 37, 37) !important;
        font-size: calc(8px + 1vw);
    }
    }

/*Small screen*/
@media screen and (max-width: 480px) {
    .container{
        height: 100vh;
        width: 100%;
    }
    .header{
        height: 38vw;
        width: 100%;
        background-image: url(../images/header.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .section{
        background-color:#EEE;
        width: 100%;
        margin-top:-22px;
    }
    .main{
        max-width: 80%;    
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-top:25px;
        padding-bottom: 20px;
    }
    .border{
        border: solid 4.5px #040404;
        margin: 0 auto;
        background-color: #ffffff;
        text-align: center;
        min-width: 29vw;
        height: 50%;
    }
    .icon-text{
        margin-top:0.5vh;
        margin-bottom: 2vh;
    }
    .icon-text span{
        font-weight: 400;
        font-size: calc(12px + 1vw);
    }
    .banner img{
        width:50vw;
        margin-bottom: -1vh;
    }
    .icon-section{
        margin:0 auto;
    }
    .p-icons{
        padding-bottom:1.2vh;
        padding-top:1.2vh;
    }
    .p-icons span{
        font-size:calc(9px + 1vw);
    }
    .p-icons-2{
        padding-top:1vh;
    }
    .p-icons-2 span{
        font-size:calc(9px + 1vw);
    }
    .icons{
        margin:0 auto;
    }
    .icons img{
        max-width: 15%;
    }
    .footer{
        max-width: 90%; 
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;
    }
    .paragraph{
        padding:0vh 5.4vw 1vh 5.4vw;
    }
    .paragraph p{
        font-size:calc(7px + 1vw);
    }
    .link ul{
        list-style-type: none;
        padding:0vh 5.4vw 1vh 5.4vw;
    }
    .link ul li{
        display:inline-block;
    }
    .link ul li a{
        color:rgb(37, 37, 37) !important;
        font-size:calc(7px + 1vw);
    }
}

