*{
    padding: 0;
    margin: 0;
}
*::before,*::after{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px = 62.5% */
}
body{
    line-height: 1.6;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;   
    background-position: center center;
    background-size: 100% 100%;
    color: #ffffff;
    text-align: center;
    background-color: #2C2B30;
}
h1{
    font-weight: 500;
}
span{
    font-size: 5rem;
    color: #EF0000;
    font-weight: 800;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-stroke-color:#ffffff;
}
small{
    font-size: 2.5rem;
    margin-top: -1rem;
    margin-bottom: -1.4rem;
}
.keyword{
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-top: -1.8rem;
    margin-bottom: -1.2rem;
}
p{
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: left;
    color: #ffffff;
    margin-top: 2rem;
    display: block;
}
img{
    width:100%;
    height: auto;
}
@media only screen and (max-width:720px){
    img{
        max-width: 100% !important;
    }
}

.container{
    margin: 0rem 0rem;
}
.main{
    max-width: 69rem;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.top{
    margin:0;
    width: 100%;
}
.bottom{
    background: url(./assets/pattern.jpg) repeat; 
    background-position: center center;
    margin: -2rem 2rem 2rem 2rem;
    padding:0 1rem;
}
.bottom-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem auto;
}
.button{
    border: 3px solid #ffffff;
    display: block;
    background:#EF0000;
    padding: .6rem 3rem;

    font-size: 3em;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2.5px;
}
.bottom-main_item{
    margin-top: .8rem;
    margin-bottom: .8rem;
}   
.bottom-main_item .btn{
    width: 27rem !important;
}   
.bottom-main_item img{
    width: 8rem !important;
}
@media only screen and (max-width:590px){
    .bottom-main_item img{
        width: 7rem !important;
    }
}
@media only screen and (max-width:523px){
    .bottom-main_item img{
        width: 6rem !important;
    }
}
@media only screen and (max-width:350px){
    .bottom-main_item img{
        width: 5rem !important;
    }
}
@media screen and (max-width:350px){
    span{
        font-size: 4rem;
    }
}
@media only screen and (max-width:400px){
    .button{
        font-size: 2rem;
        padding: 1rem 2rem;
    }
    .bottom{
        margin: -2rem 1rem 2rem 1rem;
        padding:0 1rem;
    }
}