*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

.lp-container{
	max-width:600px;
	padding:0px 10px;
	margin:0 auto;
	background: url('assets/bg.png') no-repeat top left;
}

.lp-header{
	text-align: center;
	padding: 20px 0 40px;
}

.lp-details{
	text-align: center;
	padding-bottom:40px;
}

.lp-details > span{
	display: block;
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:linear-gradient(90deg, #F85A1A, #FDD24C);
	border-radius:5px;
	border:2px solid #6E1221;
	font-size:1.5rem;
	font-weight: 700;
	color:#6E1221;
}

.lp-details p{
	font-size:.9rem;
}

.lp-details p > span{
	font-size:2.4rem;
	font-weight: 700;
	color:#6E1221;
}

.lp-details p > span:first-child{
	margin-right: 5px;
}

.lp-gamesicon, .lp-compatibility{
	text-align: center;
	padding-bottom: 20px;
}

.lp-gamesicon p, .lp-compatibility p{
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-gamesicon ul li, .lp-compatibility ul li{
	display: inline-block;
	margin-right:5px;
}

.lp-gamesicon ul li:last-child, .lp-compatibility ul li:last-child{
	margin-right: 0;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
}