*{
    margin:0 auto;
    padding:0;
    box-sizing:border-box;
    }
    html{
        font-size: 100%;
    }
body{
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
    color:#fff;
    background-color: rgb(102, 92, 171);
}

.container{
    width:80%;
    margin:0 auto;
    padding:0;
    text-align: center;
    background-image: linear-gradient(#49c2ce, #665cab);  
}
.main{
    text-align: center;
    margin:0 auto;
    animation: moveInTop 1s ease-in-out;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-image: url(../images/header.png);
    height:40vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;  
}
.section{
    width:46%;
    margin-top:-8rem;
}
.banner img{
    width:12.5rem;
}
.primary{
    margin-top:-0.2rem;
    font-size: 1.6rem;

}
.secondary{
    margin-bottom: 0.7rem;
    font-size: 1.6rem;
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding:0.8rem 2rem;
    display:inline-block;
    border-radius: 10rem;
    transition: all .2;
    position: relative;
}
.btn:hover{
    transform: translateX(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0, .2);
}
.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0, .2);
}
.btn-green{
    background-color: #66B821;
    color: #fff;
    letter-spacing: 0.2rem;
    border:0.3rem solid #fff;
    font-weight: 600;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: all .4s;
}
.btn-green::after{background-color:#fff;}
.btn:hover::after{transform: scaleX(1.4) scaleY(1.6);opacity:0;}

@keyframes moveInTop{0%{opacity: 0;transform: translateY(-100px);}
    100%{opacity: 1;transform:translateY(1)}}
@keyframes moveInBottom{0%{opacity: 0;transform: translateY(30px);}
    100%{opacity: 1;transfrom: translateY(0);}}
@keyframes moveInLeft{0%{opacity: 0;transform: translate(-100px)}
    80%{transform:translate(10px)}100%{opacity: 1;transform:translate(1)}
}
.tertiary{
    margin-top:0.5rem;
    margin-bottom: 0.1rem;
    font-size: 1.6rem;
}
.bounce{
    margin-bottom: 0.4rem;
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
.bounce span{
    color: #FFE04E;
    font-family: 'Oswald', sans-serif;
    font-weight:700 !important;
    font-size: calc(24px + 2.5vw);
    letter-spacing: 0.3rem;
}
.bounce small{
    margin-left:0.2rem;
    margin-right:0.5rem;
    font-size: 1.6rem;
}
@keyframes bounce {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
.icons{
    margin-top:0.8rem;
    margin-bottom: 0.7rem;
}
.icons img{
    width: 4.4rem;
    margin-left:0.1rem;
    margin-right:0.1rem;
}
.forth{
    font-size:1.36rem;
}
.footer{
    width: 100%;
    height:50vh;
    text-align: center;
    background-image: url(../images/footer.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    animation: moveInBottom 1s ease-in-out;
    margin-top:-3rem;
}
.pre-footer p{
    text-align: justify;
    font-size: 1.05rem;
}
.pre-footer ul{
    margin-top:1rem;
    list-style: none;
}
.pre-footer ul li{
    display: inline-block;
}
.pre-footer ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
}
.footer img{
    width: 100%;
}



/* ##Device = Laptops, */
@media (min-width: 1025px) and (max-width: 1280px) {
  html{
      font-size: 94%;
  }
  .container{
    width:80%;
}
  .section{
    width:50%;
    margin-top:-8rem;
}
.footer{
    height: 48vh;
}
}
/* ##Device = Tablets, Ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
  html{
      font-size: 88%;
  }
  .container{
    width:100%;
}
  .section{
    width:60%;
    margin-top:-11rem;
}
.footer{
    height: 45vh;
}
}
/* ##Device = Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  html{
      font-size: 88%;
  }
  .container{
    width:90%;
}
  .section{
    width:60%;
    margin-top:-11rem;
}
.footer{
    height: 45vh;
}
}

/*##Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
  html{
      font-size: 75%;
  }
  .container{
    width:100%;
}
  .section{
    width:75%;
    margin-top:-11.5rem;
}
.footer{
    height: 40vh;
}
}

/*##Device = Most of the Smartphones Mobiles (Portrait)*/
@media (min-width: 200px) and (max-width: 480px) {
  html{
      font-size: 63.2%;
  }
  .container{
      width:100%;
  }
  .section{
    width:88%;
    margin-top:-18rem;
}
.footer{
    height: 24vh;
}
}