body {
    font-family: 'Oswald', sans-serif;
    line-height: 1.7;
    background-color: rgb(102, 92, 171);
    color:rgba(0, 0, 0, 0.787);
    font-size: 1.5rem;
    margin: 0;
    height: 100%;
    background-image: linear-gradient(#49c2ce, #49c2ce, #665cab);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin-top: 10vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px !important;
    text-align: left;
}

hr {
    margin: 0;
    text-align: left !important;
    width: 100%;
    background-color: #811E00;
    height: 0.3vh;
}