*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body { 
    margin: 0 auto;
    text-align: center;
    font-family:'Roboto Slab', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color:rgb(98, 98, 98);
    }

.container{
    padding:10px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
  }
.header{
    justify-content:center;
    text-align: center;
    width:100%;
}
.header img{
    width:80%;
}
.container-main{
    margin-top:-.6rem;
    background-color:#eeeeee;
    padding:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
}
.items{
    padding:15px;
    margin:2px;
    align-items:space-between;
}
.left{
    border:4px solid #000;
    flex-basis:35%;
    flex-shrink: 0;
}
.primary-text{
    font-size: calc(6px + 1vw);
}
.secondary{
    font-size: calc(3px + 1vw);
}
.sec-2{
    margin-top:.8rem;
}
.banner{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.banner img{
    width: 80%;
}
.bounce span{
    font-size:calc(26px + 3vw);
    color:#02377D;
    font-family: 'Raleway', sans-serif;
    margin-top:-3vh;
    font-weight: 900;
    animation: bounce 1s ease-in-out;
}
.bounce {
	animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	-moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
    margin-top: 0vh;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}
.bounce small{
    font-size:16px;
    margin:2px;
}

.right{
    flex-basis:35%;
    border:4px solid #000   ;
}
.icon-1{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content: center;
    margin-bottom: 0.27rem;
}
.images{
    align-items:space-between; 
    margin-left:4px;
}
.images img{
    width:100%;
}
.footer{
    padding:15px;
    text-align: center;
    margin:0 auto;
    width: 75%;
}
.footer p{
    font-size: calc(5px + 1vw);
}
.footer ul{
    list-style-type: none;
    margin:15px;
}
.footer ul li{
    display:inline-block;
}
.footer ul li a{
    text-decoration: none;
    color:rgb(37, 37, 37) !important;
    font-size: calc(5px + 1vw);
}

@media only screen and (min-width:1600px){
    .primary-text{
        font-size: calc(9px + 1vw);
    }
    .secondary{
        font-size: calc(4px + 1vw);
    }
    .bounce small{
        font-size: calc(4px + 1vw);
    }
    .icon-1{
        margin-top:1rem;
    }
}

@media only screen and (min-width:601px) and (max-width:900px){
.header img{
    width:100%;
}
.right, .left{
    flex-basis:43.5%;
}
.primary-text{
    font-size: calc(9px + 1vw);
    }
.secondary{
    font-size: calc(6px + 1vw);
}
.bounce span{
    font-size:calc(23px + 3vw);
}
.bounce small{
    font-size:14px;
}
.footer{
    width: 90%;
}
.footer p{
        font-size: calc(9px + 1vw);
    }
.footer ul li a{
    font-size: calc(9px + 1vw);
    }
}


  @media only screen and (max-width:600px){
    .header img{
        width:100%;
    }
    .container-main{
      display:flex;
      flex-direction:column;
    }
    .items{
      width:100%;
    }
.primary-text, .secondary{
    font-size: calc(12px + 1vw);
    }
.bounce span{
    font-size:calc(33px + 3vw);
}
.footer{
    width: 99%;
}
.footer p{
        font-size: calc(9px + 1vw);
    }
.footer ul li a{
    font-size: calc(9px + 1vw);
}
  }
  
  
  