:root{
	/*font*/
	--cabin: 'Cabin', sans-serif;
	--cabin400: 400;
	--cabin700: 700;

	/*solid colors*/
	--blue: #004E89;
	--sapphireBlue: #1A659E;
	--orangeCrayola: #FF6B35;
	--goGreen: #0EAD69;	
	--white: #fff;
	--subCatContentBg: #F4FAFF;
	--svg1: #F4FAFF;
	--svg2: #C7E5FF;
	--subCatBg: #F4FAFF;


	/*gradient color*/
	--background:linear-gradient(180deg, #CDD8E2 0%, #F4FAFF 100%);

	/*dropshadow*/
	--droppy:  0px 30px 20px -20px rgba(26, 101, 158, 0.3);
}

*{
	padding:0;
	margin:0;
	border:0;
	box-sizing: border-box;	
	font-family:var(--cabin);
}

ul{list-style: none;}

a{text-decoration: none;}

img, video{max-width:100%;}

body{
	height:100vh;
	position:relative;
	z-index: 1;
	overflow:hidden;
	background:var(--background);
	top: 0 !important;
}

.svgBg1{
	position:absolute;
	top:0;
	left:0;
	z-index: -1;
	transition: width 300ms ease-in-out, left 300ms ease-in-out;
}

.svgBg2{
	position:absolute;
	bottom:0;
	right:0;
	z-index: -1;
	transition: width 300ms ease-in-out, bottom 300ms ease-in-out;
}

.headerWrapper{
	background:var(--blue);
	overflow:hidden;
}

.header{
	display:grid;
	grid-template-columns: auto 1fr;
	max-width:940px;
	margin:0 auto;
	padding:20px;
	align-items: center;
	position: relative;
	z-index:0;
}

.logo h2{
	color:var(--white);
	font-weight:var(--cabin700);
	z-index:2;
	position:relative;
}

.navigation{
	justify-self: end;
}

.navLinks{
	/*display: none;*/
	position:relative;
	padding-right:70px;
	z-index:2;
}

.navLinks li{
	display: inline-block;
	margin-right: 25px;
	position:relative;
	top:0;
	right: 0;
}

.navLinks li:last-child{
	margin-right:0;
}

.navLinks li a{
	color:var(--white);
	font-size:1rem;
	font-weight:var(--cabin700);
}

.navLinks li a.active{
	color:var(--orangeCrayola);
}

.navMenuBurg{
	display: none;
	position:relative;
	z-index:2;
	cursor: pointer;
	width:33px;
	height:25px;
}

.navMenuBurg span{
	width: 33px;
	height: 5px;
	background: var(--orangeCrayola);
	display: block;
	position:absolute;
	border-radius: 1px;
}

.navMenuBurg span:nth-child(1){
	top:0;
	right:0;
}

.navMenuBurg span:nth-child(2){
	top:10px;
	right:0;
}

.navMenuBurg span:nth-child(3){
	top:20px;
	right:0;
}

.navBg{
	position:absolute;
	top:0;
	right:0;
	z-index:1;
}

.mainWrapper{
	max-width: 940px;
	margin:0 auto;
	position: relative;
	padding:20px 30px 0;
	overflow-x:scroll;
	/*height:100%;*/
	-ms-overflow-style: none; 
	  scrollbar-width: none;
}

.mainWrapper::-webkit-scrollbar{
	display: none;
}

.sideNav{
	width:200px;
	padding:0 20px 20px 0;
	position: fixed;
	top:0;
	right:-200px;
	background:var(--sapphireBlue);
	z-index: 2;
	display:none;
}

.sideNavLinks li{
	padding:15px 0 15px 20px;
	position:relative;
}

.sideNavLinks li.active::after{
	content: "";
	display:block;
	width:6px;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	background:var(--orangeCrayola);
}

.sideNavLinks li a{
	color:var(--white);
	font-size:1rem;
	font-weight:var(--cabin700);
}

.sideNavLinks li a.active{
	color:var(--orangeCrayola);
}

.contentWrapper{
	position: absolute;
	top:20px;
	left:30px;
	right:30px;
	z-index: 1;
	padding-bottom:30px;
}

/*start jquery ui accordion custom styles*/

#accordion h3{
	font-family: var(--cabin);
	font-size:.9rem;
	font-weight: var(--cabin700);
	position: relative;
	overflow-y: hidden;
}

#accordion h3::after{
	content: " ";
	width:0px;
	height:0px;
	background:var(--sapphireBlue);
	display: block;
	position: absolute;
	top:0;
	left:-200px;
	z-index: 0;
	transform: rotate(-30deg);
	border-radius:0 500% 20% 0;
	transition: top 700ms cubic-bezier(0.79,-0.32, 0.03, 0.85), 
				left 700ms cubic-bezier(0.79,-0.32, 0.03, 0.85), 
				width 700ms cubic-bezier(0.79,-0.32, 0.03, 0.85), 
				height 700ms cubic-bezier(0.79,-0.32, 0.03, 0.85); 
}

#accordion h3.highlight::after{
	content: " ";
	width:200px;
	height:200px;
	background:var(--sapphireBlue);
	display: block;
	position: absolute;
	top:-55px;
	left:0;
	z-index: 0;
	transform: rotate(-30deg);
	border-radius:0 500% 20% 0;

}

#accordion h3.highlight{
	color:var(--orangeCrayola);
	border-radius: 5px 5px 0 0;
}

#accordion h3 span{
	position:relative;
	z-index: 1;
}

#accordion h3 i{
	position:relative;
	z-index: 1;
	font-size:.6rem;
	transform: rotate(0deg);
	transition: transform 300ms ease-in-out;
	margin-right:5px;
}

#accordion h3.highlight i{
	transform: rotate(90deg);
} 

#accordion .whiteText{
	color:#fff;
	border-radius: 5px;
}

.ui-state-default{
	border:none !important;
	background: var(--blue) !important;
}

.ui-icon{display: none}

.ui-widget-content{
	border:none;
	background:var(--subCatBg);
}

.ui-accordion-content-active{
	box-shadow: var(--droppy);
}

/*.ui-corner-top, .ui-corner-left{
	border-top-left-radius: 5px !important;
}

.ui-corner-top, .ui-corner-right{
	border-top-right-radius: 5px !important;
}

.ui-corner-bottom, .ui-corner-left{
	border-bottom-left-radius: 5px !important;
}

.ui-corner-bottom, .ui-corner-right{
	border-bottom-right-radius: 5px !important;
}*/

/*end jquery ui accordion custom styles*/

.subCatContent{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	padding:20px 10px !important;
	margin-bottom:30px;
}

.content{
	display: grid;
	grid-template-columns: .4fr 1fr;
	grid-gap:10px;
	background:#F0F0F0;
	border-radius:5px;
	padding:8px;
	align-items: center;
}

.contentThumbCont img{
	border-radius:5px;
	width:60px;
	height:60px;
	object-fit: cover;
}

.contentThumbCont img, .contentThumbCont video{
	vertical-align: middle;
}

.contentName{
	display:block;
	padding-bottom:5px;
	font-size:.85rem;
	font-weight: var(--cabin700);
	color:#000;
}

.contentDownload{
	display: inline-block;
	padding:5px 10px;
	border-radius:3px;
	background:var(--goGreen);
	color:#fff !important;
	font-weight:var(--cabin700);
	font-size:.9rem;
}

.contentDownload i{
	font-size:1rem;
	font-weight: var(--cabin400);
	margin-right:5px;
}

.previewHeader{
	padding:.5em .5em .5em .7em;
	background: var(--blue);
	border-radius:5px 5px 0 0;
	font-family: var(--cabin);
    font-size: .9rem;
    font-weight: var(--cabin700);
    position: relative;
}

.previewHeader span{
	position: relative;
	z-index: 1;
	color:#fff;
}

.previewHeader i{
	position: relative;
    z-index: 1;
    font-size: .7rem;
    margin-right: 5px;
    color:#fff;
}

.previewBody{
	background:var(--subCatBg);
	border-radius:0 0 5px 5px;
	box-shadow: var(--droppy);
	padding: 20px;
	display: grid;
	grid-template-columns: .4fr .6fr;
	margin-bottom: 30px;
}

.previewDetails{
	padding-right:20px;
	border-right:2px solid var(--sapphireBlue);
}

.thumbWrapper{
	display: grid;
	grid-template-columns: .35fr .65fr;
	grid-gap:15px;
	align-items: end;
	margin-bottom:15px;
}

.thumbnail img{
	border-radius:5px;
	vertical-align: text-bottom;
}

.titleCta span{
	font-size:1rem;
	color:#000;
	font-weight:var(--cabin700);
	display: block;
	margin-bottom:10px;
}

.previewDownload{
	display: inline-block;
	padding:8px 15px;
	border-radius:3px;
	background:var(--goGreen);
	color:#fff !important;
	font-weight:var(--cabin700);
	font-size:1rem;
}

.previewDownload i{
	font-size:1.1rem;
	font-weight: var(--cabin400);
	margin-right:8px;
}

.descripWrapper h5{
	font-size:var(--cabin700);
	padding-bottom: 5px;
	font-size:.9rem;
}

.descripWrapper p{
	line-height: 1.4;
	font-size:.85rem;
	text-align: justify;
}

.previewPreview{
	padding:5px 0 5px 20px;
}

.previewPreview h5{
	font-size:var(--cabin700);
	padding-bottom: 10px;
	font-size:.9rem;
}

.screensCont{
	overflow-x:scroll;
	white-space: nowrap;
	scrollbar-width:thin;
	scrollbar-color:var(--blue) #F1F1F1;
}

.screensCont::-webkit-scrollbar{
	border-radius: 3px;
	height:8px;
}

.screensCont::-webkit-scrollbar-track{
	background:#F1F1F1;
	border-radius: 3px;
}

.screensCont::-webkit-scrollbar-thumb{
	border-radius:3px;
	background:var(--blue);
}

.screensCont img{
	margin-right:10px;
	margin-bottom:10px;
}

.screensCont img:last-child{
	margin-right:0;
}

@media all and (max-width:800px){
	.svgBg1{
		width:80%;
		left:-20%;
	}

	.svgBg2{
		width:80%;
	}
}

@media all and (max-width:737px){
	.subCatContent{
		grid-template-columns: repeat(2, 1fr);
	}

	.previewBody{
		grid-template-columns: 1fr;
	}

	.previewDetails{
		padding-right:0;
		padding-bottom:20px;
		border-bottom:2px solid var(--sapphireBlue);
		border-right:none;
	}

	.thumbWrapper{
		grid-template-columns: 1fr;
		text-align: center;
	}

	.previewPreview{
		padding:20px 0 5px;
	}

	.thumbnail video{
		width:40%;
		height:40%;
	}
}

/*@media all and (max-width:686px){
	.previewBody{
		grid-template-columns: 1fr;
	}

	.previewDetails{
		padding-right:0;
		padding-bottom:20px;
		border-bottom:2px solid var(--sapphireBlue);
		border-right:none;
	}

	.thumbWrapper{
		grid-template-columns: 1fr;
		text-align: center;
	}

	.previewPreview{
		padding:20px 0 5px;
	}
}*/

@media all and (max-width: 620px){
	.svgBg1{
		left:-30%;
	}

	.svgBg2{
		width:60%;
	}

	.navLinks{
		display:none;
	}

	.navMenuBurg{
		display: block;
	}
}

@media all and (max-width:553px){
	.content{
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		align-items: center;
	}

	.contentThumbCont{
		margin-bottom:10px;
	}

	.contentDetailsCont{
		text-align: center;
	}

	.contentName{
		padding-bottom:10px;
	}
}

@media all and (max-width: 363px){
	.subCatContent{
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}

	.content{
		grid-template-columns: .4fr 1fr;
		justify-items: left;
	}

	.contentThumbCont{
		margin-bottom:0;
	}

	.contentDetailsCont{
		text-align: left; 
	}

	.contentName{
		padding-bottom:5px;
	}
}

.lang{
	max-width: 940px;
    margin: 0 auto;
    position: relative;
	padding: 20px 30px 20px 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* Google Translate */
.skiptranslate{
	display: none !important;
}
.translated-ltr{
	display: ;
}
.langson{
	margin-right: 1em;
	color: var(--orangeCrayola);
    font-size: 1rem;
    font-weight: var(--cabin700);
}
.langson2{
	color: var(--blue);
	font-size: .9rem;
}
