@charset "utf-8";
body, html{
		height: 100%;
}

body {
	background-image: url(../assets/bg.jpg);
	background-color: #000;
	background-repeat: repeat-x;
	background-position: bottom;
	font-family: Arial, Helvetica, sans-serif;
	background-attachment: fixed;
	font-size: 12px;
	color:#fff;
	margin: 0px;
	padding: 0px;
}

  .animated {
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
  }

  @keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
  .pulse {
	animation-name: pulse;
	animation-duration: 0.8s;
  }

.kw div{
	font-size: 45px;
	font-weight: bold;
	margin: 0 30px;
}

.kwtitle div{
	font-size: 20px;
	font-weight: bold;
	margin: 0 30px;
}

#logBan
{
	/*background-image: url(../assets/images.png);
	background-repeat: no-repeat;
	background-position: center;*/
	width: 100%;
	min-width: 100px;
	max-width: 481px;

}

.wrap {
	list-style: none;
	margin: 0;
	padding: 0;
}
.item {
	padding: 5px;
	width: 100%;
	margin: 2px;
	text-align: center;
}
.flex {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

#tnc {
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding-top: 10px;
	font-size: 12px;
	text-align: justify;
	color: #fff;
}

#btmnav {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	font-size: 11px;
	color: #444444;
}
#btmnav a {
	text-decoration: underline;
	color: #444444;
}
#btmnav a:hover {
	text-decoration: none;
}
#btn {
	height: auto !important;
	max-width: 250px !important;
	width: 100% !important;
}
.srvcs {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #0055b2;
	font-size: 54px;
	font-weight: bolder;
	display: inline-block;
}
@keyframes pulse_animation {
0% {
transform: scale(1);
}
30% {
transform: scale(1);
}
40% {
transform: scale(1.08);
}
50% {
transform: scale(1);
}
60% {
transform: scale(1);
}
70% {
transform: scale(1.05);
}
80% {
transform: scale(1);
}
100% {
transform: scale(1);
}
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@media (min-width: 1281px) {
.space {
	display: block;
	margin-top: 130px;
	font-size: 11px;
}
btn {
	height: auto !important;
	max-width: 280px !important;
	width: 100% !important;
}
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
#scnd {
	/*margin-top: 200px;*/
	font-size: 15px;
}
.iconLogo {
	height: auto !important;
	max-width: 70% !important;
	width: 100% !important;
}
.space {
	display: block;
	margin-top: 250px;
	font-size: 11px;
}
}

.iconLogo {
	height: auto !important;
	max-width: 550px !important;
	width: 100% !important;
}

#scnd {
	/*margin-top: 200px;*/
	font-size: 15px;
	width: 100%;
	max-width: 300px;
	height: auto;
	margin: auto;

}


@media (min-width: 320px) and (max-width: 480px) {
#btn {
	height: auto !important;
	max-width: 200px !important;
	width: 100% !important;
}
}
