@charset "utf-8";
/* CSS Document */

body
{
	background-image:url(../assets/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px;
	padding:0px;
}

.wrap {
  list-style:none;
  margin: 0;
  padding: 0;
}

.item {
  /*border:1px solid #CCC;*/
  padding: 5px;
  width: 100%;
  margin: 2px;
}

.flex {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

#tnc
{
	padding:5px;
	text-align:justify;
	color:#444444;
	font-size:11px;
}

#btmnav
{
	text-align:center;
	margin-top:10px;
	margin-bottom:50px;
	font-size:11px;
	color:#444444;
}

#btmnav a
{
	text-decoration:underline;
	color:#444444;
}

#btmnav a:hover
{
	text-decoration:none;
}

#btn
{
	height:auto !important;max-width:250px !important;width: 100% !important;
}

.srvcs
{
	font-family:"Arial Black", Gadget, sans-serif;
	color:#0055b2;
	font-size:54px;
	font-weight:bolder;
	display: inline-block; 
}


@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@media (min-width: 1281px) {

.space
{
	display:block;
	margin-top:130px;
	font-size:11px;
}

#btn{
height:auto !important;
max-width:280px !important;
width: 100% !important;
}

.iconLogo{
	height:auto !important;
	max-width:70% !important;
	width: 100% !important;
}

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

.iconLogo{
	height:auto !important;
	max-width:70% !important;
	width: 100% !important;
}

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

#scnd
{
	margin-top:30px;
	font-size:15px;
}

.iconLogo{
	height:auto !important;
	max-width:70% !important;
	width: 100% !important;
}
.space
{
	display:block;
	margin-top:250px;
	font-size:11px;
}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


.iconLogo{
	/*border:1px solid #000;*/
	height:auto !important;
	max-width:550px !important;
	width: 100% !important;
}

#scnd
{
	margin-top:0px;
	font-size:15px;
}

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {



}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {


#btn{
height:auto !important;
max-width:200px !important;
width: 100% !important;
}

}