@import url('https://fonts.googleapis.com/css?family=Sen:400,700&display=swap');
:root{
  --jet:rgb(47,47,52);
  --isabelline:rgb(246,232,234);
  --lust:rgb(234,40,30);
}
*{
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}
body{
  background-color: var(--jet);
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
input[type="submit"]{
  display: inline-block;
  width:100%;
  border-radius: 5px;
  font-size:1rem;
  padding:10px;
  background-color:var(--jet);
  font-size:1.2rem;
  font-weight: 700;
  color:var(--lust);
  text-transform: uppercase;
  box-shadow:2px 2px 4px rgba(17, 0, 0, .3),
            -2px -2px 4px rgba(241, 255, 255, .1);
}
.virus-image{
  text-align: center;
  padding:20px 0 30px;
}
.virus-image img{
  max-width: 70%;
  margin-bottom:10px;
}
.virus-image h1{
  color:var(--lust);
  font-weight:700;
  padding-bottom:10px;
  animation: scale 1000ms ease-in-out infinite;
}
.virus-image p{
  font-size:1.1rem;
  color:var(--lust);
  font-weight:700;
}
.warning{
  text-align: center;
  padding:0px 20px;
  opacity:1;
  transition:opacity 500ms ease-in-out;
}
.warning p{
  font-size:.9rem;
  font-weight:400;
  color:var(--isabelline);
  margin-bottom:15px;
}
.warning input[type="submit"]{
  margin-top:20px;
}
.details{
  padding:20px 20px 30px;
  text-align:center;
}
.details p{
  font-size:.9rem;
  font-weight:400;
  color:var(--isabelline);
  margin-bottom:15px;
}
.details input[type="text"]{
  display: block;
  width:100%;
  border-radius: 5px;
  font-size:1rem;
  padding:15px 10px;
  background-color:var(--jet);
  box-shadow:3px 3px 6px rgba(17, 0, 0, .3) inset,
            -3px -3px 6px rgba(241, 255, 255, .1) inset;
  text-align: center;
  font-size:1rem;
  font-weight: 700;
  color:var(--lust);
  margin-bottom:15px;
}
.details input[type="text"]::placeholder{
  font-size:1rem;
  font-weight: 700;
  text-transform: capitalize;
  color:var(--lust);
}
.android-only{
  text-align: center;
  padding:10px 20px;
}
.android-only p{
  color:var(--isabelline);
  font-size:.8rem;
  font-weight: 400;
  line-height: 1.4;
}
.android-only p:last-child{
  padding-top:10px;
  text-align: justify;
}
@keyframes scale{
  0%{transform: scale(.9);}
  50%{transform: scale(1.1);}
  100%{transform: scale(.9);}
}
