*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

img{
    max-width:100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background:linear-gradient(301deg,#FFF 0%,#E3F0FB 100%);
}

.mainWrapper{
    max-width:800px;
    margin:0 auto;
    padding:0 20px 20px;
}

.mainWrapper p{
    text-align: center;
}

.header{
    margin-bottom:20px;
    text-align: center;
}

.details{
    text-align: center;
    padding:20px;
    margin:20px auto;
    max-width:600px;
    border-radius:10px;
    background:linear-gradient(120deg,#1A659E 0%,#004E89 100%);
    color:#fff;
}

.details a{
    padding:15px 50px;
    font-weight:700;
    font-size:1.4rem;
    color:#fff;
    display: inline-block;
    background:linear-gradient(0deg,#FF6B35 0%,#E33D00 100%);
    border-radius:5px;
    margin-bottom:.5rem;
}

.details p{
    margin-bottom:10px;
    margin-top:10px;
}

.details .highlight{
    font-size:2.5rem;
    color:#FF6B35;
    display: block;
    font-weight:600
}

.screens{
    padding:20px 0;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:20px;
    justify-items: center;
}

.footer p{
    font-size:.8rem;
    color:#2A2929;
    line-height: 1.6;
    text-align:justify;
    margin-bottom:20px;
}

.footer ul{
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding:0 5px;
    border-right:1px solid #2A2929;
}

.footer ul li:last-child{
    border-right:none;
}

.footer ul li a{
    font-size:.8rem;
    color:#3A5FA8;
    font-weight:700;
}

.instruction{
    padding:0 0 .5rem 0;
}
.last-step{
    font-size: 28px;
    font-weight: 700;
}
.insword{
    line-height: 23px;
}
.animated {
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
  }

  @keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
  .pulse {
	animation-name: pulse;
	animation-duration: 0.8s;
  }
  @keyframes pulse_animation {
    0% {
    transform: scale(1);
    }
    30% {
    transform: scale(1);
    }
    40% {
    transform: scale(1.08);
    }
    50% {
    transform: scale(1);
    }
    60% {
    transform: scale(1);
    }
    70% {
    transform: scale(1.05);
    }
    80% {
    transform: scale(1);
    }
    100% {
    transform: scale(1);
    }
    }
    .pulse {
        animation-name: pulse_animation;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }