@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	/*background-color: #2e2e2e;*/
	color: #fff;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	
	background-image: url(../assets/bg.png);
	background-repeat: no-repeat;
	background-size: cover
	
}


.button{
border:1px solid #c71b00; -webkit-border-radius: 8px; -moz-border-radius: 8px;border-radius: 8px;padding: 20px 10px 20px 10px; text-decoration:none; display:inline-block;font-weight:bold; color: #FEE41E;
	width: 60%;
	font-size: 25px;
 background-color: #FF2300; background-image: -webkit-gradient(linear, left top, left bottom, from(#FF2300), to(#400101));
 background-image: -webkit-linear-gradient(top, #FF2300, #400101);
 background-image: -moz-linear-gradient(top, #FF2300, #400101);
 background-image: -ms-linear-gradient(top, #FF2300, #400101);
 background-image: -o-linear-gradient(top, #FF2300, #400101);
 background-image: linear-gradient(to bottom, #FF2300, #400101);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FF2300, endColorstr=#400101);
}

.button:hover{
 border:1px solid #991500;
 background-color: #cc1c00; background-image: -webkit-gradient(linear, left top, left bottom, from(#cc1c00), to(#0e0000));
 background-image: -webkit-linear-gradient(top, #cc1c00, #0e0000);
 background-image: -moz-linear-gradient(top, #cc1c00, #0e0000);
 background-image: -ms-linear-gradient(top, #cc1c00, #0e0000);
 background-image: -o-linear-gradient(top, #cc1c00, #0e0000);
 background-image: linear-gradient(to bottom, #cc1c00, #0e0000);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#cc1c00, endColorstr=#0e0000);
}

.wrap {
	list-style: none;
	margin: 0;
	padding: 0;
}
.item {
	padding: 5px;
	width: 100%;
	margin: 2px;
}
.flex {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}
#tnc {
	padding: 15px;
	text-align: justify;
	color: #cfcfcf;
	font-size: 11px;
}

.srvcs {
	font-family: "Arial Black", Gadget, sans-serif;
	color: #ff2300;
	font-size: 54px;
	font-weight: bolder;
	display: inline-block;
}
@keyframes pulse_animation {
0% {
transform: scale(1);
}
30% {
transform: scale(1);
}
40% {
transform: scale(1.08);
}
50% {
transform: scale(1);
}
60% {
transform: scale(1);
}
70% {
transform: scale(1.05);
}
80% {
transform: scale(1);
}
100% {
transform: scale(1);
}
}
.pulse {
	animation-name: pulse_animation;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: ease-out;
}

@media (min-width: 1281px) {
.iconImage {
	height: auto !important;
	max-width: 80% !important;
	width: 100% !important;
}
}

@media (min-width: 1025px) and (max-width: 1280px) {
.iconImage {
	height: auto !important;
	max-width: 80% !important;
	width: 100% !important;
}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
.iconImage {
	height: auto !important;
	max-width: 80% !important;
	width: 100% !important;
}
}

@media (min-width: 481px) and (max-width: 767px) {
.iconImage {
	height: auto !important;
	max-width: 80% !important;
	width: 100% !important;
}
}


