body{
	background-image: url("../../img/karspersky.jpg");
	background-repeat: no-repeat;
	background-position:top;
	background-color: #008c72;
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-align: center;
	color: #fff;
	font-family: Myriad Pro Light;
}


/* Navigation Bar */
.navbar{
	padding: 5px 0 5px 0;
	text-align: center;
	/*background: linear-gradient(#28050e, #a11637);*/
}
@media screen and (max-width: 600px) {
  div h2 {
    font-size: 22px;
  }
}

/* Main Section css*/
.main-section{
	text-align: center;
	padding-top: 5px;
}


/* Image Css */
.img{
	max-width:100%;
	height:auto;
	transition: 0.3s;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.img:hover {opacity: 0.7;}

/* img mobile */
@media screen and (max-width: 480px) {
  .img {
		width:100%;
		margin-top: -5px;
  } 
}
/* img Tablet */
@media screen and (min-width:480px) and (max-width: 992px) {
  .img {
		width:90%;
		margin-top: -5px;
  }
}
/* img Desktop */
@media screen and (min-width: 1280px) {
  .img {
		width:30%;
		margin-top: -5px;
  }
}

div .main-section, .main-footer{
	background-color: #008c72;
	margin-top: -5px;
}


/* Button css*/
.btn{
	background: linear-gradient(to right, #008c72, #004034,#004034, #004034, #008c72);
	border: none;
	color: white;
	padding: 16px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;

}
.btn-btn {
	color: #ffffff; 
}

.btn-btn:hover {
	background-color: #17A191;
	color: #ffffff;
	font-size: 18px;
}
@media screen and (max-width: 480px) {
  .btn {
    width:70%;
  } 
}
@media screen and (min-width:480px) and (max-width: 992px) {
  .btn {
		width:53.5%;
  }
}
@media screen and (min-width: 1280px) {
  .btn {
		width:24%;
  }
}



/*Responsive Font*/

table{
	text-align: center;
	display: inline-block;
	margin:-20px 0 -13px 0;
}
/* mobile */
@media screen and (max-width: 480px) {
  div table tr small{
		font-style: italic;
    font-size:14px;
  } 
}
@media screen and (max-width: 480px) {
  div table tr h1{
		font-size:30px;
  }
}

/* tablet */
@media screen and (min-width:480px) and (max-width: 992px) {
  div table tr small{
		font-style: italic;
    font-size:14px;
  }
}
@media screen and (min-width:480px) and (max-width: 992px) {
  div table tr h1{
		font-size:30px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  div table tr small{
		font-style: italic;
    font-size:14px;
  }
}
@media screen and (min-width: 1280px) {
  div table tr h1{
		font-size:30px;
  }
}




/*Responsive Font footer*/
	.main-footer p{
	text-align: justify;
	text-indent: 25px;
}
/* mobile */
@media screen and (max-width: 480px) {
  .main-footer p {
		font-size:8px;
		margin:0 15px 0 10px;
  } 
}
/* tablet */
@media screen and (min-width:480px) and (max-width: 992px) {
  .main-footer p {
		font-size:8px;
		margin:0 70px 0 70px;
  }
}

/* Desktop */
@media screen and (min-width: 1280px) {
  .main-footer p {
		font-size:8px;
		margin:0 480px 0 485px;
  }
}



/* List Item Footer */
.main-footer ul li a{
	color: #fff;
	font-size: 10px;
	cursor:pointer

}
/* mobile */
@media screen and (max-width: 480px) {
	.main-footer ul{
		list-style: none;
		text-align: center;
		margin:5px 26px 5px -20px
	}
}
@media screen and (max-width: 480px) {
	.main-footer ul li{
		list-style: none;
		display: inline-block;
		margin-right:3px;
  } 
}


/* tablet */
@media screen and (min-width:480px) and (max-width: 992px) {
	.main-footer ul{
		list-style: none;
		text-align: center;
		margin:5px 26px 5px -20px
	}
}
@media screen and (min-width:480px) and (max-width: 992px) {
	.main-footer ul li{
		list-style: none;
		display: inline-block;
		margin-right:3px;
  } 
}

/* Desktop */
@media screen and (min-width: 1280px) {
	.main-footer ul{
		list-style: none;
		text-align: center;
		margin:5px 26px 5px -20px
	}
}
@media screen and (min-width: 1280px) {
	.main-footer ul li{
		list-style: none;
		display: inline-block;
		margin-right:3px;
  } 
}


@media screen and (max-width: 480px) {
	.box{
		font-size: 14px;
		text-align: left;
		color:#000;
		background:#ffffff;
		opacity: 0.7;
		border-radius: 10px;
		padding-top:3px;
		padding-bottom: 10px;
		margin-left: 15px;
		margin-right:15px;
		}
	}
	@media screen and (max-width: 480px) {
		.box p{
			font-size: 10px;
			text-align: left;
			margin-left:5px;
			margin-right:5px;
			padding: 10px;
		}
	}
	@media screen and (max-width: 480px) {
		.box h1{
			text-align: left;
			margin-left:5px;
			margin-right:5px;
			padding: 10px;
		}
	}



@media screen and (min-width:480px) and (max-width: 992px) {
	.box{
		font-size: 14px;
		text-align: left;
		color:#000;
		background:#ffffff;
		opacity: 0.7;
		border-radius: 10px;
		padding-top:3px;
		padding-bottom: 15px;
		margin-left: 25px;
		margin-right:25px;
		margin-bottom: 50px;
		}
	}
	@media screen and (min-width:480px) and (max-width: 992px) {
		.box p{
			font-size: 10px;
			text-align: left;
			margin-left:5px;
			margin-right:5px;
			padding: 10px;
		}
	}
	@media screen and (min-width:480px) and (max-width: 992px) {
		.box h1{
			text-align: left;
			margin-left:5px;
			margin-right:5px;
			padding: 10px;
		}
	}



@media screen and (min-width: 1280px) {
.box{
	font-size: 14px;
	text-align: left;
	color:#000;
	background:#ffffff;
	opacity: 0.7;
	border-radius: 10px;
	padding-top:3px;
	padding-bottom: 35px;
	margin-left: 100px;
	margin-right:100px;
	}
}
@media screen and (min-width: 1280px) {
	.box p{
		font-size: 14px;
		text-align: left;
		margin-left:50px;
		margin-right: 50px;
		padding: 15px;
		padding-bottom: 10px;
	}
}
@media screen and (min-width: 1280px) {
	.box h1{
		text-align: left;
		margin-left:50px;
		margin-right: 50px;
		padding: 15px;
		padding-bottom: 10px;
	}
}