@-webkit-keyframes dropup {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

@keyframes dropup {
  0% {
    height: 100vh;
  }
  100% {
    height: 0;
  }
}

@-webkit-keyframes dropdown {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes dropdown {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  background: url(../images/bg.png) no-repeat center center fixed;
  background-size: cover;
}

.header-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding-bottom: 30px;
  overflow: hidden;
}

header {
  background: #fff;
  border-bottom: 5px solid #FF9A40;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  height: 80px;
}

header .yun-logo {
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 900px) {
  header .yun-logo {
    padding-left: 20px;
  }
}

.nav-section {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 900px) {
  .nav-section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding-right: 20px;
  }
}

@media screen and (min-width: 900px) {
  .nav-section .nav-button {
    display: none;
  }
}

.nav-section .nav-button span {
  width: 40px;
  height: 6px;
  background: #FF7800;
  display: block;
  position: relative;
  left: 0;
  margin-bottom: 6px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.nav-section .nav-button span:nth-child(3) {
  height: 6px;
}

.nav-section .nav-button.tog-button span:nth-child(1) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 7px;
}

.nav-section .nav-button.tog-button span:nth-child(2) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  bottom: 5px;
}

.nav-section .nav-button.tog-button span:nth-child(3) {
  opacity: 0;
  height: 0;
  bottom: -20px;
}

.nav-section .header-searchbar, .nav-section .header-country {
  display: none;
}

@media screen and (min-width: 900px) {
  .nav-section .header-searchbar, .nav-section .header-country {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

@media screen and (min-width: 900px) {
  .nav-section .header-searchbar input {
    background: url(../images/search_icon.png) right top no-repeat;
    height: 32px;
    width: 100%;
    border-bottom: 1px solid #FF7800;
  }
}

@media screen and (min-width: 900px) {
  .nav-section .header-country {
    padding-left: 15px;
    border-left: 1px solid #000;
  }
}

@media screen and (min-width: 900px) {
  .nav-section .header-country img {
    vertical-align: middle;
  }
}

@media screen and (min-width: 900px) {
  .nav-section .header-country span {
    font-size: 1rem;
    color: #000;
    font-weight: 700;
  }
}

.navdrop-menu {
  background: url(../images/nav-bg.png) left bottom no-repeat, #FF7800;
  background-size: 100%;
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 100px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .navdrop-menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    text-align: right;
    padding-top: 50px;
  }
}

.navdrop-menu ul {
  padding-top: 20px;
}

.navdrop-menu li a {
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
  display: block;
  padding-top: 15px;
  padding-bottom: 5px;
}

@media screen and (min-width: 900px) {
  .navdrop-menu li a {
    padding-right: 20px;
    padding-top: 30px;
  }
}

.navdrop-menu li a.active {
  border-bottom: 2px solid #fff;
  color: #fff;
}

.navdrop-menu div {
  margin-top: 30px;
  border-top: 1px solid #000;
  padding: 30px 0;
}

@media screen and (min-width: 900px) {
  .navdrop-menu div {
    display: none;
  }
}

.navdrop-menu div img {
  vertical-align: middle;
}

.navdrop-menu div span {
  font-size: 1.1rem;
  color: #000;
  font-weight: 700;
}

.drop-up {
  -webkit-animation: dropup 0.3s linear 0s forwards;
          animation: dropup 0.3s linear 0s forwards;
}

.drop-down {
  display: block;
  -webkit-animation: dropdown 0.3s linear 0s forwards;
          animation: dropdown 0.3s linear 0s forwards;
}

.container {
  padding: 140px 10px 20px;
}

@media screen and (min-width: 900px) {
  .container {
    margin-left: 350px;
    margin-right: 50px;
  }
}

.contain-searchbar {
  padding: 0 20px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .contain-searchbar {
    display: none;
  }
}

.contain-searchbar input {
  background: url(../images/search_icon.png) right top no-repeat;
  height: 32px;
  width: 100%;
  border-bottom: 1px solid #FF7800;
}

.con {
  padding-top: 40px;
}

.con h3 {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 20px;
  color: #FF7800;
  font-weight: 800;
}

@media screen and (min-width: 900px) {
  .con h3 {
    text-align: left;
  }
}

.con h4 {
  font-size: .9rem;
  color: #FF7800;
  padding-bottom: 10px;
  font-weight: 500;
}

.con p {
  font-size: .7rem;
  line-height: 1.6;
  text-align: justify;
  padding-bottom: 10px;
}

.side-menu {
  display: none;
}

.con.con-invi {
  display: none;
}
/*# sourceMappingURL=style.css.map */