/////KEYFRAMES
//Navigation drop Menu Start
@keyframes dropup{
	0%{ height: 100vh; }
	100%{height: 0;}
}
@keyframes dropdown{
	0%{ height: 0; }
	100%{height: 100vh;}
}
//Navigation drop Menu End

@mixin width900 {
    @media screen and (min-width:900px){
        @content;
    }
}

*{
    padding:0;
    border:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    background:url(../images/bg.png) no-repeat center center fixed;
    background-size:cover;
}
.header-container{
    position:fixed;
    top:0;
    width:100%;
    z-index: 1;
    padding-bottom:30px;
    overflow:hidden;
}
header{
    background:#fff;
    border-bottom:5px solid #FF9A40;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:10px;
    height:80px;

    .yun-logo{
        justify-self: left;
        align-self: center;

        @include width900{
            padding-left:20px;
        }
    }
}
.nav-section{

    justify-self: right;
    align-self: center;

    @include width900{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-right:20px;
    }

    .nav-button{

        @include width900{
            display:none;
        }

        span{
            width: 40px;
            height: 6px;
            background: #FF7800;
            display: block;
            position: relative;
            left: 0;
            margin-bottom: 6px;  
            transition: .5s ease-in-out;

            &:nth-child(3){
                height:6px;
            }
        }
    }

    .nav-button.tog-button span{

        &:nth-child(1){
            transform: rotate(135deg);
	        top:7px;
        }

        &:nth-child(2){
            transform: rotate(-135deg);
	        bottom:5px;
        }

        &:nth-child(3){
            opacity:0;
            height:0;
            bottom:-20px;
        }
    }

    .header-searchbar,.header-country{
        display:none;

        @include width900{
            display: block;
            align-self:center;
            justify-self: right;
        }
    }

    .header-searchbar{

        @include width900{
            input{
                background:url(../images/search_icon.png) right top no-repeat;
                height:32px;
                width:100%;
                border-bottom:1px solid #FF7800;
            }
        }
    }

    .header-country{
        
        @include width900{
            padding-left:15px;
            border-left:1px solid #000;
        }

        img{
            @include width900{vertical-align: middle;}   
        }
        span{
            @include width900{
                font-size:1rem;
                color:#000;
                font-weight:700;
            }
        }
    }
}

.navdrop-menu{
    background:url(../images/nav-bg.png) left bottom no-repeat, #FF7800;
    background-size: 100%;
    width:100%;
    height:0;
    overflow: hidden;
    position: absolute;
    left:0;
    top:100px;
    text-align: center;

    @include width900{
        width:300px;
        height:100vh;
        position:fixed;
        text-align:right;
        padding-top:50px;
    }

    ul{
        padding-top:20px;
    }

    li{

        a{
            font-size:1.1rem;
            color:#000;
            font-weight:700;
            display: block;
            padding-top:15px;
            padding-bottom: 5px;

            @include width900{
                padding-right:20px;
                padding-top:30px;
            }
        }

        a.active{
            border-bottom:2px solid #fff;
            color:#fff;
        }
    }

    div{
        margin-top:30px;
        border-top:1px solid #000;
        padding:30px 0;

        @include width900{
            display: none;
        }

        img{
            vertical-align: middle;
        }
        span{
            font-size:1.1rem;
            color:#000;
            font-weight:700;
        }
    }
}

.drop-up{
    animation: dropup 0.3s linear 0s forwards;
}

.drop-down{
    display: block;
    animation: dropdown 0.3s linear 0s forwards;
}

.container{
    padding:140px 10px 20px;
    
    @include width900{
        margin-left:350px;
        margin-right:50px;
    }
}

.contain-searchbar{
    padding:0 20px;
    text-align: center;

    @include width900{
        display: none;
    }

    input{
        background:url(../images/search_icon.png) right top no-repeat;
        height:32px;
        width:100%;
        border-bottom:1px solid #FF7800;
    }
}

.con{
    padding-top:40px;

    h3{
        font-size:1.3rem;
        text-align: center;
        padding-bottom:20px;
        color:#FF7800;
        font-weight:800;

        @include width900{
            text-align:left;
        }
    }

    h4{
        font-size:.9rem;
        color:#FF7800;
        padding-bottom:10px;
        font-weight:500;
    }

    p{
        font-size: .7rem;
        line-height:1.6;
        text-align: justify;
        padding-bottom:10px;
    }
}

.side-menu{//temporary
    display:none;
}

.con.con-invi{
    display: none;
}