*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	position: relative;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
.lp-top{
	background:#173E75;
}
.lp-header > img{
	margin-bottom:10px;
}
.lp-header h4{
	margin-bottom:10px;
}
.lp-header ul{
	padding:0px 10px 10px;
}
.lp-header ul li{
	display:inline-block;
	margin-right:10px;
	position: relative;
	top:100px;
	opacity:0;
}
.lp-header ul li:last-child{
	margin-right:0;
}
.lp-header ul li img{
	padding-bottom:5px;
}
.lp-header ul li span{
	display: block;
	font-size:.7rem;
	font-weight:700;
}
.lp-body{
	padding-top:10px;
	background:#1D4C82;
}
.lp-details span{
	display:block;
	font-size:.8rem;
	margin-bottom:10px;
}
.lp-details .btn{
	padding:15px 30px;
	background:linear-gradient(0deg, #15375C, #2ACC86);
	border:1px solid #296DB8;
	font-size:1.2rem;
	border-radius:3px;
	margin-bottom:10px;
	font-weight:700;
	color:#fff;
}
.lp-details p{
	font-size:.8rem;
}
.lp-details p span{
	display: inline-block;
	font-size:2.2rem;
	font-weight:700;
	color:#2ACC86;
}
.lp-gamesicon{
	padding:20px 5px;
}
.lp-gamesicon span{
	font-size:.8rem;
}
.lp-gamesicon ul{
	padding-top:10px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap:5px;
}
.lp-footer{
	padding:0px 5px 20px;
}
.lp-footer p{
	font-size:.7rem;
	line-height: 1.6;
	text-align: justify;
}
@media only screen and (min-width:500px){
	.lp-gamesicon, .lp-footer{
		width:500px;
		margin:0 auto;
	}
}
.class-anim{
	animation:anim 1s ease-in-out 0s forwards;
}
@keyframes anim{
	0%{top:100px; opacity:0;}
	100%{top:0px; opacity:1;}
}