:root {
    --color-scheme-1:#FFD500;
    --color-scheme-2:#2A007E;
    --color-scheme-3:#FF006F;
    --color-scheme-4:#B7B6B6;
    --color-scheme-5:#EFEFEF;
    --color-scheme-6:#000000;
    --color-scheme-7:#ffffff;
    --height:100%;
    --font-size:17px;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: contain;
}
.container {
    position: relative;
    transition: margin-right .5s;
}
.btn a img{
    width: 100% !important;
}
img {
    max-width: 100%;
 }
 
/*  Header CSS */
header{
    background:var(--color-scheme-1);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 4.5em;
    padding: 0 3em;
    position: relative;
    z-index: 100;
}
.logo{
    height:var(--height);
    display: flex;
    align-items: center;
}
.nav-burger {
    cursor: pointer;
    padding: 6px;
    outline: none;
    position: relative;
}
.nav-burger span {
    width: 42px;
    height: 7.5px;
    border-radius: 2px;
    background: var(--color-scheme-2);
    display: block;
    position: absolute;
    right: 0;
    margin-bottom: 8px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.nav-burger span:nth-child(1) {
    top: 17px;
}
.nav-burger span:nth-child(2) {
    top: -7px;
}
.nav-burger span:nth-child(3) {
    top: 5px;
}
.nav-burger.tog-burger span:nth-child(1) {
    /* -webkit-transform: rotate(135deg);
    transform: rotate(135deg); */
    top: 17.5px;
    width: 25px;
}
.nav-burger.tog-burger span:nth-child(2) {
    bottom: 13.5px;
    width: 35px;
}
.nav-burger.tog-burger span:nth-child(3) {
    /* -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg); */
    bottom: 6.5px;
    width: 45px;
}

.offcanvas-collapse{
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: 0.5s;
}
.offcanvas-collapse a{
    text-transform: uppercase;
    color: var(--color-scheme-6);
    text-decoration: none;
    font-weight: 700;
    font-size: var(--font-size);
    padding: 40px 1.2em 0 1.2em;
}


@media (max-width: 600px) {
	.offcanvas-collapse {
		position: fixed;
		/* Height of navbar */
		bottom: 0;
		left: 100%;
        width: 11.5rem;
        top: 0px;
		overflow-y: auto;
		visibility: hidden;
		background-color: var(--color-scheme-1);
		transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out;
		transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
        z-index: -1;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: left;
        justify-content: flex-start;
	}
	.offcanvas-collapse.open {
		visibility: visible;
		-webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    .offcanvas-collapse a{
        padding: 1em;
    }
    .offcanvas-collapse a:first-child{
        margin-top: 5.4em;
    }
    .nav-burger{
        order: 1;
    }
}




.link_active{
    color: var(--color-scheme-7) !important;
    background: var(--color-scheme-2);
    font-weight: 600;
}
@media only screen and (min-width:601px){
.nav-burger {
    padding: 1rem;
    display: none;
}
.menu{
    height:var(--height);
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    -webkit-animation: Slideout 0.3s linear 0s forwards;
    animation: Slideout 0.3s linear 0s forwards;
}
}



/* Main Container */
.wrap {
    display: flex;
    justify-content: center;
}
.main_container {
    width: 82%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    clear: both;
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -ms-z-index: 0;
    -o-z-index: 0;
    z-index: 0;
}
.main_container-preview {
    width: 70%;
    margin-bottom: 2rem;
    height: auto;
    clear: both;
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -ms-z-index: 0;
    -o-z-index: 0;
    z-index: 0;
}
.m_c_content .acco2 .expand,
.m_c_content .acco2 .openAd {
    padding: 21px 0;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid var(--color-scheme-4);
    position: relative;
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    background: url(../images/plus.png);
    background-position: right;
    background-repeat: no-repeat;
}
.expand a {
    text-decoration: none;
    color: var(--color-scheme-3);
    text-transform: uppercase;
    font-size: var(--font-size);
    font-weight: 600;
}
.m_c_content .acco2 .openAd a {
    background-position: right;
    padding-right: 25px;
    text-decoration: none;
    color: var(--color-scheme-3);
    text-transform: uppercase;
}
.m_c_content .acco2 .openAd {
    background: url(../images/minus.png);
    background-position: right;
    background-repeat: no-repeat;
}
.main_container_content {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}
.checkbox-chb{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    border-bottom: 2.5px solid var(--color-scheme-4);
    padding-inline-start: 14px;
    margin-block-start: 2em;
    margin-inline-start: -14px;
}
.checkbox-chb li{
    margin-right: 1em;
}
.checkbox-chb li a{
    text-decoration: none;
    color: var(--color-scheme-3);
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
label{
    display: flex;
    align-items: center;
}
.container_of_holder {
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0rem;
    padding-top: 0rem;
}
.content_item_description {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    align-self: auto;
}
#title{
    padding-top: 5px;
    padding-bottom: 8px;
}
#content_items {
    /* display: flex; */
    width: 158px;
    margin: .5rem;
    padding: 1rem;
    background:var(--color-scheme-5);
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    clear: both;
}
#content_items{
    margin-left: 0;
    margin-right: 0;
}
#content_menu_1 {
    margin-top: 5rem;
}
#img-thumbnail {
    width: 100%;
    /* height: auto; */
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
#btnalign {
    vertical-align: center;
    text-align: bottom-center;
}
#btn {
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    color: var(--color-scheme-3);
}
#title a {
    text-decoration: none;
    color: #000e;
    font-size: 12px;
    text-transform: uppercase;
}



/* --------------------------- CUSTOM MEDIA QUERIES ------------------------------*/
@media only screen and (min-width:768px) {
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
        border-radius: 4px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
@media only screen and (max-width:768px) {
    header{
        padding: 0 1em;
    }
    ul {
        list-style: none;
    }
    #content_menu_1 {
        margin-top: 7rem;
    }
    .side-nav {
        width: 12rem !important;
    }
    .main_container {
        width: 100% !important;
        margin-left: 0rem;
    }
    .main_container_content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        border-radius: 4px;
        margin-top: 1rem;
    }
}



/* -------------------Media Queries ------------------------*/
@media (max-width: 319px) {
    #content_items {
        width: 100%;
    }
}
@media (min-width:320px) and (max-width: 340px) {
    #content_items {
        width: 100px;
    }
}
@media (min-width:341px) and (max-width: 361px) {
    #content_items {
        width: 119px;
    }
}
@media (min-width:362px) and (max-width: 380px) {
    #content_items {
        width: 130px;
    }
}
@media (min-width:381px) and (max-width: 400px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:401px) and (max-width: 420px) {
    #content_items {
        width: 148px;
    }
}
@media (min-width:421px) and (max-width: 440px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width:441px) and (max-width: 460px) {
    #content_items {
        width: 168px;
    }
}
@media (min-width:461px) and (max-width: 480px) {
    #content_items {
        width: 178px;
    }
}
@media (min-width:481px) and (max-width: 500px) {
    #content_items {
        width: 188px;
    }
}
@media (min-width:501px) and (max-width: 520px) {
    #content_items {
        width: 198px;
    }
}
@media (min-width:521px) and (max-width: 540px) {
    #content_items {
        width: 208px;
    }
}
@media (min-width:541px) and (max-width: 560px) {
    #content_items {
        width: 218px;
    }
}
@media (min-width:561px) and (max-width: 590px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:591px) and (max-width: 620px) {
    #content_items {
        width: 148px;
    }
}
@media (min-width:621px) and (max-width: 650px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width:651px) and (max-width: 700px) {
    #content_items {
        width: 118px;
    }
}
@media (min-width:701px) and (max-width: 740px) {
    #content_items {
        width: 128px;
    }
}
@media (min-width:741px) and (max-width: 768px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:769px) and (max-width: 800px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width: 801px) and (max-width: 844px) {
    #content_items {
        width: 118px;
    }
}
@media (min-width: 845px) and (max-width: 919px) {
    #content_items {
        width: 128px;
    }
}
@media (min-width: 920px) and (max-width: 1255px) {
    #content_items {
        width: 20%;
    }
}
@media  (min-width: 1680px) {
    #content_items {
        width: 148px;
    }
}


/* Mao ni sya ang preview CSS */
#title-preview {
    padding: 1.5rem 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-scheme-1);
}
#title-preview div:first-child, #title-preview-vids div:first-child{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
}
#title-preview div:last-child a, #title-preview-vids div:last-child a{
    font-size: 17px;
    padding: .48em 1em;
    text-transform: none;
    font-weight: 700;
    color: var(--color-scheme-7);
}
#title-preview div:last-child a span ,#title-preview-vids div:last-child a span{
    margin-left: .7em;
}
#title-preview div:last-child a span:last-child, #title-preview-vids div:last-child a span:last-child{
    text-transform: uppercase;
    margin-left: .3em;
}

#title-preview-vids{
    padding: 1.5rem 1rem;
    margin: -1em 4em;
    display: flex;
    flex-direction: column;
    color: var(--color-scheme-1);
}
.preview-content-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.preview-content-item img{
    width: 40%;
}
.preview-content-item-vids{
    display: flex;
    justify-content: center;
}
.panitankonaimongitlogron {
    padding: 1rem;
}
.preview-content{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}
video{
    object-fit: cover;
}
#btn-preview {
    position: relative;
    border: 1px solid var(--color-scheme-3);
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-scheme-3);
}
#btn-preview:hover {
    background-color: var(--color-scheme-3);
}
@media only screen and (min-width:1025px) and (max-width:1168px){
    #title-preview, #title-preview-vids{
        padding: 1rem 0;
        text-align: center;
    }
}
@media only screen and (min-width:601px) and (max-width:1024px){
    .preview-content {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
    }
    .preview-content-item-vids{
        flex-direction: column;
    }
    .preview-content-item img{
        width: 100%;
    }
    .preview-content-item-vids img{
        width: 100%;
    }
    video{
        width: 100% !important;
    }
    #title-preview, #title-preview-vids {
        padding: 1rem 0;
        text-align: center;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width:600px){
    .main_container-preview{
        width: 100%;
    }
    .preview-content {
        display: flex;
        flex-direction: column;
    }
    #title-preview , #title-preview-vids{
        padding: 1rem 0;
        text-align: center;
        display: flex;
        align-items: center;
    }
    #title-preview-vids{
        margin-top:0;
    }
    .preview-content {
        padding-top: 3em;
    }
    #title-preview div:last-child a{
        display: flex;
        justify-content: center;
    }
    video{
        width: 100% !important;
    }
    .preview-content-item img{
        width: 100%;
    }
    .preview-content-item-vids{
        flex-direction: column;
    }
}

@media only screen and (max-width:429px){
    #title-preview div:last-child a span {
        margin-left: 0.3em;
    }
    #title-preview div:last-child a,#title-preview div:first-child {
        font-size: 22px;
    }
}
@media only screen and (max-width:320px){
    #title-preview div:last-child a{
        display: block;
    }
}


@-webkit-keyframes Slidein {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}

@keyframes Slidein {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px;
    }
}
@-webkit-keyframes Slideout {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}
@keyframes Slideout {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}


.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  