@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

*{
	margin:0;
	padding:0;
	border:0;
}
ul{
	list-style: none;
	padding-top:20px;
}
ul li{
	display:inline-block;
	border-left:1px solid #DED9D9;
	padding:0 10px;
	margin-bottom:10px;
}
ul li:last-child{
	padding-right:0;
}
ul li:first-child{
	padding-left:0;
	border-left:none;
}
a{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	text-decoration:none;
	color:#AFACAC;
	font-size:.8rem;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size:2.5rem;
	letter-spacing:2px;
	color:#FFF200;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size:1.4rem;
	color:#000;
	margin-bottom:15px;
}
h2:last-child{
	color:#1E0034;
	font-weight:900;
}
h3{
	font-family: 'Roboto', sans-serif;
	font-weight:700;
	font-size:1.3rem;
	color:#fffeff;
}
span{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:1rem;
	color:#fffeff;
}
p{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:.8rem;
	color:#AFACAC;
	text-align:justify;
}
img{
	max-width:100%;
}
body{
	background: url(../../img/bg.jpg);
	position:relative;
}
.lp-overlay{
	position:absolute;
	top:0;
	width:100%;
	height:100%;
	padding-bottom:20px;
	z-index:-1;
	background-color:#1E0034;
	opacity:.8;
}
.lp-container{
	min-width:320px;
	margin:0 auto;
	text-align:center;
}
/* Swiper */
.swiper-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.swiper-slide {
  background-position: center;
  background-repeat:no-repeat;
  width: 240px;
  height: 170px;
}

.lp-details{
	padding:0 20px 20px;
	margin:0 auto;
}
.details-wrapper{
	background:url(../../img/details-bg.png) no-repeat bottom right, #CB0F42;
}
.details-top{
	padding:15px 0;
	background:#F21852;
}
.details-mid{
	padding:20px 0;
}
.subscribe-btn{
	display:inline-block;
	height:60px;
	overflow:hidden;
	padding:16px 15px;
	border-radius:3px;
	background-color:#FFC830;
	cursor:pointer;
}
.subscribe-btn h2:first-child{
	animation:anim 2s ease-in-out 4 forwards;
}
@keyframes anim{
  0% {margin-top:-60px;}
  10% {margin-top:-42px;}
  45% {margin-top:-42px;}
  50% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-60px;}
}
.details-bot{
	padding-bottom:10px;
}
.details-bot h1{
	padding:10px 0;
	animation: animText 2s ease-in-out infinite;
}
@keyframes animText{
	0%{transform:scale(.9, .9);
		 opacity:1;}
	50%{transform:scale(1.1,1.1);
	opacity:.7;}
	100%{transform:scale(.9, .9);
		 opacity:1;}
}
/*@keyframes animText {
    100% {
        transform: translateY(0);
       opacity: 1;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    0% {
    transform: translateY(20px);
       opacity: 0;
      -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    }
}*/
.lp-footer{
	padding:0 10px 20px;
}
@media screen and (min-width:520px){
	h1{
		font-size:3rem;
	}
	h2{
		font-size:1.8rem;
		margin-bottom:18px;
	}
	h3{
		font-size:1.4rem;
	}
	span{
		font-size:1.1rem;
	}
	.swiper-container {
	  max-width: 500px;
	  padding-bottom: 30px;
	}
	.swiper-slide {
	  width: 280px;
	  height: 210px;
	}
	.lp-details{
		max-width:500px;
	}
	.subscribe-btn{
		height:80px;
		overflow:hidden;
		padding:19px 30px;
		border-radius:3px;
		background-color:#FFC830;
		cursor:pointer;
	}
	@keyframes anim{
	  0% {margin-top:-49px;}
	  10% {margin-top:-49px;}
	45% {margin-top:-49px;}
	50% {margin-top:4px;}
	99.99% {margin-top:4px;}
  100% {margin-top:-48px;}
	  
	}
	.lp-footer{
		 padding-top: 20px;
	}
}
@media screen and (min-width:700px){
	h1{
		font-size:3.5rem;
	}
	.swiper-container {
	  max-width: 700px;
	}
	.swiper-slide {
	  width: 300px;
	  height: 230px;
	}
	.lp-details{
		max-width:600px;
	}
	.lp-footer{
		padding:20px 40px 50px;
	}
}
@media screen and (min-width:900px){
	.swiper-container {
	  max-width: 900px;
	  padding-bottom: 40px;
	}
	.lp-footer{
		max-width:900px;
		margin:0 auto;
		padding:20px 20px 50px;
	}
}