*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	text-align:center;
	position: relative;
	background:#023047;
	background-size: cover;
}
ul{
	list-style:none;
}
a{text-decoration: none;}
.btn-3{
	text-decoration:none;
	background:linear-gradient(90deg, #faa307, #ffba08);
	font-size:1.3rem;
	color:#fff;
	font-weight:700;
	display: inline-block;
	width:160px;
	padding:10px 40px;
	border-radius:2px;
	border-bottom:3px solid #e85d04;
	border-right:2px solid #e85d04;
	box-shadow: 0px 0px 10px rgba(244, 140, 6, .5);
	margin-bottom:10px;
}
/* input[type=text]{
	font-size:1.3rem;
	text-align: center;
	display: inline-block;
	padding:10px 40px;
	width:160px;
	border-radius:2px;
	color:rgb(0, 211, 105);
	border:1px solid rgb(0, 211, 105);
	font-weight:700;
	margin-bottom:10px;
}
input[type=text]::placeholder{
	color:rgb(0, 211, 105);
} */
img{
	max-width:100%;
}
p{
	font-size:.8rem;
}
span{
	font-size:.9rem;
	display: block;
	font-weight:600;
	padding:10px 10px;
}
h4{
	font-size:1rem;
	padding-bottom:10px;
	color:rgb(166, 255, 0);
}
.key{
	font-size:2.5rem;
	font-weight:900;
	color:#FAA307;
	display: inline-block;
}
.upper-sect{
	text-align: center;
	margin:20px 10px 0;
	padding-bottom:10px;
}
.detail-1, .detail-2{
	opacity: 1;
}
.detail-2{
	opacity: 1;
}
.lp-gif img{
	width:30%;
	padding-bottom:20px;
}
.lower-sect{
	margin:10px 10px 0px;
	padding:10px 10px;
}
.lp-compatibilty, .lp-gamesicon{
	padding-bottom:20px;
}
.lp-gamesicon ul, .lp-compatibilty ul{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap:10px;
}
.lower-sect p{
	line-height: 1.6;
	text-align: justify;
	font-size:.75rem;
}
.lp-gamesicon p, .lp-compatibilty p{
	text-align:center;
	padding-bottom:10px;
}

.footer ul{
	margin-top:20px;
}

.footer ul li{
	display: inline-block;
	font-size:.8rem;
}

.footer ul li a{
	color:#FAA307;
}

@media only screen and (min-width: 500px){
	.lp-container{
		max-width:500px;
		margin:0 auto;
	}
}