@import url('https://fonts.google.com/specimen/Ubuntu');
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    background-color:#01adff;
    color:#fff;
    overflow-x: hidden;
}
.wrap {
    list-style:none;
    margin: 0;
    padding: 0;
}
.item {
    padding: 5px;
    width: 100%;
    margin: 2px;
}
.flex {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
#tnc{
    padding:5px;
    text-align:justify;
}
#btmnav{
    text-align:center;
    margin-top:10px;
    margin-bottom:50px;
    font-size:11px;
}
#btmnav a{
    text-decoration:underline;
    color:#FFF;
}
#btmnav a:hover{
    text-decoration:none;
}
#btn{
    width:60%;
    margin:auto;
    padding:8px;
}
.hidden {
    display:none;
}
.hidden2{
    display:block;
}

.srvcs{
    font-family:"Arial Black", Gadget, sans-serif;
    color:#efdb07;
    font-size:54px;
    font-weight:bolder;
   /* -webkit-text-stroke-width: 2px;*/
    /*-webkit-text-stroke-color: #2d0506;*/
    display: block;
    animation: animTextYes 2s ease-in-out infinite;
}

@keyframes animTextYes{
    0%{transform:scale(1, 1);}
    50%{transform:scale(1.2,1.2);}
    100%{transform:scale(1, 1);}
}

.text2{
    font-size: 20px;
}

@media (min-width: 1281px) {
    .item {
        padding: 5px;
        width: 48.5%;
        margin-top:5px;
    }
    #scnd{
        margin-top:10px;
        font-size:25px;
    }
    .iconLogo{
        height:auto !important;
        max-width:250px !important;
        width: 100% !important;
    }
    .hidden{
        display:block;
    }
    .hidden2{
        display:none;
    }
    .apps{
 		margin-top:100px;
 		margin-bottom:50px;
    }
    .apps2{
    	margin-top:50px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px) {
    .item {
        padding: 5px;
        width: 48.5%;
        margin-top:5px;
    }
    #scnd{
        margin-top:10px;
        font-size:25px;
    }
    .hidden{
        display:block;
    }
    .hidden2{
        display:none;
    }
    .apps{
 		margin-top:100px;
 		margin-bottom:50px;
    }
    .apps2{
    	margin-top:50px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .item {
        padding: 5px;
        width: 47.5%;
        margin-top:5px;
    }
    #scnd{
        font-size:25px;
    }
    .hidden{
        display:block;
    }
    .hidden2{
        display:none;
    }
    .iconImage{
         height:auto !important;
        max-width:60px !important;
        width: 100% !important;
    }
     .apps{
 		margin-top:100px;
 		margin-bottom:50px;
    }
    .apps2{
    	margin-top:50px;
    }
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .item {
        padding: 5px;
        width: 48%;
        margin-top:5px;
    }
    .iconLogo{
        height:auto !important;
        max-width:250px !important;
        width: 100% !important;
    }
    #scnd{
        margin-top:10px;
        font-size:25px;
    }
    .hidden{
        display:block;
    }
    .hidden2{
        display:none;
    }
    .iconImage{
        height:auto !important;
        max-width:80px !important;
        width: 100% !important;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .item {
        padding: 5px;
        width: 100%;
    }
    #scnd{
        margin-top:0px;
        font-size:25px;
    }
    .iconImage{
        height:auto !important;
        max-width:60px !important;
        width: 100% !important;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .item {
            padding: 5px;
            width: 100%;
        }
        .iconLogo{
            height:auto !important;
            max-width:50px !important;
            width: 100% !important;
        }
    }
     