@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
body{
    font-family: Arial;
    font-size: 14px;
    color:#000;
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100vw;
    height: 100vh;
}
.header{
    background: rgba(50, 189, 19, .1);
    color: #091E75;
}
.header-div{
    min-width: 278px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left, .header-right{
    align-self: center;
}
.header-Left p{
    font-size: 1rem;
    font-weight: 600;

}
.header-right span{
    display: block;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.header-right span:nth-child(1), span:nth-child(2), span:nth-child(3){
    padding: 5px;
    font-size: .9rem;
}
.header-right span:nth-child(1){
    background:#000;
    color: #fff;
}
.header-right span:nth-child(2){
    border: 1px solid #000;
    background-color: #fff;
}
.section{
    min-width: 278px;
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.section-left, .section-right{
    align-self:center;
}
.section-left img{
    max-width: 100%;
}
.section-right .btn{
    margin:0 auto;
    max-width: 100%;
    background-image:linear-gradient(to right,#FF5710, #FF8327,#FF5710);
    padding: 20px 65px;
    border-radius: 100px;
    text-align: center;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.section-right .btn:hover{
    animation: none;
}
.btn span{
    text-shadow: 5px 10px 18px #888888;
}

/* This is default settings for each divisions */
.footer{
    min-width: 278px;
    max-width: 900px;
    margin:0 auto;
}
.footer > div:nth-child(2){
    margin:3% auto;
    line-height: 1.4;
    font-size: .9rem;
    text-align: justify;
}
.footer > div:nth-child(1){
    margin: 3% auto;
    text-align: center;
}
.footer > div:nth-child(1) a{
    font-size: .9rem;
    text-align: justify;
    text-decoration: none;
    color: #000;
}
.footer > div:nth-child(3){
    margin: 3% auto;
    text-align:center;
}
.footer > div:nth-child(3) img{
    max-width:100%;
}



@media screen and (max-width:920px){
    .header-Left, .section, .footer{
        margin:0 5%;
    }
}
@media screen and (max-width:600px){
    .section > div:nth-child(2)
    {
        margin:0 auto;
        text-align: center;
    }    
    .section > div:nth-child(2) img{
        width:80%;
    }

    .footer > div:nth-child(3) img{
        width:15%;
    }
}

/* This is for Button animation */
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}