@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik:700|Ubuntu:400,700');
body {
    background-image: url(../assets/pattern.png);
    background-repeat:repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
    margin: 0px;
    padding: 0px;
}

/* This is for header section */
.header {
    background-color:#fff;
}
.header-div {
    min-width: 300px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Col-Left,
.Col-right {
    align-self: center;
}
.Col-Left p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}
.Col-right span {
    display: block;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.Col-right span:nth-child(1),
span:nth-child(2),
span:nth-child(3) {
    padding: 5px 5px;
}

.Col-right span:nth-child(1) {
    background: #000;
    color: #fff;
}
.Col-right span:nth-child(2) {
    border:1px solid #000;
}

/* This is for content css */
#content {
    width: 100%;
    margin: auto;
}
.content-main {
    min-width: 300px;
    max-width: 900px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content:center;
    overflow: hidden;
}
.content-left,
.content-right {
    align-self: center;
    align-items: center;
}
.content-left img {
    width: 100%;
    height: auto;
}
.content-right .btn {
    margin:0 auto;
    max-width: 70%;
    background: #75A501;
    padding: 15px 10px;
    border-radius: 100px;
    text-align: center;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    -moz-box-shadow:5px 10px 18px #888888;
    -o-box-shadow:5px 10px 18px #888888;
    box-shadow: 5px 10px 18px #888888;
    cursor: pointer;
}
.btn span{
    text-shadow: 5px 10px 18px #888888;
}

.clear {
    clear: both;
}

/* This is for footer css */
.footer{
    background: #A3C339;
    min-width: 300px;
    max-width: 900px;
    margin: 0 auto;
    bottom: 0;
}
#tnc,
#btmnav {
    min-width: 300px;
    max-width: 900px;
    margin: 0 2% 0 2%;
}
#tnc {
    padding: 5px;
    color: #000;
}
#tnc p{
    line-height: 1.4;   
    text-align: justify;
}
#btmnav {
    text-align: center;
    margin-top: 10px;
    padding: 5px 0px 25px 0px;
}

#btmnav a {
    text-decoration: none;
    color: #000;
}

#btmnav a:hover {
    text-decoration: none;
}


/* This is for Footer Icons css*/
.icons{
    margin:0 auto;
    text-align: center;
}
.icons img{
    margin-bottom: 15px;
    padding:5px;
    width: 8.5%;
}




/* Media queries for Mobile devices */
@media (min-width: 300px) and (max-width: 950px) {
    .Col-Left {
        margin: 0 1rem 0 1rem;
    }
    #tnc,
    #btmnav,
    .content-main {
        margin: 0 1rem 0 1rem;
    }
}
@media (min-width: 321px) and (max-width: 600px) {
    .content-main{
        flex-direction: column;
        text-align: center;
    }
    .content-right{
        margin-top:-3.5rem;
        margin-bottom:1.5rem;
    }
    .icons img{
        margin-bottom: 15px;
        padding:3px;
        width:50px;
        height: auto;
    }
}
@media (max-width:320px){
    .icons img{
        padding:3px;
        width:40px;
        height: auto;
    }
}




/* This is for Button animation */
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}