*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../assets/background.jpg) no-repeat top center fixed;
    background-size: cover;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* index styles */
.container{
    min-width:320px;
    margin:0 auto;
}
.hd-img{
    text-align:center;
    padding-bottom:20px;
}
.details{text-align:center;}
.details p{
    color:#fff;
    font-size:.8rem;
}
.details p:first-child{
    margin-bottom:20px;
}
.details input{
    width:250px;
    height:30px;
    padding:5px;
    border-radius:5px;
    display:block;
    margin:0 auto;
    border:1px solid #E55B0A;
    font-size:1.3rem;
    font-weight: 600;
	width: 350px;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}
.details a.btn{
	
	background: linear-gradient(180deg, #FF0BF5 0%, #E20B32 100%);
	border-radius: 5px;
	
    display:block;
    width:250px;
    padding:10px 5px;
    font-size:1.5rem;
    font-weight: 600;
    color:#eee;
    margin:10px auto 5px;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) .5s;
}
.footer{
    margin-top:60px;
    padding:0px 10px;
}
.footer p{
    font-size:.8rem;
    color:#eee;
    line-height:1.6;
}
@media only screen and (min-width:600px){
    .details p:first-child{
        font-size:.9rem;
    }
    .footer{
        max-width:600px;
        margin:60px auto 0;
    }
}
/* end index styles */

/* animation */
@keyframes scaleAnim{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}



/* [TNC] Modal
 * =============================== */
 .modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: left;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
  }
  
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  
  .modal-state {
    display: none;
  }
  
  .modal-state:checked + .modal {
    opacity: 1;
    visibility: visible;
  }
  
  .modal-state:checked + .modal .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    padding: 1em 2em;
    height: 50%;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 90%;
      height: 90%;
      box-sizing: border-box;
    }
  }
  
  .modalp p{
      margin-bottom: 1em;
  }
  
  /* Other
   * =============================== */
  .btntnc {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
  }

  .btntnc:hover,
  .btntnc:focus {
    color: #E55B0A;
  }
  .btntnc:active {
    color: #E55B0A;
  }