@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap");
:root{
	/*colors*/
	--orangeCrayola: #f77a3b;
	--paleRobin: #99e1d9;
	--lightSeaGreen: #24af9d;
	--outerSpace: #3d494c;
	--paleRobin90: rgba(137, 201, 203, .9);
	--isabelline: #ebecf0;
	--ghostWhite: #FAFAFF;
	--red: #FF0000;


	/*gradient*/
	--gradientOuterSpace: linear-gradient(180deg, #3d494c 0%, #3d494c 0%);
	--gradient1: linear-gradient(180deg, #d6d7dc 0%, #8e8e8e 100%);

	/*text shadow*/
	--textShadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

	/*box shadow*/
	--boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

	/*border radius*/
	--cardBorderRadius: 8px 8px 0px 0px;
	--titleBorderRadius: 0px 0px 5px 5px;
	--genericRadius: 5px;

	/*animations*/
	--transitionTop: top 400ms ease-in-out;
	--transitionWidth: width 400ms ease-in-out;
	--transitionLeft: left 400ms ease-in-out;
	--transitionBackground: background 400ms ease-in-out;
	--transitionColor: color 300ms ease-in-out;
	--transitionOpacity: opacity 300ms ease-in-out;
}
/*global styles*/
*{
	margin:0;
	padding:0;
	border:0;
	font-family:"Ubuntu", sans-serif;
}
img{max-width:100%;}
body{
	margin:0 auto;
	background-color:var(--orangeCrayola);
	min-width: 320px;
	max-width: 500px;
	height:100vh;
	overflow-y: hidden;
}
a{text-decoration: none;}
ul{list-style: none;}
li{display: inline-block;}
.pad-content{padding:20px 10px;}
.heading-style{
	padding:15px 10px;
	background:var(--gradient1);
	border-radius:var(--cardBorderRadius);
	transition: var(--transitionBackground);
}
.heading-not-active{
	background:var(--gradientOuterSpace);
}
.group{
	background:var(--isabelline);
	border-radius:var(--cardBorderRadius);
	box-shadow:var(--boxShadow);
	position:absolute;
	left:0;
	width:100%;
	transition: var(--transitionTop), var(--transitionWidth), var(--transitionLeft);
}
.green-button{
	text-shadow: var(--textShadow);
	color:var(--isabelline);
	font-weight:500;
	background:var(--lightSeaGreen);
	border-radius: var(--genericRadius);
	text-align: center;
}
.div-header{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-gap:10px;
	align-items: center;
}
.div-header h4{
	font-size:1rem;
	font-weight:500;
	color:var(--outerSpace);
}
.div-header .close-btn{
	width:16px;
	height:16px;
}
.div-header .close-btn svg{fill:var(--outerSpace);}
.div-body{position: relative;}
.div-body-inner{
	overflow-y: auto;
	scrollbar-width:thin;
	scrollbar-color: var(--lightSeaGreen) var(--ghostWhite);
}
.div-body-inner::-webkit-scrollbar{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	display: none;
}
/*end global styles*/
.header{padding:10px 5px 20px;}
.header h1{
	text-align:center;
	color:var(--paleRobin);
}
.main-container{
	position:relative;
}
.group-menu .main-menu li{margin-right:10px;}
.group-menu .main-menu li:last-child{margin-right: 0;}
.group-menu .main-menu li a{
	color:var(--outerSpace);
	font-weight:500;
	font-size:1rem;
}
.group-menu .main-menu li a.active{
	color:var(--isabelline);
	transition: var(--transitionColor);
}
.group .sub-menu{
	opacity: 0;
	transition: var(--transitionOpacity);
}
.group-menu .sub-menu li{
	display: block;
	margin-bottom: 10px;
}
.group-menu .sub-menu li:last-child{margin-bottom:0;}
.group-menu .sub-menu li a{
	padding:15px 0px;
	display: block;
	width:100%;
	font-size:1.1rem;
}
.group-content .div-body .div-body-inner{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:10px;
}
.group-content .div-body .div-body-inner .item{
	width:100%;
	height:100%;
	position: relative;
}
.group-content .div-body .div-body-inner .item:hover{cursor:pointer;}
.group-content .div-body .div-body-inner .item img, .group-content .div-body .div-body-inner .item video{
	width: 100%;
	height: 100px;
	object-fit: cover;
	border-radius: var(--genericRadius);
}
.group-content .div-body .div-body-inner .item .item-title{
	width:92%;
	padding:4%;
	position:absolute;
	bottom:0;
	left:0;
	background:var(--paleRobin90);
	color:var(--outerSpace);
	font-size:.6rem;
	line-height: 1.4;
	border-radius:var(--titleBorderRadius);
}
.group-preview .div-body .div-body-inner .preview-thumb{text-align: center;}
.group-preview .div-body .div-body-inner .preview-thumb img,
.group-preview .div-body .div-body-inner .preview-thumb video{
	width:100%;
	height:100%;
}
/*video and audio controls styles*/
.controls{
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn{
	font-size:1rem;
	border:0;
	background:transparent;
	cursor:pointer;
	margin-right:5px;
}
.fa-play, .fa-pause, .fa-volume-up{color:var(--outerSpace);}
.fa-stop, .fa-volume-mute{color:var(--red);}
audio{display: none;}
input[type='range']{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	width:100%;
	background:transparent;
	margin-right: 5px;
	border:0;
}
input[type='range']::-webkit-slider-thumb{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	border:1px solid var(--outerSpace);
	height:16px;
	width:8px;
	border-radius:2px;
	background:var(--outerSpace);
	cursor:pointer;
	margin-top: -5px;
}
input[type='range']::-moz-range-thumb{
	border:1px solid var(--outerSpace);
	height:16px;
	width:8px;
	border-radius:2px;
	background:var(--outerSpace);
	cursor:pointer;
	margin-top: -5px;
}
input[type='range']::-ms-thumb{
	border:1px solid var(--outerSpace);
	height:16px;
	width:8px;
	border-radius:2px;
	background:var(--outerSpace);
	cursor:pointer;
	margin-top: -5px;
}
input[type='range']::-webkit-slider-runnable-track{
	width:100%;
	height:4px;
	cursor: pointer;
	background:var(--ghostWhite);
	margin-top:-2px;
}
input[type='range']::-moz-range-track{
	width:100%;
	height:4px;
	cursor: pointer;
	background:var(--ghostWhite);
	margin-top:-2px;
}
input[type='range']::-ms-track{
	width:100%;
	height:4px;
	cursor: pointer;
	background:var(--ghostWhite);
	margin-top:-2px;
}
input[type='range']::-ms-track{
	width:100%;
	cursor:pointer;
	background:transparent;
	border-color:transparent;
	color:transparent;
}
input[type='range']:focus{outline: none}
.volume-controls{
	position: relative;
	border:0;
}
input[type='range'].volume-range{
	position: absolute;
	top:-10px;
	left:0;
	width:50px;
}
.hide-vol{display: none;}
.timestamp{
	color:var(--outerSpace);
	font-size:.7rem;
	font-weight:400;
}
/*end video and audio controls styles*/
.preview-thumb, .preview-name-dl, .preview-description, .preview-screenshot h3, .screenshot-images{padding:0 10px;}
.preview-thumb, .preview-name-dl, .preview-description, .preview-thumb-tips, .preview-name-tips, .preview-description-tips{margin-bottom: 20px;}
.preview-name-dl{
	display:grid;
	grid-template-columns: 1fr auto;
	grid-gap:10px;
}
.preview-screenshot{
	border-top:2px solid var(--ghostWhite);
	padding:20px 0;
}
.preview-name h3, .preview-name span,
.preview-description h3, .preview-description p,
.preview-screenshot h3, .preview-name-tips h3, .preview-name-tips span,
.preview-description-tips p{
	color:var(--outerSpace);
}
.preview-name span, .preview-name-tips span{
	font-size:.7rem;
	font-weight:500;
}
.preview-name h3, .preview-description h3,
.preview-screenshot h3, .preview-name-tips h3{
	font-size:.9rem;
	font-weight: 700;
}
.dl-btn{
	padding:10px;
	font-size:.9rem;
	display: inline-block;
	align-self: center;
	justify-self:end;
}
.preview-description h3,
.preview-screenshot h3{padding-bottom: 5px}
.preview-description p, .preview-description-tips p{
	font-size:.7rem;
	font-weight:400;
	text-align: left;
	line-height: 1.6;
}
.screenshot-images{
	overflow-x:scroll;
	white-space: nowrap;
	/*firefox support for scrolbar*/
	scrollbar-width:thin;
	scrollbar-color: var(--lightSeaGreen) var(--ghostWhite);
	/*end firefox support for scrolbar*/
}
.screenshot-images:hover{cursor: grab;}
.screenshot-images::-webkit-scrollbar{
	border-radius:50px;
	height:8px;
}
.screenshot-images::-webkit-scrollbar-track{
	background-color:var(--ghostWhite);
	border-radius: 50px;
}
.screenshot-images::-webkit-scrollbar-thumb{
	background-color:var(--lightSeaGreen);
	border-radius:50px;
}
.screenshot-images img{margin-right: 10px;}
.screenshot-images img:last-child{margin-right:0;}
/*very important styles*/
.group-menu{top:10px;}
.group-content, .group-preview{top:999px;}
