@charset "utf-8";
/* CSS Document */

*{
    padding:0;
    margin:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body{
    height:100vh;
    background:linear-gradient(30deg, #FE8953, #FE1F89);
}
.container{
    padding:20px;
}
.LPimage{
    text-align: center;
    position: relative;
    width:238px;
    margin:0 auto;
}
.LPimage img{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
}
.LPbox{
    background:url('../../img/boxBG.jpg') top left no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(98,35,197,.66);
    margin-top:86px;
    padding:40px 15px 15px;
    text-align: center;
}
span{
    font-weight:600;
    color:#00FF00;
}
.LPbox h3{
    text-align:center;
    font-size:1.3rem;
    color:#FF6E40;
    font-weight:900;
    margin-bottom:15px;
    animation: opac 3s ease 0s;
}
.BTNsub{
    border:none;
    padding:12px 30px;
    border-radius:50px;
    font-size:1.1rem;
    font-weight:600;
    text-shadow:1px 1px 3px rgba(0,0,0,.5); 
    box-shadow: 2px 2px 5px rgba(254, 31, 137, .36);
    margin-bottom:15px;
    animation: opac 3s ease 0s;
}
.disabled{
    background: rgba(254, 31, 137, .36);
    color: rgba(255, 255, 255, 0.49);
}
.enabled{
    background:linear-gradient(0deg, #FE1F89, #FE8953);
    color:#fff;
    transition:all 1s ease;
}
.LPbox p{
    text-align:justify;
    color:#fff;
    font-size:.9rem;
    line-height:1.4;
    margin-bottom:25px;
    animation: opac 3s ease 0s;
}
.checkBOX{
    animation: opac 3s ease 0s;
}
.checkBOX input{
    /* float:left; */
    display: inline;
    opacity: 0;
}
.checkBOX label{
    padding-left:7px;
    color:#fff;
    font-size:.8rem;
    line-height:1.4;
    position: relative;
}
.checkBOX label::before,.checkBOX label::after{
    position:absolute;
}
.checkBOX label::before{
    top:-1px;
    left:-14px;
}
.checkBOX label::after {
    left:-11px;
    top: 2px;
}
.checkBOX label::before{
    content: "";
    display: inline-block;
    border:1px solid #00FF00;
    height:15px;
    width:15px;
    border-radius:2px;
    background:#fff;
}
.checkBOX label::after{
    content:"";
    display: inline-block;
    height:5px;
    width:8px;
    border-left:3px solid #000;
    border-bottom:3px solid #000;
    transform: rotate(-45deg);
}
.checkBOX input[type="checkbox"] + label::after{
    content:none;
}
.checkBOX input[type="checkbox"]:checked + label::after{
    content:"";
}                       
.checkBOX input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
#TNC{
    font-size:.8rem;
    line-height:1.4;
    cursor: pointer;
}
.wrapper{
    text-align:center;
    position: absolute;
    z-index:2;
    top:0px;
    left:0px;
    display: none;
}

.termsContainer{
    background:#fff;
    position:relative;
    padding:10px 20px 30px;
    top:0px;
    left:0px;
    margin:15% 10%;
    border-radius:10px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .36);
}
.close{
    font-size:2rem;
    font-weight:600;
    text-decoration: none;
    border-radius:50px;
    position: absolute;
    padding:3px 12px;
    color:#fff;
    border:5px solid #fff;
    background:#FF6E40;
    top:-18px;
    right:-18px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .36);
}
.terms{
    margin-top:20px;
}
.terms h4{
    margin-bottom:10px;
}
.terms p{
    font-size:.8rem;
    text-align: justify;
    line-height: 1.6;
}
.terms span{
    color:#FF6E40;
}

/* Animations */
.animateZomein{
    animation: zomeIN .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
.animateZomeout{
    animation: zomeOUT .5s cubic-bezier(0.84, -0.09, 0, 1.03) 0s;
}
@keyframes zomeIN{
    0%{transform: scale(0,0);}
    100%{transform: scale(1,1);}
} 
@keyframes zomeOUT{
    0%{transform: scale(1,1);}
    100%{transform: scale(0,0);}
}
@keyframes opac{
    0%{opacity:0;}
    100%{opacity:1;}
}


@media only screen and (min-width:500px){
    .container{
        margin:0 auto;
        max-width: 500px;
    }
    .LPbox{
        padding:40px;
    }
}