*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background-color:#0055FF;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}
.lp-container{
    max-width: 900px;
    margin:0 auto;
    padding:20px 10px;
}
.lp-img-container{
    position: relative;
    height:250px;
    overflow-y: hidden;
}
.lp-img-container > img{
    position: absolute;
    bottom:0;
    left:50%;
}
.lp-img-container > img:nth-child(4){
    transform: translateX(-50%);
    z-index: 1;
}
.lp-img-container > img:nth-child(3), .lp-img-container > img:nth-child(1){
    transform: translateX(-47.5%);
    z-index: 2;
    bottom:22px;
    opacity:0;
}
.lp-img-container > img:nth-child(3){
    animation: showSmoke 600ms ease-in-out 300ms forwards;
}
.lp-img-container > img:nth-child(1){
    z-index: 4;
    animation: showSmoke 300ms ease-in-out 400ms forwards;
}
.rocketHolder{
    position: relative;
    left:50%;
    bottom:22px;
    transform: translateX(-50%);
    height:100%;
    z-index: 3;
    overflow: hidden;
}
.rocketHolder img{
    position: absolute;
    left:50%;
    transform: translateX(-45%) scale(0);
    bottom:-200px;
    opacity: 0;
    transform-origin: center;
    animation: rocketLaunch 800ms ease-in-out forwards;
}

.lp-details{
    padding:20px 0;
    text-align: center;
}

.lp-details p{
    font-size:.9rem;
}

.lp-details p:nth-child(1){
    margin-bottom:15px;
}

.lp-details p:nth-child(2){
    margin-bottom:25px;
}

.lp-details a{
    display: inline-block;
    background-color:#F9A342;
    padding:10px 40px;
    font-size:1.5rem;
    color:#000;
    font-weight: 700;
    border-radius:50px;
    box-shadow:0px 4px 0px #2668ec;
}

.lp-details a:hover:after{
    background-color:#fff;
}

.lp-details p:nth-child(4){
    margin-top:25px;
    margin-bottom: 25px;
}

.lp-details p:nth-child(5) span{
    color:#F9A342;
    font-weight: 700;
    font-size:2.5rem;
    margin:0 10px;
}

.lp-tnc{
    margin:100px auto 0;
}
.kompatibility{
    margin-bottom:20px;
}
.kompatibility p{
    text-align: center;
    font-size:.9rem;
    margin-bottom: 20px;
}
.icon{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:10px;
}

.tnc{
    margin-top: 30px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-top:20px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#fff;
}

@keyframes rocketLaunch{
    0%{
        transform: translateX(-45%) scale(0);
        bottom:-200px;
    }
    50%{opacity:1;}
    100%{
        transform: translateX(-45%) scale(1);
        bottom:20px;
        opacity:1;
    }
}

@keyframes showSmoke{
    0%{opacity:0;}
    100%{opacity:1;}
}

@keyframes clickHere{
    0%{
        bottom:-15px;
        width:0%;
        height:9px;
    }
    100%{
        width:110%;
        bottom:-3px;
        height:15px;
    }
}
.sms{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen  and (max-width: 600px){
    .lp-tnc{
        margin:0;
    }
}