*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
	font-family: Arial, Helvetica, sans-serif;
}
img{
	max-width:100%;
}
body{
	margin:0 auto;
	background:url(../assets/bg-gamezone.jpg) no-repeat top right;
	background-size:cover;
}
ul{
	list-style:none;
}
li{
	display:inline-block;
	margin-right:10px;
}
a{
	text-decoration:none;
}
.overview{
	display:none;
	position:absolute;
	top:999px;
	left:0px;
	z-index:2;
	background:#fff;
	margin:10px 0px 0px;
	border-radius:5px 5px 0px 0px;
	height:100vh;
	box-shadow:0px 0px 5px rgba(0,0,0,.3);
	transition:top 200ms ease-in-out, margin 280ms ease-in-out;
}
.over-head{
	background:linear-gradient(90deg, #051140, #0C65A1);
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	padding:10px;
	border-radius:5px 5px 0px 0px;
}
.over-head h2{
	color:#fff;
	font-size:.9rem;
}
.over-head .over-close{
	justify-self:end;
	color:#fff;
}
.over-info{
	text-align:center;
	padding:20px 10px;
}
.info-details{text-align:left;}
.info-details li{
	font-size:.8rem;
	display: block;
	margin-bottom:15px;
}
.info-details span{
	margin-left:5px;
	font-size:1rem;
	font-weight:700;
	color:#0C65A1;
}
.info-descrip{
	font-size:.9rem;
	text-align: left;
	line-height:1.5;
	color:#0C65A1;
	margin-bottom:30px;
}
.logout-btn{
	background:#0C65A1;
	padding:10px 30px;
	border-radius:3px;
	color:#fff;
	font-size:1rem;
	font-weight:700;
}
.header{
	padding:10px 5px 20px; 
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.user{
	justify-self: end;
	align-self: center;
	position: relative;
	left:0px;
	top:0px;
}
.user-drop{
	display:none;
	position:absolute;
	right:0px;
	top:34px;
	z-index: 1;
}
.user-drop li{padding:5px;}
.user-drop li a{display:block;}
.header h1{
	text-align:left;
}
.main-container{
	position: relative;
}
.text-logo{
	color:#81E41F;
	font-weight:700;
	font-size:1.6rem;
	align-self: center;
}
.group{
	background:#fff;
	border-radius:5px 5px 0px 0px;
	height:100vh;
	box-shadow:0px 0px 4px rgba(0,0,0,.2);
	transition:top 200ms ease-in-out, margin 280ms ease-in-out;
}
.group-content, .group-preview{
	display:none;
}
.main-menu, .sub-menu-title, .prev-title{
	background:linear-gradient(90deg, #051140, #0C65A1);
	border-radius:5px 5px 0px 0px;
	padding:10px;
	transition: background 700ms eaese-in-out;
}
.main-menu ul li a, .sub-menu-title span, .prev-title span{
	color:#fff;
	font-weight:700;
}
.sub-menu-title span, .main-menu ul li a{font-size:.9rem;}
.prev-title span{
	font-size:.8rem;
	font-weight:400;
}
.main-menu ul li a:hover{
	color:#ccc;
}
.sub-menu, .content-items, .prev-details{
	padding:10px 20px;
}
.sub-menu a{
	display:block;
	font-size:1.2rem;
	font-weight:700;
	text-align:center;
	padding:10px 0px;
	background:#81E41F;
	margin-bottom:5px;
	border-radius:7px;
	color:#0C65A1;
	
}
.sub-menu a:last-child{
	margin-bottom:0px;
}
.content-items{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:15px;
}
.x-button{
	float: right;
	position: relative;
	margin-top:3px;
}
.x-button span{
	width:20px;
	height:4px;
	background:#fff;
	display:block;
	position: relative;
	border-radius: 2px;
}
.x-button span:first-child{
	transform:rotate(45deg);
	top:4px;
}
.x-button span:last-child{
	transform:rotate(-45deg);
}
.prev-details{
	text-align:center;
}
.prev-details img, .prev-details a{
	margin-bottom:20px;
}
.prev-details img{
	display: block;
}
.prev-details a{
	display: inline-block;
	margin-top:20px;
	background:#81E41F;
	border-radius:5px;
	padding:10px 20px;
	color:#0C65A1;
	font-weight:700;
}
.Html5 img{margin-bottom:5px;}
.Html5 a{
	text-align: center;
	display: inline-block;
	background:#81E41F;
	font-size:.8rem;
	width:100%;
	border-radius:2px;
	padding:5px 0px;
	color:#0C65A1;
	font-weight:700;
}
.prev-details p{
	text-align: justify;
	font-size:.8rem;
	line-height:1.4;
}
/* hidden class */
.hdn-elem{display:none;}
.shw-elem{display:block;}

/* login style */
.form-wrap{
	border-radius:5px;
	margin:30px 10px 0px;
	box-shadow:0px 0px 8px rgba(0,0,0,.2);
}
.form-header{
	background:linear-gradient(90deg, #051140, #0C65A1);
	padding:5px 0px;
	border-radius:5px 5px 0px 0px;
}
.form-header h2{
	color:#fff;
	font-size:1.3rem;
	text-align: center;
}
.error-div{
	padding:20px 10px 10px;
	background:#fff;
}
.error-div p{
	padding:3px 5px;
	background:rgb(255, 72, 72);
	border-radius:3px;
	border:1px solid rgb(136, 2, 2);
	color:#fff;
	font-size: 0.7rem;
	margin-bottom:5px;
}
.error-div h2{
	text-align: center;
	font-size: 0.8rem;
	color:#0C65A1;
	margin-bottom:5px;
	border-radius:3px;
	background:#81E41F;
	border:1px solid rgb(57, 112, 2);
}
form{
	padding:0px 10px 20px;
	text-align:center;
	background:#fff;
}
input[type="text"], input[type="password"]{
	text-align:center;
	color:#0C65A1;
	font-weight:600;
	width:80%;
	padding:2px 5px;
	border-bottom:1px solid #0C65A1;
	display: block;
	margin:0 auto 20px;
	background:#fff;
}
input[type="text"]::placeholder, input[type="password"]::placeholder{
	color:rgba(12,101,161,.3);
	text-align:center;
	font-weight:400;
}
input[type="submit"]{
	background:#0C65A1;
	padding:5px 20px;
	border-radius:3px;
	color:#fff;
	font-size:.9rem;
	margin-bottom: 20px;
}
form p{
	font-size:.8rem;
	color:#6E6A6A;
}
form p .sign-up-link{
	font-weight:900;
	color:#0C65A1;
}
.sign-up{display:none;}
.sign-up-link{cursor:pointer;}
input.sign-up-btn{margin-bottom:0px;}

/* active link style */
.main-menu ul li.active a{
	color:#81E41F;
}

@media screen and (min-width: 400px){
	.form-wrap{
		width:400px;
		margin:30px auto 0px;
	}
	.sub-menu{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap:10px;
	}
	.sub-menu a{margin-bottom: 0px;}
	.content-items{
		grid-template-columns: repeat(4, 1fr);
	}
	.prev-details img{
		width:70%;
		margin:0 auto;
	}
}

@media only screen and (min-width:550px){
	.main-container, .header, .overview{
		width:550px;
		margin:0 auto;
	}
	.overview{
		left:50%;
		transform: translateX(-50%);
		margin:10px auto 0px;
	}
	.content-items{
		grid-template-columns: repeat(5, 1fr);
	}
}