@-webkit-keyframes butt {
  0% {
    width: 10%;
    left: 0;
    border-radius: 5px 0px 0px 5px;
  }
  50% {
    width: 100%;
    right: 0;
    border-radius: 0px 5px 5px 0px;
  }
  100% {
    width: 10%;
    left: 0;
    border-radius: 5px 0px 0px 5px;
  }
}

@keyframes butt {
  0% {
    width: 10%;
    left: 0;
    border-radius: 5px 0px 0px 5px;
  }
  50% {
    width: 100%;
    right: 0;
    border-radius: 0px 5px 5px 0px;
  }
  100% {
    width: 10%;
    left: 0;
    border-radius: 5px 0px 0px 5px;
  }
}

@-webkit-keyframes bg {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1900px;
  }
}

@keyframes bg {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1900px;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p, a {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  background: url("../img/background_pattern.jpg");
  -webkit-animation: bg 60s linear infinite;
          animation: bg 60s linear infinite;
}

.head {
  background: #facd2b;
}

.head .head-container {
  width: 100%;
  display: table;
}

@media screen and (min-width: 750px) {
  .head .head-container {
    max-width: 750px;
    margin: 0 auto;
  }
}

.head .center-text {
  display: table-cell;
  vertical-align: middle;
  width: 65%;
}

.head p {
  float: left;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

.head ul {
  float: right;
  width: auto;
}

.head ul li {
  background: black;
  font-size: .9rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 8px;
  text-align: center;
  color: white;
}

.head ul li:nth-child(2) {
  background: white;
  color: black;
}

.head ul li:nth-child(3) {
  background: none;
  color: black;
}

.head::after {
  content: "";
  display: block;
  clear: both;
}

.details {
  padding: 15px 10px;
}

.details-container {
  padding: 10px;
  background: white;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

@media screen and (min-width: 395px) {
  .details-container {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 600px) {
  .details-container {
    min-width: 570px;
  }
  .details-container::after {
    content: "";
    display: block;
    clear: both;
  }
}

@media screen and (min-width: 600px) {
  .details-container .image-container {
    float: left;
    width: 55%;
    margin-right: 5%;
  }
}

.details-container .button-container {
  padding-top: 10px;
}

@media screen and (min-width: 600px) {
  .details-container .button-container {
    width: 40%;
    float: right;
    margin-top: 5%;
  }
}

.details-container .button-container a {
  background: #f21852;
  padding: 15px 25px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 1.7rem;
  border-radius: 5px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.details-container .button-container a::after {
  content: "";
  width: 10%;
  height: 100%;
  display: block;
  background: rgba(255, 135, 167,.4);
  position: absolute;
  top: 0;
  border-radius: 5px 0 0 5px;
  -webkit-animation: butt 2s infinite 0s ease-in-out;
          animation: butt 2s infinite 0s ease-in-out;
}

.details-container .button-container p {
  padding: 10px 25px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9rem;
}

.foot {
  padding: 0px 10px 10px;
}

@media screen and (min-width: 750px) {
  .foot {
    max-width: 750px;
    margin: 0 auto;
  }
}

.foot p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: white;
  margin-bottom: 10px;
  line-height: 1.4;
  text-align: justify;
}

.foot p:first-child {
  line-height: 1.6;
  text-align: center;
  color: #f21852;
}

.foot p a {
  color: white;
}

.foot p a:hover {
  color: #facd2b;
}
/*# sourceMappingURL=style.css.map */