//Font
$arial:Arial, Helvetica, sans-serif;

//Colors
$yellow:rgb(250,205,43);
$pink:rgb(242,24,82);

//Animation Keyframes
@keyframes butt{
    0%{width:10%; left:0; border-radius: 5px 0px 0px 5px;}
    50%{width:100%; right:0; border-radius: 0px 5px 5px 0px;}
    100%{width:10%; left:0; border-radius: 5px 0px 0px 5px;}
}
@keyframes textColor{
    0%{color:rgba(255,255,255);}
    50%{color:rgb(0,0,0);}
    100%{color:rgb(255,255,255);}
}
@keyframes bg{
    0%{background-position-x: 0px;}
    100%{background-position-x: 1900px;}
}

//Media Queries
@mixin width395{
    @media screen and (min-width:395px){
        @content;
    }
}
@mixin width600{
    @media screen and (min-width:600px){
        @content;
    }
}
@mixin width750{
    @media screen and (min-width:750px){
        @content;
    }
}

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
p,a{
    font-family:$arial; 
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    max-width:100%;
}
body{
    background:url('../img/background_pattern.jpg');
    animation: bg 60s linear infinite;
}

.head{
  background:$yellow;
  
    .head-container{ 
        width:100%; 
        display: table;  
        
        @include width750{
            max-width: 750px;
            margin:0 auto;
        }
    }

    .center-text{
        display: table-cell;
        vertical-align: middle;
        width: 65%;
    }

    p{
        float:left;
        padding-left:10px;
        font-family: $arial;
        font-size: 1rem;
    }

    ul{
        float:right;
        width:auto;

        li{
            background:rgb(0,0,0);
            font-size: .9rem;
            font-family: $arial;
            padding:5px 8px;;
            text-align:center;
            color:rgb(255,255,255);

            &:nth-child(2){
                background:rgb(255,255,255);
                color:rgb(0,0,0);
            }

            &:nth-child(3){
                background:none;
                color:rgb(0,0,0);
            }
        }
    }

    &::after{
        content: "";
        display: block;
        clear: both;
    }
}

.details{
    padding:15px 10px;  
}

.details-container{
    padding:10px;
    background:rgb(255,255,255);
    border-radius:5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    text-align: center;

    @include width395{
        max-width:375px;
        margin: 0 auto;
    }

    @include width600{
        min-width:570px;

        &::after{
            content: "";
            display: block;
            clear: both;
        }
    }

    .image-container{
        @include width600{
            float:left;
            width:55%;
            margin-right:5%;
        }
    }

    .button-container{
        padding-top:10px;

        @include width600{
            width:40%;
            float:right;
            margin-top:5%;
        }

        a{
            background:$pink;
            padding:15px 25px;
            display: inline-block;
            font-family:$arial;
            font-weight: 700;
            color:rgb(255,255,255);
            font-size: 1.7rem;
            border-radius:5px;
            text-shadow:1px 1px 5px rgba(0,0,0,.7);
            box-shadow: 1px 1px 5px rgba(0,0,0,.5);
            position: relative;
            animation: textColor 2s infinite 0s ease-in-out;

            &::after{
                content: "";
                width:10%;
                height:100%;
                display: block;
                background:rgba(255, 135, 167,.4);
                position: absolute;
                top:0;
                border-radius:5px 0 0 5px;
                animation: butt 2s infinite 0s ease-in-out;
            }
        }

        p{
            padding:10px 25px 0px;
            font-family: $arial;
            font-size:.9rem;
        }
    }
}

.foot{
    padding:0px 10px 10px;

    @include width750{
        max-width: 750px;
        margin:0 auto;
    }
    
    p{
        font-family:$arial;
        font-size: 0.75rem;
        color:rgb(255,255,255);
        margin-bottom:10px;
        line-height: 1.4;
        text-align: justify;

        &:first-child{
            line-height: 1.6;
            text-align: center;
            color:$pink;
        }

        a{
            color:rgb(255,255,255);

            &:hover{
                color: $yellow;
            }
        }
    }
}