*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	background:linear-gradient(0deg, #F3AA00, #FEE952);
	color:#000;
	text-align:center;
	position: relative;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
img{
	max-width:100%;
}
.lp-container{
	min-width:320px;
	margin:0 auto;
}
.lp-top{
	max-width: 320px;
	margin: 0 auto;
	position: relative;
}
.lp-header{
	text-align: center;
	position: absolute;
	top:0px;
	left:0px;
	z-index: -1;
	padding:10px 60px;
}
.details-container{
	padding-top:300px;
}
.oval-shape{
	height:30px;
    width:100%;
    background:#fff;
    border-top-left-radius: 100%;
	border-top-right-radius: 100%;
	box-shadow: 0px -7px 0px rgba(0,0,0, .1);
}
.lp-details, .lp-gamesicon, .lp-compatibility, .lp-footer{
	background:#fff;
	padding:0px 10px 20px;
}
.lp-details, .lp-compatibility{
	border-bottom: 2px solid #C5C5C5;
}
.lp-gamesicon, .lp-footer{
	border-top: 2px solid #E9E9E9;
	padding-top:20px;
}
.lp-details > span{
	display: block;
	font-size:.9rem;
	margin-bottom:10px;
}
.lp-details .btn{
	padding:10px 40px;
	font-size:1.5rem;
	border-radius:5px;
	background:#49BAF1;
	font-weight:700;
	color:#fff;
	text-shadow:1px 1px 4px rgba(0,0,0,.3);
	position: relative;
	z-index:1;
	margin-bottom:20px;
}
.lp-details .btn::before{
	content: "";
	background:#49BAF1;
	height:100%;
	width:100%;
	position: absolute;
	top:0px;
	left:0px;
	z-index:-1;
	border-radius:5px;
}
.lp-details .btn::after{
	content: "";
	background:#128AC5;
	height:100%;
	width:96%;
	position: absolute;
	top:6px;
	left:2%;
	z-index:-2;
	border-radius:5px;
}
.lp-details p > span{
	font-size:3rem;
	font-weight:700;
	color:#F8C726;
}
.lp-gamesicon{
	padding-bottom:10px;
}

.lp-gamesicon span, .lp-compatibility span{
	font-size:.9rem;
}
.lp-gamesicon ul, .lp-compatibility ul{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap:5px;
	padding-top:10px;
	text-align:center;
}
.lp-footer p{
	font-size:.7rem;
	color:#656565;
	text-align:justify;
	line-height: 1.6;
}
@media only screen and (min-width:600px){
	.lp-header h1{
		font-size:1.8rem;
	}
	.lp-details{
		padding-bottom:15px;
	}
	.lp-details span, .lp-details p{
		font-size:1.25rem;
		padding-bottom:15px;
	}
	.lp-details .btn{
		font-size:2rem;
		margin-bottom:15px;
	}
	.lp-details p span{
		font-size:4.2rem;
	}
	.lp-gamesicon, .lp-compatibility{
		padding-bottom:15px;
	}
	.lp-gamesicon ul, .lp-compatibility ul{
		width:500px;
		margin:0 auto;
	}
	.lp-footer p{
		font-size:.8rem;
	}
	.lp-footer ul li a{
		font-size:.8rem;
	}
}
/*js class*/
.circle{
	background:red;
	border-radius: 50%;
	position: absolute;
	z-index:-1;
	opacity:.2;
}