*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background:url('../img/bg.jpg') no-repeat fixed;
	background-size:cover;
}
.lp-container{
	padding:0px 10px 20px;
	margin:0 auto;
	text-align:center;
	width:320px;
}
.title h4{
	font-size:1.2rem;
}
.main-details{
	padding-top:20px;
	background:linear-gradient(180deg, rgb(0,0,0), rgba(0,0,0,0));
}
.details{
	margin-bottom:40px;
}
.details input, .details p{
	margin-bottom:10px;
}
.details input{
	padding:10px;
	text-align:center;
	font-size:1.2rem;
	font-weight:700;
	color:#000;
	border-radius:2px;
}
.details p{
	font-size:.9rem;
}
.details p span.color{
	font-weight:700;
	font-size:1rem;
	color:#fffc00;
}
.details button{
	margin-top:10px;
	padding:10px 60px;
	font-weight:700;
	font-size:1.3rem;
	background:linear-gradient(90deg,#fffc00,#ff3131);
}
.details2 span, .details2 p{
	font-size:.8rem;
}
.details2 span{
	display:block;
	margin-bottom:20px;
}
.details2 p{
	line-height:1.4;
	text-align:justify;
}
.details2 a{
	display:block;
	margin-top:10px;
	text-decoration:underline;
	font-size:.9rem;
	color:#fffc00;
	font-weight:700;
}
/*@media only screen and (min-width:400px){
	.lp-container{
		width:400px;
	}
}*/
