*{
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif !important;
	margin:0;
	padding:0;
}
.iconimages{
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../img/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size:100%;
	position: relative;
	top:.3rem;
	height: auto;
}
.row-main{
    min-width: 278px !important;
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 auto !important;
    display: flex !important;
    flex-direction: row !important;
	justify-content: space-around !important;	
}
.column{
	margin:6em 0em 13.5em 0em!important;
}
.tips_cnt {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.img-pop{
	width: 118px!important;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
	width: 80%;
	display: flex;
	flex: 0 0 auto;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modal-content .pop-image{
	border-radius: 5px 0 0 5px;
	width: 30%;
	flex: 0 0 auto;
	display: flex;
	position: relative;
	background: linear-gradient(to bottom, #9fd483, #8dc26f);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modal-content .pop-content{
		padding: 3em 4em 2em;
		background:FFF;
		border-radius: 0 5px 5px 0;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modal-content img{
	width: 100%;
	margin:auto;
	border-radius: 5px;
	-webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
}
.wrapper-pop{
	padding: 3%;
	display: flex;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cvid{

	left: -20px;
	margin-top: -23px;
	font-size: 50px!important;
	height: 15px;
	padding: 5px 5px;
	color: #fff!important;
	opacity: 1;
}

video{
	
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
	font-weight: bold;
	text-align: right;
}

#header
{
	height: 10px;
	width:100%;
	z-index:1;
	position: fixed;
	background-image: url(../img/hlheader.png);
	/*background-size: contain;*/
	background-repeat:no-repeat; 
	background-attachment: fixed;
	
	
	  top: 0;
	  left: 0;
}

#footer
{
	z-index:1;
	width:100%;
	position: fixed;
	text-align:right;
	/*background-color:#dcedf5;*/
	background-color:#f2f2f2;
	bottom: 0;
	color:#0094ca;
}

#item{
	margin-bottom: 3% !important;
}

#box1
{
	/*background:#FFFFFF;*/
	background-image: url(../img/hlheader.png);
	height: 70px;
	width:100%;
	/*background-size: cover;*/
	margin:0;
	margin-left: 0;
}

#box3
{
	width:81%;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
}

#box4
{
	width: 100%;
	background-color:#dcedf5;
	bottom:0;
	text-align:right;
	font-size:11px;
	color:#0094ca;
	margin-top:5px;
}

.item-holder{
	margin:6%;
}

#contentDiv
{	
	/*border:4px solid #edb600;*/
	background-color:#355f7e;
	/*background-color:#f2f2f2;*/
}

#text
{
	font-weight:bold;
	font-size:14px;
	color:#3498db;
	padding:10px;
}

.w3-content{max-width:100%;margin:auto}.w3-rest{overflow:hidden}
.mySlides img{text-align:center!important;}
.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}
.w3-display-container:hover .w3-display-hover{display:block}.w3-display-container:hover span.w3-display-hover{display:inline-block}.w3-display-hover{display:none}
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}
.w3-bar .w3-button{white-space:normal}
.w3-dropdown-hover.w3-mobile,.w3-dropdown-hover.w3-mobile .w3-btn,.w3-dropdown-hover.w3-mobile .w3-button,.w3-dropdown-click.w3-mobile,.w3-dropdown-click.w3-mobile .w3-btn,.w3-dropdown-click.w3-mobile .w3-button{width:100%}}
.w3-button:hover{color:#000!important;}
.w3-black,.w3-hover-black:hover{color:#fff!important;}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.sidenav {
    height: 0%;
   width: 100%;
   position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e1e1e1;
    overflow-x: hidden;
    transition: 0.5s;
  
}

#menu_link a span{
	margin-left:4.8rem;
	text-transform: uppercase;
}

#menu_link a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
	font-weight:bold;
    font-size: 18px;
    color: #324d5c;
    display: block;
    transition: 0.3s;
	border:1px solid #CCC;
	/*background-image:url("../img/menu_line.png");
	background-repeat:repeat-x;
	background-position:bottom;
	font-weight:bold;*/
}

#menu_link a:hover {
    color: #355f7e;
    padding: 8px 8px 8px 23px;
	background-color:#ecf0f1;
	border-left:10px solid #355f7e;
}

/*.closebtn {
	float:right;
}*/

.sidenav .closebtn {
	 position: absolute;
    top: 12px;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
}

* {
  box-sizing: border-box;
}

/* Style the search field */
form.example input[type=text] {
  padding: 11px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/* ------------------------------ */
#catName
{
	background-image:url("../img/tbname.png");
	background-repeat:no-repeat;
	padding:5px 0px 5px 10px;
	font-weight:bold;
	color: white;
	font-size: 20px;
	width:80%;
}

#catX
{
	margin-top:3px;
	float:right;
}

h3{
	height: 60px;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none
}

h3::-webkit-scrollbar { 
    display: none; 
}


@media screen and (max-width: 300px)
{

	#btn{
		width:110%;
		min-width: 85px;
		text-align:center;
		border:1px solid #006b92; 
		-webkit-border-radius: 3px; 
		-moz-border-radius: 3px;
		border-radius: 3px;
		font-size:14px; 
		padding: 10px 6px 10px 6px; 
		text-decoration:none; 
		display:inline-block;
		text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
		font-weight:bold; color: #FFFFFF;
		background-color: #b95e0f; 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#355f7e), to(#b95e0f));
		background-image: -webkit-linear-gradient(top, #355f7e, #355f7e);
		background-image: -moz-linear-gradient(top, #355f7e, #355f7e);
		background-image: -ms-linear-gradient(top, #355f7e#940705, #355f7e);
		background-image: -o-linear-gradient(top, #355f7e, #355f7e);
		background-image: linear-gradient(to bottom, #355f7e, #355f7e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#355f7e, endColorstr=#355f7e);
	}

#btn:hover{
 border:1px solid #004964;
 background-color: #347cb0; background-image: -webkit-gradient(linear, left top, left bottom, from(#347cb0), to(#347cb0));
 background-image: -webkit-linear-gradient(top, #347cb0, #347cb0);
 background-image: -moz-linear-gradient(top, #347cb0, #347cb0);
 background-image: -ms-linear-gradient(top, #347cb0, #347cb0);
 background-image: -o-linear-gradient(top, #347cb0, #347cb0);
 background-image: linear-gradient(to bottom, #347cb0, #347cb0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#347cb0, endColorstr=#347cb0);
}
/*
#body
{

	background-image: url(../img/bg1.jpg),url(../img/bg2.jpg);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 250px,cover;
	background-attachment: fixed,fixed;

}*/



	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}


	#contentWrap
	{	
		width:60%;
		margin:auto;
		position: relative;
	}

#img-thumbnail{
    width: 100px;
    height: auto;

}
	#item {
  /*background: tomato;*/
  border:1px solid #CCC;
  padding: 9px;
  width: 100px;
  height: auto;
  margin: 10px;
  
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  border-radius:10px;
  /*text-align: center;*/
}


}

@media screen and (min-width:301px) and (max-width: 400px)
/*@media screen and (max-width:400px) */
{

#btn{
<<<<<<< HEAD
 width:80%;
 text-align:center;
 border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px; padding: 12px 5px 12px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
=======
	width:90%;
	text-align:center;
border:1px solid #006b92; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:15px; padding: 12px 5px 12px 5px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
>>>>>>> refs/remotes/origin/master
 background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#355f7e), to(#b95e0f));
 background-image: -webkit-linear-gradient(top, #355f7e, #355f7e);
 background-image: -moz-linear-gradient(top, #355f7e, #355f7e);
 background-image: -ms-linear-gradient(top, #355f7e#940705, #355f7e);
 background-image: -o-linear-gradient(top, #355f7e, #355f7e);
 background-image: linear-gradient(to bottom, #355f7e, #355f7e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#355f7e, endColorstr=#355f7e);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #347cb0; background-image: -webkit-gradient(linear, left top, left bottom, from(#347cb0), to(#347cb0));
 background-image: -webkit-linear-gradient(top, #347cb0, #347cb0);
 background-image: -moz-linear-gradient(top, #347cb0, #347cb0);
 background-image: -ms-linear-gradient(top, #347cb0, #347cb0);
 background-image: -o-linear-gradient(top, #347cb0, #347cb0);
 background-image: linear-gradient(to bottom, #347cb0, #347cb0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#347cb0, endColorstr=#347cb0);
}




	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}
}
	#contentWrap
	{	
		width:80%;
		margin:auto;
		position: relative;
	}

#img-thumbnail{
    width: 100%;
    height: auto;
}

#item {
  /*background: tomato;*/
  border:1px solid #CCC;
 /* padding: 9px;*/
  width: 50px;
height: auto;
  margin: 10px;
    font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  /*text-align: center;*/
}



@media screen and (min-width:401px) and (max-width: 500px)
{  /*Mobile Phone */

	#btn{
	width:90%;
	text-align:center;
	border:1px solid #006b92; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:15px; 
	padding: 10px 8px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; color: #FFFFFF;
	background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#355f7e), to(#b95e0f));
	background-image: -webkit-linear-gradient(top, #355f7e, #355f7e);
	background-image: -moz-linear-gradient(top, #355f7e, #355f7e);
	background-image: -ms-linear-gradient(top, #355f7e#940705, #355f7e);
	background-image: -o-linear-gradient(top, #355f7e, #355f7e);
	background-image: linear-gradient(to bottom, #355f7e, #355f7e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#355f7e, endColorstr=#355f7e);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #347cb0; background-image: -webkit-gradient(linear, left top, left bottom, from(#347cb0), to(#347cb0));
 background-image: -webkit-linear-gradient(top, #347cb0, #347cb0);
 background-image: -moz-linear-gradient(top, #347cb0, #347cb0);
 background-image: -ms-linear-gradient(top, #347cb0, #347cb0);
 background-image: -o-linear-gradient(top, #347cb0, #347cb0);
 background-image: linear-gradient(to bottom, #347cb0, #347cb0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#347cb0, endColorstr=#347cb0);
}
/*
#body
{

	background-image: url(../img/bg1.jpg),url(../img/bg2.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,repeat; 
	background-size: 100% 300px,cover;
	background-attachment: fixed,fixed;

}
*/


	#box3{
		width:90%;
	}
	#mySidenav
	{
		top:0px;
		position:auto;
	}



	#contentWrap
	{	
		width:80%;
		margin:auto;
		position: relative;
	}

#img-thumbnail{
    width: 30%;
    height: auto;
   /* margin-left: auto;
   margin-right: auto;*/
}

#item {
  /*background: tomato;*/
  border:1px solid #CCC;
  /*padding: 2px;*/
  width: 30px;
  height: auto;
  margin: 7px;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  /*text-align: center;*/
}

}



/*@media all and (min-width:576px)*/
@media screen and (min-width:501px) and (max-width: 600px)
{

#btn{
	width:80%;
	text-align:center;
	border:1px solid #006b92; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:15px; 
	padding: 8px 8px 8px 8px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; color: #FFFFFF;
	background-color: #b95e0f; background-image: -webkit-gradient(linear, left top, left bottom, from(#355f7e), to(#b95e0f));
	background-image: -webkit-linear-gradient(top, #355f7e, #355f7e);
	background-image: -moz-linear-gradient(top, #355f7e, #355f7e);
	background-image: -ms-linear-gradient(top, #355f7e#940705, #355f7e);
	background-image: -o-linear-gradient(top, #355f7e, #355f7e);
	background-image: linear-gradient(to bottom, #355f7e, #355f7e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#355f7e, endColorstr=#355f7e);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #347cb0; background-image: -webkit-gradient(linear, left top, left bottom, from(#347cb0), to(#347cb0));
 background-image: -webkit-linear-gradient(top, #347cb0, #347cb0);
 background-image: -moz-linear-gradient(top, #347cb0, #347cb0);
 background-image: -ms-linear-gradient(top, #347cb0, #347cb0);
 background-image: -o-linear-gradient(top, #347cb0, #347cb0);
 background-image: linear-gradient(to bottom, #347cb0, #347cb0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#347cb0, endColorstr=#347cb0);
}
/*
#body
{

	background-image: url(../img/bg1.jpg),url(../img/bg2.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,no-repeat; 
	background-size: 100% 390px,cover;
	background-attachment: fixed,fixed;

}
*/

	#box3{
		width:100%;
	}


#mySidenav
	{
		top:0px;
		position:fixed;
	}

	#contentWrap
	{	
		width:80%;
		margin:auto;
		position: relative;
	}


#img-thumbnail{
    width: 40%;
    height: auto;
    margin-left: 10px;
   margin-right: 10px;
}

#item {
  /*background: tomato;*/
  border:1px solid #CCC;
 /* padding: 9px;*/
  width: 60px;
  height: auto;
  /*height: 150px;*/
  margin: 7px;
    font-size:14px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  /*text-align: center;*/
}

}



@media screen and (min-width: 601px)
/*@media all and (max-width: 1024px)*/

{

#btn{
	width:80%;
	text-align:center;
	border:1px solid #006b92; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:14px; 
	padding: 10px 10px 10px 10px; 
	text-decoration:none; 
	display:inline-block;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
	font-weight:bold; color: #FFFFFF;
	background-color: #b95e0f; 
	background-image: -webkit-gradient(linear, left top, left bottom, from(#355f7e), to(#b95e0f));
	background-image: -webkit-linear-gradient(top, #355f7e, #355f7e);
	background-image: -moz-linear-gradient(top, #355f7e, #355f7e);
	background-image: -ms-linear-gradient(top, #355f7e#940705, #355f7e);
	background-image: -o-linear-gradient(top, #355f7e, #355f7e);
	background-image: linear-gradient(to bottom, #355f7e, #355f7e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#355f7e, endColorstr=#355f7e);
}

#btn:hover{
 border:1px solid #004964;
 background-color: #347cb0; background-image: -webkit-gradient(linear, left top, left bottom, from(#347cb0), to(#347cb0));
 background-image: -webkit-linear-gradient(top, #347cb0, #347cb0);
 background-image: -moz-linear-gradient(top, #347cb0, #347cb0);
 background-image: -ms-linear-gradient(top, #347cb0, #347cb0);
 background-image: -o-linear-gradient(top, #347cb0, #347cb0);
 background-image: linear-gradient(to bottom, #347cb0, #347cb0);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#347cb0, endColorstr=#347cb0);
}
/*
#body
{
	background-image: url(../img/bg1.jpg),url(../img/bg2.png);	
	background-position: top,bottom;
	background-repeat:no-repeat,repeat; 
	width: 100%;
    height: 100%;
	background-size: 100% 450px,contain;
	background-attachment: fixed,fixed;

}*/

#mySidenav{
		top:0px;
		position:fixed;
	}
	



#contentWrap{	
		width:80%;
		margin:auto;
		position: relative;
	}

#item{
  /*background: tomato;*/
  border:1px solid #CCC;
  /*padding: 10px;*/
  width: 180px;
  height: auto;
  /*margin: 7px;*/
  font-size:14px;
  font-family: 'Open Sans', sans-serif;
  /*line-height: 150px;*/
  color: #000;
  border-radius:10px;
  text-align: center;
  overflow: hidden;
}
}



@media screen and (max-width:414px){

	#item{
		width:45%;
		text-align: center;
		display: block;
		margin: 3% auto;
		margin-right:auto;
		border:1px solid #fff;
		border-radius: 10px;
	}
	#img-thumbnail{
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
		vertical-align: middle;
	}
	#contentWrap{
		width:100%;
		position: relative;
	}
	.cssmenu ul li{
		display: inline-block !important;
		font-size: 12px !important;
	}
	.cssmenu ul li:hover{
		background-color:none !important;
	}
}


@media screen and (min-width:415px) and (max-width:768px){
	#contentWrap{
		width:100%;
		position: relative;
	}

	#item{
		width:30%;
		text-align: center;
		margin:3.33% auto;
	}
	#img-thumbnail{
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3%;
		border-radius: 10px;
		vertical-align: middle;
	}
}


@media screen and (max-width:350px){
	#contentWrap{
		margin-top:32rem  !important;
		position: relative;
	}
	.iconimages{
		top: 11rem;
	}
	.tab-content{
		width:100% !important;
	}
	.column{
		margin: 3em 0em 13em 0em !important;
	}
}
@media screen and (min-width:351px) and (max-width:500px){
	#contentWrap{
		margin-top:32rem  !important;
		position: relative;
	}
	.iconimages{
		top: 11rem;
	}
	.tab-content{
		width:100% !important;
	}
	.column{
		margin: 3em 0em 13em 0em !important;
	}
}
@media screen and (min-width:501px) and (max-width:686px){
	#contentWrap{
		margin-top:36rem  !important;
		position: relative;
	}
	.iconimages{
		top: 11rem;
	}
	.column{
		margin: 4em 0em 13.5em 0em !important;
	}
}

@media screen and (min-width:687px) and (max-width:768px){
	#contentWrap{
		margin-top:36rem !important;
		position: relative;
	}
	.iconimages{
		top: 11rem;
	}
	.column{
		margin: 4em 0em 14em 0em !important;
	}
}

@media screen and (min-width:769px) and (max-width:1023px){
	#contentWrap{
		margin-top:35rem !important;
		position: relative;
	}
	.iconimages{
		top: 9rem;
	}
	.column{
		margin: 4em 0em 12em 0em !important;
	}
}
@media screen and (min-width:1024px){
	#contentWrap{
		margin-top:-6rem !important;
		position: relative;
	}
	.iconimages{
		top: 4rem;
	}
	.column{
		margin: 7em 0em 12em 0em !important;
	}
}


@media screen and (max-width:768px){
	.iconimages{
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),url(../img/bg-mobile.jpg);
		background-repeat: no-repeat;
		background-position: center top;
		background-size:100%;
		position: relative;
	}
	#ptslogo{
		width: 200px;
		height: 100%;
		padding:20px;
		margin-left:-.3rem;
	}
	#img{
		width: 23px;
		margin-top:-0.2rem;
	}
	a.closebtn i.fa{
		width: 21px !important;
	}
	#menu_link a span{
		margin-left: 0rem !important;
		font-size: 15px;
	}
}


@media screen and (max-width:600px){
	.prev-main{
		flex-direction: column;
	}
	.prev-image{
		width: 100% !important 	;
		border-radius: 5px 5px 0 0 !important;
	}
	.prev-image img{
		margin:3% !important;
	}
	.prev-content{
		padding: 0 !important;
		margin: 4%;
		text-align: center;
	}
	.prev-content p{
		font-size: 12px;
		text-align: justify;
	}
	.xml-container h3{
		font-size: 14px;
		height: 60px;
	}
	.modal-content {
		width: 90%;
		flex-direction: column;
	}
	.modal-content .pop-image{
		width: 100%;
		border-radius: 5px 5px 0 0;
	}
	.modal-content .pop-content{
		padding: 0 !important;
		margin: 0 0 4%;
		text-align: center;
		border-radius: 0px 0px 5px 5px !important;
	}
	.pop-content .tile{
		font-size: 21px;
		color: #000;
		font-weight: 600;
		margin-bottom: 1rem;
		margin-top: 1rem;
	}
	.pop-content .description{
		font-size: 12px;
		text-align: justify;
		margin: 4%;
	}
}
@media screen and (min-width:601px){
	.close{
		order:1;
		margin-top: -1.5rem;		
		margin-right: -.9rem;
	}
	.cvid{
		margin: -23px 0 0 0;
		padding: 5px 5px;
	}
	.pop-content .tile{
		font-size: 24px;
		color: #000;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}










/* Header CSS */

@media screen and (max-width: 294px){
#ptslogo {
    width: 160px !important;
    margin-top: 0.4rem;
}
}

@media screen and (max-width:480px){
	body{
		background-size: 100vw 266px,contain;
	}
	.row-main{
		margin: -7rem 0rem -32rem 0rem !important;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.xml-container{
		width:48% !important;
		padding: 3% !important;
	}
	.wrapper-pop{
		display: block;
	}
}

@media screen and (min-width:481px) and (max-width:500px){
	body{
		background-size: 100vw 276px,contain;
	}
	.row-main{
		margin: -7rem 0rem -32rem 0rem !important;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.column img{
		max-width: 80%;
		margin:0 auto;
	}
	.xml-container{
		width:30% !important;
		padding: 3% !important;
	}
	.xml-container h3{
		font-size: 14px;
		height: 60px;
	}
}

@media screen and (min-width:501px) and (max-width:768px){
	.row-main{
		margin: -7rem 0rem -36rem 0rem !important;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.column img{
		max-width: 60%;
		margin:0 auto;
	}
	.xml-container{
		width:32% !important;
		padding: 3% !important;
	}
	.xml-container h3{
		font-size: 14px;
		height: 60px;
	}
}
@media screen and (min-width:769px) and (max-width:920px){
	#ptslogo{
		width: 200px;
		height: 100%;
		padding:20px;
		margin-left:2rem;
	}
	#img{
		width: 23px;
		margin-top:-0.2rem;
		margin-right: 2.2rem;
	}
	a.closebtn i.fa{
		width: 58px !important;
	}
	#menu_link a span{
		margin-left: 2rem !important;
		font-size: 15px;
	}
	.row-main{
		margin: -5rem 0rem -36rem 0rem !important;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.column img{
		max-width: 80%;
		margin:0 auto;
	}
}
@media screen and (min-width:921px) and (max-width:1023px){
	#ptslogo{
		width: 200px;
		height: 100%;
		padding:20px;
		margin-left:3.5rem;
	}
	#img{
		width: 100px;
		margin-top:-0.2rem;
		margin-right: -1rem;
	}
	a.closebtn i.fa{
		width: 83px !important;
	}
	#menu_link a span{
		margin-left: 3.5rem !important;
		font-size: 15px;
	}
	.row-main{
		margin: -5rem 0rem -36rem 0rem !important;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.column img{
		max-width: 80%;
		margin:0 auto;
	}
}

@media screen and (min-width:1024px){
	#ptslogo{
		width: 200px;
		height: 100%;
		padding:20px;
		margin-left:4.5rem;
	}
	#img{
		width: 100px;
		margin-top:-0.2rem;
		margin-right: 0rem;
	}
	a.closebtn i.fa{
		width: 98px !important;
	}
	#menu_link a span{
		margin-left: 4.5rem !important;
		font-size: 15px;
	}
	.row-main{
		margin: -9rem 0rem -36rem 0rem;
	}
	.column{
		width: 50%;
		align-self: auto;
		text-align: center;
	}
	.column img{
		max-width: 80%;
		margin:0 auto;
	}
	
}
@media screen and (min-width:1441px){
	body{
		background-size: 100vw 566px,contain;
	}
}



.xml-main {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	flex-wrap: wrap;
  }
  .xml-container{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background: #fff;
    margin: auto;
    text-align: center;
	width: 22%;
	padding: 1%;
	margin: 1%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:10px;
	margin-bottom:10px;
  }
  .xml-container img{
	  max-width:100%;
	  border-radius: 10px;
}
  .title {
	color: #000;
	font-size: 18px;
  }
  

  /* PREVIEW CSS */
  .prev-main{
	  display: flex;
	  flex: 0 0 auto;
	  background: #fff;
	  max-width: 90%;
	  margin: 3% auto 3% auto;
	  border-radius: 10px;
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .prev-image{
	border-radius: 5px 0 0 5px;
	width: 30%;
	flex: 0 0 auto;
	display: flex;
	position: relative;
	background: linear-gradient(to bottom, #9fd483, #8dc26f);
  }
  .prev-image img{
	width: 100%;
	margin:auto;
	-webkit-box-reflect: below -1px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%, transparent), to(rgba(250, 250, 250, 0.15)));
  }
  .prev-content{
	padding: 3em 4em 2em;
  }

  video{
	  position: relative;
	  margin:auto;
  }
a{
	text-decoration: none;
}
.img:hover{
	cursor: pointer;
}