<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Powerland_LP</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Powerland_LP">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <header class="header">
    <div class="header-div">
      <div class="x-button">
        <a href="../exit.php"><img src="../assets/imgpsh_fullsize_anim.png" /></a>
      </div>
      <div class="logo">
        <img src="../assets/logo_2.png" />
      </div>
    </div>
  </header>

  <section class="tnc_section">

    <h1>Support</h1>
    <br>
    <p>schildern Sie Ihre Anfrage so genau wie möglich, damit wir Ihnen schnellstmöglich antworten und Hilfestellung
      anbieten können.</p>
    <p>E-Mail: <span>Input(s) here </span></p>
    <p>Telefon: <span>Input(s) here </span></p>

  </section>
</body>

</html>