<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Powerland_LP</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="screen" />
</head>

<body>
  <input type="hidden" id="API_PATH" name="API_PATH" value="<?php echo API_PATH;?>">
  <input type="hidden" id="operator_code" name="operator_code" value="">
  <input type="hidden" id="shortcode" name="shortcode" value="8877">
  <input type="hidden" id="keyword" name="keyword" value="">
  <input type="hidden" id="user_ip" name="user_ip" value="">
  <input type="hidden" id="affiliate_code" name="affiliate_code" value="">
  <input type="hidden" id="country_code" name="country_code" value="nl">
  <input type="hidden" id="landing_page" name="landing_page" value="Powerland_LP">
  <input type="hidden" id="gateway_code" name="gateway_code" value="Teracomm">
  <input type="hidden" id="carryover" name="carryover" value="">

  <header class="header">
    <div class="header-div">
      <div class="x-button">
        <a href="../exit.php"><img src="../assets/imgpsh_fullsize_anim.png" /></a>
      </div>
      <div class="logo">
        <img src="../assets/logo_2.png" />
      </div>
    </div>
  </header>

  <section class="tnc_section">
    <h1>Widerrufsrecht</h1>
    <H3>HINWEIS AUF RÜCKTRITTSRECHT</H3>
    <p>
      Gemäß § 11 <span>Fern- und Auswärtsgeschäftegesetzes (FAGG)</span> haben Sie grundsätzlich das Recht, von einem
      mit uns im
      Fernabsatz abgeschlossen Vertrag innerhalb von <span>14 (vierzehn) </span>Tagen ohne Angabe von Gründen
      zurücktreten, dies ab
      dem Tag des Vertragsabschlusses. Die Ausübung des Rücktrittsrechts führt dazu, dass Sie nichts zu bezahlen haben
      bzw. eine erfolgte Zahlung an Ihnen zurückzuerstatten ist.
    </p>


    <h3>AUSNAHMEN VOM RÜCKTRITTSRECHT</h3>
    <p>
      Gemäß § 18 <span>Abs. 1 Z 11 FAGG Sie</span> verlieren jedoch Ihr Rücktrittsrecht wenn:
    </p>
    <p>
      a.) der mit uns abgeschlossene Vertrag die Lieferung von nicht auf einem körperlichen Datenträger gespeicherten
      digitalen Inhalten betrifft;
    </p>
    <p>
      b.) wir Ihnen innerhalb einer angemessenen Frist nach dem Vertragsabschluss eine Bestätigung des Vertrages
      übermitteln (z.B. SMS oder E-Mail), und
    </p>
    <p>
      c.) Sie ausdrücklich zugestimmt haben, dass wir mit der Ausführung des Vertrags noch vor Ablauf der sonst
      bestehenden <span>14-tägigen</span> Rücktrittsfrist beginnen, und zur Kenntnis nehmen, dass Sie mit dieser
      Zustimmung Ihr
      Rücktrittsrecht verlieren;
    </p>


  </section>
</body>

</html>