*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    background:url(img/background.jpg) no-repeat center;
    background-size:cover; 
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}
.lp-header{
    padding:10px 0;
    background-color:#BDFC9E;
    text-align: center;
}
.lp-header p{
    color:#000;
    font-size:.9rem;
}
.lp-container{
    max-width: 500px;
    margin:0 auto;
    padding-bottom: 20px;
}
.lp-img-container{
    position: relative;
}
.lp-details{
    padding:20px 10px;
    text-align: center;
}

.lp-details p{
    font-size:.9rem;
}

.lp-details p:nth-child(1){
    margin-bottom:15px;
}

.lp-details p:nth-child(3){
    margin-bottom:25px;
}

.lp-details a{
    display: inline-block;
    margin:10px auto;
    padding:15px 50px;
    font-size:1.5rem;
    color:#fff;
    font-weight: 700;
    position: relative;
    overflow-x: hidden;
}

.lp-details a::before{
    position: absolute;
    top:0;
    left:0;
    content:"";
    width:85%;
    height:9px;
    background:#FF003D;
    display: block;
    border-radius: 2px;
    animation: animateLeft 1000ms ease-in-out;
    transition: width 400ms ease-in-out;
}

.lp-details a::after{
    position: absolute;
    bottom:0;
    right:0;
    content:"";
    width:85%;
    height:9px;
    background:#FF003D;
    display: block;
    border-radius: 2px;
    animation: animateRight 1000ms ease-in-out;
    transition: width 500ms ease-in-out;
}

.lp-details a:hover::before, .lp-details a:hover::after{
    width:40%;
}


@keyframes animateLeft{
    0%{
        left:-999px;
    }
    100%{
        left:0;
    }
}

@keyframes animateRight{
    0%{
        right:-999px;
    }
    100%{
        right:0;
    }
}
.lp-details p:nth-child(3){
    margin-top:25px;
    margin-bottom: 25px;
}

.lp-details p:nth-child(4) span{
    color:#FF003D;
    font-weight: 700;
    font-size:2.5rem;
    margin:0 10px;
}

.lp-tnc{
    margin:20 auto 0;
    padding:0 10px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-top:20px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#FF003D;
}

.tnc ul li a:hover{
    color:#000;
}