* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0f2a47;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body > img {
  position: fixed;
}

body > img:nth-child(1) {
  max-width: 70%;
  top: 0;
  left: 0;
}

body > img:nth-child(2) {
  max-width: 70%;
  bottom: 0;
  right: 0;
}

body > img:nth-child(3) {
  width: 270px;
  top: 0;
  left: 0;
}

body > img:nth-child(4) {
  width: 270px;
  bottom: 0;
  right: 0;
}

.main-container {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  padding: 0 20px;
}

.top {
  padding: 70px 0 0px;
}

.top img {
  width: 200px;
}

.middle {
  padding: 30px 0;
}

.middle p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
}

.details {
  padding: 30px 0;
}

.details span {
  display: block;
  font-size: 1rem;
  color: #fff;
  padding: 10px 0;
}

.details span.big {
  font-size: 40px;
  color: #58d998;
  font-weight: bold;
  line-height: 1;
  padding: 0;
}

.btn {
  padding: 15px 60px;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 5px;
  font-weight: 700;
  color: #113255;
  margin-bottom: 10px;
  background: linear-gradient(120deg, #34c88c, #82eca2);
}

.small {
  display: block;
  font-size: 0.75rem;
  color: #fff;
}

.bottom {
  padding: 50px 0 20px;
}

.bottom p {
  text-align: justify;
  color: #fff;
  font-size: 0.75rem;
  line-height: 2;
  margin-bottom: 20px;
}

.bottom a {
  display: inline-block;
  color: #82eca2;
  font-size: 0.8rem;
  font-weight: 700;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
