//NAV ANIMATION
@keyframes Slidein {
    0% {
      left: -260px;
    }
    100% {
      left: 0;
    }
}
@keyframes Slideout {
    0% {
      left: 0;
    }
    100% {
      left: -260px;
    }
}
//END NAV ANIMATION

//MEDIA QUERIES
@mixin width630{
    @media screen and (min-width:630px){
        @content;
    }
}
@mixin width900{
    @media screen and (min-width:900px){
        @content;
    }
}
@mixin width1200{
    @media screen and (min-width:1200px){
        @content;
    }
}
@mixin width1500{
    @media screen and (min-width:1500px){
        @content;
    }
}
@mixin width1900{
    @media screen and (min-width:1900px){
        @content;
    }
}
//ENF MEDIA QUERIES
*{
    margin:0;
    border: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width:100%;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

h3{//resets the h3 styles in tips
    font-size: 1rem;
    margin-bottom:10px;
    font-weight: 400;

    @include width630{
        font-size: 1.2rem;
    }
    
    @include width1200{
        font-size: 1rem;
    }
}
body{
    background:url(../img/background.png) no-repeat;
    //background-size: cover;
    //background:#000;
}

/*NAVIGATION*/
.header-nav{
    background:#629A1A;
    text-align: center;
    display: grid;
    grid-template-columns: .3fr .7fr;

    @include width900{
        display: none;
    }

    img{
        max-width:138px;
        padding-left:10%;
        
        @include width630{
            padding-left:15%;
        }
    }
}
.nav-burger{
    padding:25px 20px 20px;
    
    span{
        width: 50px;
        height: 7px;
        background: #fff;
        display: block;
        position: relative;
        left: 0;
        margin-bottom: 8px;
        transition: .3s ease-in-out;
    }
}
.nav-burger.tog-burger span:nth-child(1){
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 12px;
    width:40px;
}
.nav-burger.tog-burger span:nth-child(2){
    opacity:0;
    width:0;
    left:-30px;
}
.nav-burger.tog-burger span:nth-child(3){
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    bottom: 18px;
    width:40px;
}
.side-nav{
    width:240px;
    height:100vh;
    overflow:hidden;
    position: absolute;
    z-index: 1;
    left:-260px;
    border-right:solid 20px #7BC043;
    background:url(../img/fitworld_nav_bg.png) bottom no-repeat, linear-gradient(top, #b5ee43 0%, #7bc043 100%);

    @include width900{
        display: block;
        position: fixed;
        top:0;
        left:1px;
        padding-top:30px;
    }

    .logo{
        display: none;

        @include width900{
            display: block;
        }
    }
    .nav-link{
        margin-top:40px;

        li{
            margin-bottom:20px;
        }
    }
}
.slide-in {
    -webkit-animation: Slidein 0.3s linear 0s forwards;
            animation: Slidein 0.3s linear 0s forwards;
}
.slide-out {
    -webkit-animation: Slideout 0.3s linear 0s forwards;
            animation: Slideout 0.3s linear 0s forwards;
}
/*END NAVIGATION*/

/*CONTENT*/
#contentWrap{
    margin:20px 10px;

    @include width900{
        margin-left:280px;
    }

    @include width1200{
        margin-left:350px;
    }
}
.expand{
    background:#F37736;
    padding:10px 10px 10px 0px;
    border-bottom:solid 2px #629A1A;

    @include width1900{
        max-width: 1500px;
    }

    a{
        font-size:1.2rem;
        color:#fff;
        font-weight:700;
        padding:10px;
        
        @include width630{
            font-size:1.4rem;
        }
    }
}
.openAd{
    background:#7BC043;

    a{
        background:#0492CF;
    }
}
.collapse{
    border-bottom:solid 2px #629A1A;
    border-left:solid 2px #629A1A;
    border-right:solid 2px #629A1A;

    @include width1900{
        max-width: 1500px;
    }
}
.accCntnt{
    padding:10px;
}
.container{
    @include width1200{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px;
    }
    
    @include width1500{
        grid-template-columns: repeat(3, 1fr);
    }

    @include width1900{
        grid-template-columns: repeat(5, 1fr);
    }
}
#item{
    background:#fff;
    margin-bottom:10px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);

    @include width1200{
        margin-bottom:0;
    }
}
.item-holder{
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-gap:10px;
    padding:10px;

    #title{
        font-size: 1rem;
        margin-bottom:10px;

        @include width630{
            font-size: 1.2rem;
        }
        
        @include width1200{
            font-size: 1rem;
        }
    }
        
    #btn{
        background:linear-gradient(top, #00b2ff 1%, #115598 100%);
        border:solid 3px #7BC043;
        border-radius:50px;
        color:#fff;
        font-size:.9rem;
        font-weight: 700;
        padding:10px 20px;
        display: inline-block;

        @include width630{
            font-size:1.2rem;
            padding:15px 30px;
        }

        @include width1200{
            font-size: 1rem;
            padding:10px 20px;
        }
    }
}
/*END CONTENT*/

/*TIPS CUSTOM STYLES*/
.xml-main{
    
    @include width1200{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px;
    }

    @include width1500{
        grid-template-columns: repeat(3, 1fr);
    }

    @include width1900{
        grid-template-columns: repeat(5, 1fr);
    }
}
.xml-container{
    background:#fff;
    padding:10px;
    margin-bottom:10px;
    display: grid;
    grid-template-columns: .4fr .6fr;
    grid-gap:10px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.tip-name a{
    background:linear-gradient(top, #00b2ff 1%, #115598 100%);
    border:solid 3px #7BC043;
    border-radius:50px;
    color:#fff;
    font-size:.9rem;
    font-weight: 700;
    padding:10px 20px;
    display: inline-block;

    @include width630{
        font-size:1.2rem;
        padding:15px 30px;
    }

    @include width1200{
        font-size: 1rem;
        padding:10px 20px;
    }
}
/*END TIPS CUSTOM STYLES*/

/*MODAL*/
.tips_cnt {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(98,154,26); /* Fallback color */
    background-color: rgba(98,154,26,0.45); /* Black w/ opacity */
}
.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
	width: 80%;
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
.modal-close{
    float: right;
    padding-bottom:10px;
    span{
        height: 5px;
        background: #629A1A;
        display: block;
        position: relative;
        right: 0;
        margin-bottom: 8px;
    }
    span:nth-child(1){
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 12px;
        width:30px;
    }
    span:nth-child(2){
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        bottom: 1px;
        width:30px;
    }
}
.wrapper-pop{
    padding-bottom:10px;
    text-align: center;
}
.pop-content{
    .tile{
        font-size: 1.2rem;
        font-weight:700;
        padding-bottom:10px;
        text-align: center;
    }
    .description{
        text-align: justify;
        line-height: 1.6;
    }
}

/*END MODAL*/

//PREVIEW PAGE
.preview-wrapper{
    @include width900{
        max-width: 700px;
    }
}
.preview-head{
    background:#7BC043;

    h4{
        font-size:1.2rem;
        color:#fff;
        font-weight:700;
        padding:10px;
        display:inline-block;
        background:#0492CF;
    }

    a{
        float:right;
        padding-top:5px;
        padding-right:5px;
        display:block;
    }

    .preview-close span{
        height: 5px;
        background: #fff;
        display: block;
        position: relative;
        right: 0;
        margin-bottom: 8px;
    }

    .preview-close span:nth-child(1){
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: 12px;
        width:30px;
    }

    .preview-close span:nth-child(2){
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        bottom: 1px;
        width:30px;
    }
}

.preview-holder{
    border:solid 2px #629A1A;
    padding:10px;
}

.preview-container{
    background:#fff;
    padding:10px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);

    .prev-image{
        text-align: center;
        margin-bottom:10px;
    }

    .prev-content{
        text-align: center;
        h3{
            font-size:1.2rem;
            font-weight: 700;
            margin-bottom:10px;
        }

        a{
            background:linear-gradient(top, #00b2ff 1%, #115598 100%);
            border:solid 3px #7BC043;
            border-radius:50px;
            color:#fff;
            font-size:1rem;
            font-weight: 700;
            padding:10px 20px;
            display: inline-block;
            text-align: center;
            margin-bottom:10px;

            @include width1200{
                font-size:1.2rem;
                padding:15px 30px;
            }
        }

        p{
            text-align:justify;
            line-height: 1.6;
        }

    }
}
//END PREVIE PAGE