*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../assets/pattern.jpg);
    /*background-size: cover;*/
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
/* index styles */
.container{
    min-width:320px;
    margin:0 auto;
}
.hd-img{
    text-align:center;
    padding-bottom:20px;
    opacity:0;
    animation: opacAnim 2s cubic-bezier(0.4, 0, 0.2, 1) 0s forwards;
}
.details{text-align:center;}
.details p{
    color:#820000;
    font-size:.8rem;
}
.details p:first-child{
    margin-bottom:20px;
}
.details input{
    width:250px;
    height:30px;
    padding:5px;
    border-radius:5px;
    display:block;
    margin:0 auto;
    border:1px solid #802300;
    font-size:1.3rem;
    font-weight: 600;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) 1s;
    color:#802300;
}
.details a.btn{
    display:block;
    background:linear-gradient(0deg, #3E140F, #7C2E24);
    width:250px;
    padding:10px 5px;
    font-size:1.5rem;
    font-weight: 600;
    color:#FFDD00;
    border-radius:3px;
    margin:10px auto 5px;
    animation: scaleAnim 2s cubic-bezier(0.4, 0, 0.2, 1) 1.5s;
}
.footer{
    margin-top:60px;
    padding:0px 10px;
}
.footer p{
    font-size:.8rem;
    color:#000;
    line-height:1.6;
}
@media only screen and (min-width:600px){
    .details p:first-child{
        font-size:.9rem;
    }
    .footer{
        max-width:600px;
        margin:60px auto 0;
    }
}
/* end index styles */

/* animation */
@keyframes scaleAnim{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}
@keyframes opacAnim{
    0%{opacity:0;}
    100%{opacity:1;}
}