*{
	margin:0;
	padding:0;
	border:0;
	font-family: Arial, Helvetica, sans-serif;
}

ul{list-style: none;}

img{max-width:100%;}

body{
	background: url('assets/bg.png') no-repeat top right, #F7F7F7;
	background-size:auto;
}

.lp-wrapper{
	max-width:600px;
	padding:20px;
	margin:0 auto;
}

.lp-container{
	background:rgba(247,247,247,.7);
	border-radius: 10px;
	padding:20px;
}

.lp-details{
	text-align: center;
	padding-bottom:40px;
}

.lp-details > span{
	display: block;
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-details a{
	display: inline-block;
	text-decoration: none;
	padding:10px 30px;
	margin-bottom:15px;
	background:linear-gradient(90deg, #F81A1A, #5D0C0C);
	border-radius:5px;
	border:2px solid #F7F7F7;
	font-size:1.5rem;
	font-weight: 700;
	color:#F7F7F7;
}

.lp-details p{
	font-size:.9rem;
}

.lp-details p > span{
	font-size:2.4rem;
	font-weight: 700;
	color:#6E1221;
}

.lp-details p > span:first-child{
	margin-right: 5px;
}

.lp-gamesicon, .lp-compatibility{
	text-align: center;
	padding-bottom: 20px;
}

.lp-gamesicon p, .lp-compatibility p{
	font-size:.9rem;
	padding-bottom:15px;
}

.lp-gamesicon ul li, .lp-compatibility ul li{
	display: inline-block;
	margin-right:5px;
}

.lp-gamesicon ul li:last-child, .lp-compatibility ul li:last-child{
	margin-right: 0;
}

.lp-footer p{
	font-size: .8rem;
	text-align: justify;
	line-height: 1.6;
}
@media all and (max-width:500px){
	body{
		background: url('assets/bg.png') no-repeat 40% top, #F7F7F7;
	}
}