*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
img{
    max-width:100%;
}
body{
	background:url('image/unnamed.jpg') no-repeat top center;
    background-size: cover;
}
.lp-container{
	padding:0px 10px 20px;
	margin:0 auto;
	text-align:center;
}
.details{
	margin:20px 0px 40px;
	text-align: center;
}
.details h3{
	font-size:1.2rem;
    font-weight:600;
	color:#ff4000;
}

.details a{
    display: inline-block;
    padding:15px 50px;
    background:#ff4000;
    font-size:1.2rem;
    font-weight:700;
    text-decoration: none;
    border-radius:10px;
    margin:30px 0;
    position: relative;
    border:3px solid #000;
}
.details a::before{
    content:"👆";
    display: inline-block;
    position:absolute;
    top:30px;
    right:-40px;
    transform:rotate(-20deg);
    font-size:2.5rem;
    animation: pointerMove 3s ease-in-out infinite;
}

.details p{
    font-size:.8rem;
}

.details2 h4{
    margin-top:20px;
    font-size:.9rem;
    font-weight:500;
}

.details2 img{
    width:90%;
}

@keyframes pointerMove{
    0%{
        top:30px;
        right:-40px;
    }
    30%{
        top:15px;
        right:70px;
    }
    60%{
        top:30px;
        right:-40px; 
    }
    100%{
        top:30px;
        right:-40px; 
    }
}

@media only screen and (min-width:400px){
	.lp-container{
		width:500px;
	}

	.details input{
		width:60%;
	}

	.details button{
		width:60%;
	}
}
