*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:url(../assets/bg_pattern.jpg) fixed center;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.logoHeader{
    background:#F3F3F3;
    height:50px;
    width:100%;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);
}
.container{
    text-align: center;
    padding:20px 0;
}
.upperPart h4{
    margin-bottom:5px;
    color:#000;
}
.upperPart p{
    font-size:.9rem;
    margin-bottom:15px;
    color:#000;
}
.upperPart a{
    display: inline-block;
    padding:10px 50px;
    font-size:1.3rem;
    font-weight:600;
    margin-bottom:15px;
    color:#fff;
    background:#EF4136;
    border-radius:10px;
    /* border:solid 3px #39B54A; */
    box-shadow: 0px 0px 4px rgba(0,0,0,.4);
}
.tcFooter{
    text-align:center; 
}
.tcFooter a{
    text-decoration: underline;
    font-size:.9rem;
    color:#000;
}
.tcModal{
    position:fixed;
    display: none;
    height:100%;
    top:50px;
    left:0px;
    z-index: 1;
    padding:20px;
    background:rgba(243,243,243,0.95);
}
.tcModal a{
    float:right;
    display: block;
    padding:5px;
    font-size:.8rem;
    background:#ccc;
    border-radius:2px;
    color:#000;
}
.tcModal p{
    font-size:.8rem;
    padding-top:20px;
    text-align: justify;
    line-height: 1.4;
}