* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

p {
  font-size: 0.9rem;
  color: #fff;
  margin-bottom: 20px;
}

body {
  background: url(assets/seamles-bg.jpg);
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
}

.top {
  margin: 30px 0;
  text-align: center;
}

.top img {
  width: 80%;
}

.middle {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.middle h1 {
  color: rgb(0, 89, 255);
  font-size: 2rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 0px rgb(233, 233, 233);
}

.phone-number input {
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  border: 1px solid #000;
  text-align: center;
}

.cta a {
  margin-top: 10px;
  padding: 15px 80px;
  border-radius: 50px;
  font-weight: 700;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  background: rgb(255, 72, 0);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  display: inline-block;
  text-decoration: none;
}

.cta a:hover {
  background: rgba(255, 255, 255, 1);
}

.bottom {
  text-align: center;
  margin: 15px;
}

.bottom p {
  font-size: 0.8rem;
  line-height: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.bottom a {
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
  color: rgb(255, 72, 0);
}

.bottom a:hover {
  color: #fff;
}
