*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
    background-image: url(../assets/seamless\ pattern.png);
    background-position: center;
    background-repeat:repeat-x repeat-y;
    background-attachment: fixed;
}
.container {
    padding:6rem 6rem 2rem 6rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px !important;
}