*{
	margin:0;
	padding:0;
	border:0;
	box-sizing:border-box;
}
img{
	max-width:100%;
}
body{
	margin:0 auto;
}
ul{
	list-style:none;
}
li{
	display:inline-block;
	margin:10px;
}
a{
	text-decoration:none;
}
.header{
	padding-bottom:30px;
}
.header li a{
	color:#000;
}
.check-box input{
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:5px;
	border:none;
}

.header-desktop-wrapper{
	width:100%;
	height:85px;
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	padding:0px 10px;
	align-items:center;
	position:relative;
	z-index:3;
	background:red;
}
.gamezone-logo{
	justify-self:start;
}
.menu-wrapper{
	justify-self:end;
}
.desktop-menu, .header-mobile-wrapper{
	display:none;
}
/* testing only */
.desktop-menu a{
	color:#fff;
}
.mobile-menu-burger{
	width:48px;
	height:40px;
	border-radius:5px;
}
.mobile-menu-burger span{
	display:block;
	background:#000;
	position:relative;
	border-radius:1px;
	width:36px;
	height:5px;
	right:0px;
	top:5px;
	margin-bottom:5px;
	transition: .3s cubic-bezier(0.10, -0.05, 0.04, 0.41);
}
.mobile-menu-burger.toggle-burger span:nth-child(1){
	width:30px;
	right:-6px;
}
.mobile-menu-burger.toggle-burger span:nth-child(3){
	width:26px;
	right:-10px;
}
.header-mobile-wrapper{
	position:absolute;
	width:200px;
	height:100%;
	top:85px;
	right:0px;
	background:#292727;
	z-index:2;
}
.mobile-menu ul li{
	padding:20px 10px;
}
.mobile-menu ul li:last-child{
	padding-top:0px;
}
.mobile-menu ul li a{
	color:#fff;
	display:block;
}
.mobile-menu ul li{
	display:block;
}

/* active class */
.active-list ul li a.active{
	color:#00EEFF;
	font-weight:700;
}


/*.check-box label{
	padding-left:7px;
	color:#000;
	font-size:.9rem;
	font-weight:700;
	line-height:1.4;
	position: relative;
}
.check-box label::before, .check-box label::after{
	position:absolute;
}
.check-box label::before{
	top:-1px;
	left:-14px;
}
.check-box label::after{
	left:-11px;
	top:2px;
}
.check-box label::before{
	content:"";
	display:inline-block;
	border:1px solid #2E3190;
	height:15px;
	width:15px;
	border-radius:2px;
	background:#ccc;
}
.check-box label::after{
	content:"";
	display:inline-block;
	height:5px;
	width:8px;
	border-left:3px solid #000;
	border-bottom:3px solid #000;
	transform:rotate(-45deg);
}
.check-box input[type="checkbox"] + label::after{
	content:none;
}
.check-box input[type="checkbox"]:checked + label::after{
	content:"";
}
.check-box input[type="checkbox"]:focus + label::before{
	outline:rgb(59,153,252) auto 5px;
}*/
.main-container{
	position:relative;
	right:0px;
	transition-property:right;
	transition-duration:600ms;
	transition-timing-function:cubic-bezier(0.88, -0.05, 0.04, 0.41);
}
.sect-content{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	grid-gap:10px;
}
.sect-content .item{
	transition-property:opacity, margin-top;
	transition-duration:500ms;
	transition-timing-function:ease-out;
}
.none{
	display:none;
}
.fade-out{
	opacity:0;
	margin-top:-10px;
}
.fade-in{
	opacity:1;
	margin-top:0;
}
@media only screen and (min-width:758px){
	.desktop-menu{
		display:block;
	}
	.mobile-menu-burger{
		display:none;
	}
}

/****** ANIMATIONS ******/
.slide-left{
	animation:Slideleft .6s cubic-bezier(0.88, -0.05, 0.04, 0.41) 0s;
}
.slide-right{
	animation:Slideright 1s cubic-bezier(0.30, -0.05, 0.04, 0.41) 0s forwards;
}
.opacity1{
	animation:opac .9s cubic-bezier(0.30, -0.05, 0.04, 0.41) 0s;
}
.opac2{
	opacity:1;
	transition-property:opacity;
	transition-duration:.9s;
}
@keyframes Slideright{
	0%{right:0px;}
	100%{right:-500px;}
}
@keyframes Slideleft{
	0%{right:-500px;}
	100%{right:0px;}
}
@keyframes opac{
	0%{opacity:0;}
	100%{opacity:1;}
}
