@charset "utf-8";

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
	text-align: center;
	padding: 20px 0 0;
}

ul li {
	display: inline-block;
	border-left: 1px solid #DED9D9;
	padding: 0 10px;
	margin-bottom: 2px;
}

ul li:last-child {
	padding-right: 0;
}

ul li:first-child {
	padding-left: 0;
	border-left: none;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: .8rem;
}

span {
	font-weight: 400;
	font-size: .85rem;
	color: #fff;
}

p {
	font-weight: 400;
	font-size: .85rem;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

p span:nth-child(1) {
	padding-right: .1em;
}

p span:nth-child(2) {
	padding-left: .1em;
}

img {
	max-width: 100%;
}

body {
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgb(178, 58, 71, 0.52), rgb(252, 184, 178, 0.73)),
	url('../../img/background.png');
}

.border {
	width: 100%;
	height: 90px;
	bottom: -9px;
}

.lp-container {
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
}

.details-top {
	margin: 10px 0 5px;
}

.details-top span {
	display: block;
	padding-bottom: 5px;
}

.details-mid {
	margin: 10px 0;
}

.details-mid button {
	background: #46121F;
	padding: 15px 30px;
	color: #fff;
	box-shadow: 0px 0px 5px #000;
	border-radius: 2px;
}

.details-mid button h2 {
	font-weight: 900;
	font-size: 1.5rem;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, .6);
}

.details-bot {
	padding: 10px 0 20px;
}

.details-bot p span {
	font-size: 2.5rem;
	color: #46121F;
	font-weight: 900;
	animation: anim .25s alternate infinite;
	display: inline-block;
}

@keyframes anim {
	0% {
		transform: scale(1.1);
	}
}

.details-bot p span:first-child {
	padding-right: 8px;
}

.details-bot p span:last-child {
	padding-right: 0px;
	padding-left: 8px;
}

.lp-footer {
	padding: 0 10px 10px;
}

.lp-footer p {
	line-height: 1.4;
	font-size: .8rem;
	text-align: justify;
}

#footer {
	text-align: center;
	margin-left: 8px;
}

#footer a {
	color: #46121F;
}

#footer a:hover {
	color: #B23A47;
}

@media screen and (min-width:600px) {
	.lp-container {
		max-width: 600px;
		margin: 0 auto;
	}

	.lp-details {
		padding-top: 10px;
		display: grid;
		grid-template-columns: auto;
		grid-column-gap: 10px;
	}

	.details-bot p span {
		display: block;
	}
}