@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: #CB4022;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.bgWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -2;
  white-space: nowrap;
}

.bgWrapper .bg {
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-left: -4px;
}

.bgWrapper .bg:first-child {
  margin-left: 0;
}

.headerWrap {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

.headerWrap .headerCont {
  max-width: 980px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerWrap .headerCont h1 {
  color: #CB4022;
  font-weight: 700;
  font-size: 1.7rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.headerWrap .headerCont .menuCatCont {
  position: relative;
}

.headerWrap .headerCont .menuCatCont .catLink {
  color: #CB4022;
  font-size: .9rem;
  padding-right: 10px;
  font-weight: 700;
}

.indicatorWrap {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  grid-gap: 20px;
}

.indicatorWrap .catHeaderWrap {
  position: relative;
}

.indicatorWrap .catHeaderWrap h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
}

.indicatorWrap .catHeaderWrap .h3Bg {
  position: absolute;
  top: -15px;
  left: -10px;
  font-weight: 800;
  color: #F13910;
  font-size: 4.5rem;
  z-index: -1;
  white-space: nowrap;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.indicatorWrap .catIconsWrap ul li {
  display: inline-block;
  margin-right: 3px;
}

.indicatorWrap .catIconsWrap ul li:last-child {
  margin-right: 0;
}

.indicatorWrap .catIconsWrap ul li i {
  font-size: 1.4rem;
  color: #8C1D05;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: color 200ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: color 200ms ease-in-out, -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, color 200ms ease-in-out;
  transition: transform 500ms ease-in-out, color 200ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.indicatorWrap .catIconsWrap ul li i.activeIcon {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.mainWrap {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px 0;
}

.mainWrap .subCatWrap {
  max-width: 1100px;
  white-space: nowrap;
  overflow-x: hidden;
}

.mainWrap .subCatNav {
  height: 100%;
  padding: 0 10px 40px;
}

.mainWrap .subCatNav .subCatLink {
  color: #fff;
  font-size: .85rem;
  margin-right: 10px;
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
}

.mainWrap .subCatNav .subCatLink:last-child {
  margin-right: 0;
}

.mainWrap .subCatNav .subCatIndi {
  position: relative;
  width: 100%;
  margin-top: 5px;
}

.mainWrap .subCatNav .subCatIndi .subCatCircle {
  display: block;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.mainWrap .subCatNav .subCatIndi .subCatLine {
  width: 0;
  height: 2px;
  display: block;
  background-color: #fff;
  position: relative;
  top: 3px;
  left: 0;
}

.mainWrap .contentWrap .contentList {
  overflow: hidden;
  max-height: calc(100vh - 196px);
}

.mainWrap .contentWrap .contentDivider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(140px, 1fr));
  grid-gap: 15px;
  padding: 0 10px 10px;
  margin-bottom: 90px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 196px);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.mainWrap .contentWrap .contentDivider::-webkit-scrollbar {
  display: none;
}

.mainWrap .contentWrap .contentDivider h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  color: #fff;
  font-weight: 800;
  font-size: 2rem;
}

.mainWrap .contentWrap .contentDivider .content {
  background: #8C1D05;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out;
}

.mainWrap .contentWrap .contentDivider .content img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.mainWrap .contentWrap .contentDivider .content video {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  border-radius: 100%;
}

.mainWrap .contentWrap .contentDivider .content p {
  font-size: .7rem;
  color: #fff;
  margin-bottom: 7px;
}

.mainWrap .contentWrap .contentDivider .content .ctaBtns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.mainWrap .contentWrap .contentDivider .content .ctaBtns span {
  font-weight: 700;
  font-size: .7rem;
  color: #fff;
  display: inline;
  border-right: 1px solid #fff;
  padding-right: 2px;
  cursor: pointer;
}

.mainWrap .contentWrap .contentDivider .content .ctaBtns a {
  font-weight: 700;
  font-size: .7rem;
  color: #09B93A;
  display: inline;
  padding-left: 3px;
  cursor: pointer;
}

.mainWrap .contentWrap .contentDivider .previewCont {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.mainWrap .contentWrap .contentDivider .previewCont .closeBtnCont .closeBtn {
  float: right;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: .7rem;
  font-weight: 700;
  color: #fff;
  display: block;
  cursor: pointer;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont {
  clear: right;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  grid-gap: 15px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-bottom: 15px;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .thumbPreviewCont {
  position: relative;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .thumbPreviewCont img, .mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .thumbPreviewCont video {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .thumbPreviewCont .h4bg {
  position: absolute;
  top: 10px;
  left: 40px;
  font-weight: 800;
  color: #F13910;
  font-size: 3.5rem;
  white-space: nowrap;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  z-index: -1;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .nameCtaPreviewCont p {
  font-size: .75rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 8px;
}

.mainWrap .contentWrap .contentDivider .previewCont .upperDetailsCont .nameCtaPreviewCont .ctaPreviewDownload {
  padding: 10px 20px;
  font-size: .8rem;
  color: #09B93A;
  border-radius: 5px;
  display: inline-block;
  font-weight: 800;
  cursor: pointer;
}

.mainWrap .contentWrap .contentDivider .previewCont .lowerDetailsCont .previewVidImg img {
  width: 50%;
  height: 50%;
}

.mainWrap .contentWrap .contentDivider .previewCont .lowerDetailsCont .previewVidImg video {
  width: 100%;
  height: 50%;
}
/*# sourceMappingURL=style.css.map */