@charset "utf-8";
/* CSS Document */

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align:center;
	/*background-color: rgba(0,0,0,0.1);*/
	/*background-color: black;*/
	/*background-color: transparent;*/
	/*background-color: #222222;*/
	background-color:black;

}/*' maroon !important;' #611BBD,  black*/

a{
	position:absolute; 
	z-index:99;
}

img#xbutton{
	height:46px;
	width: 46px;
	border-radius: 25px;

}

#lp5img1
{
	background-image:url(../../img/babe.png);
	background-repeat:no-repeat;
	width:320px;
	height:273px;
	margin:auto;
	margin-top: 15px;
	text-align:right;
}

#topnav
{
	background-color:#000;
	/*background-color:rgb(220,20,60);*/
}
#topnav-in{
	background-image:url(../img/lips.png);
	height: 10px;
}

#text1
{
	padding:5px;
	color:#F00;
	font-weight:bold;
}

#text2
{
	padding:3px;
	color: white;
}

#form
{
	width:300px;
	margin:auto;
}

#form form
{
	padding:0px;
	margin:0px;
}

#select select
{
	width:200px;
	height:30px;
	padding:4px;
	border:1px solid #DD6F00;
	font-size: 12px;
	line-height: 1;
	border-radius: 1;
}

#select
{
	width:200px;
	margin-left:50px;
}

#arrow
{
	width:40px;
	float:left;
}

#submitBtn
{
	background-image:url(../img/btnsub.jpg);
	width:200px;
	height:40px;
	border:0px;
	cursor:pointer;
	margin-top:5px;
}
#form-control input-lg
{
	float:left;
}

.container{
	padding-right: 0;
	padding-left: 0;
}
.round{
	border-radius: 24px;
}

#wrap{
	/*background-image: url(../img/bg2.jpg);*/
	
	background-attachment: fixed;

}
#wrapper{
	overflow: auto;
}

.row{
	margin: 0;
}

#desc{

	text-align:center;
	margin-top:10px;
	color:black;
}

#textdesc{
	/*background-color: rgba(220,20,60);*/
	color:black;
	margin-top: 15px;
}

#footer a{
	position:unset;
	color: white!important;
}

#tnc{
	background-color: white;
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}

.p1{
	font-weight: bold;
}

.p2{
	text-align: justify;
}

p span 
{
	display: block;
	font-size: 14px;
}

p{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

#text2
{
	padding:3px;
}

#textP{
	color: #BA01FF!important;
	font-size: 3em;
	font-weight: 800;
	
  }

  .confirm_selection {
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -ms-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}
.confirm_selection:hover,
.confirm_selection.glow {
    text-shadow: 0 0 10px red;
}