*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

img{
    max-width:100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background:#484D60;
}

.mainWrapper{
    max-width:800px;
    margin:0 auto;
    padding:0 20px 20px;
}

.header, .details{
    text-align: center;
    padding-bottom:20px;
}

.details a{
    padding:10px 40px;
    font-weight:700;
    font-size:1.3rem;
    color:#fff;
    display: inline-block;
    background:linear-gradient(301deg, rgba(255,52,0,1) 0%, rgba(228,174,0,1) 100%);
    border-radius:5px;
    border:2px solid #fff;
    margin-bottom:.5rem;
}

.details p{
    color:#fff;
    margin-bottom:10px;
    margin-top:10px;
}

.details .highlight{
    font-size:2.5rem;
    color:#FF3400;
    display: block;
    font-weight:600
}

.screens{
    padding-bottom:20px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:20px;
    justify-items: center;
}

.footer p{
    font-size:.8rem;
    color:#fff;
    line-height: 1.6;
    text-align:justify;
    margin-bottom:20px;
}

.footer ul{
    text-align: center;
}

.footer ul li {
    display: inline-block;
    padding:0 5px;
    border-right:1px solid #fff;
}

.footer ul li:last-child{
    border-right:none;
}

.footer ul li a{
    font-size:.8rem;
    color:#fff;
    font-weight:700;
}

@media all and (max-width:520px){
    .screens{
        grid-template-columns: repeat(2, 1fr);
        grid-gap:10px;
    }
} 

.instruction{
    padding:0 0 .5rem 0;
}
.last-step{
    color: #fff;
    font-size: 28px;
}
.insword{
    color: #fff;
    line-height: 23px;
}
.animated {
	animation-duration: 0.1s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
  }

  @keyframes pulse {
	0% {transform: scale(1);}
	50% {transform: scale(1.1);}
	100% {transform: scale(1);}
  }
  .pulse {
	animation-name: pulse;
	animation-duration: 0.8s;
  }
  @keyframes pulse_animation {
    0% {
    transform: scale(1);
    }
    30% {
    transform: scale(1);
    }
    40% {
    transform: scale(1.08);
    }
    50% {
    transform: scale(1);
    }
    60% {
    transform: scale(1);
    }
    70% {
    transform: scale(1.05);
    }
    80% {
    transform: scale(1);
    }
    100% {
    transform: scale(1);
    }
    }
    .pulse {
        animation-name: pulse_animation;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
    }