*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    background-color:#59E97B;
}
a{text-decoration: none;}
ul{list-style:none;}
img{max-width: 100%;}
.lp-header{
    padding:10px 0;
    background-color:#BDFC9E;
    text-align: center;
}
.lp-header p{
    color:#000;
    font-size:.9rem;
}
.lp-container{
    max-width: 600px;
    margin:0 auto;
    padding-bottom: 20px;
}
.lp-img-container{
    position: relative;
}
.lp-details{
    padding:20px 10px;
    text-align: center;
}

.lp-details p{
    font-size:1rem;
    line-height: 1.5;
    font-weight: 500;
    color:#1900FF;
}

.lp-details p:first-child{
    margin-bottom:10px;
}

.lp-tnc{
    padding:0 10px;
}

.icons{
    padding:20px 0;
    text-align: center;
}

.icons ul li{
    display: inline-block;
    margin-right: 5px;
}

.icons ul li:last-child{
    margin-right:0;
}

.icons ul li img{
    border-radius: 10px;
    margin-bottom:5px;
}

.icons ul li p{
    font-size:.8rem;
}

.tnc{
    margin-top: 10px;
}

.tnc p{
    font-size:.75rem;
    text-align: justify;
    line-height: 1.6;
}

.tnc ul{
    text-align: center;
    margin-top:20px;
}

.tnc ul li{
    display: inline-block;
}

.tnc ul li a{
    font-size:.75rem;
    color:#000;
}