*{
    margin:0;
    padding:0;
    border:0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background:#000;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.logoHeader{
    background:linear-gradient(to bottom, #FFFFFF, #707070);
    height:55px;
    width:100%;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,.2);
}
.logoHeader img{
    padding-top:4px;
}
.container{
    text-align: center;
    padding:20px 0;
}
.upperPart h4{
    margin-bottom:5px;
    color:#fff;
}
.upperPart p{
    font-size:.9rem;
    margin-bottom:15px;
    color:#fff;
}
.upperPart a{
    display: inline-block;
    padding:10px 50px;
    font-size:1.3rem;
    font-weight:600;
    margin-bottom:15px;
    color:#fff;
    background:#B51019;
    border-radius:50px;
    border:solid 3px #FF0D1A;
    /* box-shadow: 0px 0px 20px rgb(0,255,0); */
}
.tcFooter{
    text-align:center; 
}
.tcFooter a{
    text-decoration: underline;
    font-size:.9rem;
    color:#FF0D1A;
}
.tcModal{
    position:fixed;
    display: none;
    height:100%;
    top:55px;
    left:0px;
    z-index: 1;
    padding:20px;
    background:rgba(112,112,112,1);
}
.tcModal a{
    float:right;
    display: block;
    padding:5px;
    font-size:.8rem;
    background:#000;
    border-radius:2px;
    color:#fff;
}
.tcModal h4{
    color:#fff;
}
.tcModal p{
    font-size:.8rem;
    padding-top:20px;
    text-align: justify;
    color:#fff;
}