@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:0px;
    background-color:#70685d;
    color:#fff;
    overflow-x: hidden;
}
.header {
    background-size: cover;
    background-image:url("../img/top.png");
    background-repeat:repeat-x;
    line-height:57px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
}
.content{
    margin-top:60px;
}
.footer {
    background-size: cover;
    background-image:url("../img/bottom.png");
    background-repeat:repeat-x;
    line-height:57px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.wrap {
    list-style:none;
    margin: 0;
    padding: 0;
}
.item {
    padding: 5px;
    width: 100%;
    margin: 2px;
}

.flex {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
#tnc{
    padding:5px;
    text-align:justify;
    color:#9a9ea0;
}
#btmnav{
    text-align:center;
    margin-top:10px;
    margin-bottom:50px;
    font-size:11px;
    color:#9a9ea0;
}
#btmnav a{
    text-decoration:underline;
    color:#9a9ea0;
}
#btmnav a:hover{
    text-decoration:none;
}
#btn-continue{
    font-family:"Arial Black", Gadget, sans-serif;
    border:3px solid #ecdf89;
    background-color:#ff9300;
    font-weight:bolder;
    font-size:25px;
    color:#2d0506;
    /*width:60%;*/
    margin:auto;
    padding:8px;
    font-weight:bold;
}
.srvcs{
    font-family:"Arial Black", Gadget, sans-serif;
    color:#ff9300;
    font-size:54px;
    font-weight:bolder;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #2d0506;
    display: block;
    animation: animTextYes 2s ease-in-out infinite;
    overflow: hidden;
}

@keyframes animTextYes{
    0%{transform:scale(1, 1);}
    50%{transform:scale(1.2,1.2);}
    100%{transform:scale(1, 1);}
}

@media (min-width: 1281px) { 
    .item {
        padding: 5px;
        width: 48.5%;

    }
    #footer{margin-top: 50px;}
    .text2{
        font-size: 20px;
        width:100%; display:inline-block;
    }
    .apps{
        margin-top:50px;
        margin-left:20px;
    }
    .apps2{
        margin-top: 120px;
    }

    #btn-continue{
        font-size: 50px!important;
    }
    .srvcs{
    display: inline-block;
    }


    .iconLogo2{
        position: absolute;
        display: block;
        height:auto !important;
        max-width:170px !important;
        width: 100% !important;
        top: 300px;
        margin-left: 300px;
    }
    .iconLogo1{

        height:auto !important;
        max-width:403px !important;
        width: 100% !important;
        display: block;
        margin-left: 200px;
        margin-top: 25px;
    }
}
@media (min-width: 1025px) and (max-width: 1280px)  {
    .item {
        padding: 5px;
        width: 48.5%;
        margin-top:5px;
    }

    .iconLogo2{
        height:auto !important;
        max-width:150px !important;
        width: 100% !important;
        margin-top: 90px;
    }
    .srvcs{
    display: inline-block;
    }
    #btn-continue{
        font-size: 50px!important;
    }
    .text2{
        font-size: 20px;
        width:100%; display:inline-block;
    }
    #footer{margin-top: 50px;}
    .apps{
        margin-top:80px;
    }
    .apps2{
        margin-top: 120px;
    }

@media (min-width: 768px) and (max-width: 1024px) {
    .item {
        padding: 5px;
        width: 47.5%;
        margin-top:5px;
    }
    #scnd{
        margin-top:30px;
        font-size:15px;
    }
    .iconLogo2{
        height:auto !important;
        max-width:90px !important;
        width: 100% !important;
    }
    .srvcs{
    display: inline-block;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .item {
        padding: 5px;
        width: 48%;
        margin-top:5px;
    }
    .iconLogo1{
        height:auto !important;
        max-width:350px !important;
        width: 100% !important;
    }
    .iconLogo2{
        height:auto !important;
        max-width:100px !important;
        width: 100% !important;
    }
    #scnd{
        margin-top:0px;
        font-size:15px;
    }
    .srvcs{
    display: inline-block;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
    .item {
        padding: 5px;
        width: 100%;
    }
    @media (min-width: 320px) and (max-width: 480px) {
        .item {
            padding: 5px;
            width: 100%;
        }
    }
    