:root {
    --color-scheme-1:#FF0FDF;
    --color-scheme-2:#7005EA;
    --color-scheme-3:#000000;
    --color-scheme-4:#ffffff;
    --height:100%;
    --font-size:19px;
}
html {
    scroll-behavior: smooth;
  }
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    position: relative;
}
.btn a img{
    width: 100% !important;
}
img {
    max-width: 100%;
 }
 


 
/*  Header CSS */
header{
    background: url(../images/menu_bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    padding: 0 3em;
    border-bottom: 6px solid;
    border-image-source: linear-gradient(to right, #FF0FDF, #7005EA);
    border-image-slice: 1;
    position: relative;
}
.logo{
    height:var(--height);
    display: flex;
    align-items: center;
}
.menu a:first-child{
    margin-right: 3em;
}
.menu a{
    font-size: var(--font-size);
    color: var(--color-scheme-4);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-burger {
    cursor: pointer;
    border: 1.4px solid var(--color-scheme-1);
    border-radius: 10px;
    padding: 6px;
    outline: none;
}
.nav-burger span {
    width: 36px;
    height: 5.5px;
    border-radius: 4px;
    background: var(--color-scheme-1);
    display: block;
    position: relative;
    right: 0;
    margin-bottom: 8px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.nav-burger span:last-child{
    margin-bottom: 0px;
}
.nav-burger.tog-burger span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 13.5px;
    width: 36px;
}
.nav-burger.tog-burger span:nth-child(2) {
    opacity: 0;
    width: 0;
    left: -30px;
}
.nav-burger.tog-burger span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    bottom: 13.5px;
    width: 36px;
}
@media only screen and (max-width:600px){
    .nav-burger{
        order: 1;
    }
    .menu {
        display: none;
    } 
    .menu-show a{
        padding: 1em;
        font-size: var(--font-size);
        color: var(--color-scheme-4);
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;
    } 
    .menu-show a:last-child{
        padding-top: .5em;
    } 
    .menu-show a:first-child{
        padding-bottom: .5em;
        margin-right: 0;
    } 
    .menu-show{
        display: block;
        position: absolute;
        /* bottom: -107px; */
        -webkit-z-index: 1;
        -moz-z-index: 1;
        -ms-z-index: 1;
        -o-z-index: 1;
        z-index: 1;
        background-color: var(--color-scheme-3);
        left: 0;
        right: 0;
        display: flex;
        justify-content: left;
        flex-direction: column;
        padding: 0;
        -webkit-animation: Slidein 0.3s linear 0s forwards;
        animation: Slidein 0.3s linear 0s forwards;
    }  
}
.link_active{
    color: var(--color-scheme-1) !important;
    font-weight: 600;
}
@media only screen and (min-width:601px){
.nav-burger {
    padding: 1rem;
    display: none;
}
.menu{
    height:var(--height);
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    -webkit-animation: Slideout 0.3s linear 0s forwards;
    animation: Slideout 0.3s linear 0s forwards;
}
}



/* Main Container */
.wrap {
    display: flex;
    justify-content: center;
}
.main_container {
    width: 82%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    clear: both;
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -ms-z-index: 0;
    -o-z-index: 0;
    z-index: 0;
}
.main_container-preview {
    width: 70%;
    margin-bottom: 2rem;
    height: auto;
    clear: both;
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -ms-z-index: 0;
    -o-z-index: 0;
    z-index: 0;
}
.m_c_content .acco2 .expand,
.m_c_content .acco2 .openAd {
    padding: 21px 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid var(--color-scheme-3);
    position: relative;
    z-index: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    background: url(../images/plus.png);
    background-position: right;
    background-repeat: no-repeat;
}
.expand::before{
    content: "";
    background: var(--color-scheme-1);
    width: 12px;
    left: 0;
    position: absolute;
    height: 26px;
}
.expand a {
    text-decoration: none;
    color: var(--color-scheme-3);
    text-transform: uppercase;
    font-size: var(--font-size);
    font-weight: 600;
}
.m_c_content .acco2 .openAd a {
    background-position: right;
    padding-right: 25px;
    text-decoration: none;
    color: var(--color-scheme-3);
    text-transform: uppercase;
}
.m_c_content .acco2 .openAd {
    background: url(../images/minus.png);
    background-position: right;
    background-repeat: no-repeat;
}
.m_c_content .acco2 .openAd::before {
    content: "";
    background: var(--color-scheme-2);
    width: 12px;
    left: 0;
    position: absolute;
    height: 26px;
}
.main_container_content {
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
}
.container_of_holder {
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0rem;
    padding-top: 0rem;
}
.content_item_description {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-self: auto;
}
#content_items {
    /* display: flex; */
    width: 158px;
    margin: .5rem;
    padding: 1rem;
    background:linear-gradient(to bottom, rgb(15, 15, 255), rgba(15, 15, 255, 0));
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    clear: both;
}
#content_items{
    margin-left: 0;
    margin-right: 0;
}
#content_menu_1 {
    margin-top: 5rem;
}
#img-thumbnail {
    width: 100%;
    /* height: auto; */
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}
#btnalign {
    vertical-align: center;
    text-align: bottom-center;
}
#btn {
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    padding: .65rem 1.3rem;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0FDF;
    background-image: -webkit-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -moz-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -ms-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -o-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: linear-gradient(to right, #FF0FDF, #7005EA);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF0FDF, , endColorstr=#7005EA);
}
#btn:hover {
    background-color: #FF0FDF;
    background-image: -webkit-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -moz-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -ms-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -o-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: linear-gradient(to right, #FF0FDF, #7005EA);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF0FDF, , endColorstr=#7005EA);
}
#title a {
    text-decoration: none;
    color: #000e;
    font-size: 12px;
    text-transform: uppercase;
}



/* --------------------------- CUSTOM MEDIA QUERIES ------------------------------*/
@media only screen and (min-width:768px) {
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
        border-radius: 4px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
@media only screen and (max-width:768px) {
    header{
        padding: 0 1em;
    }
    ul {
        list-style: none;
    }
    #content_menu_1 {
        margin-top: 7rem;
    }
    .side-nav {
        width: 12rem !important;
    }
    .main_container {
        width: 100% !important;
        margin-left: 0rem;
    }
    .main_container_content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        border-radius: 4px;
        margin-top: 1rem;
    }
}



/* -------------------Media Queries ------------------------*/
@media (max-width: 319px) {
    #content_items {
        width: 100%;
    }
}
@media (min-width:320px) and (max-width: 340px) {
    #content_items {
        width: 100px;
    }
}
@media (min-width:341px) and (max-width: 361px) {
    #content_items {
        width: 119px;
    }
}
@media (min-width:362px) and (max-width: 380px) {
    #content_items {
        width: 130px;
    }
}
@media (min-width:381px) and (max-width: 400px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:401px) and (max-width: 420px) {
    #content_items {
        width: 148px;
    }
}
@media (min-width:421px) and (max-width: 440px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width:441px) and (max-width: 460px) {
    #content_items {
        width: 168px;
    }
}
@media (min-width:461px) and (max-width: 480px) {
    #content_items {
        width: 178px;
    }
}
@media (min-width:481px) and (max-width: 500px) {
    #content_items {
        width: 188px;
    }
}
@media (min-width:501px) and (max-width: 520px) {
    #content_items {
        width: 198px;
    }
}
@media (min-width:521px) and (max-width: 540px) {
    #content_items {
        width: 208px;
    }
}
@media (min-width:541px) and (max-width: 560px) {
    #content_items {
        width: 218px;
    }
}
@media (min-width:561px) and (max-width: 590px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:591px) and (max-width: 620px) {
    #content_items {
        width: 148px;
    }
}
@media (min-width:621px) and (max-width: 650px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width:651px) and (max-width: 700px) {
    #content_items {
        width: 118px;
    }
}
@media (min-width:701px) and (max-width: 740px) {
    #content_items {
        width: 128px;
    }
}
@media (min-width:741px) and (max-width: 768px) {
    #content_items {
        width: 138px;
    }
}
@media (min-width:769px) and (max-width: 800px) {
    #content_items {
        width: 158px;
    }
}
@media (min-width: 801px) and (max-width: 844px) {
    #content_items {
        width: 118px;
    }
}
@media (min-width: 845px) and (max-width: 919px) {
    #content_items {
        width: 128px;
    }
}
@media (min-width: 920px) and (max-width: 1255px) {
    #content_items {
        width: 20%;
    }
}
@media  (min-width: 1680px) {
    #content_items {
        width: 148px;
    }
}


/* Mao ni sya ang preview CSS */
.close_btn{
    position: absolute;
    right: 16px;
    top: 46px;
}
#title-preview {
    padding: .3rem 1rem;
    margin-left: -11em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#title-preview div:first-child{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 16px;
}
#title-preview div:last-child a{
    font-size: 25px;
    padding: .48em 2em;
    text-transform: none;
    font-weight: 700;
    color: var(--color-scheme-4);
    display: flex;
    align-items: center;
}
#title-preview div:last-child a span{
    margin-left: .7em;
}
#title-preview div:last-child a span:last-child{
    text-transform: uppercase;
    margin-left: .3em;
}
.preview-content-item img{
    width: 70%;
}
.panitankonaimongitlogron {
    padding: 1rem;
}
.preview-content{
    display: flex;
    padding-top: 2em;
}
video{
    object-fit: cover;
}
#btn-preview {
    position: relative;
    border: 1px solid var(--color-scheme-3);
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
    background-color: #FF0FDF;
    background-image: -webkit-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -moz-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -ms-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -o-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: linear-gradient(to right, #FF0FDF, #7005EA);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF0FDF, , endColorstr=#7005EA);
}
#btn-preview:hover {
    background-color: #FF0FDF;
    background-image: -webkit-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -moz-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -ms-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: -o-linear-gradient(to right, #FF0FDF, #7005EA);
    background-image: linear-gradient(to right, #FF0FDF, #7005EA);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FF0FDF, , endColorstr=#7005EA);
}
@media only screen and (min-width:1025px) and (max-width:1168px){
    #title-preview{
        margin-left: -9em;
        text-align: center;
    }
}
@media only screen and (min-width:601px) and (max-width:1024px){
    .preview-content {
        display: flex;
        flex-direction: column;
        padding-top: 3em;
    }
    .preview-content-item img{
        width: 100%;
    }
    video{
        width: 100% !important;
    }
    #title-preview {
        padding: 1rem 1rem;
        margin-left: 0em;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .close_btn {
        position: absolute;
        right: 16px;
        top: 20px;
    }
}

@media only screen and (max-width:600px){
    .main_container-preview{
        width: 100%;
    }
    .preview-content {
        display: flex;
        flex-direction: column;
    }
    #title-preview {
        padding: 1rem 1rem;
        margin-left: 0em;
        text-align: center;
        display: flex;
        align-items: center;
    }
    .preview-content {
        padding-top: 3em;
    }
    .close_btn {
        position: absolute;
        right: 16px;
        top: 20px;
    }
    #title-preview div:last-child a{
        display: flex;
        justify-content: center;
    }
    video{
        width: 100% !important;
    }
    .preview-content-item img{
        width: 100%;
    }
}

@media only screen and (max-width:429px){
    #title-preview div:last-child a span {
        margin-left: 0.3em;
    }
    #title-preview div:last-child a,#title-preview div:first-child {
        font-size: 22px;
    }
}
@media only screen and (max-width:320px){
    #title-preview div:last-child a{
        display: block;
    }
#btn-preview img{
    position: absolute;
    left: 13px;
    top: 9px;
}
}





@-webkit-keyframes Slidein {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}

@keyframes Slidein {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px;
    }
}
@-webkit-keyframes Slideout {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}
@keyframes Slideout {
    0% {
        top: 102px;opacity: 0.5;
    }
    100% {
        top: 102px
    }
}
