* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url(../assets/BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 15px;
  font-family: Verdana, sans-serif !important;
  line-height: 1.5;
}

a {
  color: #000 !important;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;
}
#img-thumbnail {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  margin: 2em 1.5em 3em 1.5em;
}

.logo img {
  width: 140%;
}

main {
  margin: 1em 1.5em 0 1.5em;
}

.main-menu {
  height: 65px;
  width: 65px;
  background-color: #FF0000;
  border-radius: 50%;
}

.container-menu {
  width: 100%;
}

.navigation {
  float: left;
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
}

.core-menu {
  float: right;
  width: 65px;
  background-color: #FF0000;
  margin: auto;
  display: none;
  border-radius: 37px;
  margin-top: 1px;
}

.core-menu li {
  width: 100%;
  display: block;
  margin-left: -34px;
}

.core-menu li:first-child {
  margin-top: 70px;
}

.core-menu .menus:nth-child(2),
.menus:nth-child(3) {
  margin-top: 15px;
  margin-bottom: 34px;
}

.core-menu li:last-child {
  margin-bottom: 34px;
}

.core-menu li a {
  display: block;
  margin: auto;
}

.hamburger-menu {
  display: block;
  text-align: center;
  padding-right: 60px;
  float: none;
  width: 100%;
  cursor: pointer;
}

.burger-1,
.burger-2,
.burger-3 {
  display: block;
  position: absolute;
  width: 40px;
  height: 8px;
  right: 0;
  margin-right: 12.5px;
  margin-top: 4px;
  background-color: #fff;
  -webkit-transition: .2s ease;
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  border-radius: 10px;
}

.burger-1 {
  top: 13px;
}

.burger-2 {
  top: 26px;
}

.burger-3 {
  top: 38px;
}

.burger-1.open,
.burger-2.open,
.burger-3.open {
  -webkit-transition: .2s ease;
  -ms-transition: .2s ease;
  -moz-transition: .2s ease;
  -o-transition: .2s ease;
  transition: .2s ease;
  transform-origin: 50% 50%;
  border-radius: 10px;
}

.burger-1.open {
  top: 25px;
  width: 40px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.burger-2.open {
  opacity: 0;
}

.burger-3.open {
  top: 25px;
  width: 40px;
  transform: rotate(-45deg);
}

.dropdown {
  width: 100%;
  background-color: #CD4D07;
  text-align: center;
  position: relative;
}

.main-content {
  background-color: #fff;
  position: relative;
}

.content-container {
  display: grid !important;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto  !important;
  padding: 5px;
  position: relative;
}

.content-items {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #eee;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  list-style: none;
  display: grid;
  grid-template-columns: auto 200px;
  justify-content: left;
  justify-items: left;
  grid-gap: 15px;
}

.item-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self: stretch;
}

.title {
  font-size: 15.5px;
  text-decoration: none;
  line-height: 17px;
  text-align: left;
  font-weight: 500;
}

.btn {
  background-color: #0368FF;
  color: #fff !important;
  font-size: 17px !important;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 8px;
  text-align: left;
}


/* Preview content css */

.main-content-preview {
  background-color: #fff;
  position: relative;
  margin-bottom: 1rem;
}

.content-header {
  background-color: #B1B1B1;
  top: 0;
  left: 0;
  padding: 10px;
  text-transform: capitalize;
  font-weight: 700;
}

.header_text {
  margin-left: 10px;
}

.close {
  float: right;
  margin-right: 10px;
  font-size: 20px;
  margin-top: -4px;
}

.content-item-preview {
  padding: 1rem;
}

.content-item-child {
  padding: 1rem;
}

.section-title {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 500px auto;
}

.__item-preview {
  border: 1px solid #eee;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.__item {
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1em;
}

.__item_title {
  padding: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  color: #FF0000;
}

.__item img {
  padding: 10px 0;
}

.__item_description_holder {
  padding: 10px 0;
}

.__item-description {
  margin: 0 0 1rem 0;
}

.__item_screenshots {
  display: grid;
  justify-content: center;
  align-items: center;
}

.back_next_holder {
  padding: 7px 0;
  text-align: center;
}

.back_button,
.next_button {
  background-color: #0368FF;
  border: none;
  outline: none;
  padding: 8px 9px;
  cursor: pointer;
}

.back_button {
  border-radius: 4px 0 0 4px;
}
.back_button img, .next_button img{
  width: 20px !important;
}

.next_button {
  border-radius: 0 5px 5px 0;
}


/* Media Screen for mobile and Ipad device  */

@media only screen and (max-width:390px) {
  main {
      margin: 0m 1em 0 1em !important;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  .item-holder {
      align-items: center;
  }
  #img-thumbnail {
      width: 150px;
      height: auto;
  }
  .title {
      padding: 10px;
      text-align: center;
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .mySlides, .logo img {
    width: 100%;
    height: auto;
  }
  .__item-preview img{
    width: 100%;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:391px) and (max-width: 600px) {
  main {
      margin: 0m 1em 0 1em !important;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .__item-preview img{
    width: 100%;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:601px) and (max-width: 690px) {
  main {
      margin: 0m 1em 0 1em !important;
  }
  .tab-content>.active{
      grid-template-columns: auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: auto 325px  !important;
  }
  .item-holder {
      justify-content: space-evenly;
  }
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:691px) and (max-width: 845px) {
  .section-title {
      grid-template-columns: auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:691px) and (max-width: 990px) {
  main {
      margin: 0m 1em 0 1em;
  }
  .tab-content>.active{
      grid-template-columns: auto auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  .btn-holder{
    text-align: center;
    margin-top: 1.5rem;
  }
}

@media only screen and (min-width:991px) and (max-width: 1280px) {
  main {
      margin: 0m 1em 0 1em;
  }
  .tab-content>.active{
      grid-template-columns: auto auto auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
}

@media only screen and (min-width:1281px) {
  main {
      margin: 0m 1em 0 1em;
  }
  .tab-content>.active{
      grid-template-columns: auto auto auto auto  !important;
  }
  .content-items {
      display: grid;
      grid-template-columns: 120px auto  !important;
  }
  
}






/* Trial and error Tabs */
.tab-content {
  padding: 1em;
  margin-bottom: 3rem;
}
.tab-content>.active{
  display: grid !important;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto;
  padding: 5px;
  position: relative;
}
.nav-tabs{
  background-color: #B1B1B1;
  padding-bottom: 1px;
  border-bottom:  1px solid #0368FF  !important;
  height: auto;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #fff !important;
  background-color: #0368FF !important;
  border: 1px solid red;
}
.nav-tabs>li>a {
  margin-right: 0 !important;
  border-radius: 9px 9px 0 0 !important;
  font-weight: 600;
  letter-spacing: 1px;
}
.nav-tabs>li>a:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover::after {
  content: "";
  background-color: #0368FF !important;
  margin-top: -7px;
  padding-bottom: 17px;
}
.nav-tabs>li.active>a span {
  position: inherit;
  top: 6px;
}
.nav-tabs>li>a span {
  position: inherit;

}