:root {
    --body-font-family: "Open Sans", sans-serif;
    --title-font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    font-family: var(--body-font-family);
}


/* Body Container */

.container {
    position: relative;
}
.btn a img{
    width: 100% !important;
}
img {
    max-width: 100%;
 }
/* --------------------------- MAIN CONTAINER ------------------------------*/


/* Main Container */

.wrap {
    display: flex;
    justify-content: center;
}

.extra_left {
    width: 18%;
}

.main_container {
    width: 82%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: auto;
    clear: both;
    margin-left: 2rem;
    -webkit-z-index: 0;
    -moz-z-index: 0;
    -ms-z-index: 0;
    -o-z-index: 0;
    z-index: 0;
}

.m_c_content .acco2 .expand,
.m_c_content .acco2 .openAd {
    font-family: var(--body-font-family);
    background-color: #220264;
    color: #FFF !important;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 2px solid #800E9B;
    border-bottom: 2px solid #800E9B;
    position: relative;
    margin-bottom: -0.38rem;
    z-index: 0;
    cursor: pointer;
}

.expand a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

.m_c_content .acco2 .openAd a {
    background-position: right;
    padding-right: 25px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}

.collapse {
    border: 2px solid #800E9B;
    border-bottom: 2px solid #800E9B !important;
}

.m_c_content .acco2 .openAd {
    background-color: #800E9B;
}

.m_c_content .acco2 .openAd::after {
    content: "";
    height: 51px;
    position: absolute;
    width: 180px;
    background-color: red;
    z-index: -1;
    left: 0;
    top: -1.6px;
}

.main_container_content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container_of_holder {
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0.5rem;
    padding-top: 0rem;
}

.content_item_description {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-self: auto;
}

#content_items {
    display: flex;
    border: 1px solid #CCC;
    width: 250px;
    margin: .5rem;
    padding: 1rem;
    background-color: #ececec;
    height: 8rem;
    justify-content: center;
    align-items: center;
}

#content_menu_1 {
    margin-top: 5rem;
}


/* Wallpaper CSS */

#img-thumbnail {
    width: 60%;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

#btnalign {
    vertical-align: center;
    text-align: bottom-center;
}

#btn {
    text-align: center;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-family: var(--body-font-family);
    padding: .65rem 1.3rem;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #b20012;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0094CA), to(#0094CA));
    background-image: -webkit-linear-gradient(top, #b20012, #ee0101);
    background-image: -moz-linear-gradient(top, #b20012, #ee0101);
    background-image: -ms-linear-gradient(top, #b20012, #ee0101);
    background-image: -o-linear-gradient(top, #b20012, #ee0101);
    background-image: linear-gradient(to bottom, #b20012, #ee0101);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#b20012, endColorstr=#ee0101);
}

#btn:hover {
    border: 1px solid #004964;
    background-color: #940705;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#006f97), to(#006f97));
    background-image: -webkit-linear-gradient(top, #940705, #940705);
    background-image: -moz-linear-gradient(top, #940705, #940705);
    background-image: -ms-linear-gradient(top, #940705, #940705);
    background-image: -o-linear-gradient(top, #940705, #940705);
    background-image: linear-gradient(to bottom, #940705, #940705);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#940705, endColorstr=#940705);
}

#title a {
    text-decoration: none;
    color: #000e;
    font-family: var(--body-font-family);
    font-size: 12px;
    text-transform: uppercase;
}

.closebtn {
    display: none;
}


/* --------------------------- MEDIA QUERIES ------------------------------*/

/* General Settings for responsive design */

@media only screen and (max-width:768px) {
    ul {
        list-style: none;
    }
    .logo img {
        display: none;
    }
    #content_menu_1 {
        margin-top: 7rem;
    }
    .side-nav {
        width: 12rem !important;
    }
    .extra_left {
        display: none;
    }
    .main_container {
        width: 100% !important;
        margin-left: 0rem;
        margin-top: 5.5rem;
    }
    .main_container_content {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .fa {
        color: #fff;
        font-size: 25px !important;
        font-weight: normal !important;
    }
    .mobile-tr {
        display: grid;
        margin: 1rem;
    }
    .mobile-tr td {
        width: unset !important;
        text-align: center;
    }
    .mobile-tr td #title {
        text-align: center !important;
    }
    tr .mobile-td {
        text-align: center !important;
    }
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        border-radius: 4px;
        margin-top: 1rem;
    }
}


/* Custom Media query */

@media only screen and (min-width:768px) {
    .prevw img,
    .prevw video {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
        border-radius: 4px;
        margin-top: 1rem;
        margin-left: 1rem;
    }
}


/* -------------------Media Queries ------------------------*/

/* Customized Screen Resolution */

@media (min-width: 920px) and (max-width: 1255px) {
    #content_items {
        width: 40%;
    }
}

@media (min-width: 845px) and (max-width: 889px) {
    #content_items {
        width: 40%;
    }
}

@media (min-width: 767px) and (max-width: 844px) {
    #content_items {
        width: 100%;
    }
}

@media (max-width: 651px) {
    #content_items {
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .header-nav {
        display: none;
    }
    
  }


/* Sidebar Navigation CSS */

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}

@-webkit-keyframes Slidein {
    0% {
        left: -260px
    }
    100% {
        left: 0
    }
}

@keyframes Slidein {
    0% {
        left: -260px
    }
    100% {
        left: 0
    }
}

@-webkit-keyframes Slideout {
    0% {
        left: 0
    }
    100% {
        left: -260px
    }
}

@keyframes Slideout {
    0% {
        left: 0
    }
    100% {
        left: -260px
    }
}

.header-nav {
    background: #BC43EE;
    text-align: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    position: fixed;
    -webkit-z-index: 2;
    -moz-z-index: 2;
    -ms-z-index: 2;
    -o-z-index: 2;
    z-index: 2;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: none;
    }
}

.header-nav img {
    width: 10rem;
    padding-right: 1rem;
}

@media screen and (min-width: 768px) {
    .header-nav img {
        padding-left: 15%;
    }
}

.nav-burger {
    padding: 1rem;
}

.nav-burger span {
    width: 28px;
    height: 4px;
    background: #fff;
    display: block;
    position: relative;
    left: 0;
    margin-bottom: 3px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.nav-burger.tog-burger span:nth-child(1) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 7px;
    width: 28px;
}

.nav-burger.tog-burger span:nth-child(2) {
    opacity: 0;
    width: 0;
    left: -30px;
}

.nav-burger.tog-burger span:nth-child(3) {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    bottom: 7px;
    width: 28px;
}

.side-nav {
    width: 18%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: -260px;
    -webkit-z-index: 1;
    -moz-z-index: 1;
    -ms-z-index: 1;
    -o-z-index: 1;
    z-index: 1;
    background-color: #800e9b;
    background-image: url("../img/younggirl_nav_bg.png"), -webkit-gradient(linear, from(#BC43EE), to(#800e9b));
    background-image: url("../img/younggirl_nav_bg.png"), -webkit-linear-gradient(#BC43EE, #800e9b);
    background-image: url("../img/younggirl_nav_bg.png"), -moz-linear-gradient( #BC43EE, #800e9b);
    background-image: url("../img/younggirl_nav_bg.png"), -ms-linear-gradient( #BC43EE, #800e9b);
    background-image: url("../img/younggirl_nav_bg.png"), -o-linear-gradient( #BC43EE, #800e9b);
    background-image: url("../img/younggirl_nav_bg.png"), linear-gradient( #BC43EE, #800e9b);
    clear: both;
    background-size: cover;
    border-right: 1.5rem solid #800e9b;
}

@media screen and (min-width: 768px) {
    .side-nav {
        display: block;
        position: fixed;
        top: 0;
        left: 1px;
        padding-top: 30px;
    }
}

.slide-in {
    -webkit-animation: Slidein 0.3s linear 0s forwards;
    animation: Slidein 0.3s linear 0s forwards;
}

.slide-out {
    -webkit-animation: Slideout 0.3s linear 0s forwards;
    animation: Slideout 0.3s linear 0s forwards;
}



/* Mao ni sya ang preview CSS */

.accordion_head {
    font-family: var(--body-font-family);
    background-color: #800E9B;
    color: #FFF !important;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 2px solid #800E9B;
    border-bottom: 2px solid #800E9B;
    position: relative;
    margin-bottom: -0.38rem;
    z-index: 100;
    cursor: pointer;
}

.accordion_head::after,
.accordion_head::before {
    content: "";
    height: 50.5px;
    position: absolute;
    width: 180px;
    background-color: red;
    z-index: -1;
    left: 0;
    top: -1.6px;
}

#title {
    padding: 1rem;
    font-family: var(--body-font-family);
}

span.close .fa {
    position: absolute;
    right: 0;
    font-size: 18px;
    margin-right: 1rem;
    color: #fff;
}

.panitankonaimongitlogron {
    border: 2px solid #800E9B;
    border-bottom: 2px solid #800E9B !important;
    padding: 1rem;
}

table {
    background-color: #fff;
}