*{
	margin:0;
	padding:0;
	border:0;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	text-align:center;
	position: relative;
	background:url(../../img/background.jpg) no-repeat center fixed;
	background-size: cover;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
	background:linear-gradient(90deg, #FF0000, #FF9900);
	font-size:1.3rem;
	color:#fff;
	font-weight:700;
	display: inline-block;
	width:160px;
	padding:10px 40px;
	border-radius:50px;
	border:3px solid #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	margin-bottom:10px;
}
input[type=text]{
	font-size:1.3rem;
	text-align: center;
	display: inline-block;
	padding:10px 40px;
	width:160px;
	border-radius:50px;
	color:#FF0000;
	border:1px solid #FF0000;
	font-weight:700;
	margin-bottom:10px;
}
input[type=text]::placeholder{
	color:#FF0000;
}
img{
	max-width:100%;
}
p{
	font-size:.8rem;
}
span{
	font-size:.9rem;
	display: block;
	font-weight:600;
	padding:10px 10px;
}
h4{
	font-size:1rem;
	padding-bottom:10px;
}
h3{
	font-size:1.6rem;
	font-weight:900;
	color:#FF0000;
}
.upper-sect{
	background:#fff;
	text-align: center;
	margin:0 10px;
	padding-bottom:10px;
	border-radius:0px 0px 20px 20px;
	position: relative;
	top:-999px;
	left:0px;
	transition: top 1s ease-in 0s;
}
.detail-1, .detail-2{
	position: relative;
	opacity: 1;
	left:0px;
	top:0px;
	transition: left 500ms ease-in 0s, opacity 500ms ease-in 0s;
}
.detail-2{
	left:999px;
	top:0px;
	opacity: 1;
	transition: left 500ms ease-in 0s, opacity 500ms ease-in 0s;
}
.lower-sect{
	background:#fff;
	margin:10px 10px 0px;
	border-radius:20px 20px 0px 0px;
	padding-top:10px;
	position: relative;
	bottom:-999px;
	left:0px;
	transition: bottom 1s ease-in 0s;
	padding:10px 10px;
}
.lp-compatibilty, .lp-gamesicon{
	padding-bottom:10px;
}
.lp-gamesicon ul, .lp-compatibilty ul{
	display:grid;
	grid-template-columns:repeat(5, 1fr);
	grid-column-gap:5px;
}
.lower-sect p{
	line-height: 1.6;
	text-align: justify;
	font-size:.75rem;
}
.lp-gamesicon p, .lp-compatibilty p{
	text-align:center;
	padding-bottom:10px;
}
/*hidden elements*/
.upper-sect-2, .detail-2{
	display: none;
}
@media only screen and (min-width: 500px){
	.lp-container{
		max-width:500px;
		margin:0 auto;
	}
}