@mixin desktop{
    @media screen and (min-width:600px){
        @content;
    }
}
*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
a, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration:none;
    font-weight:700;
    font-size:.95rem;
    color:#fff;
    display:block;
    padding:5px 0;
    background:#3275E8;
    border:1px solid #0A3C91;
    border-radius:5px;

    @include desktop{
        font-size:1.1rem;
    }
}
p{
    font-weight:400;
    font-size:.85rem;
    line-height: 2.3;
    
    @include desktop{
        font-size:.9rem;
    }
}
img{
    max-width: 100%;
}
body{
    background: url('../assets/Mask Group 37.jpg') no-repeat top center;
    background-size: cover;
    height:100vh;

    .color-overlay{
        background: linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        width:100%;
        height:50vh;
        position: absolute;
        top:0;
        z-index:-1;
    }
}

.container{
    padding-top:0px;

    @include desktop{
        max-width: 600px;
        margin: 0 auto;
    }
}

.content{
    padding:20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    @include desktop{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
}

.content-container{
    background:rgba(255,255,255, .8);
    padding:5px;
    border-radius: 5px;
    text-align: center;

}